#registr-form {
  .full-width {
    margin: 0;
  }
  .register.disabled {
    background-color: #0fba1b;
  }
  .form-select {
    padding-top:70px;text-align:center;

    .select-text {
      font-size:25px;padding-bottom:10px;
    }

    .buttons-row > .btn+.btn {
      margin-left: 25px;
    }

    .buttons-row {
      .btn-parent {
        border:1px solid #0db7d6;
      }

      .btn-care {
        border:1px solid #0fba1b; color:#0fba1b
      }
    }
  }
}