@import
    "jobs/applicants",
    "jobs/my-jobs",
    "jobs/contracts",
    "jobs/job-success",
    "jobs/job-search";

.main-heading h4 {
    margin-top: 9px;
    margin-bottom: 20px;
}
.main-heading h5 {
    margin-top: -4px;
}
.job-form .list-inline {
    margin-left: 0;
}

.job-form .list-inline > li {
    float: left;
    text-align: center;
    margin: 5px;
    &:last-child {
        padding-right: 15px;
    }
}

.job-form {
    padding-top: 30px;
    line-height: 40px;
    .form-row {
        margin-bottom: 30px;
        input {
            height: 40px;
        }
        input[type="checkbox"] {
            width: 15px;
        }
    }
    @include m('preview') {
        line-height: 1;
        .full-width {
            line-height: 1;
        }
        .skills-field {
            line-height: 40px;
        }
    }
    .day-text-preview:not(:last-child){
        margin-bottom: 10px;
    }
}

.experience-levels {
    width: 50%;
    float: left;
}
.error.experience-levels .list-inline {
    margin-bottom: 0;
}

.experience-levels ul li {
    vertical-align: top;
    transition: all 0.5s ease;
    &.active .level {
        border-color: $primary-color;
    }
}

.level {
    cursor: pointer;
    line-height: 1 !important;
    width: 185px;
    min-height: 101px;
    border: 2px solid $base-border-color;
    background-color: $base-color;
    padding: 9px;
    .heading  {
        margin-bottom: 17px;
        .title, .value {
            display: inline-block;
        }
        .title {
            font-weight: 700;
        }
        .value {
            color: $primary-color;
            float: right;
        }
    }
    &:hover {
        border-color: $main-border-color;
    }
    .error & {
        border-color: $error-border-color;
    }
}

ul.days li {
    cursor: pointer;
    padding: 0;
    width: 101px;
    min-height: 66px;
    border: 2px solid $base-border-color;
    background-color: #fff;
    text-align: center;
    vertical-align: top;
    &:not(:first-child) {
        margin-left: 5px;
    }
    &:not(:last-child){
        margin-right: 5px;
    }
    .day {
        padding-top: 10px;
    }
    &:hover {
        border-color: $main-border-color;
    }
    &.active {
        border-color: $primary-color;
    }
    .customselect {
        min-width: 85px;
        max-width: 85px;
        .trigger {
            padding: 10px 30px 10px 10px;
            text-align: left;
        }
    }
    .hour-range {
        padding: 0 0 10px 0;
        span {
            display: block;
            text-align: left;
        }
        span.range {
            text-align: center;
            margin: 7px auto;
        }
        .customselect .list .option {

            padding: 12px 10px;
            height: 40px;
        }
    }
}
ul.days.error li  {
    border-color: $error-border-color;
}

.question {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    textarea {
        width: 475px;
    }
    .delete {
        margin-left: 20px;
        cursor: pointer;
    }
}

.add-question {
    padding-bottom: 10px;
    display: inline-block;
}

.job-form .actions {
    padding-top: 10px;
    padding-bottom: 60px;
    .btn-primary {
        width: 200px;
        margin-right: 20px;
    }
}

#view_offer {
    .actions {
        float: none;
        max-width: 100%;
        text-align: center;

        a {
            margin: 20px 0px 20px 20px;
        }
    }

    .check {
        label {
            font-weight: normal;
            line-height: 20px;
        }
    }
}

@media (max-width: 500px) {
    .modal {
        .actions {
            .btn {
                width: 100%;
                margin: 7px auto;
            }
        }
    }
}
