$messages-border-color: lightgray;
$messages-header-size: 60px;
$messages-footer-size: 70px;

@mixin bordered() {
  border: 1px solid $messages-border-color;
}

.bordered {
  @include bordered();
}
.bordered-right {
  @include bordered();
  border-left: none;
}
.bordered-left {
  @include bordered();
  border-right: none;
}



#messages {
  margin: 0 10px;
  font-family: "Open Sans";

  .content {
    margin-top: 50px;
    margin-bottom: 10px;

    @include xs() { margin-top: 10px; }
    @include sm() { margin-top: 10px; }
  }

  .threads-box {
    //height: $messages-box-size;
    height: calc(#{$messages-box-size} - #{$header-size} - #{$footer-size});
    min-height: 400px;
    position: relative;

    @include xs() {
//      height: $messages-box-size - $header-size-xs;
      height: calc(#{$messages-box-size} - #{$header-size-xs} - #{$footer-size-xs});
    }

    .threads-sidebar {
      height: 100%;


      @include xs() {
        left: -800px;
        float: left;
        position: absolute;
        z-index: 4;
        border-right: 1px solid $messages-border-color;
        display: block !important;
        animation: slide-out 1s forwards;
        background-color: white;

        &.shown {
          animation: slide-in 1s forwards;
          left: -8px;
        }

//        &.hidden {
//          display: none !important;
//          //left: -500px;
//        }

        @keyframes slide-in {
          from { left: -800px; }
          to { left: -8px; }
        }

        @keyframes slide-out {
          from { left: -8px; }
          to { left: -800px; }
        }

      }
    }

    .thread-view {
      height: 100%;

      @include xs() {
        &.muted {
          filter: blur(5px) saturate(10%);
        }
      }
    }
  }

  .threads-sidebar-open {
    position: absolute;
    top: 10px; left: 10px;
    @include opacity(0.2);
    z-index: 5;
    cursor: pointer;
    transition: opacity 400ms ease-in-out;

    &:hover {
      @include opacity(1);
    }

  }

  @import "messages/sidebar";
  @import "messages/conversation";

  .user-list .thread-icon {
    color: lightgray;
    &:hover {
      color: gray;
    }
  }

}

@import "messages/composer";
