#pre-launch {
  background-color: transparent;
  color: white;
}

#pre-launch .Prelaunch__wrapper-background {
  background: url('/img/ch.png') no-repeat;
  //max-width: 1920px;
  //height: 775px; // height: 69vh;
  background-size: cover;
  background-position: 10%;
  position: relative;
  z-index: 0;
  margin: 0 auto;
}

#pre-launch .Prelaunch__background-transparency {
  //max-width: 1920px;
  background-color: rgba(217, 236, 230, 0.91);
  height: 100%;
}

#heading-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pre-launch .logo {
  background: url('/img/design/logo.png') no-repeat;
  width: 180px;
  height: 178px;
  margin-top: 30px;
}

#pre-launch .Prelaunch__Principal-heading {
  margin-top: 30px;
  margin-bottom: 2px;
  text-align: center;
  color: #686A6E;
}

#pre-launch .Prelaunch__Principal-caption {
  text-align: center;
  color: hsl(60, 100%, 99%);
  margin-top: 0;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 4%;
  font-weight: normal;
}
.Prelaunch__Principal-caption{
  label{
    padding-left: 4%;
    padding-right: 5%;

  }
}
#pre-launch .Prelaunch__Principal-caption {
  font-weight: bold;
  color: #686A6E;
  padding: 15px;
  span{
    font-weight: 200;
    font-size: 22px;
  }
}

.Signup__caption{
  font-weight: bold;
  margin: 0;
  span{
    color: #5C7B76;
  }
  label{
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: normal;
    clear: both;
    display: block;
    color: #5C7B76;
  }
}

.title_idea{
  font-size: 43px;
  font-weight: 700;
}

.Prelaunch__separator {
  height: 5px;
  width: 100%;
  background-color: white;

}

.Prelaunch__switchButton{
  width: 114px !important;
  height: 114px  !important;
}

//
//#pre-launch {
//  .user-comment-bubble-inner{
//    .bq-text {
//
//      padding: 87px 20px 0 16px !important;
//
//      p {
//        font-size: 15px ;
//      }
//
//    }
//  }
//}


@media (max-width: 1119px) {
  #pre-launch {
    .user-comment-bubble-inner {
      .bq-text {
        p {
          font-size: 11px ;
        }

      }
    }
  }
}

@import "pre-launch/signup";

@import "pre-launch/tour";

@import "pre-launch/user-comment-bubble";

@import "pre-launch/roles-selection";

@import "pre-launch/beta";


