.Prelaunch {

  @include e('beta') { // .Prelaunch__beta
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; left: 0;
    z-index: 3;

    .container {
      background: url('/img/design/pre-launch/beta-bg.png');
    }

    .content {
      max-width: 780px;
      margin: 0 auto;
      padding: 50px 0;
    }

    @include m('heading') { // .Prelaunch__beta--heading
      font-size: 40px;
      font-weight: bold;
      text-align: left;
      width: 100%;
      margin-top: 18px;
      color: white;
    }

    @include m('caption') { // .Prelaunch__beta--caption
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      margin-top: 8px;
      color: white;

      p {
        padding-bottom: 12px;
        line-height: 22px;
        margin: 0;
      }
    }

    @include m('back') { // .Prelaunch__beta--back
      padding-top: 24px;
      font-family: Arial;
      font-size: 14px;
      font-weight: 600;
      width: 100%;
      cursor: pointer;

      i {
        font-size: 22px;
        padding-right: 7px;
      }
    }

  }

}
