#pre-launch .selection-of-roles-box {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  .parents-role, .caregiver-role {
    width: 464px;
    height: 464px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }
  .SelectionRole__Header {
    margin: 55px 0 0;
    padding: 13px;
  }
  .SelectionRole__Description {
    margin: 20px 0 0;
  }
  .SelectionRole__Action {
    margin-top: 30px;
  }
  .help-text {
    padding: 0 5%;
  }
}

.Prelaunch {
  @include e('switchButton') {
    display: flex;
    position: fixed;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    top: 10px; left: 10px;
    z-index: 5;
    width: 100px; height: 100px;
    opacity: 0.3;
    background-color: $primary-color;
    border-radius: 50%;
    border: 10px solid $base-border-color;
    text-decoration: none;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;

    &:hover {
      opacity: 1;
      background-color: $primary-hover-color;
      border: 10px solid $base-border-color;
      transform: scale(1.0);
    }


    h6 {
      color: white;
      font-weight: 600;
      padding: 2px;
    }

  }

}
