.Signup {
  margin-top: 50px;
  margin-bottom: 50px;

  @include e('caption') {
    text-align: center;
    margin: 0;
    margin-bottom: 14px;
    font-weight: bold;
    label{
      font-weight: bold;
    }

    @include m('error') {
      margin: 0;
    }
    @include m('success') {
      margin: 0;
    }
  }

  @include e('input') {
    height: 76px;
    width: 420px;
    border: 2px solid $main-border-color;
    font-size: 18px;
    color: $text-color;
  }

  @include e('button') {
    height: 76px;
    padding: 0 34px;

    margin-left: 16px;
    margin-top: 0px;
    font-size: 22px;
    font-weight: bold;
  }

  @include e('form-row') {
    label, a {
      margin: 0;
      font-size: 18px;
      font-weight: normal;

    }
    label{
      margin-left: -13%;
    }

    &:not(:last-child) {
      margin-bottom: 18px;
    }
    a {
      cursor: pointer;
      font-weight: normal;
    }
  }

  input[type="checkbox"] {
    display:none;
  }
  label input[type="checkbox"] + span {
    display:inline-block;
    width:37px;
    height:36px;
    margin: 0px 10px 0 0;
    vertical-align:middle;
    background: url('/img/design/checkbox-no.png') no-repeat;
    cursor:pointer;
  }
  label input[type="checkbox"]:checked + span {
    background: url('/img/design/checkbox-yes.png') no-repeat center;
  }
}

