.Tour {
  display: flex;
  display: -webkit-box;

  @include e('promo-image') {
    //@include make-lg-column(7);
    text-align: center;
    @include m('caregivers') {
      @include make-lg-column(4);
      img {
        margin-top: 15px;
        height: 335px;
      }
    }
  }

  @include e('action-text') {

    font-size: 40px;
    font-weight: 700;
    font-family: 'Open Sans';
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    strong {
      margin-top: 57px;

    }
    .btn-blue{
      background-color: #00b6d8;
    }
    @include m('caregivers') {
      @include make-lg-column(8);
    }
  }

  @include e('action-button') {
    margin-top: 15px;
    color: #fff;

    height: 80px;
    padding: 0 60px;
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: 700;
    border: 3px solid #fff;
    background-color: transparent !important;
    &:hover {
      border-color: #fff !important;
      background-color:transparent;
      color: #fff;
    }
  }
}
#tour-section{
  >.signup_row{
    background: url("/img/texture_1_olive.jpg") repeat;
  }
  >.tour_row{
    background: url("/img/texture_1_blue.jpg") repeat;
    background-color: #0EB7D6;
    padding-bottom: 50px;

  }

}
.TourSection {
  background-color: #fff;
  color: $text-color;

  overflow: hidden;
  //  display: flex;
  justify-content: center;
  //  align-items: center;

  @include m('alt') {
    background: hsla(189, 89%, 45%, 1) no-repeat;
    background-size: 100% auto;
    color: #fff;

    .TourSection__title {
      margin-top: 52px;
      margin-bottom: 27px;
    }
  }

  @include m('cta') {
    background-color: hsla(0, 0%, 18%, 1);
    color: #fff;
    .container {
      width: 100%;
      height: 100%;
      .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .Signup {
      margin-top: 40px;
    }
  }
  @include e('cta-caption') {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 0;

    .Signup {
      margin-top: 50px;
    }
  }

  @include e('title') {
    margin-top: 100px; //35
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  @include e('subtitle') {
    font-size: 40px;
    font-weight: bold;
    margin-top: 42px;
    margin-bottom: 20px;
  }

  @include e('features') {
    @include make-row();
  }

  @include e('one-third') {
    @include make-xs-column(4, 0);
    text-align: center;
  }
  @include e('bigImage') {
    @include make-xs-column(12);
    text-align: center;
    img {
      max-width: 90%;
      height: auto;
    }
  }
  @include e('bigImage-subtitle') {
    padding: 0 70px;
    text-align: center;
  }
  @include e('one-third-text') {
    padding: 0 45px;
  }

  .container {
    height: 100%;
  }

  .container-hero {
    @include make-row();
  }

}


