#pre-launch {
  .user-comment-bubble {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-comment-bubble-inner {
    margin: 0 auto;
    padding: 1px;
    min-height: 500px;
    color: white;
    > div {
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
    }
    .user-name {
      margin: 88px 0 0 157px;
    }
    .user-ava {
      margin: 190px 0 0 -45px;
      position: relative;
      z-index: 2;
    }
    .bq-text {
      margin: 50px 0 0 -35px;
    }
  }
  .user-comment-bubble {
    .user-name {
      width: 274px;
      height: 274px;
      background-color: hsla(189, 89%, 45%, 1);
      color: white;
      border-radius: 50%;
      border: 2px solid #f2f3f3;
      text-align: left;
      .h3, h3 {
        display: block;
        margin: 86px 0 0 64px;
        line-height: 1.2;
        letter-spacing: 1px;
        color: white;
      }
    }
    .user-ava {
      width: 230px;
      height: 230px;
      position: relative;
      padding: 4px 5px 5px 6px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-size: 100% 100%;
      }
    }
    .bq-text {
      width: 404px;
      height: 362px;
      background-color: hsla(189, 89%, 45%, 1);
      border: 2px solid #f1f2f2;
      padding: 87px 20px 0 16px;
      p {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        margin: 0;
        &:first-child {
          position: relative;
          padding: 10px 33px;
          &:after {
            color: #bddcd7;
            font-size: 64px;
            position: absolute;
            font-family: "Open Sans", sans-serif;
            font-style: italic;
          }
          &:before {
            color: #bddcd7;
            font-size: 64px;
            position: absolute;
            font-family: "Open Sans", sans-serif;
            font-style: italic;
            content: '"';
            top: -11px;
            left: 0;
          }
          &:after {
            content: '"';
            bottom: -50px;
            right: 0;
          }
        }
        &.author-signature {
          font-size: 16px;
          text-align: right;
          padding: 20px 30px;
        }
      }
    }
  }
}
.Prelaunch__Principal-heading{
  font-size: 60px;
}