.padd-top-bottom-20 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.padd-top-30 {
    padding-top: 30px;
}

.padd-top-40 {
    padding-top: 40px;
}

.padd-top-50 {
    padding-top: 50px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.padd-top {
    padding-top: 70px;
}

hr {
    border-color: $main-border-color;
}