/*.main-footer {
  min-width: 320px;
  width: 100%;
  background-color: #333;

  > .main-footer-inner {
    margin: 0 auto;
    padding: 0.1px;
  }

  .nav-footer {
    margin: 0;

    .nav.nav-pills {
      text-align: center;
      padding: 26px 0;
      > li {
        display: inline-block;
        vertical-align: top;
        float: none;
        + li:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 1px;
          height: 13px;
          background-color: #b1b1b1;
          margin: 0 10px;
        }
        > a {
          padding: 0;
          display: inline;
          color: #0db7d6;
          border-bottom: 1px solid transparent;
          transition: border-bottom-color 0.2s;
          &:active, &:visited {
            color: #0db7d6;
            border-bottom: 1px solid transparent;
            transition: border-bottom-color 0.2s;
          }
          &:focus, &:hover {
            background-color: transparent;
            border-bottom-color: rgba(13, 183, 214, 0.5);
          }
        }
      }
    }
  }
  .copy-right-text {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
}

.social-networks {
  margin-bottom: 25px;
  text-align: center;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0 10px;
    }
  }

  .icon {
    transition: all 0.5s ease;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
}

*/

.social-networks {
  text-align: center;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0 10px;
    }
  }

  .icon {
    transition: all 0.5s ease;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
}


.facebook-icon {
    background: url('/img/design/facebook-icon.png') no-repeat;
    &:hover {
        background: url('/img/design/facebook-icon-hover.png') no-repeat;
    }
}

.twitter-icon {
    background: url('/img/design/twitter-icon.png') no-repeat;
    &:hover {
        background: url('/img/design/twitter-icon-hover.png') no-repeat;
    }
}

.pinterest-icon {
    background: url('/img/design/pinterest-icon.png') no-repeat;
    &:hover {
        background: url('/img/design/pinterest-icon-hover.png') no-repeat;
    }
}

@mixin listInBetweenBorder() {
  + li:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 13px;
    background-color: #b1b1b1;
    margin: 0 10px;
  }
}
@mixin footerLinkStyle() {
  > a {
    padding: 0;
    display: inline;
    color: #0db7d6;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.2s;
    &:active, &:visited {
      color: #0db7d6;
      border-bottom: 1px solid transparent;
      transition: border-bottom-color 0.2s;
    }
    &:focus, &:hover {
      background-color: transparent;
      border-bottom-color: rgba(13, 183, 214, 0.5);
    }
    @include xxs() {
      font-size: 12px;
    }
  }
}


.main-footer {
  width: 100%;
  background-color: #333;
  height: auto;
  overflow: hidden;

  //@include xs() {
  //  height: $footer-size-xs;
  //}

  .nav-footer {
    ul {
      text-align: center;
      padding: 26px 0;

      > li {
        display: inline-block;
        vertical-align: top;
        float: none;
        @include footerLinkStyle;
        @include lg() { @include listInBetweenBorder; }
        @include md() { @include listInBetweenBorder; }
        @include sm() { @include listInBetweenBorder; }
        @include xs() { display: block !important;}
      }
      @include xs() {
        padding: 10px 0 0 10px !important;
        margin: 0;
      }
    }
  }

  .social-networks {
    @include xxs() {
      .icon {
        width: 20px; height: 20px;
        background-size: cover;
      }
    }
  }

  .copy-right-text {
    text-align: center;
    color: #fff;

    @include xs() {
      font-size: 10px;
    }
  }

  .extra-footer {
    padding: 20px;
  }

}

@media (max-width: 962px) {

    .main-header > .main-header-inner .search-dropdown{
      float: right;
      margin: 24px 18px 15px 56px;
    }

}

@media (max-width: 647px){
    .main-header .main-logo {
      margin: 0 !important;
      width: 100%;
      height: auto;
      /* margin: auto; */
    }
    .main-header .main-logo>a{
      width: 100%;
      overflow: hidden;
      height: auto;
    }
    .main-header .main-logo img {
      width: 83px;
      margin: auto;
    }

    .main-header > .main-header-inner .top-nav-box {
      float: right;
      margin: 53px 0px 0 0;
      clear: both;
      /* margin-top: 21px; */
      width: 100%;
    }

}



@media (max-width: 836px){
  .main-header {
    .main-nav-auth {
      ul {
        li {
          padding: 0;
          display: inline-block;
          padding-left: 2px;
        }
        text-align: center;
      }
      display: block;
      width: 100%;
    }
  }
.header-auth-row{
  display: block;
  width: 100%;
  padding: 11px;
}
    .profile-nav {

      margin-top: 12px;
      margin-bottom: 13px;
    }
    .main-nav-auth {
      margin-top: 43px; }

}


@media (max-width:1199px ) {
    .get-started-main-box .selection-of-roles-box .parents-role, .get-started-main-box  .selection-of-roles-box .caregiver-role {
      width: 212px;
      height: 211px;
    }

    .selection-of-roles-box h4{
      font-size: 11px;
    }
    .selection-of-roles-box h6{
      font-size: 11px;
    }
    .get-started-main-box .selection-of-roles-box  .btn {
      margin-top: 11px;
    }
    .selection-of-roles-box .btn {
      height: auto;
      font-size: 12px;
      border-radius: 4px;
      padding: 6px 20px;

    }




}
@media (max-width:1199px ) and (min-width:704px){
    .get-started-main-box .selection-of-roles-box .parents-role {
       margin-left:19%;
    }
    .get-started-main-box .selection-of-roles-box .caregiver-role {
      margin-right:19%;
    }
}

@media (max-width:703px) and (min-width: 670){
    .get-started-main-box .selection-of-roles-box .parents-role {
      margin-left:16%;
    }
    .get-started-main-box .selection-of-roles-box .caregiver-role {
      margin-right:16%;
    }

}


@media (max-width:513px ) {
    .get-started-main-box .selection-of-roles-box{
      width: 100%;
    }
    .caregiver-role{
      margin-top: 43px;
    }
    .get-started-main-box .selection-of-roles-box .help-text {
      position: relative;
      top: -249px;
      margin: 0;
    }



    h1 {
      font-size: 43px;
    }
    .main-header > .main-header-inner .search-dropdown {
      float: right;
      margin: 23px 18px 19px 57px;
    }


}
@media(max-width: 1199px){
    .home-content {
            .user-comment-bubble {
                  .bq-text p {

                    font-size: 11px;

                  }


          .bq-text {
            width: 234px;
            height: 234px;
            padding: 78px 16px 0 11px;
          }
          }
    }

    .home-content .user-comment-bubble .bq-text p.author-signature {
      font-size: 10px;
      padding: 6px 32px;
    }
    .home-content .user-comment-bubble .user-name {
      width: 200px;
      height: 200px;
      margin: 87px 0 0 0;
    }
    .home-content .user-comment-bubble .user-ava {
      width: 160px;
      height: 160px;
    }
    .home-content .user-comment-bubble-inner .user-ava {
      margin: 148px 0 0 -54px;
    }
    .home-content .user-comment-bubble .user-name .h3, .home-content .user-comment-bubble .user-name h3{
      margin: 60px 0 0 32px;
      font-size: 29px;
    }
    .user-ava>img{
      width: 148px;
    }
    .home-content .user-comment-bubble-inner{
      min-height: 379px;
      width: auto;
      text-align: center;
    }

}

@media(max-width: 991px){

    .home-content .verf-network .net-items li + li{
      margin-left: 0;
    }
    .text-box-net{
      width: 100%;
      text-align: center;
    }
    .verf-network-inner .col-sm-8{
      width: 100%;
    }
}

@media (max-width: 767px) {
    .home-content .verf-network .net-items{
      text-align: center;
    }
    .home-content .verf-network .net-items li {

      width: 254px;
      height: 254px;
    }

}

@media (max-width: 534px) {

    .home-content .user-comment-bubble-inner .user-ava {
      margin: 220px 2px 10px -173px;
    }
    .home-content .woman-children-box .text-box {

      width: 90%;
    }
}

