/* Header */

.hamburguer{
  margin-right: 33%;
}
.header-auth-row {
  margin-top: 70px;
}

.main-nav-auth, .profile-box, .search-box, .profile-box .profile-image,.profile-box h4, .profile-box .hamburguer{
  display: inline-block;
}

.main-nav-auth {
  margin-top: 20px;
}

.profile-nav {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}


/* Search Box */
.search-box {
  width: 200px;
  margin-right: 20px;

  i { float: right; }
}


/* Profile Box */
.profile-box {
  float: right;
  width: 285px;

  .profile-image {
    margin-right: 10px;

    img { border-radius: 60px; }
  }

  h4 { vertical-align: middle; }

  .hamburguer, .search-box i {
    float: right;
    font-size: 1.5em;
    line-height: 60px;
    cursor: pointer;
  }

  .user-name {
    width: 200px;
    font-weight: 600;
  }
}

.main-nav-auth {
  a {
    color: $menu-link-color;
    font-size: 1.2em;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
  }

  ul {
    padding-left: 20px;

    li { padding-left: $main-menu-li-separation; }
  }

}


.sub-nav-wrapper {
  min-width: 320px;
  width: 100%; height: 48px;
  line-height: 48px;
  background-color: $subheader-background-color;

  .sub-nav {
    margin: 0 auto;

    ul {
      margin: 0;
      padding: 0;
      padding-left: 40px;

      li {
        padding-right: 35px;

        a { color: $subheader-link-color; }
      }

      li.active a { color: $subheader-link-active-color; }
    }
  }
}
