.profile-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  line-height: 1;
}

.hamburguer-icon {
  padding: 8px;
}

.profile-box .hamburguer, .search-box i {
  line-height: 1;
}

.hamburguer {
  .cool-border {
    border: 2px solid #d6eae7;
    border-bottom: 2px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  //.cool-border:before {
  //  content: "";
  //  background: #d6eae7;
  //  position: absolute;
  //  top: 8px;
  //  right: 0px;
  //  height: 41px;
  //  width: 2px;
  //  z-index: 2;
  //}

  .cool-border:after {
    content: "";
    background: #fff;
    position: absolute;
    bottom: 5px;
    right: 2px;
    height: 2px;
    width: 34px;
    z-index: 2;
  }

  .no-border {
    border: 2px solid transparent;
  }

}


.AuthProfileDropdown  {
  position: absolute;
  right: 0;
  border: 2px solid #d6eae7;
  background-color: #fff;
  top: 43px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 9;

  @include e('list') {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @include e('Item') {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    min-width: 266px;
    display: flex;
    align-items: center;
    .icon {
      margin-right: 10px;
    }

    &:hover {
      background-color: #f9f9f9;
    };
  }

  @include e('Link') {
    padding: 13px 18px;
    //  display: block;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    &:hover, &:active, &:visited  {
      color: black;
    }
  }

}



//.AuthProfileDropdown__list {
//  list-style: none;
//  margin: 0;
//  padding: 0;
//}
//
//.AuthProfileDropdown__Item {
//  font-size: 14px;
//  font-family: 'Arial', sans-serif;
//  min-width: 266px;
//  display: flex;
//  align-items: center;
//  .icon {
//    margin-right: 10px;
//  }
//
//  &:hover {
//    background-color: #f9f9f9;
//  };
//}
//.AuthProfileDropdown__Link {
//  padding: 13px 18px;
////  display: block;
//  width: 100%;
//  display: flex;
//  align-items: center;
//  color: black;
//  &:hover, &:active, &:visited  {
//    color: black;
//  }
//}