#settings-nav .nav>li>a:focus, #settings-nav .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

#settings-nav li {
    i {
        width: 20px;
        color: $main-icon-color;
        text-align: center;
    }
    &.active a {
        font-weight: 700;
    }
    &.active i, &:hover i {
        color: $main-link-color;
    }
}
#settings-nav li a {
    padding: 10px 0px;
    color: $text-color;
}

#settings-nav .filter {
    margin-top: 20px;
    margin-bottom: 20px;
}

#settings-nav .nav .icon {
    vertical-align: top;
    margin-right: 10px;
    margin-left: 10px;
}