/* always present */
.ease-transition {
    transition: all 1s ease;
    // height: 100%;
    opacity: 1;
    //max-height: 700px;
}

/* .ease-enter defines the starting state for entering */
/* .ease-leave defines the ending state for leaving */
.ease-enter {
    height: 0;
    opacity: 0;
    max-height: 0;
}

 .ease-leave {
    transition: none;
    height: 0;
    opacity: 0;
 }