.see-as-others {
  margin: 44px 195px 21px;
  display: block;
  font-family: GothamRounded-Book;
  font-size: 12px;
  &, &:hover, &:active, &:visited, &:focus {
    text-decoration: none;
    color: #383838;
    opacity: .45;
  }

  @media screen and (max-width: 768px) {
    margin: 44px auto 21px;
    text-align: center;
  }
}

.flex.caregiver-summary {
  background-color: #e1f0ed;
  padding: 10px;
  align-items: stretch;
  font-family: GothamRounded-Book;
  font-weight: 500;
  color: #605c61;

  .user-avatar{
    float: right;
    position: relative;

    a{
      color: #ffffff;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 32px;
      background-color: #73c5bc;
      border-radius: 50%;
      position: absolute;
      top: 135px;
      left: 135px;
    }

    .summary-img{
      width: 169px;
      height: 169px;
      border: solid 4px #eef7f5;
      border-radius: 50%;
      margin: 9px;
    }
  }

  .user-info, .user-employee-info{
    margin-top: 30px;
  }

  .user-name{
    font-size: 20px;
    font-weight: bold;
  }

  .user-stars .rating-stars{
    display: inline;
  }

  .btn-summary{
    line-height: 30px;
    height: 28px;
    border-radius: 13px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    display: inline-block;
    color: #ffffff;
  }

  .btn-complete {
    width: 150px;
    background-color: #73a2c5;
  }

  .btn-verifide {
    width: 100px;
    background-color: #62ac6c;
  }

  .btn-not-verifide{
    width: 120px;
    background-color: #a2a2a2;
  }

  .btn-availability {
    width: 115px;
  }

  .btn-available{
    background-color: #409f95;
  }

  .btn-unvailable{
    background-color: #f4715f;
  }

  .fa-map-marker{
    color: #409f95;
  }

  .icon-group{
    margin: 5px;

    .icon-n{
      width: 32px;
      height: 32px;
      display: inline-block;
      margin-right: 5px;
      img{
        width: 100%;
      }
    }
    .icon-group-left{
      display: inline-block;
      width: 130px;
    }
    .icon-group-right{
      display: inline-block;
    }
    .icon-group-left{
      font-weight: bold;
    }
  }

  .horizontal-sepator{
    display: none;
    margin: 8px;
    border-top: solid 1px #cacaca;
  }

  @media screen and (max-width: 1200px) and (min-width: 991px){
    .btn-complete {
      width: 125px;
    }
    .btn-verifide {
      width: 90px;
    }
    .btn-not-verifide {
      width: 100px;
    }
    .user-stars{
      margin-bottom: 5px;
      .rating-stars{
        display: block;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .user-avatar{
      a{
        top: 118px;
        left: 119px;
      }
      .summary-img{
        width: 148px;
        height: 148px;
      }
    }


    .user-stars .rating-stars{
      display: inline-block;
    }
    .horizontal-sepator{
      display: block;
    }
    .user-employee-info{
      margin: 0;
      display: flex;
      text-align: center;

      .icon-group{
        text-align: center;
        display: inline-block;
        width: 33%;

        .icon-n{
          margin-right: 0;
          margin-bottom: 5px;
        }
        .icon-group-left{
          display: block;
          text-align: center;
          width: auto;
        }
        .icon-group-right{
          display: block;
          text-align: center;
        }
        .icon-group-left{
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {

    .user-name{
      font-size: 16px;
    }

    .user-stars{
      margin-bottom: 5px;
      .rating-stars{
        display: block;
      }
    }
    .user-info{
      font-size: 11px;
      text-align: center;
      margin: 0;
    }
    .user-employee-info {
      .icon-group {
        font-size: 10px;
        .icon-group-left {
          display: none;
        }
      }
    }
    .btn-summary{
      margin: 2px;
      line-height: 23px;
      height: 22px;
      font-size: 11px;
      width: 130px;
    }

    .btn-availability {
      width: 75px;
      font-size: 8px;
      height: 16px;
      line-height: 18px;
    }

    .user-avatar{
      float: none;
      width: 115px;
      margin: 0 auto;
      a{
        top: 70px;
        left: 70px;
      }
      .summary-img{
        width: 96px;
        height: 96px;
      }
    }
  }
}