<script>
	export default {

        props:['jobs'],

        data()
        {
            return {

                    list : [],
                    filterTerm : ''
            }
        },

        ready(){
            this.list = JSON.parse(this.jobs);
        }
	}

</script>
<template>
    <div class="row">
        <div class="col-md-10">
            <div class="main-heading">
                <h4>Job Postings</h4>
            </div>
        </div>
        <div class="col-md-2">
            <a href="/create-job" class="btn btn-themed btn-primary btn-main-action pull-right">Post Job</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="filter">
               <select v-model="filterTerm" class="form-control">
                  <option  value="" selected>All Jobs Posting</option>
                  <option value="Active">Active Jobs</option>
                  <option value="Closed">Closed Jobs</option>
                </select>
            </div>
        </div>
    </div>
<!--     <div class="row">
        <div class="col-md-12">
            <div class="panel-row-heading">
                <div class="col-md-6">
                    <strong>Job</strong>
                </div>
                <div class="col-md-1 text-center">
                    <strong>Status</strong>
                </div>
                <div class="col-md-2 text-center">
                    <strong>Date Posted</strong>
                </div>
                <div class="col-md-1 text-center">
                    <strong>Hires</strong>
                </div>
                <div class="col-md-2 text-center">
                    <strong>Actions</strong>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-12">
            <div class="panel job-postings all-jobs">
             
                    <div class="panel-row empty" v-if="listIsEmpty">
                        <h5>You currently have no job postings</h5>
                    </div>
             
                    <div class="panel-row" v-for="job in list | filterBy filterTerm">
                        <div class="values">
                            <div class="col-md-6 job-details">
                                <div class="name">
                                <a href="./{{ job.id }}/details"><strong> {{ job.title}}</strong></a>
                                </div>
                                <div class="date-posted">
                                Posted {{ job.createdata_normal }}
                                </div>
                            </div>
                            <div class="col-md-2 text-center status">{{ job.closed }}</div>
                            <div class="col-md-2 text-center hires">Hires: {{ job.hired }}</div>
                            <div class="actions">
                                <div class="actions-group">
                                    <div class="trigger">
                                        <div class="text_outer"><div class="text trn"> Actions </div></div>
                                    </div>
                                    <div class="list">
                                        <div class="option"
                                             data-action="edit-job"
                                             class="trn">
                                            <a href="./{{ job.id }}/edit">Edit Job</a>
                                        </div>
                                        <!--<div class="option"
                                             data-action="view-profile"
                                             class="trn">
                                            <a href="./{{ job.id }}/details">View Details</a>
                                        </div>-->
                                        <div class="option"
                                             data-action="send-message"
                                             class="trn">
                                            <a href="./{{ job.id }}/applicants">View Applicants</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
             
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px">
        <div class="col-md-12">
            <div class="pull-right">
           
            </div>
        </div>
 
</div>

</template>

		