<script>
	export default {

		props:['contracts'],

		data()
		{
			return {
					list : [],
					show: false,
					filterTerm : '',
                    filterContract : ''
			}
		},

		ready(){

			this.list = JSON.parse(this.contracts);
			var that = this;

			setTimeout(function(){
			    that.show = true;
			}, 500);

		},
        methods: {
            toRound: function(number){
                return Math.round(number);
            }
        }

	}

</script>
<template>
    <div class="row back-action">  
        <div class="col-md-12">
            <a href="javascript:void(0);" class="back-button" onclick="history.back();"><span class="back-icon"></span>Back to Previous Page</a>
        </div>
    </div>
	<div class="row">
        <div class="col-md-12">
            <div class="main-heading">
                <h4>Contracts</h4>
            </div>
        </div>
    </div>
    <div class="row">
       
        <div class="filters">
            <div class="col-md-3">
                <div class="filter">
                    <div class="inner-addon left-addon">
                        <div class="icon icon-search"></div>
                        <input type="text" v-model="filterTerm"  placeholder="Name or Caregiver" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                 <div class="checkbox">
                    <label>
                                            
                    <div class="onoffswitch">
                        <!-- <input type="checkbox"  :true-value="false" :false-value="true" v-model="filterContract" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" >-->
                        <input type="checkbox"  :true-value="" :false-value="true" v-model="filterContract" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                        <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <p style="padding-top:7px;">Ended  contracts</p></label>
                </div>
            </div>            
            
        </div>
        </div>
   
    <div class="row">
        <div class="col-md-12">
            <div class="panel-row-heading">
                <div class="col-md-3">
                    <strong>Name</strong>
                </div>            
                <div class="col-md-3 avatar">
                    <strong>Caregiver</strong>
                </div>
                <div class="col-md-3">
                    <strong>Time Period</strong>
                </div>
                <div class="col-md-3 offer-paid">
                    <strong>Terms</strong>
                </div>
            </div>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <div class="panel contracts" v-show="show">
                
                    <div class="panel-row empty" v-if="!list.length">
                        <h5>No contracts. <a href="/create-job" target="_self">Post a Job to hire someone</a></h5>
                    </div>


                            <div class="panel-row" v-if="contract.is_active==1"  v-for="contract in list" >

                                <div class="values">
                                    <div class="col-md-3 job-details">
                                        <div class="name">
                                            <a href="/contracts/{{ contract.id }}"><strong> {{ contract.title }} </strong></a>
                                        </div>
                                        <div class="date-posted">
                                            Posted {{ contract.employee.posted }}
                                        </div>
                                    </div>                                
                                    <div class="col-md-3 avatar">
                                        <div class="caregiver">
                                            <a href="/employee/{{ contract.to_user_id }}">
                                            <img class="img_50" src="{{ contract.employee.photo_url }}" alt="">
                                            <div class="name">
                                                <strong >{{ contract.employee.first_name }} {{ contract.employee.last_name }}</strong>
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 created">{{  contract.created_at}} — Present</div>
                                    <div class="col-md-3 offer-paid">${{ toRound(contract.offer_paid) }}/h.</div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>




                            <div class="panel-row datos" v-if="contract.is_active==0" v-for="contract in list | filterBy filterTerm | filterBy filterContract"  style="background-color:rgba(128, 125, 125, 0.37);color: black;"  >

                                <div class="values">
                                    <div class="col-md-3 job-details">
                                        <div class="name">
                                            <a href="/contracts/{{ contract.id }}"><strong> {{ contract.title }} </strong></a>
                                        </div>
                                        <div class="date-posted">
                                            Posted {{ contract.employee.posted }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 avatar">
                                        <div class="caregiver">
                                            <a href="/employee/{{ contract.to_user_id }}">
                                            <img class="img_50" src="{{ contract.employee.photo_url }}" alt="">
                                            <div class="name">
                                                <strong >{{ contract.employee.first_name }} {{ contract.employee.last_name }}</strong>
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 created"> {{ contract.created_at }} </div>
                                    <div class="col-md-3 offer-paid">${{ toRound(contract.offer_paid) }}/h.</div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>

            </div>
        </div>
    </div>
</template>
 <script type="text/javascript">
        $( document ).ready(function() {
         $('.checkbox :checkbox').change(function() {
                if (this.checked) {

                    $('.datos').show();
                    
                } else {
                  
                    $('.datos').hide();
                }
            });
                 });
    </script>		