<template>
    <div class="app-content" v-cloak>
        <div class="container">
            <div class="app-content-header">
                <slot name="app-content-header"></slot>
            </div>

            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {}
</script>