<template>
    <div :class="customSelectClasses" v-on-clickaway="closeDisplayBox()" @click.prevent="openDisplayBox($event)">
        <select v-model="selected" :name="name">
             <option v-for="option in options" v-bind:value="option">
                {{ option }}
              </option>
        </select>
        <div class="trigger" >
            <div class="text_outer">
                <div class="text trn">
                {{ selectedText ? selectedText : 'Please select'}}

                </div>
            </div>
        </div>
        <div class="list" v-show="displayBox">
            <div class="option" v-for="(key,option) in options" @click.stop.prevent="setSelected(option, $event)">
                <span class="icon icon-status" v-if="statusIcon"></span>
                <span class="option-name">{{ option }}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';
    import $ from 'jquery';
    import { directive as onClickaway } from 'vue-clickaway';


    export default {
        directives: {
            onClickaway,
        },
        props: {
            options: {
                type: Array,
                required: true,
            },
            statusIcon: {
                type: Boolean,
                default: false,
                required: false,
            },
            selected: {
                default: true,
            },
            prevent: {
                default: false,
            },
            name: {
                required: true,
            }
        },
        data() {
            return {
                displayBox: false,
                displayHeight: 0,
            }
        },
        methods: {
            closeDisplayBox() {
                this.displayBox = false;
            },

            openDisplayBox(event) {
                if (this.prevent) { event.stopPropagation(); }

                var displayHeight = this.displayHeight;
                var outerHeight = $($(this.$el).find('.list')[0]).outerHeight();
                var list = $($(this.$el).find('.list')[0]).css('max-height', outerHeight);
                $(list).animate({ scrollTop: parseInt(displayHeight) }, 100);
                this.displayBox = true;
            },

            isMobile() {
                var devices = ['Android', 'BlackBerry', 'iPhone', 'iPad', 'iPod', 'Opera Mini', 'IEMobile', 'Silk'];
                var ua = navigator.userAgent || navigator.vendor || window.opera;
                // Checks for iOs, Android, Blackberry, Opera Mini, and Windows mobile devices
                for (var i = 0; i < devices.length; i++) if (ua.toString().toLowerCase().indexOf(devices[i].toLowerCase()) > 0) return devices[i];
                return false;
            },

            setSelected(option, event) {
                this.selected = option;
                this.$dispatch('changed-option', option);
                this.closeDisplayBox();
            },

        },
        computed: {
            customSelectClasses() {
                var mobile = this.isMobile();

                return {
                    'customselect' : true,
                    'v1 v2': mobile,
                    'v2': !mobile,
                    'open': this.displayBox
                }
            },

            displayHeight() {
                var options = this.options;
                var selected = this.selected;
                var outerHeight = $(this.$el.getElementsByClassName("option")[0]).outerHeight();
                var result = _.findKey(options, function(option) {
                    return option === selected;
                });
                return parseInt(outerHeight * (parseInt(result)));
            },

            selectedText() {
                // var options = this.options;
                // var selected = this.selected;
                // var result = _.find(options, function(option) {
                //     return option.value === selected;
                // });

               
                // if(this.name == 'expiration year'){
                //     result = result !== undefined ? result.text : ('2017');
                // }else if(this.name == 'from day'){
                //     result = result !== undefined ? result.text : ('1 AM');
                // }else if(this.name == 'to day'){
                //     result = result !== undefined ? result.text : ('1 AM');
                // }
                // else{
                //     if(selected == ''){
                //         result = result !== undefined ? result.text : ('Select ' + this.name);
                //     }else{
                //         result = result !== undefined ? result.text : selected;
                //     }
                // }
                // // if(this.name == 'expiration year'){ result = '2017'; }
                // this.$dispatch('selected-text', result);
                // // return result ;
                var options = this.options;
                var selected = this.selected;
                var result = _.find(options, function(option) {
                    return option === selected;
                });

                // if(this.name == 'expiration year'){ result = '2017'; }
                this.$dispatch('selected-text', result);
                return result ;                
            },

            selectedValue() {
                var options = this.options;
                var selected = this.selected;
                var result = _.find(options, function(option) {
                    return option === selected;
                });
                result = result !== undefined ? result.value : 'Please select...';
                this.$dispatch('selected-value', result);
            }
        },
        ready: function () {
        }
    }
</script>