<template>
    <div class="customSelectMultiple" :class="customSelectClasses" v-on-clickaway="closeDisplayBox()" @click.prevent="openDisplayBox($event)">
        <select v-model="selected" :name="name" multiple>
             <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
              </option>
        </select>
        <div class="trigger">
            <div class="text_outer">
                <div class="text trn">
                {{ selectedText }}
                {{ selectedValue }}
                </div>
            </div>
        </div>
        <div class="list" v-show="displayBox">
            <div class="option" v-for="(key,option) in options" @click.stop.prevent="setSelected(option, $event)">
                <span class="option-name">{{ option.text }}</span>
                <span class="icon icon-status" v-if="getStatusIcon(option)"></span>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';
    import $ from 'jquery';
    import { directive as onClickaway } from 'vue-clickaway';


    export default {
        directives: {
            onClickaway,
        },
        props: {
            options: {
                type: Array,
                required: true,
            },
            selected: [],
            prevent: {
                default: false,
            },
            name: {
                required: true,
            }
        },
        data() {
            return {
                displayBox: false,
                displayHeight: 0,
            }
        },
        methods: {
            getStatusIcon: function (option) {
                var set = false;
                if (this.selected.length) {
                    for (var i in this.selected) {
                        if (this.selected[i] === option.value) {
                            set = true;
                        }
                    }
                }

                return set;
            },

            closeDisplayBox: function () {
                this.displayBox = false;
            },

            openDisplayBox: function (event) {
                if (this.prevent) { event.stopPropagation(); }

                var displayHeight = this.displayHeight;
                var outerHeight = $($(this.$el).find('.list')[0]).outerHeight();
                var list = $($(this.$el).find('.list')[0]).css('max-height', outerHeight);
                $(list).animate({ scrollTop: parseInt(displayHeight) }, 100);
                this.displayBox = true;
            },

            isMobile: function () {
                var devices = ['Android', 'BlackBerry', 'iPhone', 'iPad', 'iPod', 'Opera Mini', 'IEMobile', 'Silk'];
                var ua = navigator.userAgent || navigator.vendor || window.opera;
                // Checks for iOs, Android, Blackberry, Opera Mini, and Windows mobile devices
                for (var i = 0; i < devices.length; i++) if (ua.toString().toLowerCase().indexOf(devices[i].toLowerCase()) > 0) return devices[i];
                return false;
            },

            setSelected: function (option, event) {
                if (option.value === '') {
                    this.closeDisplayBox();
                    return false;
                }

                var set = true;
                if (this.selected.length) {
                    for (var i in this.selected) {
                        if (this.selected[i] === option.value) {
                            this.selected.splice(i, 1);
                            set = false;
                        }
                    }
                }

                if (set) {
                    this.selected.push(option.value);
                }


                this.closeDisplayBox();
            },

        },
        computed: {
            customSelectClasses: function () {
                var mobile = this.isMobile();

                return {
                    'customselect' : true,
                    'v1 v2': mobile,
                    'v2': !mobile,
                    'open': this.displayBox
                }
            },

            displayHeight: function () {
                var options = this.options;
                var selected = this.selected;
                var outerHeight = $(this.$el.getElementsByClassName("option")[0]).outerHeight();
                var result = _.findKey(options, function(option) {
                    return option.value === selected;
                });
                return parseInt(outerHeight * 1);
            },

            selectedText: function () {
                var options = this.options;
                var selected = this.selected;
                var result = '';

                _.forEach(options, function(value, key) {
                    for (var i in selected) {
                        if (value.value === selected[i]) {
                            result += value.text + ', ';
                        }
                    }
                })

                if (!result.length) {
                    result = 'Please select...';
                }


                return result ;
            },
        },
    }
</script>