<template>
    <div>
        <!-- TODO: I guess I should move this below, and use the select for intermediate selection, hiding only .text_outer and .list -->
        <ul class="list-inline" v-if="asList==true">
            <li class="no_preference" v-if="listPreference" :class="{'active': viewListPreference}" @click="setListPreference(true)">
                No preference
            </li>
            <li :class="{'active': isSelected(option)}" data-active="{{isSelected(option)}}" v-for="option in options" data-option-value="{{ option.value }}" @click.stop.prevent="setSelected(option, $event)">
                <span class="icon icon-status" v-if="statusIcon"></span>{{ option.text }}
            </li>
        </ul>

        <div :class="customSelectClasses" v-on-clickaway="closeDisplayBox()" @click.prevent="openDisplayBox($event)" v-else>
            <select v-model="selected" :name="name" :id="id" :multiple="multiple">
                <option v-for="option in options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
            <div :class="triggerClasses">
                <div class="text_outer">
                    <div class="text trn">
                        {{ selectedText }}
                    </div>
                </div>
            </div>
            <div class="list" v-show="displayBox">
                <div class="option" :class="{'active': statusIcon && isSelected(option)}" v-for="(key,option) in options" @click.stop.prevent="setSelected(option, $event)">
                    <span class="icon icon-status" v-if="statusIcon"></span>
                    <span class="option-name">{{ option.text }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';
    import $ from 'jquery';
    import { directive as onClickaway } from 'vue-clickaway';

    export default {
        directives: { onClickaway },

        props: {
            options: {
                type: Array,
                required: true
            },
            statusIcon: { // It shows a green checkmark & gray x
                type: Boolean,
                default: false
            },
            selected: { default: true },
            prevent: { default: false },

            name: { required: true },
            id: { required: false }, // Id of the select

            asList: { // Display as list instead of a dropdown
                type: Boolean,
                default: false
            },
            multiple: { // Can select multiple options
                type: Boolean,
                default: false
            },
            multipleList: { // Can select multiple options
                type: Boolean,
                default: false
            },
            required: { // Has to have a value selected
                type: Boolean,
                default: false
            },
            listPreference: {
                type: Boolean,
                default: false
            },
            limitStr: {
                default: 3
            },
            msgEmpty: { default: 'No preference'}, // Message to show if no selection
            //TODO: createJob uses this as 'Please select...'
            msgRequired: { default: 'Select ' + name }, // Message to show if selection is required
            msgAll: { default: 'All' } // Message to show if all options are selected
        },

        data: function() {
            return {
                displayBox: false,
                displayHeight: 0,
                viewListPreference: false
            }
        },

        ready: function() {
            var $selected = _(this.options).filter({'is_selected': true}).map('value').value();
            this.selected = (this.multiple) ? $selected : _.first($selected);
        },

        methods: {
            setListPreference: function(set) {
                this.viewListPreference = set;
                this.selected = [];
            },

            closeDisplayBox: function() { this.displayBox = false; },

            openDisplayBox: function(event) {
                if (this.prevent) { event.stopPropagation(); }
                var displayHeight = this.displayHeight;
                var outerHeight = $($(this.$el).find('.list')[0]).outerHeight();
                var list = $($(this.$el).find('.list')[0]).css('max-height', outerHeight);
                $(list).animate({ scrollTop: parseInt(displayHeight) }, 100);
                this.displayBox = true;
            },

            isMobile: function() {
                var devices = ['Android', 'BlackBerry', 'iPhone', 'iPad', 'iPod', 'Opera Mini', 'IEMobile', 'Silk'];
                var ua = navigator.userAgent || navigator.vendor || window.opera;
                // Checks for iOs, Android, Blackberry, Opera Mini, and Windows mobile devices
                for (var i = 0; i < devices.length; i++) if (ua.toString().toLowerCase().indexOf(devices[i].toLowerCase()) > 0) return devices[i];
                return false;
            },

            setSelected: function(option, event) {
                if(this.multiple) {
                    if (!Array.isArray(this.selected)) this.selected = [];

                    if (this.selected.indexOf(option.value) > -1) {
                        this.selected = _.without(this.selected, option.value)
                    } else {
                        this.selected.push(option.value);
                    }

                    if (this.selected.length) {
                        this.viewListPreference = false;
                    } else {
                        this.viewListPreference = true;
                    }
                } else if(this.multipleList) {
                    // this.selected = [];
                    if (!Array.isArray(this.selected)) this.selected = [];

                    if (this.selected.indexOf(option.value) > -1) {
                        this.selected = _.without(this.selected, option.value)
                    } else {
                        this.selected.push(option.value);
                    }

                    if (this.selected.length) {
                        this.viewListPreference = false;
                    } else {
                        this.viewListPreference = true;
                    }
                } else {

                    this.selected = (!this.required && this.selected == option.value) ? undefined : option.value;

                    if (this.selected != undefined) {
                        this.viewListPreference = false;
                    } else {
                        this.viewListPreference = true;
                    }
                }
                // alert(JSON.stringify(option, null, 4));
                if(option.text == 'Short term/Emergency care'){
                    option.text = 'Emergency care';
                }
                this.$dispatch('changed-option', option);

                if(!this.multiple) this.closeDisplayBox();
            },

            strLimit: function(str, ellipsis='&nldr;') {

                var scs = (str.length >= this.limitStr) ? str.substring(0, this.limitStr) + ellipsis : str;
                if(str=="as required") scs = 'as req'; 
                if(str=="less than a week") scs = '1w';
                if(str=="less than 2 weeks") scs = '2w';
                if(str=="less than a month") scs = '1m';
                if(str=="less than 3 months") scs = '3m';
                if(str=="less than 6 months") scs = '6m';
                if(str=="over 6 months") scs = '6m+';   

                //workload
                if(str=="as required") scs = 'as req'; 
                if(str=="10 hours/week or less") scs = '10h/w';
                if(str=="20 hours/week or less") scs = '20h/w';
                if(str=="30 hours/week or less") scs = '30h/w';
                if(str=="40 hours/week or less") scs = '40h/w';
                if(str=="40+ hours/week") scs = '40h/w+';       

                //findcaregiver
                // if(str=="Short term/Emergency care") scs = 'Emergency care';                                
                return scs;
            },

            isSelected: function(option) {
                if((this.multiple || this.multipleList) && Array.isArray(this.selected)) {
                    return this.selected.indexOf(option.value) > -1;
                }
                if(this.selected == option.value) return true;
                return false;
            },

            getOptionText: function(id) {
                var opt = _.find(this.options, function(o) { return o.value==id});
                return opt != undefined ? opt.text : 'Select ' + this.name;
            }
        },

        computed: {
            customSelectClasses: function() {
                var mobile = this.isMobile();

                return {
                    'customselect' : true,
                    'v1 v2': mobile,
                    'v2': !mobile,
                    'open': this.displayBox
                }
            },
            triggerClasses: function() {
                return {
                    'trigger': true,
                    'required': this.required,
                    'invalid': !this.isValid
                }
            },

            displayHeight: function() {
                var options = this.options;
                var selected = this.selected;
                var outerHeight = $(this.$el.getElementsByClassName("option")[0]).outerHeight();
                var result = _.findKey(options, function(option) {
                    return option.value === selected;
                });
                return parseInt(outerHeight * (parseInt(result)));
            },

            hasSelection: function() {
                return !(this.selected === undefined || this.selected === null || Array.isArray(this.selected) && this.selected.length == 0);
            },

            isValid: function() { // To be used for validation
                if(this.required) return this.hasSelection;
                return true;
            },

            selectedText: function() {
                if(this.hasSelection) {
                    if(Array.isArray(this.selected)) {
                        if(this.selected.length == 1) return this.getOptionText(this.selected[0]);
                        if(this.selected.length == this.options.length && this.msgAll != false) return this.msgAll;
                        return this.selected.map(function(o) { return this.strLimit(this.getOptionText(o),''); }, this).join(', ');
                    }
                    return this.getOptionText(this.selected)
                }
                return this.required ? this.msgRequired : this.msgEmpty;
            },

            selectedAll: function() {
                return this.selected.length == this.options.length;
            },

            selectedValue() {
                var options = this.options;
                var selected = this.selected;
                var result = _.find(options, function(option) {
                    return option.value === selected;
                });
                result = result !== undefined ? result.value : 'Select '+this.name;
                this.$dispatch('selected-value', result);
            }

        }
    }
</script>