<template>
    <li :class="[ selected ? 'active' : '', error ? 'error' : '', selectedTo && selectedFrom ? 'set' : '']" @click.prevent.stop="handleSelection($event)">
        <div class="wraper">
            <div class="day"><strong>{{ dayName }}</strong>
            </div> <div class="icon icon-status icon-not-checked" @click.prevent.stop="handleClear()"></div>
            <div class="hour-range" v-if="selected" transition="ease">
                <span class="range">from:</span>
                    <custom-select
                        :options.sync="hours"
                        :selected.sync="selectedFrom"
                        :prevent="true"
                        name="from day">
                    </custom-select>
                <span class="range">to:</span>
                <custom-select
                    :options="hours"
                    :selected.sync="selectedTo"
                    :prevent="true"
                    name="to day">
                </custom-select>
            </div>
        </div>
    </li>
</template>

<script>
    import _ from 'lodash';
    import  CustomSelect from './CustomSelect.vue';

    var Day = {
        components: {
            CustomSelect,
        },
        props: {
            'dayName': {
                required: true
            },
            'selected': {
                default: false
            },
            selectedTo: {
                default: 0
            },
            selectedFrom: {
                default: 0
            },
            'index': {
                required: true,
                type: Number,
            },
        },
        data() {
            return {
                hours: [''],
            }
        },
        ready() {
        },
        methods: {
            handleSelection: function (event) {
                this.$nextTick(function() {
                    this.selected = !this.selected;
                    this.$dispatch('day-selected');
                });
            },
            handleClear: function () {
                if (this.selected) {
                    this.selectedFrom = false;
                    this.selectedTo = false;
                }
            }
        },
        watch: {
            selectedFrom() {
                this.$dispatch('day-selected');
                // Cannot set an hour greater than the selected to.
                // if (this.selectedFrom >= this.selectedTo) {
                    // this.selectedFrom = this.selectedTo - 1;
                // }
            },
            selectedTo() {
                this.$dispatch('day-selected');
                // Cannot set an hour lower than the selected to.
                // if (this.selectedFrom >= this.selectedTo) {
                //     this.selectedTo = this.selectedFrom + 1;
                // }
            },
        },
        computed: {
            /**
             * returns 24 hours in am pm format
             * @return {array} [hours from 12am to 12pm]
             */
            hours() {
                var array = [];
                for (var i = 0; i < 2; i++) {
                    var pt = i == 0 ? 0 : 12;
                    _(_.range(1,13)).forEach( function(value, key) {
                        var mt = (key+pt < 11 || key+pt == 23  ) ? ' AM' : ' PM';
                        array.push({ value: value+pt, text: value+mt });
                    });
                }
                return array;
            },
            dayFrom() {
                return 'dayFrom['+this.index+']';
            },
            dayTo() {
                return 'dayTo['+this.index+']';
            },
        }
    };

    export default Day;
</script>