<template>
    <ul :class="['days', 'list-inline', ocupationFormData.errors.message ? 'error' : '' ]">
        <day
            v-for="(index, day) in ocupationFormData.days"
            :index="index"
            :day-name="day.name"
            :selected-from.sync="day.selectedFrom"
            :selected-to.sync="day.selectedTo"
            :selected.sync="day.selected"
            :edit-mode="editMode"
            @day-selected="getSelectedDaysText"
            @change-option.prevent.stop="handleChangeOption()">
        </day>
    </ul>
</template>
<script>
    import Day from './Day.vue';
    import _ from 'lodash';
    export default {
        props: ['editMode', 'ocupationFormData'],
        data() {
            return {
                selectedDays: []
            }
        },
        components: {
            Day
        },
        methods: {
            pullWorkingDaysForCurrentJob() {
                this.days = [{
                        name: "Monday",
                        selectedFrom: 7,
                        selectedTo: 14,
                        selected: true,
                    },
                    {
                        name: "Tuesday",
                        selectedFrom: 7,
                        selectedTo: 14,
                        selected: true,
                    },
                    {
                        name: "Wednesday",
                        selectedFrom: 7,
                        selectedTo: 14,
                        selected: true,
                    },
                    {
                        name: "Thursday",
                        selectedFrom: 7,
                        selectedTo: 14,
                        selected: true,
                    },
                    {
                        name: "Friday",
                        selectedFrom: 7,
                        selectedTo: 14,
                        selected: false,
                    },
                    {
                        name: "Saturday",
                        selectedFrom: 6,
                        selectedTo: 18,
                        selected: false,
                    },
                    {
                        name: "Sunday",
                        selectedFrom: 6,
                        selectedTo: 18,
                        selected: false,
                    }
                ];
            },

            getSelectedDaysText() {
                var selectedText = [];
                (this.ocupationFormData.days).forEach(function(value, key) {
                    if(value.selected) {
                        selectedText.push(value.name + ': ' + this.checkAmPm(value.selectedFrom) + ' — ' + this.checkAmPm(value.selectedTo) );
                    }
                }.bind(this));
                this.ocupationFormData.text = selectedText;
                this.ocupationFormData.errors.message = '';
            },

            checkAmPm(hour) {
                var mt = (hour < 12 || hour == 24  ) ? 'AM' : 'PM';
                if ( hour > 12) hour -= 12;
                return hour + mt;
            }
        },
        ready() {
            if(this.editMode) {
                // check for the current selected days, and populate with correct Data.
                this.pullWorkingDaysForCurrentJob();
            }
            this.getSelectedDaysText();
        },
        events: {
            'changed-option': function(option) {
                return false;
            }
        }
    }
</script>