<script>
	export default {
		props:['empcontract'],
		data()
		{
			return {
					list : [],

					filterTerm : '',
                    filterContract : ''
			}
		},

		ready(){


		    var _this = this;

		    setTimeout(()=>{
                _this.list = JSON.parse(_this.empcontract);

            }, 10);



		}
	}

</script>
<template>
    <div class="container">
            <div class="content">
                <div class="caregiver-profile" id="employee-profile">
                    <div class="col-md-12 ">

                            <div class="details">
                                <h4>Contracts</h4>
                                <div class="col-md-4">
                                    <div class="filter">
                                        <div class="inner-addon left-addon">
                                            <div class="icon icon-search"></div>
                                            <input type="text" v-model="filterTerm" placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>

                                           <div class="onoffswitch">
                                               <!-- <input type="checkbox"  :true-value="false" :false-value="true" v-model="filterContract" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" >-->
                                                <input type="checkbox"  :true-value="" :false-value="true" v-model="filterContract" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                                <label class="onoffswitch-label" for="myonoffswitch">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>

                                            <p style="padding-top:7px;">Ended  contracts</p></label>


                                    </div>
                                </div>
                    </div>

                    <div class="col-md-12">
                    <!--<nav class="top_pagination col-md-3 col-md-offset-9" >
                              <ul class="pagination">
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </li>
                              </ul>
                        </nav>-->
                          <div class="row">
                            <div class="col-md-12">
                                <div class="panel-row-heading">
                                    <div class="col-md-3">
                                        <strong>Contract</strong>
                                    </div>
                                    <div class="col-md-3">
                                        <strong>Time Period</strong>
                                    </div>
                                    <div class="col-md-3">
                                        <strong>Terms</strong>
                                    </div>
                                    <div class="col-md-3">
                                        <strong></strong>
                                    </div>
                                </div>
                            </div>
                        </div>

    <div class="row">
         <div class="panel-row empty"  v-if="list.length === 0" >
                                     <h5>No contracts to see</h5>
                                </div>
        <div class="col-md-12">
            <div class="panel contracts">
                            <div class="panel-row"  v-for="contract in list | filterBy filterTerm | filterBy filterContract" v-if="contract.is_active==1" >
                                <div class="values" >
                                    <div class="col-md-3">
                                        <div class="caregiver">
                                            <div class="name">
                                                <a href="/contracts/{{ contract.id }}"><strong > {{ contract.title }}</strong></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 created">{{ contract.created_at }} - Present</div>
                                    <div class="col-md-3 offer-paid" align="inline">${{ contract.offer_paid}} /h to 40 h/ week</div>
                                    <div class="col-md-3 work-diary">
                                            <a href="/employee/work-diary"><strong > Work Diary </strong></a>
                                            <!--<select class="form-control" onchange="location = this.value;" style="margin-top: 12px;">
                                                  <option selected>Actions</option>
                                                  <option value="./work-diary" >Work Diary</option>
                                                  <option value="../contracts/{{ contract.id }}" >Contract Details</option>
                                                </select>-->
                                     </div>
                                </div>
                            </div>

                             <div class="panel-row"  v-for="contract in list | filterBy filterTerm | filterBy filterContract"  style="background-color:rgba(128, 125, 125, 0.37);color: black;" v-if="contract.is_active==0" >
                                <div class="values">
                                    <div class="col-md-3">
                                        <div class="caregiver">
                                            <div class="name">
                                                <a href="/contracts/{{ contract.id }}"><strong > {{ contract.title }}</strong></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 created">{{ contract.created_at }} - {{ contract.end_date }} </div>
                                    <div class="col-md-3 offer-paid">${{ contract.offer_paid}} /h to 40 h/ week</div>
                                     <div class="col-md-3 work-diary">
                                             <a href="/employee/work-diary"><strong > Work Diary </strong></a>
                                              <!--<select class="form-control" onchange="location = this.value;" style="margin-top: 12px;background-color:rgba(128, 125, 125, 0.37);color: black;">
                                                  <option selected>Actions</option>
                                                  <option value="./work-diary" >Work Diary</option>
                                                  <option value="../contracts/{{ contract.id }}" >Contract Details</option>
                                                </select>-->
                                        </div>
                                </div>
                            </div>
                      </div>
                 </div>
             </div>
        </div>
                    </div>
                </div>
            </div>


</template>
<style>

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
    background-color: #26ab37;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #26AB37; color: #121010;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #26AB37; color: #0F120F;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
</style>
 <script type="text/javascript">


        $( document ).ready(function() {



         $('.checkbox :checkbox').change(function() {

                if (this.checked) {

                    $('#datos').show();

                } else {

                    $('#datos').hide();
                }
            });
                 });
    </script>
