<template>
    <template v-if="(!image_uploaded && current_file)">
        <template v-if="isImage">
            <img class="img-thumbnail" :src="current_file" alt="Current Image">
        </template>
        <div v-else class="document-file-preview">
            <a target="_blank" href="{{ current_file }}"><i class="fa fa-file-text-o"></i></a>
            Click to icon to see the document.
        </div>
        <div class="clearfix">
            <span v-if="btn_text" class="change-document" v-on:click="change_document">{{btn_text}}</span>
            <span v-if="!btn_text" class="uploaded">Uploaded</span>
            <span v-if="!btn_text" class="change-document" v-on:click="change_document">Remove | x</span>
        </div>
    </template>
    <div v-if="(image_uploaded && remote_file)">
        <div v-if="isRemoteFileImage">
            <img class="img-thumbnail" :src="remote_file" alt="Remote Image">
        </div>
        <div v-else class="document-file-preview">
            <a target="_blank" href="{{ remote_file }}"><i class="fa fa-file-text-o"></i></a>
            Click to icon to see the document.
        </div>
        <div class="clearfix">
            <span v-if="btn_text" class="change-document" v-on:click="change_document">{{btn_text}}</span>
            <span v-if="!btn_text" class="uploaded">Uploaded</span>
            <span v-if="!btn_text" class="change-document" v-on:click="change_document">Remove | x</span>
        </div>
    </div>
    <div v-if="(!current_file && !remote_file) || change_file" class="file-upload-container" v-bind:class="{'hovered': hovering}" drag-over="handleDragOver" v-on:dragenter="hovering = true" v-on:dragleave="hovering = false">
        <input type="file" class="select-file-input" v-on:change="onFileChange" :accept="ext"/>
        <div v-if="uploading_file">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar":aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100" v-bind:style="{width: progress + '%'}">
                    Uploading document... {{progress}}%
                </div>
            </div>
        </div>
        <div v-else class="file-upload-component">
            <!-- <i class="fa fa-file-image-o"></i> -->
            <img :src="'/img/design/file_upload.png'">
            <div v-if="hovering">
                <p class="dragndrop">Drop the file to start uploading</p>
            </div>
            <div v-else>
                <p class="dragndrop">Drag and drop the file to upload</p>
                <p class="clickselect">Or <span>click to select</span> the file to upload</p>
            </div>
        </div>    
    </div>
    <div class="help-error" v-if="error">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{error}}
    </div>
</template>

<script>
    // import $ from 'jquery';

    export default {
        props: [
            'field',
            'current_file',
            'btn_text',
            'error',
            'extentions'
        ],
        data: function () {
            return {
                change_file: false,
                hovering: false,
                // image: '',
                image_uploaded: false,
                uploading_file: false,
                remote_file: '',
                str_extentions: '.jpeg, .jpg, .png, .pdf',
                progress: 0,
            }
        },
        computed: {
            isImage: function () {
                return (/\.(gif|jpg|jpeg|bmp|png)$/i).test(this.current_file) || (/^data:image/i).test(this.current_file);
            },
            isRemoteFileImage: function () {
                return (/\.(gif|jpg|jpeg|bmp|png)$/i).test(this.remote_file);
            },
            ext() {
                return this.extentions || this.str_extentions;
            },
        },
        methods: {
            isExtValid(fileName){
                let ext = fileName.split('.').pop();
                let isValid = (this.ext).indexOf(ext) !== -1;
                this.error = !isValid ? ('Please upload a ' + this.ext) : '';
                return isValid
            },
            onFileChange: function (event) {
                this.hovering = false;
                if (this.image_uploaded) {
                    return;
                }

                let files = event.target.files || event.dataTransfer.files;
                if (!files.length || !this.isExtValid(files[0].name))
                    return;
                let data = new FormData();
                data.append(0, files[0]);
                this.handle_upload_file(data);
            },
            change_document: function () {
                this.image_uploaded = false;
                this.current_file = false;
                this.change_file = true;
                this.remote_file = '';
                // this.remove_file();
                this.emit_uploaded();
            },

            // choose_file: function (event) {
            //     var parent = $(event.target).parents('.file-upload-container');
            //     if (!parent) {
            //         return;
            //     }
            //     parent.find('#select-file').click();
            // },
            handle_upload_file: function (data) {
                $.ajax({
                    xhr: this.handle_upload_progress,
                    context: this,
                    url: "/api/v1/upload/image",
                    type: "POST",
                    data: data,
                    cache: false,
                    dataType: 'json',
                    enctype: "multipart/form-data",
                    processData: false, // Don't process the files
                    contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                    beforeSend: this.handle_before_upload_file,
                    success: this.handle_uploaded_file,
                    complete: this.handle_after_upload_file
                });
            },
            handle_before_upload_file: function () {
                this.uploading_file = true;
            },
            handle_after_upload_file: function () {
                this.uploading_file = false;
                this.progress = 0;
            },
            handle_uploaded_file: function (response) {
                this.remote_file = response.image_path;
                this.image_uploaded = true;
                this.change_file = false;
                this.emit_uploaded();
            },
            handle_upload_progress: function () {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener('progress', function (event) {
                    if (!event.lengthComputable) {
                        return;
                    }
                    var percentComplete = event.loaded / event.total;
                    var progress = Math.round(percentComplete * 100);
                    this.progress = progress;
                }.bind(this), false);
                return xhr;
            },
            emit_uploaded: function () {
                this.$emit('uploaded', this.field, this.remote_file);
            }
        }
    }
</script>

<style scoped>
      .file-upload-container {
        color: #97c2d3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 5px;
        width: 223px;
        height: 153px;
        border-radius: 11px;
        background-color: #ffffff;
        border: solid 1px #73c5bc;
    }

    .file-upload-component {
      border: none;
    }

    .file-upload-container:hover {
        box-shadow: 0 0 7px rgb(0, 3, 8);
    }

    .file-upload-container.hovered {
        background-color: #dff0d8;
    }

    .file-upload-component {
        align-items: center;
        border-radius: 5px;
        border: 2px dashed #797979;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .file-upload-component:hover {
        cursor: pointer;
    }

    .file-upload-component i {
        font-size: 40px;
        margin-top: 5px;
    }

    .file-upload-component .dragndrop {
      height: 11px;
      font-family: GothamRounded-Book;
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }

    .file-upload-component .clickselect {
      height: 9px;
      font-family: GothamRounded-Book;
      font-size: 9px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }
    .file-upload-component .clickselect span{
        color:#73c5bc;
    }

    .uploaded{
        vertical-align: bottom;
        font-size: 12px;
    }

    .change-document {
        color: #fff;
        padding: 3px;
        background-color: #c47575;
        display: inline-block;
        text-align: center;
        width: 95px;
        cursor: pointer;
        border-radius: 2px;
        margin-top: 5px;
        font-size: 12px;
    }

    .select-file-input {
        bottom: 0;
        cursor: pointer;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }

    .document-file-preview {
        display: flex;
        flex-direction: column;
    }

    .document-file-preview a {
        font-size: 61px;
        margin-bottom: 5px;
    }

    input[type="file"]{
        width: 100%;
    }

    .help-error{
        margin-top: 10px;
        color: #a94442;
        font-family: GothamRounded-Book;
        font-size: 12px;
        padding: 0 5px;
    }

    @media screen and (max-width: 768px) {
        .help-error{
            font-size: 9px;
        }
    }
</style>