<template>
    <footer class="littleones-footer">
        <div class="container">
            <div class="footer-links pull-left">
                <ul class="nav navbar-nav navbar-left">
                   <li><a href="/about">About us</a></li>
                   <li><a href="/legal/user-agreement">Terms of service</a></li>
                   <li><a href="/privacypolicy">Privacy policy</a></li>
                   <li><a href="/faqs">FAQ</a></li>
                   <li><a href="/contact">Contact us</a></li>
                </ul>
                <p class="copy-right-text">
                    ©&nbsp;{{ new Date().getFullYear() }}&nbsp;Little Ones Australia
                </p>
            </div>
            <div class="social-networks pull-right">
                <ul class="list-inline">
                    <li>
                        <a :href="facebookLink" target="_blank">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a :href="instagramLink" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true" ></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        data(){
            return {
                facebookLink: 'https://www.facebook.com/LittleOnes.AU1',
                twitterLink: 'https://twitter.com/',
                instagramLink: 'https://www.instagram.com/littleones.com.au/',
            }
        }
    }
</script>

<style scoped>
    .littleones-footer {
        font-family: GothamRounded-Medium;
        font-weight: 500;
        color: #8b8a8e;
    }

    .littleones-footer>div:first-child a {
      height: 12px;
      font-family: GothamRounded;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
    }

    .littleones-footer>div:first-child {
        border-bottom: solid 1px rgba(139, 138, 142, .1);
        padding: 6.8px;
        background-color: #73c5bc;
        width: 100%;
    }
    .littleones-footer>div:first-child a:hover {
        background-color: #73c5bc;
    }
    @media (max-width: 1024px) {
        .littleones-footer>div:first-child {
            padding: 11.8px;
        }
    }

    @media (max-width: 767px) {
        .footer-links {
            width: 70%;
        }
        .footer-links .navbar-nav {
            margin: 0px;
        }
        .littleones-footer>div:first-child a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .footer-links li {
            float: left;
        }
    }

    @media (max-width: 480px) {
        .footer-links li {
            float: none;
        }
    }

    .company-details {
        font-family: GothamRounded-Book;
        line-height: 1.36;
    }

    .social-networks ul{
        margin-top: 21px;
        font-size: 14px;
    }

    .fa{
        font-size: 24px;
    }

    .footer-links ul {
        display: block;
        margin-bottom: 15px;
    }

    p {
        display: block;
        margin: auto;
        padding-left: 10px;
        padding-top: 10px;
        color: white;
        font-size: 11px;
        align-items: center;
    }

    p strong{
        font-size: 24px;
        display: flex;
        align-items: center;
    }

</style>

