<template>
<div>
    <div :class="alertClasses" transition="ease">
      <a href="javascript:;" class="close" data-dismiss="alert" aria-label="close" @click="closeNotification">&times;</a>
        {{{ value.message }}}
    </div>
</div>
</template>

<script>
    export default {
        props: ['value'],
        methods: {
            closeNotification() {
                this.$dispatch('notification', { close: true });
            },
        },
        computed: {
            alertClasses() {
                var type = this.value.type;
                return {
                    'alert': true,
                    'alert-success': type == 'success',
                    'alert-danger': type == 'danger',
                }
            }
        }
    }
</script>