<template id="password-template">
<div class="panel-row password-template">
    <div class="panel-row" v-if="!displayForm">
        <div class="field">
            <strong>Password</strong>
        </div>
        <div class="value">
            <p>
                ●●●●●●●●
            </p>
        </div>
        <div class="actions">
            <a href="javascript:;" id="editPassword" class="btn btn-themed" @click="openForm">
                Edit
            </a>
        </div>
    </div>
    <div class="panel-row" v-else transition="ease">
        <div class="field">
            <strong>Password</strong>
        </div>
        <div class="value">
            <strong>A Strong Password is: </strong><br>
            <ol>
                <li>8 Characters in length (minimum)</li>
                <li>A combination of letters (lower case and upper case) and at least one number or other non-letter character</li>
            </ol>
            <div class="form">
                <form action="" accept-charset="utf-8">
                    <div class="form-row">
                        <div class="form-field">
                            <strong>
                                Old Password
                            </strong>
                        </div>
                        <div :class="['input-field', formErrors.old_password ? 'error' : '' ]">
                            <input type="password" name="old_password" v-model="formData.old_password" @keyup='formErrors.old_password = ""'> </input>
                            <div class="error-message">{{ formErrors.old_password }}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-field">
                            <strong>
                                New Password
                            </strong>
                        </div>
                        <div :class="['input-field', formErrors.new_password ? 'error' : '' ]">
                            <input id="password" type="password" name="new_password" v-model="formData.new_password" @keyup='formErrors.new_password = ""' data-indicator="pwindicator"> </input>
                            <div style="position: absolute;"  class="error-message">{{ formErrors.new_password }}</div>
                            <div id="pwindicator" v-if="!formErrors.new_password">
                                <div class="bar"></div>
                                <div class="label"></div>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-field">
                            <strong>
                                Retype Password
                            </strong>
                        </div>
                        <div :class="['input-field', formErrors.new_password_confirmation ? 'error' : '' ]">
                            <input type="password" name="new_password_confirmation" v-model="formData.new_password_confirmation" @keyup='formErrors.new_password_confirmation = ""'> </input>
                            <div class="error-message">{{ formErrors.new_password_confirmation }}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="actions open">
            <a href="#" id="savePassword" class="btn btn-themed btn-primary" @click="savePassword">
                Save
            </a>
            <a href="#" class="btn btn-themed cancel" @click="cancel">
                Cancel
            </a>
        </div>
    </div>
</div>
</template>
<script>
    export default {
        props: ['displayForm'],
        data() {
            return {
                formData: {
                    old_password: '',
                    new_password: '',
                    new_password_confirmation: ''
                },
                formErrors: {
                    old_password: '',
                    new_password: '',
                    new_password_confirmation: ''
                }
            }
        },
        methods: {
            closeForm() {
                this.$dispatch('close-form', { Password: false });
            },

            openForm() {
                $('html, body').animate({
                    scrollTop: $(".password-template").offset().top
                }, 400);
                this.$dispatch('open-form', {  Password: true });
            },

            savePassword(event) {
                this.$http.patch('/api/v1/settings/password', this.formData)
                    .then( function(response) {
                        // resets form to default
                        this.clearForm();
                        this.closeForm();
                        this.$dispatch('notification', {type: response.data.notification.type, 'message': response.data.notification.message, 'close': false});
                    }, function(response) {
                        // on validation error
                        this.clearFormErrors();
                        for (var key in response.data) {
                            this.formErrors[key] = response.data[key][0];
                        }
                        // on unknown error
                        if (response.status === 500) {
                            this.cancel();
                            this.$dispatch('notification', {type: 'danger', 'message': 'You have found an unknown error, try reloading your browser', 'close': false});
                        }
                    }
                );
            },

            clearForm() {
                this.clearFormFields();
                this.clearFormErrors();
            },

            clearFormFields() {
                this.formData = {
                    old_password: '',
                    new_password: '',
                    new_password_confirmation: '',
                };
            },

            clearFormErrors() {
                this.formErrors = {
                    old_password: '',
                    new_password: '',
                    new_password_confirmation: '',
                };
            },

            cancel(event) {
                console.log(event);
                this.clearForm();
                this.closeForm();
            }
        },
        events: {
            'clear-form': function (msg) {
                this.clearForm();
            }
        }
    }
</script>