<template>
    <div class="questions">
        <div class="question" v-for="(key, question) in formData.list">
            <textarea name="questions" v-model="question.text"></textarea>
            <div class="delete">
                <div class="icon icon-delete" @click.prevent="deleteQuestion(key)"></div>
            </div>
        </div>
    </div>
    <a href="#" :class="['add-question', formData.list.length > 4 ? 'disabled' : '']" @click.prevent="addAnotherQuestion">+ Add another question</a>
</template>

<script>
    export default {
        props: ['formData'],
        methods: {
            addAnotherQuestion() {
                if (this.formData.list.length <  5) {
                    this.formData.list.push({
                        text: '',
                    });
                }
            },

            deleteQuestion(key) {
                this.formData.list.splice(key, 1);
            }
        },
        ready() {
        },
        events: {
        }
    }
</script>