<template>
    <div>
        <guest-layout>
            <router-view></router-view>
        </guest-layout>
    </div>
</template>

<script>
    import {EventStorage} from './../eventStorage';
    import GuestLayout from './Layout/GuestLayout.vue';
    import EmailConfirmation from './Registration/EmailConfirmation.vue';

    export default {
        data(){
            return {
                currentlyDisplayed: 'roleSelector',
                propsData:{},
            }
        },
        created(){
            EventStorage.$on('requireComponent', (component) => {
                this.propsData = component.props;
                this.currentlyDisplayed = component.name;
            });
        },
        components: {
            guestLayout: GuestLayout,
            emailConfirmation: EmailConfirmation,
        },
    }
</script>