<template>
    <div class="star-rating">
        <span class="rating_type" v-if="!view_type">{{ rating_type }}</span>
        <label class="star-rating__star" v-for="rating in ratings"
        :class="{'is-selected': ((value >= rating) && value != null), 'is-disabled': disabled}"
        @click="set(rating)" v-on:mouseover="star_over(rating)" v-on:mouseout="star_out">
        <input v-if="!view_type && !this.only_view" class="star-rating star-rating__checkbox" type="radio" :value="rating" :name="name"
        v-model="value" :disabled="disabled">
            <div :class="[((value >= rating) && value != null) ? 'icon-star' : 'icon-star-inactive']"></div>
        </label>
        <span v-if="!view_type">
            {{ ratingText }}
        </span>
        <span v-else>
            {{ ratingFloatPreciseTwo }}
        </span>

    </div>
</template>
<script>
export default {

    props: {
        'name': String,
        'value': null,
        'id': String,
        'disabled': Boolean,
        'required': Boolean,
        'rating_type': String,
        'view_type': Boolean,
        'only_view': Boolean
    },

    data: function() {
        return {
          temp_value: null,
          ratings: [1, 2, 3, 4, 5]
        };
    },

    methods: {
        star_over: function(index) {
            if (this.view_type || this.only_view) return;
            var self = this;

            if (!this.disabled) {
                this.temp_value = this.value;
                return this.value = index;
            }
        },

        star_out: function() {
            if (this.view_type || this.only_view) return;
            var self = this;

            if (!this.disabled) {
                return this.value = this.temp_value;
            }
        },

        set: function(value) {
            if (this.view_type || this.only_view) return;
            var self = this;

            if (!this.disabled) {
                this.temp_value = value;
                return this.value = value;
            }
        }
    },

    computed: {
        ratingText: function () {
            switch (parseInt(this.value)) {
                case 1:
                    return 'Bad';
                    break;
                case 2:
                    return 'Weak';
                    break;
                case 3:
                    return 'Average';
                    break;
                case 4:
                    return 'Good';
                    break;
                case 5:
                    return 'Outstanding';
                    break;
            }
        },
        ratingFloatPreciseTwo: function (value, precision, mode) {
            value = this.value;
            precision = 2;

            var m, f, isHalf, sgn; // helper variables
            // making sure precision is integer
            precision |= 0;
            m = Math.pow(10, precision);
            value *= m;
            // sign of the number
            sgn = (value > 0) | -(value < 0);
            isHalf = value % 1 === 0.5 * sgn;
            f = Math.floor(value);
            if (isHalf) {
                switch (mode) {
                    case 'PHP_ROUND_HALF_DOWN':
                        // rounds .5 toward zero
                        value = f + (sgn < 0);
                        break
                    case 'PHP_ROUND_HALF_EVEN':
                        // rouds .5 towards the next even integer
                        value = f + (f % 2 * sgn);
                        break
                    case 'PHP_ROUND_HALF_ODD':
                        // rounds .5 towards the next odd integer
                        value = f + !(f % 2);
                        break
                    default:
                        // rounds .5 away from zero
                        value = f + (sgn > 0)
                }
            }
            return (isHalf ? value : Math.round(value)) / m
        }
    }
}
</script>