<template>
    <div class="preview" v-if="isTypeValid">
        <video v-if="video_url && !video_id" controls>
            <source :src="video_url" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            <source :src="video_url" type='video/ogg; codecs="theora, vorbis"'>
            <source :src="video_url" type='video/webm; codecs="vp8, vorbis"'>
            Your browser does not support HTML5 video.
        </video>
        <iframe width='275'; v-if="video_id" :src="'https://www.youtube.com/embed/'+video_id+'?modestbranding=1&iv_load_policy=3&title=0'">
        </iframe>
        <div class="clearfix">
            <span class="uploaded">Uploaded</span>
            <span class="change-document pull-right" @click="remove_video">Remove | x</span>
        </div>
    </div>

    <div v-else class="file-upload-container flex" :class="{'hovered': hovering}" @dragenter="hovering = true"
         @dragleave="hovering = false">
        <input type="file" class="select-file-input" v-on:change="onFileChange" :accept="str_extentions"/>
        <div v-else class="file-upload-component">

            <!-- <i class="fa fa-file-video-o fa-6x" aria-hidden="true"></i> -->
           
            <i class="fa fa-file-video-o fa-6x" aria-hidden="true"></i>
            <div style="width: 100%" class="progress" v-if="uploading">
                <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                     :aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100"
                     v-bind:style="{width: progress + '%'}">
                    Uploading document... {{progress}}%
                </div>
            </div>
            <div v-if="uploading">
                <p class="clickselect">Your video is still uploading. Please stay on this page</p>
            </div>
            <div v-if="hovering">
                <p class="dragndrop">Drop the file to start uploading</p>
            </div>
            <div v-else>
                <p class="dragndrop">Drag & Drop Your File Here</p>
                <p class="clickselect">Or <span>click here</span> to upload a video</p>
            </div>
        </div>
    </div>
    <div class="help-error" v-if="error">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{error}}
    </div>
</template>

<script>
    export default {
        name: "video-uploader",
        props: [
            'video_url',
            'video_id',
        ],
        data: function () {
            return {
                max_size: 200,
                hovering: false,
                progress: 0,
                uploading: false,
                str_extentions: '.ogv, .ogx, .ogm, .mp4, .webm',
                error: ''
            }
        },
        computed:{
            isTypeValid(){
                if(!this.video_url && !this.video_id) return false;
                return (this.video_id || this.isExtValid(this.video_url));
            }
        },
        methods: {
            onFileChange(e) {
                this.hovering = false;
                let files = e.target.files || e.dataTransfer.files;

                if (!files.length || !this.isExtValid(files[0].name) || !this.isSiseValid(files[0].size))
                    return;
                let data = new FormData();
                data.append(0, files[0]);
                this.handle_upload_file(data);
            },
            isExtValid(fileName){
                let ext = fileName.split('.').pop();
                let isValid = this.str_extentions.indexOf(ext) !== -1;
                this.error = !isValid ? 'Invalid file format.' : '';
                return isValid
            },
            isSiseValid(fileSize){
                let isValid = (fileSize / 1024 / 1024) <= this.max_size;
                this.error = !isValid ? 'Video size should not exceed '+ this.max_size +'MB' : '';
                return isValid;
            },
            handle_upload_file: function (data) {
                this.uploading = true;
                let that = this;
                this.$http.post('/api/v1/upload/video', data, {
                    upload: {
                        onprogress(e) {
                            that.progress = Math.round(e.loaded / e.total * 100-1);
                        }
                    }
                }).then((response) => {
                    that.progress = 100;
                    this.uploading = false;
                    this.video_url = response.data.video_url;
                    this.video_id = response.data.video_id;
                }, (response) => {
                    this.uploading = false;
                }).bind(this);
            },
            remove_video: function(id) {
                this.video_url = null;
                if(this.video_id) {
                    this.$http.post('/api/v1/remove/video', {id:this.video_id}, {
                    }).then((response) => {
                        this.uploading = false;
                        this.video_url = response.data.video_url;
                        this.video_id = response.data.video_id;
                    }, (response) => {
                        this.uploading = false;
                    }).bind(this);
                }
            }

        }
    }
</script>

<style scoped>
    .preview a, .preview a:hover {
        color: inherit;
        text-decoration: none;
    }

    .preview {
        margin: 10px 0;
    }

    .file-upload-container {
        width: 223px;
        height: 153px;
        border-radius: 11px;
        background-color: #ffffff;
        border: solid 1px #73c5bc;
    }

    .file-upload-container:hover {
        box-shadow: 0 0 7px rgb(0, 3, 8);
    }

    .file-upload-container.hovered {
        background-color: #dff0d8;
    }

    .file-upload-component {
        align-items: center;
        border-radius: 5px;
        border: 2px dashed #797979;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .file-upload-component:hover {
        cursor: pointer;
    }

    .file-upload-component i {
        font-size: 40px;
        margin-top: 5px;
    }

    .file-upload-component .dragndrop {
      height: 11px;
      font-family: GothamRounded-Book;
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }

    .file-upload-component .clickselect {
      height: 9px;
      font-family: GothamRounded-Book;
      font-size: 9px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }
    .file-upload-component .clickselect span{
        color:#73c5bc;
    }
    .uploaded{
        vertical-align: bottom;
        font-size: 12px;
    }

    .change-document {
        color: #fff;
        padding: 3px;
        background-color: #c47575;
        display: inline-block;
        text-align: center;
        width: 95px;
        cursor: pointer;
        border-radius: 2px;
        margin-top: 5px;
        font-size: 12px;
    }

    .select-file-input {
        bottom: 0;
        cursor: pointer;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }

    .document-file-preview {
        display: flex;
        flex-direction: column;
    }

    .document-file-preview a {
        font-size: 61px;
        margin-bottom: 5px;
    }

    input[type="file"]{
        width: 100%;
    }

    .help-error{
        color: #a94442;
        font-family: GothamRounded-Book;
        font-size: 12px;
        padding: 0 5px;
        margin-bottom: -12px;
    }

    @media screen and (max-width: 768px) {
        .help-error{
            font-size: 9px;
        }
    }
</style>