<template>
    <div class="v-custom-select" :id="id">
        <input :placeholder="placeholder" v-model="selectedText" type="text" @input="onChange"  @click="target" v-bind:readonly="isReadOnly">
        <i @click="target" class="fa fa-chevron-down" :class="{'rotate-icon': isOpen}"></i>
        <div v-if="isOpen" class="list">
            <div class="item"
                 :class="{'selected-item': option.name === selectedText, 'disabled-item': isSelected(option.id) || (!option.id && option.id !== 0)}"
                 v-for="option in options"
                 @click="selectItem(option)"
            >{{option.name}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            model:{
                type: Number | String,
                required: true,
            },
            placeholder:{
                type: String | null,
            },
            options: {
                type:  Array,
                required: true,
            },
            optionsoriginal: {
                type: Array | [],
                required: false,
            },
            selected:{
                type: Number | null
            },
            disableds:{
                type: Array | Object,
            },
            notreadonly:{
                type: String | null,
            }
        },
        created() {
            if (this.notreadonly == 1) {
                this.optionsoriginal = this.options;
            }
        },
        data() {
            return {
                selectedText: '',
                isOpen: false,
                id: this.myUniqueID(),
                isReadOnly: true,
            }
        },
        methods:{
            selectItem(option){
                if(!this.isSelected(option.id) && (option.id || option.id === 0)){
                    this.selectedText = option.name;
                    this.isOpen = false;
                    this.model = option.id;
                }
            },
            target(){
                this.isOpen = !this.isOpen;
                if (this.notreadonly == 1) {
                    this.options = this.optionsoriginal;
                    this.isReadOnly = false;
                }
            },
            isSelected(id){
                if(this.disableds){
                    return Boolean(this.disableds.find((e) => e.id === id) && this.model !== id);
                }else{
                    return false;
                }
            },
            myUniqueID(){
                return Math.random().toString(36).slice(2);
            },
            onChange(){
                if (this.notreadonly == 1) {
                    this.isOpen = true;
                    this.filterResults();
                }
            },
            filterResults() {
                this.options = this.optionsoriginal;
                this.options = this.options.filter(option => option.name.toString().toLowerCase().indexOf(this.selectedText.toLowerCase()) > -1);
                if (!this.options.length) {
                    this.options.push({name:'-- No results --', id:null});
                }

                if (!this.selectedText) {
                    this.model = null;
                }
            },
        },
        init(){
            let this_1 = this;
            this.$nextTick(function () {
                if(this_1.options){
                    if(!this_1.model && (this_1.selected || this_1.selected === 0)){
                        this_1.model = this_1.options[this_1.selected].id;
                        this_1.selectedText = this_1.options[this_1.selected].name;
                    }else{
                        let option = this_1.options.find((o) => o.id === parseInt(this_1.model));
                        if(option){
                            this_1.selectedText = option.name
                        }
                    }
                }
                $(document).mouseup(function (e) {
                    let container = $('#' + this_1.id);
                    if (container.has(e.target).length === 0){
                        this_1.isOpen = false;
                    }
                });
            })
        },
        watch: {
            model: {
                handler(val) {
                    if(!val && val !== 0){
                        this.selectedText = '';
                    }
                }
            }
        }
    }
</script>

<style scoped>
    .v-custom-select{
        position: relative;
        width: 100%;
    }
    .v-custom-select > i{
        position: absolute;
        z-index: 5;
        top: 12px;
        right: 10px;
        color: #8b8a8e;
    }
    .v-custom-select > input{
        width: 100%;
        display: block;
        padding: 6px 12px;
        line-height: 1.42857;
        font-family: GothamRounded-Book;
        border-radius: 4px;
        color: rgb(85, 85, 85);
        border: 1px solid #ccc;
        padding-right: 35px;
    }
    .v-custom-select > i{
        -moz-transition: all 0.1s ease;
        -webkit-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
    .v-custom-select > i.rotate-icon{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .v-custom-select > .list{
        padding: 1px;
        margin-top: 2px;
        position: absolute;
        z-index: 50;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        overflow-y: auto;
        max-height: 400px;
        -webkit-box-shadow: 0 5px 11px 5px rgba(0,0,0,0.13);
        -moz-box-shadow: 0 5px 11px 5px rgba(0,0,0,0.13);
        box-shadow: 0 5px 11px 5px rgba(0,0,0,0.13);
    }
    .v-custom-select > .list > .item{
        font-family: GothamRounded-Book;
        border: 1px solid #fff;
        color: #555555;
        padding: 3px 15px;
    }
    .v-custom-select > .list > .item.selected-item{
        background-color: #73c5bc;
        border: 1px solid #73c5bc;
        color: #fff;
    }
    .v-custom-select > .list > .item.disabled-item{
        cursor: not-allowed;
        background-color: #fff;
        border: 1px solid #fff;
        color: #cccccc;
    }
    .v-custom-select > .list > .item:hover:not(.disabled-item){
        border: 1px solid #73c5bc;
        color: #555555;
        background-color: #fff;
    }
    @media screen and (max-width: 768px) {
        .v-custom-select > .list > .item{
            font-size: 14px;
            padding: 5px 15px;
        }
    }
    .has-error .v-custom-select > input{
        border: 1px solid #a94442;
    }
</style>