.identity-check {
  .support-text{
    font-size: 14px;
    padding-top: 25px;
    @media screen and (max-width: 991px) {
      padding: 0;
    }
    @media screen and (max-width: 768px) {
     font-size: 10px;
    }
  }

  p{
    margin-top: 8px;
  }

  .flex {
    justify-content: space-between;
    flex-wrap: wrap;
    .profile-input {
      flex-basis: 100%;
      @media screen and (min-width: 603px) {
        flex-basis: 45%;
      }
    }
  }
}

.form-check-label{
  margin-top: 20px;
}

.check-info{
  font-family: GothamRounded-Book;
  color: #8b8a8e;
  font-weight: 500;
}

.congratulations-wrapper{
  padding: 60px 70px;

  .confirmation-header{
    margin: 0;
    display: flex;

    span{
      line-height: 56px;
      font-family: GothamRounded-Bold;
      font-size: 24px;
      color: #625f63;
    }

    @media screen and (max-width: 768px) {
      span{
        font-size: 20px;
      }
    }
    .email-image-wrapper {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      padding: 16px;
      display: inline-block;
      margin-right: 38px;
      box-sizing: border-box;
      border: 1px solid rgba(151, 151, 151, .32);
    }
    .icon-error {
      width: 56px;
      height: 56px;
      position: relative;
      border-radius: 50%;
      display: inline-block;
      margin-right: 38px;
      box-sizing: border-box;
      border: 1px solid #f27474;
      .error-line-left, .error-line-right{
        position: absolute;
        height: 3px;
        width: 34px;
        background-color: #f27474;
        display: block;
        top: 26px;
        left: 10px;
      }
      .error-line-left{
        transform: rotate(45deg);
      }
      .error-line-right{
        transform: rotate(-45deg);
      }

    }
  }

  .congratulations-body {
    font-family: GothamRounded-Book;
    text-align: center;
    font-size: 14px;
    color: #625f63;
    max-width: 350px;
    margin: 25px auto;
    p{
      text-align: left;
    }
    .requirements{
      margin: 0 auto;
      display: table;
      .requirements-title {
        margin-bottom: 5px;
        font-weight: bold;
      }
      ul {
        margin-bottom: 5px;
        li {
          display: flex;
          align-items: center;
          i {
            color: #73c5bc;
            font-size: 8px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .congratulations-footer {
    .btn-homepage, .btn-my-profile, .btn-fix-later, .btn-fix-now {
      box-sizing: border-box;
      width: 160px;
      height: 36px;
      border: 2px solid #73c5bc;
      border-radius: 6px;
      text-decoration: none;
      font-family: GothamRounded-Medium;
      font-size: 14px;
      @media screen and (max-width: 768px) {
        width: 130px;
      }
    }

    a:hover {
      text-decoration: none;
    }

    .btn-homepage, .btn-fix-now {
      color: #73c5bc;
    }

    .btn-my-profile, .btn-fix-later {
      margin-left: 30px;
      background-color: #73c5bc;
      color: #fff;
    }

  }
  @media screen and (max-width: 768px) {
    padding: 40px 10px;
  }
}

.flex {
  .profile-input {
    .cov-vue-date {
      display: block;
      .cov-date-body {
        font-family: GothamRounded-Book;
      }
    }
  }
}

.step-wrapper {
  .step-header {
      font-family: GothamRounded;
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: center;
      color: var(--pale-teal);
  }
  .government-id-identity-check.check-label {
      font-family: GothamRounded;
      font-size: 11px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
  }
  .government-id-identity-check.checkbox-custom {
      width: 16px;
      height: 16px;
      border: solid 1px #73c5bc;
      background-color: #ffffff;
  }
  .caregivers-verification {
    .verifications-text{
      img{
        width: 58px;
        height: 82px;
        margin: 0 44%;
      }
      p{
        font-family: GothamRounded;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        span{
            font-size: 17px;
            font-weight: bold;
            line-height: 1.38;
            color: #e2c826;
        }
      }
    }
    .profile-input {
        margin: 12px auto;

        .qualification-extend {
          right: 36%;
          top: -50px;          
        }

        .delete-control {
          z-index: 1000;
          margin-top: 0;
        }

        .video-text {
          margin-bottom: 22px;
          font-family: GothamRounded-Light;
          font-size: 16px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: normal;
          text-align: center;
          color: #000000;
        }

        .video-tips {
          .hoverd-tooltip {
            font-family: GothamRounded-Medium;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            position: relative;
            margin-top: 20px;
            width: 261px;
            height: 36px;
            border-radius: 11px;
            background-color: #fbd4a5;
            i {
              color: #ffffff;
              margin-left: 20%;
    /*          &:hover{
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
              }*/
            }
            @media screen and (max-width: 768px) {
              padding: 9px;
              font-size: 10px;
            }
          }
        }

        .tooltip-header {
          font-family: GothamRounded-Bold;
          font-size: 11px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #73c5bc;
          @media screen and (max-width: 768px) {
            font-size: 10px;
          }
        }

        .tooltip-list {
          font-family: GothamRounded-Book;
          font-size: 11px;
          width: 230px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.64;
          letter-spacing: normal;
          color: #000000;
          li{
            counter-increment: list;
            list-style-type: none;
            position: relative;
          }
          li:before{
            color: #73c5bc;
            content: counter(list) ".";
          }
          @media screen and (max-width: 768px) {
            font-size: 10px;
          }
        }

        .tooltip-footer {
          font-family: GothamRounded-Light;
          font-size: 10px;
          font-weight: normal;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.4;
          letter-spacing: normal;
          color: #000000;
          margin: 25px 23px 0px 8px;
          @media screen and (max-width: 768px) {
            font-size: 10px;
          }
        }
    }
    
    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 15px;
    }
    input::-moz-placeholder { /* Firefox 19+ */
      font-size: 15px;
    }
    input:-ms-input-placeholder { /* IE 10+ */
      font-size: 15px;
    }
    input:-moz-placeholder { /* Firefox 18- */
      font-size: 15px;
    }

    .video-path-3 {
      font-size: 40px;
      font-weight: lighter;
      color: #ffffff;
      margin: 10px 10px;
    }

    .video-oval {
      width: 61px;
      height: 61px;
      background-color: #73c5bc;
      border-radius: 50%;
      margin-left: 45%;
    }

    .change-video {
      font-family: GothamRounded;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .change-video-link {
      font-weight: bold;
      color: #73c5bc;
    }
  }
}