@import '../vendor/intlTelInput.scss';

.step-wrapper {
  padding: 48px 79px 0 79px;
  max-width: 100%;
  @media screen and (max-width: 768px) {
    padding: 30px 35px 0 35px;
  }
  .step_sm{
    margin: 13px auto 0 !important;
  }
  .step_big{
    margin: 15px auto !important;
  }
  .step-header {
    font-family: GothamRounded-Bold;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #73c5bc;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
  .basic-details{
    font-family: GothamRounded-Light;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    div{
     margin: 25px auto;
    }
  }
  .personal-information,.location-section{
    .profile-input{
      margin: 12px auto;
    }
  }

  section {
    font-family: GothamRounded-Book;
    font-size: 18px;
    color: #8b8a8e;
    .welcome-text{
      font-family: GothamRounded;
      font-size: 15px;
      font-weight: 300;
      margin: 38px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }
    @media screen and (max-width: 768px) {
      font-size: 10px;
    }

    label {
      font-family: GothamRounded-Bold;
      display: block;
      &.required {
        margin-bottom: 27px;
        &:after {
          content: '*';
          color: #c57373;
        }
      }
      span {
        font-family: GothamRounded-Book;
      }
    }

    .years-experience{
      font-family: GothamRounded-Light;
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: center;
      color: #686868;
    }

    div.intl-tel-input {
      display: block;
      .selected-flag{
        background-color: #73c5bc;
        border-radius: 11px 0px 0px 10px;
         &:hover {
          background-color: #73c5bc !important;
        }
        &:focus {
          outline:0;
        }
      }
    }

    .profile-input {
      i{
        top: 7px;
      }
      img{
        height: 60px;
      }
      .image-content li{
        height: 131px;
      }
      .img-thumbnail{
        height: 145px;
      }
      .cov-vue-date {
        .datepickbox {
          input[type='text'] {
            font-size: 18px;
            @media screen and (max-width: 768px) {
              height: 34px;
              font-size: 14px;
            }
          }
        }
      }
    }

    .profile-input {
      .col-md-6{
        @media screen and (max-width: 768px) {
          margin-bottom: 20px;
        }
      }
      .input-group-btn button{
        color: #8b8a8e;
      }

      input, input.form-control, select, select.form-control, textarea, textarea.form-control ,.input-group-btn button{
        font-family: GothamRounded-Book;
        font-size: 18px;
        height: 34px;
        line-height: 18px;
        &:not(textarea,[type='checkbox']) {
          border-radius: 11px !important;
          background-color: #ffffff;
          border: solid 1px #73c5bc;
          @media screen and (max-width: 768px) {
            height: 34px;
          }
        }
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
      .group-addon{
        position: static;
        margin: 31px auto;
      }
      .input-group-addon {
        font-size: 18px;
        position: relative;
        left: 8px;
        z-index: 11;
        width: 38px;
        height: 12px;
        border-radius: 12px 0px 0px 11px;
        background-color: #73c5bc;
        @media screen and (max-width: 768px) {
          font-size: 10px;
          padding: 10px 14px;
        }
      }
    }
  }

  div:not(.basic-information).section-header {
    /*border-bottom: 1px solid rgba(151, 151, 151, 0.4);*/
    line-height: 40px;
  }

  .section-content {
    justify-content: space-between;
    flex-wrap: wrap;
    .profile-input {
      flex-basis: 50%;
    }
  }

  .section-header {
      font-family: GothamRounded-Bold;
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: center;
      color: #73c5bc;
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  .profile-photo {
    font-family: GothamRounded-Book;
    /*justify-content: flex-start;*/
    margin: -30px 50% 56px !important;

    .file-uploader {
      position: relative;
      height: 140px;
      flex-shrink: 0;
      @media screen and (max-width: 768px) {
        width: 140px;
        height: 100px;
      }

      .file-upload-container {
        color: #97c2d3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 5px;
        .file-upload-component {
          border: none;
        }
        .progress{
          margin: 0;
        }
        @media screen and (max-width: 768px) {
          .file-upload-component .clickselect{
            font-size: 8px;
          }
        }
      }

      .img-thumbnail {
        width: 179px;
        height: 179px;
        background-color: #ffffff;
        border: solid 6px #73c5bc;
        border-radius: 50%;
        @media screen and (max-width: 768px) {
          width: 100px;
          height: 100px;
        }
      }

      .change-document {
        width: 34px;
        height: 34px;
        background-color: #73c5bc;
        border: solid 3px #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 127px;
        left: 130px;
        cursor: pointer;
        font-family: GothamRounded-Bold;
        font-size: 20px;
        padding: 0;
        text-align: center;
        margin: 0;
        @media screen and (max-width: 768px) {
          top: 70px;
          left: 70px;
        }
      }

      .modal-crop{
        visibility: hidden;
        opacity: 0;
        padding: 5px;
        background-color: white;
        position: absolute;
        border-radius: 5px;
        z-index: 10;
        top: 150px;
        box-shadow: 0 0 30px rgba(0,0,0,0.5);
        transition: visibility 0s, opacity 0.5s linear;
        @media screen and (max-width: 768px) {
          top: 110px;
        }

        .cropper-controls {
          padding-top: 5px;
          justify-content: space-around;
          .btn-cropper {
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            font-family: GothamRounded-Bold;
            font-size: 14px;
            width: 110px;
            height: 36px;
            letter-spacing: 0.5px;
            box-sizing: border-box;
            margin: 3px;
            cursor: pointer;
            &:hover {
              //box-shadow: 0 0 7px rgb(0, 3, 8);
            }
          }
          .btn-cropper-cancel {
            background-color: #aaa;
          }
          .btn-cropper-submit {
            background-color: #73c5bc;
          }
        }
      }

      .modal-crop-show{
        visibility: visible;
        opacity: 1;
      }
    }

    img.resize-image {
      max-width: 263px;
      width: 100%;
    }

    .upload-photo-message {
      margin-left: 10px;
      a {
        text-decoration: none;
        color: #8b8a8e;
        &:hover {
          text-decoration: none;
          color: #8b8a8e;
        }
      }
    }
  }

  .location-section {
    padding-bottom: 27px;
    p{
      margin-top: 8px;
    }
    .step_big{
      margin: 40px auto 21px !important;
    }
  }

  .step-footer {
    position: relative;
    padding-bottom: 50px;
    @media screen and (max-width: 768px) {
      padding-bottom: 35px;
    }
/*    margin-top: 37px;
    justify-content: space-between;*/
    flex: 1;
    flex-wrap: wrap;
    .btn-next-step {
      cursor: pointer;
      width: 172px;
      height: 46px;
      border-radius: 8px;
      background-color: #fbd4a5;
      color: #fff;
      text-decoration: none;
      font-family: GothamRounded-Bold;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.5px;
      box-sizing: border-box;
      &:hover {
          //box-shadow: 0 0 7px rgb(0, 3, 8);
      }
      @media screen and (max-width: 768px) {
        font-size: 10px;
        width: 103px;
        height: 25px;
      }
    }
    .footer-error-message{
      color: #a94442;
      position: absolute;
      right: 25px;
      top: 50px;
      font-size: 14px;
      @media screen and (max-width: 768px) {
        right: 11px;
        top: 30px;
        font-size: 9px;
      }
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 35px;
    }
  }

  hr {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .has-error .help-error {
    font-family: GothamRounded-Book;
    font-size: 12px;
    padding: 0 5px;
    margin-bottom: -22px;
    @media screen and (max-width: 768px){
      font-size: 9px;
    }
  }
}

.has-error .input-group-btn button{
  border-color: #a94442;
}

.error-message{
  color: #a94442;
  font-family: GothamRounded-Book;
  font-size: 11px;
}