.step-wrapper {
  .pills-list{
      .selected-img .success-img{
        position: absolute;
        height: 20px;
        left: 86%;
        top: 3px;
        border-radius: 50%;
        border: solid 1px;
      }
    .image-content li{
      width: 122px;
      height: 131px;
      padding: 19px;
    }
    li {
      padding: 18px 0px;
      cursor: pointer;
      margin: 10px 0;
      font-family: GothamRounded-Book;
      font-size: 12px;
      letter-spacing: .3px;
      color: #000000;
      border-radius: 11px;
      background-color: #ffffff;
      border: solid 1px #73c5bc;
      &.extensible {
        width: 49px;

        border-radius: 50%;
      }
      &.active {
        border-radius: 11px;
        color: white;
        background-color: #fbd4a5;
        border: solid 1px #fbd4a5;
        &.after {
          content: "";
          display: table;
        }
      }
      &:hover {
        //box-shadow: 0 0 7px rgb(0, 3, 8);
      }
      @media screen and (max-width: 768px) {
        padding: 10px;
        font-size: 10px;
      }

    }
  }
  .work-preferences{
    .verifications-text{
      img{
        width: 58px;
        height: 82px;
        margin: 0 44%;
      }
      p{
        font-family: GothamRounded-Light;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        span{
            font-size: 17px;
            font-weight: bold;
            line-height: 1.38;
            color: #e2c826;
        }
      }
    }
  }

  .file-upload-container {
    color: #97c2d3;
    height: 236px;
    display: flex;
    justify-content: center;
    align-items: center;
    .file-upload-component {
      border: none;
    }
  }

  .profile-input {
      /* width */
    select{
      &:focus{
        outline: none;
      }
      option{
        background: #73c5bc;
        width: 68px;
        height: 15px;
        font-family: "GothamRounded-Book";
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }
    }
    label{
        font-family: "GothamRounded-Bold";
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.77;
        letter-spacing: normal;
        text-align: center;
        color: #545454;
    }
    .customSelectMultiple {
        .list{
          max-height: 270px !important;
          top: 34px;
          border: none;
          padding: 1px;
          margin-top: 2px;
          position: absolute;
          z-index: 50;
          border: 1px solid #ccc;
          border-radius: 4px;
          background-color: #fff;
          overflow-y: auto;
          -webkit-box-shadow: 0 5px 11px 5px rgba(0,0,0,0.13);
          -moz-box-shadow: 0 5px 11px 5px rgba(0,0,0,0.13);
          box-shadow: 0 5px 11px 5px rgba(0,0,0,0.13); 
          .option{
            border: none;
            font-family: "GothamRounded-Book";
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000;
          }
        }
    .trigger{
          height: 36px;
          border-radius: 11px;
          background-color: #ffffff;
          border: solid 1px #73c5bc;
          i{
            position: relative;
            color: #8b8a8e;
            left: 70%;
            top: 0;
          }
        }
    }
    .form-check {
      margin-top: 17px;
      label {
        font-size: 14px;
        @media screen and (max-width: 768px) {
          font-size: 10px;
        }
      }
    }

    textarea {
      resize: none;
      overflow: hidden;
      height: auto !important;
      font-size: 15px !important;
      border-radius: 11px;
      background-color: #ffffff;
      border: solid 1px #73c5bc;
    }

    .video-text {
      margin-bottom: 22px;
      font-family: GothamRounded-Light;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }

    .video-tips {
      .hoverd-tooltip {
        font-family: GothamRounded-Medium;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        position: relative;
        margin-top: 20px;
        width: 261px;
        height: 36px;
        border-radius: 11px;
        background-color: #fbd4a5;
        i {
          color: #ffffff;
          margin-left: 20%;
/*          &:hover{
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          }*/
        }
        @media screen and (max-width: 768px) {
          padding: 9px;
          font-size: 10px;
        }
      }
    }

    .tooltip-header {
      font-family: GothamRounded-Bold;
      font-size: 11px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #73c5bc;
      @media screen and (max-width: 768px) {
        font-size: 10px;
      }
    }

    .tooltip-list {
      font-family: GothamRounded-Book;
      font-size: 11px;
      width: 230px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.64;
      letter-spacing: normal;
      color: #000000;
      li{
        counter-increment: list;
        list-style-type: none;
        position: relative;
      }
      li:before{
        color: #73c5bc;
        content: counter(list) ".";
      }
      @media screen and (max-width: 768px) {
        font-size: 10px;
      }
    }

    .tooltip-footer {
      font-family: GothamRounded-Light;
      font-size: 10px;
      font-weight: normal;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #000000;
      margin: 25px 23px 0px 8px;
      @media screen and (max-width: 768px) {
        font-size: 10px;
      }
    }
  }

  .btn-prev-step {
    font-family: GothamRounded-Light;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    position: relative;
    top: 25px;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
    @media screen and (max-width: 768px) {
      font-size: 11px;
      max-width: 125px;
    }
    .back-text{
      margin-left: 5px;
    }
  }
}
.selected_option{
  .option-name{
    color: #ffffff;
  }
    background: #73c5bc;
  &:hover{
    background: #73c5bc !important;
  }
}