.swal2-title#swal2-title{
  font-family: GothamRounded-Bold;
  font-size: 20px;
  color: #625f63;
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

}

.swal2-content#swal2-content{
  font-size: 14px;
  @media screen and (max-width: 768px) {
    font-size: 11px;
  }
}

.swal2-buttonswrapper {
  .swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel {
    width: 170px;
    height: 40px;
    object-fit: contain;
    display: block;
    font-family: GothamRounded-Medium;
    font-size: 14px;
    padding: 1px 6px;
    border: 2px solid #73c5bc !important;
    border-radius: 6px;
    @media screen and (max-width: 768px) {
      width: 140px;
    }
  }

  .swal2-styled.swal2-confirm {
    background-color: #73c5bc !important;
    float: right;
    color: #fff !important;
  }

  .swal2-styled.swal2-cancel
  {
    background-color: #fff !important;
    color:  #73c5bc !important;
  }
}

.verification-question {
  font-family: GothamRounded-Medium;
}

.swal2-icon.swal2-question {
  width: 65px;
  height: 65px;
  font-size: 55px !important;
  line-height: 70px !important;
  margin: 10px auto 10px;
}

.swal2-icon.swal2-success{
  width: 65px;
  height: 65px;
  margin: 15px auto 25px;
  .swal2-success-line-tip, .swal2-success-line-long{
    background-color: #73c5bc !important;
  }
  .swal2-success-line-long{
    width: 40px !important;
    right: 4px !important;
    top: 33px !important;
  }
  .swal2-success-line-tip{
    left: 9px !important;
    top: 38px !important;
  }


  .swal2-success-ring{
    width: 65px !important;
    height: 65px !important;
    border-color: #73c5bc !important;
  }
}

.verification-options {
  font-family: GothamRounded-Bold;
  padding-top: 20px;
  label {
    padding: 10px 30px;
  }
  @media screen and (max-width: 768px) {
    label {
      padding: 0 10px;
    }
  }
}

.input-numbers-container{
  font-family: GothamRounded-Bold;
  padding: 35px 0;

  @media screen and (max-width: 768px) {
    padding: 15px 0;
  }

  .input-group-varification{
    text-align: center;
    margin: 10px;
    input{
      width: 35px;
      height: 35px;
      text-align: center;
      display: inline-block;
      margin: 5px;
    }
  }
  .btn-resend-code, .btn-resend-code:hover, .btn-resend-code:focus{
    color: #73c5bc;
  }
}