.qualification-extend {
  justify-content: flex-start;
  font-size: 15px;
  font-family: GothamRounded-Light;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  position: relative;
  right: 14%;
  top: 72px;


  .btn-extend {
    width: 27px;
    height: 27px;
    background-color: #81d4cb;
    border-radius: 50%;
    margin: 43px 12px 43px 0;
  }

  .btn-extend, .btn-extend:hover, .btn-extend:active, .btn-extend:visited, .btn-extend:focus {
    color: #fdfcff;
    text-decoration: none;
  }
}

.delete-control {
  margin-top: 30px;
  font-family: GothamRounded-Medium;
  font-size: 11px;
  cursor: pointer;
}