.alert {
    border-radius: 0;
    margin-left: 0px;
    margin-right: 0px;
    .icon, p {
        display: inline-block;
    }
    p {
        max-width: 90%;
        line-height: 22px;
    }
    a {
        color: inherit;
    }
}

.alert.alert-info {
    background-color: $alert-info-background-color !important;
    border-color: $main-border-color;
    color: $text-color !important;
}

.alert.alert-info .icon {
    background: url('../img/design/alert-icon.png') no-repeat;
    width: 32px;
    height: 30px;
    margin-right: 23px;
}