@mixin caregiver-row-thumbnail {
    img {
        border-radius: 50px;
        margin: 10px 20px;
        margin-right: 10px;
    }
}

.panel {
    color: #000;
    border-radius: 0;
    border-width: 2px;
    border-color: $main-border-color;
}
.caregivers-row {
    min-height: 70px !important;
    line-height: 70px;
    @include caregiver-row-thumbnail();
    img, .name, .actions {
        display: inline-block;
    }
    .actions {
        padding-top: 0 !important;
    }
}

.favorite-caregivers-row {
    @include clearfix();
    min-height: 70px !important;
    img, .name, .actions, .notes {
        display: inline-block;
    }

    @include caregiver-row-thumbnail();
    img {
        float: left;
        margin-right: 0;
    }
    .name {
        @include make-lg-column(3);
    }
    .name .saved-date {
        font-size: 12px;
        color: $main-icon-color;
    }
    .name, .notes {
        padding-top: 20px;
    }
    .notes {
        @include make-lg-column(5);
        a {
            display: inline-block;
        }
        padding-bottom: 10px;
    }
    .actions {
        @include make-lg-column(2);
        padding-top: 18px;
    }
}
.panel-body {
    padding: 20px;
}
.panel-row {
    min-height: 75px;
    border-bottom: 1px solid;
    border-color: $main-border-color;
    .panel-row-title {
        padding: 0 20px;
    }
    .panel-row-title h5 {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .with-padding {
        font-size: 1.2em;
        padding: 20px;
    }
    .with-padding h5 {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .options {
        padding: 20px 30px 30px 30px;
    }
    .options strong {
        font-size: 16px;
    }
    ul {
        list-style: none;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
    }
    ul li {
        padding: 0 8px;
        line-height: 50px;
        min-height: 50px;
        border-bottom: 1px solid;
        border-color: $main-border-color;
    }
    ul li input {
        float: right;
        margin-top: 17px;
    }
    &:last-child {
        border: none;
    }

    .field, .value, .actions {
        display: inline-block;
    }

    .field, .value {
        padding-top: 16px;
        font-family: Arial;
    }
    .field {
        width: 16.66666667%;
        font-size: 16px;
        font-weight: 700;
        width: 20%;
        height: 100%;
        vertical-align: top;
        padding-left: 20px;
    }
    .value {
        max-width: 60%;
    }
    .actions {
        float: right;
        text-align: right;
        margin-right: 20px;
        padding-top: 20px;
        max-width: 140px;
        vertical-align: top;
        a:not(:first-child) {
            margin-top: 20px;
        }
    }
    .actions.open .btn {
        width: 84px;
    }
    &.empty {
        display: flex;
        align-items: center;
        justify-content: center;
        color: hsl(180, 4%, 73%);
        h5 {
            display: inline-block;
        }
        p {
            margin-bottom: 30px;
        }
    }
    .form {
        margin-bottom: 30px;
    }
    .form .form-row {
        width: 100%;
        padding: 15px 0;
    }
    .form-row .form-field {
        width: 200px;
        display: inline-block;
    }
    .form-row .input-field {
        display: inline-block;
        width: 285px;
        & input {
            width: 100%;
            height: 36px;
        }
    }

    .main-action {
        padding-bottom: 30px;
        padding-left: 30px;
    }
    .main-action .btn {
        padding: 17px 30px;
    }
}

.add-billing-method {
    margin-top: 30px;
    line-height: 36px;
    .panel-row  {
        @include clearfix();
    }
    h5 {
        padding-top: 17px;
        padding-left: 40px;
        margin-bottom: 30px;
    }
    .form-row {
        margin-bottom: 30px;
        @include clearfix();
        padding: 0 20px;

        .field {
            @include make-lg-column(3, 20);
            padding-top: 0;
        }
        .value {
            padding-top: 0;
            @include make-lg-column(6 , 0);
            max-width: 400px;
            input {
                width: 100%;
            }
            .expiration-date {
                @include clearfix();
                .customselect {
                    min-width: 0;
                    max-width: 95px;
                }
                .month, .year {
                    display: inline-block;
                }
                .month {
                    margin-right: 20px;
                }
            }
            .security-code {
                @include clearfix();
                input {
                    max-width: 95px;
                 }
                a {
                    margin-left: 10px;
                }
            }
            .phone {
                @include clearfix();
                .int-code, .area-code, .number {
                    display: inline-block;
                }
                .int-code {
                    max-width: 75px;
                    margin-right: 10px;
                }
                .area-code {
                    max-width: 75px;
                    margin-right: 10px;
                }
                .number {
                    width: 222px;
                }
            }
            .customselect{
                width: 100%;
            }
        }
    }
    .billing-alert {
        @include make-row();
        @include make-lg-column-push(3);
        @include make-lg-column(6,0);
        margin-left: 10px;
        padding-right: 20px;
    }
    .alert {
        line-height: 1.45;
        margin-bottom: 30px;
        max-width: 400px;
        text-align: justify;
        padding-right: 45px;
    }
    .actions {
        @include make-lg-column-push(3);
        @include make-lg-column(5);
        width: auto !important;
        padding: 20px 0;
        padding-left: 10px;
        margin: 0 auto;
        max-width: 100%;
        .btn:not(:last-child) {
            margin-right: 20px;
        }
        a:not(:first-child) {
            margin-top: 0px;
        }
    }
}
.form--security-question {
    .customselect {
        width: 285px;
    }
    .check input[type=checkbox]  {
        width: 15px;
        height: auto;
        vertical-align: top;
    }
    label {
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        width: 90%;
        margin-left: 5px;
        vertical-align: middle;
    }
    .important-field {
        vertical-align: top;
        line-height: 40px;
    }
}
.thread-message {
    margin-top: 20px;
    .panel-row  {
        @include clearfix();
        position: relative;
    }
    @include caregiver-row-thumbnail();
    img {
        margin-top: 20px;
        margin-right: 0;
    }
    .caregiver-image {
        @include make-lg-column(1,0);
    }
    .content {
        padding-top: 25px;
        padding-bottom: 15px;
        @include make-lg-column(9,26px);
        .name {
            margin-bottom: 17px;
        }
    }
    .date-received {
        padding-top: 25px;
        @include make-lg-column(2, 60px);
        color: $main-icon-color;
        text-align: right;
    }
    .message-text {
        @include make-lg-column(6,40px);
        @include make-lg-column-push(2);
        padding: 30px 0;
        textarea {
            width: 100%;
            resize: none;
        }
    }
    .action {
        @include make-lg-column-pull(2);
        @include make-lg-column(2);
        position: absolute;
        bottom: 36px;
        right: 0px;
    }
}

.panel .job-details-nav {
    line-height: 80px;
    ul, ul li {
        padding: 0;
        margin: 0;
        border: none;
    }
    ul {
        padding-left: 30px;
        display: inline-block;
    }
    ul li:not(:last-child) {
        padding-right: 40px;
    }
    ul li a {
        &:hover .menu-item {
            border-bottom: 2px solid hsl(123, 43%, 75%);
        }
    }
    ul li .icon {
        vertical-align: sub;
        margin-right: 10px;
        border: none;
    }
    .all-job-applicants {
        float: right;
        padding-right: 30px;
        & a:hover {
            border-bottom: 2px solid hsl(123, 43%, 75%);
        }
    }
}

.caregiver-details {
    @include make-row();
    .panel-row {
        @include clearfix();
    }

    margin-top: 30px;
    .details-and-proposals {
        @include make-lg-column(9);
    }
    .qualifications, .client-activity {
        margin: 0;
        padding-bottom: 20px;
        @include make-lg-column(6,0);
        h6 {
            margin-top: 20px;
            font-weight: 600;
        }
        ul, ul li {
            margin: 0;
            padding: 0;
            border: none;
            min-height: 0;
            height: 100%;
            line-height: 1;
        }
        ul {
            padding-top: 7px;
        }
        ul li:not(:first-child) {
            padding-top: 13px;
        }
    }
    .details {
        padding: 20px;
        h5 {
            margin-top: 0;
        }
        p {
            margin: 0;
        }
    }
    .qualifications-and-activity {

        @include make-lg-column(12,40px);

        .row {
            padding: 10px 0;
        }
    }
    .qualifications  {

    }
    .client-activity {

    }
    .about-client {
        @include make-lg-column(3);
        .panel-row  {
            min-height: 52px;
        }
        .details {
            padding: 0;
            margin-left: 17px;
            h5 {
                line-height: 52px;
                margin: 0;
            }
        }
        .caregiver-info {
            padding: 20px;
            .caregiver .name {
                padding-top: 15px;
            }
            .caregiver img {
                margin: 0;
                margin-right: 10px;
            }
            .payment-method {
                margin-top: 17px;
            }
            .country {

            }
            .city {

            }
            .hire-rate {

            }
            .country,.hire-rate {
                margin-top: 30px;
                line-height: 2;
            }
            .member-since {
                margin-top: 30px;
                color: $main-icon-color;
            }
        }
    }
}

.proposals {
    margin-bottom: 60px;
    h6 {
        font-weight: 600;
    }
    .panel-row {
        @include clearfix();
        padding: 20px;
        &:first-child {
            padding: 10px 20px;
        }
        min-height: 50px;
        .headings {
            padding-top: 15px;
        }
    }
    .caregiver-name {
        @include make-lg-column(6,0);
    }
    .proposal-date {
        @include make-lg-column(3,0);
    }
    .initiated-by {
        @include make-lg-column(3,0);
    }
}

.panel--billing-methods {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    .panel-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-info {
        padding: 0 20px;
    }
    .card-info {
        font-weight: 700;
    }
    .actions {
        padding-top: 0;
    }
}