a {
    color:  hsl(124, 64%, 45%);
}

a.disabled {
    pointer-events: none;
    color: hsl(187, 7%, 73%);
}

a.btn-themed {
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: $text-color;
    height: auto;
    padding: 10px 20px;
    line-height: 11px;
    font-size: 1em;
    &:hover, &:active, &:focus, &:active:focus {
        color: $text-color;
        border-color: $primary-color;
    }
}

.btn-themed {
    border-color: $base-button-border-color;
    border-width: 2px;
}

.btn-back {
  background-color: $primary-button-back-color !important;
  border: 2px solid lightgray !important;
  color: #c2c2c2 !important;

  &:hover {
    background-color: lightgray !important;
    color: black !important;
    border: 2px solid gray !important;
  }
}

a.btn-primary.btn-themed, button.btn-primary.btn-themed {
    color: $primary-button-color;
    &:hover, &:active, &:focus, &:active:focus  {
        color: $primary-button-color;
        background-color: $primary-button-hover-color;
        border-color: $primary-button-hover-color;
    }
}

a.btn-primary.btn-themed, button.btn-primary.btn-themed {
    background-color: $primary-button-background-color;
    color: $primary-button-color;
    &:hover {
        background-color: $primary-button-hover-color;
        color: $primary-button-color;
    }
}


a.back-button {
    font-size: 14px;
}

a.back-button .back-icon {
    margin-right: 10px;
}

a.btn-main-action {
    font-family: 'Open Sans', sans-serif;
    height: 46px;
    padding: 16px 38px;
    font-size: 16px;
    font-weight: 600;
    background-color: $primary-color;
    border: 2px solid $primary-color;
    &:hover {
        background-color: $primary-hover-color;
        border-color: $primary-hover-color;
    }
}

a.btn-invite {
    font-family: 'Open Sans', sans-serif;
    color: $primary-color;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 22px;
    height: 46px;
    border: 2px solid $base-border-color;
}

a.btn-caregiver-option {
    color: $primary-color;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    width: 217px;
    line-height: 22px;
    text-align: center;
    height: 46px;
    border: 2px solid $base-border-color;
    &:hover {
        color: $primary-color;
    }

    &.btn-contact {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
        &:hover {
            background-color: $primary-button-hover-color;
            color: $primary-button-color;
        }
    }
}

a.btn-preview {
    height: 50px;
    padding: 18px 48px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: $main-icon-color;
    &:hover {
        color: $text-color;
        border-color: $base-border-color;
    }
}

a.btn-send-message {
    height: 50px;
    padding: 18px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: hsl(170, 9%, 59%);
    background-color: hsl(168, 12%, 92%);
    border: none;
    line-height: 1;
}

a.btn-contract-actions {
    height: 46px;
    color: $primary-color;
    padding: 16px 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.btn-send {
  height: 54px;
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: $primary-button-hover-color;
    color: $primary-button-color;
  }
}