@mixin list-style-for-FindCaregivers() {
    height: 46px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid $base-border-color;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        background-color: $info-color;
        border-color: $main-border-color;
    }
    &.active {
        background-color: $primary-color-active-background;
        border-color: $primary-color;
    }
}

.FindCaregivers {

    @include e('address-range') {
        @include make-row();
    }

    @include e('address') {
        @include make-lg-column(6);

        input {
            width: 100%;
            height: 50px;
        }
    }

    @include e('range') {
        @include make-lg-column(6);

        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        strong {
            flex:1;
        }
        #slider {
            flex: 4;
            // This class is added to the element you call .noUiSlider() on. Has border, background and other styling properties to establish the slider design.
            background: transparent;
            box-shadow: none;
            border-radius: 0;
            border: none;
            max-width: 405px;
            align-self: flex-start;
            margin-top: 10px;
            background: url('../img/design/slider-line.png') no-repeat;
            height: 23px;
            width: 405px;
            .noUi-base {
                width: 360px;
            }
            .noUi-horizontal .noUi-handle {
                top: 0;
                left: 10px;
            }
            .noUi-handle.noUi-handle-lower {
                top: 0;
                left: 10px;
                width: 27px;
                height: 29px;
            }
            .noUi-handle {
                background: #FFF;
                background: url('../img/design/slider-handle.png') no-repeat;
                cursor: pointer;
            }
            .noUi-pips.noUi-pips-horizontal {
                width: 440px;
                display: flex;
            }
            .noUi-value.noUi-value-horizontal.noUi-value-large {
                flex: 1;
                padding-left: 15px;
                font-size: 12px;
                margin-top: 5px;
                color: black;
            }
        }


    }

    @include e('filters') {
        @include clearfix();
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-top: 37px;
        .customselect {
            min-width: 227px;
        }
        @include m('hidden') {
            display: none;
            border-bottom: 2px solid $main-border-color;
            margin-bottom: 30px;
        }
    }
    @include e('half-column') {
        @include make-lg-column(6);
    }
    @include e('filter') {
        flex: 1;
        .customselect {
            .list {
                border-radius: 3px;
            }
            .trigger {
                border-radius: 3px;
                height: 50px;
                line-height: 46px;
                padding: 0 10px !important;
                &:before {
                    top: 21px;
                }
              &.required {
                border-color: $base-border-required-color;
              }
              &.invalid {
                border-color: $base-border-invalid-color;
              }
              @media (max-width: 1199px) {
                  .text_outer {
                      padding-right: 15px;
                  }
              }
            }
            .option {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 48px;
                padding: 0 10px !important;
                .icon {
                    margin-right: 10px;
                    margin-top: 0;
                }
                .option-name {
                    flex: 1;
                    max-width: 174px;
                }
            }
        }

        @include m('care-type') {

        }
        @include m('child-age') {

        }
        @include m('availability') {

        }
        @include m('employment-type') {

        }
        @include m('qualifications') {
            display: flex;

            label {
                display: block;
                line-height: 46px;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                margin-left: 9px;
            }
            li {
                min-width: 404px;
                @include list-style-for-FindCaregivers();
                padding-left: 20px;
                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
        @include m('w200') {
            display: flex;

            label {
                display: block;
                line-height: 46px;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                margin-left: 9px;
            }
            li {
                width: 200px;
                @include list-style-for-FindCaregivers();
                padding-left: 20px;
                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
        @include m('w300') {
            display: flex;

            label {
                display: block;
                line-height: 46px;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                margin-left: 9px;
            }
            li {
                min-width: 203px;
                min-height: 46px;
                @include list-style-for-FindCaregivers();
                padding-left: 20px;
                padding-right: 13px;
                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
        @include m('exp') {
            display: flex;
            align-items: center;
            margin-top: 30px;
            &:last-child {
                margin-bottom: 30px;
            }
            label {
                display: block;
                max-width: 155px;
                width: 155px;
                margin-right: 16px;
            }
            .customselect {
                width: 227px;
                .option-name {
                    max-width: 100% !important;
                }
            }
        }
        @include m('range') {
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            ul {
                display: flex;
            }
            li {
                @include list-style-for-FindCaregivers();
                width: 80px;
                justify-content: center;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }


            label {
                display: block;
                max-width: 155px;
                width: 155px;
                margin-right: 16px;
            }
        }
    }
    @include e('action') {
        margin-top: 25px;
        a {
            max-width: 132px;
            width: 132px;
            height: 50px;
            font-weight: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 50px;
            padding: 0;
        }
    }
    .FindCaregivers__filter--range ul ,.FindCaregivers__range{

        display: block ;


    }
    .FindCaregivers__action{
        margin-top: 63px !important;
        margin-left: 6px;
    }
    @include m('advanced-filters') {
        @include clearfix();
        //.FindCaregivers__filters {
        //    //@include make-row();
        //    margin-top: 0;
        //    align-items: flex-start;
        //    //display: block !important;
        //    -webkit-box-pack: start;
        //    justify-content: flex-start;
        //    -webkit-box-align: center;
        //    align-items: center;
        //    margin-top: 37px;
        //
        //}
    }
    .FindCaregivers__filters {
        display: -ms-flexbox;
        display: block;
        justify-content: flex-start;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 37px;
    }

    @include e('toggle-filters') {
        margin: 30px 0;
        a {
            text-align: center;
            display: block;
            max-width: 232px;
            margin: 0 auto;
            font-weight: 600;
            font-size: 16px;
            color: $primary-color;
            height: 40px;
            font-family: 'Open Sans', sans-serif;
            line-height: 1;
        }
        position: relative;
        z-index: 1;

        &:before {
            border-top: 2px solid $main-border-color;
            content:"";
            margin: 0 auto; /* this centers the line to the full width specified */
            position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
            top: 50%; left: 0; right: 0; bottom: 0;
            width: 100%;
            z-index: -1;
        }
    }
}

#map {
    @include make-lg-column(12);
    height: 500px;
    margin-bottom: 60px;
}

.job-form .FindCaregivers__filter  .list-inline .active  {
      background-image: url("../img/design/checkmark-icon.png");
      background-repeat: no-repeat;
      background-position: left 5px center;
      padding-left: 31px;
}

.FindCaregivers__filter .list-inline > li {
  padding-left: 20px;
}


.FindCaregivers__half-column {
    .active {
        .icon-status {
            display: none;
            width: 0;
            height: 0;
        }
    }
    .FindCaregivers__filter {
        >div {
            overflow: hidden;
            padding: 6px;
        }
    }
    .icon-status {
        display: none !important;
    }
}




