.HireCaregiver {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    @include e('image') {
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    @include e('header') {
        flex: 1;
        margin-left: 20px;
    }
}

.Panel--HireCaregivers {
    .panel-row {
        @include clearfix();
        padding: 0 20px;
    }
}

.HireCaregiversForm {
    @include e('row') {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        @include m('additional-info') {
            align-items: flex-start;
            margin-top: 30px;
        }
    }

    @include e('heading') {
        padding: 0 20px;
        margin-top: 30px;
    }

    @include e('field') {
        padding: 0 20px;
        font-size: 16px;
        width: 225px;
        @include m('additional-info') {
            font-size: 22px;
            font-family: 'Open Sans', sans-serif;
        }
    }

    @include e('value') {
        input, textarea {
            width: 400px;
        }
        @include m('start-date') {
            display: flex;
            align-items: center;
            input {
                width: 95px;
            }
            .icon {
                margin-right: 10px;
            }
        }
        @include m('additional-info') {
            height: 150px;
        }
    }
    @include e('hourly-rate') {
        display: flex;
        align-items: center;
        input {
            width: 65px;
            text-align: right;
        }
    }

    @include e('message') {
        color: hsl(187, 6%, 72%);
        font-size: 12px;
        margin-top: 5px;
        flex: 1;
    }

    @include e('currency') {
        padding: 0 10px;
    }

    @include e('rate') {
        padding: 0 10px;
    }

    @include e('actions') {
        margin: 30px 0;
        margin-left: 225px;
        .check {
            width: 400px;
            display: flex;
            margin-bottom: 20px;
            label {
                margin-left: 10px;
            }
        }
        label {
            font-weight: 400;
        }

        .btn-preview {
            margin-left: 20px;
        }

    }

    .add-billing-method {
        margin-top: 0;

        h5 {
            padding: 0 20px;
            margin-top: 30px;
        }
        .form-row {
            padding: 0;
            .field {
                width: 225px;
            }

        }
        .billing-alert {
            left: 215px;
        }
    }
}

