.back-icon, .icon-proposals-active {
    background: url('../img/design/back-icon.png');
    width: 20px;
    height: 19px;
    display: inline-block;
    vertical-align: top;
}

.icon-search {
    background : url('../img/design/search-icon-focus.png');
    width: 21px;
    height: 20px;
    display: inline-block;
}
.icon-delete {
    background : url('../img/design/delete-icon.png');
    width: 18px;
    height: 17px;
    display: inline-block;
}

.icon-checkmark {
    background : url('../img/design/checkmark-icon.png');
    width: 19px;
    height: 12px;
    display: inline-block;
}

.icon-star {
    background : url('../img/design/icon-star-active.png');
    width: 16px;
    height: 15px;
    display: inline-block;
}
.icon-star-inactive {
    background : url('../img/design/star-icon-inactive.png');
    width: 16px;
    height: 15px;
    display: inline-block;
}
.icon-half-star {
    background : url('../img/design/icon-half-star.png');
    width: 16px;
    height: 15px;
    display: inline-block;
}

.icon-hired {
    background : url('../img/design/hired-icon.png');
    width: 20px;
    height: 18px;
    display: inline-block;
    transition: all 0.5s ease;
    li:hover &, .active & {
        background : url('../img/design/hired-icon-hover.png');
    }
}

.icon-messaged {
    background : url('../img/design/messaged-icon.png');
    width: 21px;
    height: 21px;
    display: inline-block;
    transition: all 0.5s ease;
    li:hover &, .active &, button:hover & {
        background : url('../img/design/messaged-icon-hover.png');
    }
    .applicants .menu li:hover & {
        background : url('../img/design/messaged-icon.png');
    }
    .applicants .menu .active & {
        background : url('../img/design/messaged-icon-active.png');
    }
}

.icon-favorites {
    background : url('../img/design/favorites-icon.png');
    width: 20px;
    height: 17px;
    display: inline-block;
    transition: all 0.5s ease;
    li:hover &, .active & {
        background : url('../img/design/favorites-icon-hover.png');
    }
}

.icon-recently-viewed {
    background : url('../img/design/recently-viewed-icon.png');
    width: 20px;
    height: 19px;
    display: inline-block;
    transition: all 0.5s ease;
    li:hover &, .active & {
        background : url('../img/design/recently-viewed-icon-hover.png');
    }
}

.icon-inbox {
    background : url('../img/design/inbox-icon.png');
    width: 20px;
    height: 19px;
    display: inline-block;
    transition: all 0.5s ease;
    li:hover &, .active & {
        background : url('../img/design/inbox-icon-hover.png');
    }
}

.icon-sent {
    background : url('../img/design/sent-icon.png');
    width: 20px;
    height: 19px;
    display: inline-block;
    transition: all 0.5s ease;
    li:hover &, .active & {
        background : url('../img/design/sent-icon-hover.png');
    }
}

.icon-archive {
    background : url('../img/design/archive-icon.png');
    width: 20px;
    height: 18px;
    display: inline-block;
    transition: all 0.5s ease;
    li:hover &, .active &, button:hover & {
        background : url('../img/design/archive-icon-hover.png');
    }
}

.icon-edit-job {
    background : url('../img/design/edit-job-icon.png');
    width: 20px;
    height: 19px;
    display: inline-block;
}
.icon-close-job {
    background : url('../img/design/close-job-icon.png');
    width: 18px;
    height: 17px;
    display: inline-block;
}
.icon-repost-job {
    background : url('../img/design/repost-job-icon.png');
    width: 25px;
    height: 19px;
    display: inline-block;
}

.icon-make-public {
    background : url('../img/design/make-public-icon.png');
    width: 22px;
    height: 21px;
    display: inline-block;
}

.icon-proposals-active {
    transform: rotate(90deg);
}

.icon-applicants {
    background : url('../img/design/applicants-icon.png');
    width: 18px;
    height: 19px;
    display: inline-block;
    .active & {
        background : url('../img/design/applicants-icon-active.png');
    }
}

.icon-shortlisted {
    background : url('../img/design/shortlisted-icon.png');
    width: 22px;
    height: 20px;
    display: inline-block;
    .active & {
        background : url('../img/design/shortlisted-icon-active.png');
    }
    .actions a:hover & {
        background : url('../img/design/shortlisted-icon-hover.png');
    }
    .actions .active & {
        background : url('../img/design/shortlisted-icon-active-action.png');
    }
}

.icon-hidden {
    background : url('../img/design/hidden-icon.png');
    width: 21px;
    height: 20px;
    display: inline-block;
    .active & {
        background : url('../img/design/hidden-icon-active.png');
    }
   .actions a:hover & {
        background : url('../img/design/hidden-icon-hover.png');
    }
    .actions .active & {
        background : url('../img/design/hidden-icon-active-action.png');
    }
}

.customSelectMultiple .icon-status {
    display: inline-block;
    margin: 0;
    float: right;
    background: url('../img/design/checkmark-icon.png');
}

.days.list-inline {
    li.active:not(.set) {
        .icon-status.icon-not-checked {
            visibility: hidden;
        }
    }
}

.icon-status {
    width: 15px;
    height: 14px;
    display: block;
    //background: url("../img/design/days-not-checked-icon.png");
    margin: 0 auto;
    margin-top: 10px;
    .active & {
        background: url('../img/design/checkmark-icon.png');
    }
    .active.set & {
        background: url("../img/design/days-not-checked-icon.png");
        width: 15px;
        height: 14px;
        visibility: visible;
    }
}

.icon-calendar {
    width: 20px;
    height: 19px;
    display: block;
    background: url("../img/design/calendar-icon.png");
    margin: 0 auto;
}

.icon-view-profile {
    background : url('../img/design/view-profile-icon.png');
    width: 18px;
    height: 19px;
    display: inline-block;
    li:hover &, button:hover & {
        background : url('../img/design/view-profile-icon-hover.png');
    }
}

.icon-settings {
    background : url('../img/design/settings-icon.png');
    width: 19px;
    height: 19px;
    display: inline-block;
    li:hover &, button:hover & {
        background : url('../img/design/settings-icon-hover.png');
    }
}

.icon-logout {
    background : url('../img/design/logout-icon.png');
    width: 19px;
    height: 17px;
    display: inline-block;
    li:hover & {
        background : url('../img/design/logout-icon-hover.png');
    }
}