.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    & + label {
        color: $text-color;
        background-color: $base-color;
        display: inline-block;
        padding: 10px 20px;
        line-height: 11px;
        border-radius: 4px;
        font-weight: 400;
        border: 2px solid $base-border-color;
        cursor: pointer; /* "hand" cursor */
    }
    & + label:hover, &:active + label, &:focus + label, &:active:focus + label {
        color: $text-color;
        border-color: $primary-color;
    }

    &:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
    & + label * {
        pointer-events: none;
    }
}


input[type="password"] {
    font:small-caption;
    font-size:16px;
}

.error input, .error textarea {
    border-color: hsl(358, 83%, 45%) !important;
}
.error .error-message {
    color: hsl(171, 9%, 59%);
    font-size: 11px;
    padding: 10px;
    line-height: 1;
    font-family: 'Arial Regular', sans-serif;
}

.error .error-message-text {
    color: hsl(358, 83%, 45%);
    font-size: 11px;
    padding: 10px;
    line-height: 1;
    font-family: 'Arial Regular', sans-serif;
}

input, select, textarea {
    border: 2px solid;
    border-color: $base-border-color;
    padding: 0 10px;
    border-radius: 0;
    min-height: 36px;
    &:focus {
        outline: none;
        border-color: $secondary-color;
    }
}

textarea {
    padding: 10px !important;
    line-height: 1.5 !important;
}
#my-info{
    .customselect {
        position: absolute !important;

    }
}
.customselect {
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: inline-block;
    min-width: 131px;
}

.actions-group {
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: inline-block;
    min-width: 131px;
}

.actions-group .trigger {
    cursor: pointer;
    border: 2px solid $base-button-border-color;
    background-color: $input-background-color;
    font-size: 14px;
    line-height: 14px;
    color: $text-color;
    padding: 9px 53px 9px 10px;
    position: relative;
    text-align: left;
    border-radius: 5px;
}

.actions-group .trigger:before {
    content: '';
    position: absolute;
    top: 15px;
    right: 10px;
    width: 10px;
    height: 6px;
    background-image: url("../img/design/actions-group-arrow.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.actions-group .list {
    font-size: 14px;
    line-height: 14px;
    color: $text-color;
    border: 2px solid $selected-active-color;
    border-radius: 5px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0;
    z-index: -1;
    overflow-y: auto;
    position: absolute !important;
    padding-bottom: 0 !important;
    transition: all 0.1s linear;
}

.actions-group .list .option {
    padding: 9px 10px 9px 10px;
    cursor: pointer;
    border-bottom: 2px solid $base-border-color;
    a {
        color: $text-color;
        display: block;
        height: 100%;
        width: 100%;
    }
}
.actions-group .list .option:only-child, .actions-group .list .option:last-child {
    border-bottom: 0;
}

.actions-group .list .option:hover {
    background-color: $select-hover-background-color;
    color: $text-color;
}

.actions-group.open .list {
    display: block;
    opacity: 1;
    z-index: 99999;
}


.full-width  {
    line-height: 1;
    @include make-row();
}

.full-width label {
    line-height: 40px;
}
.full-width .customselect, .full-width input, .full-width textarea {
    width: 100%;
}

.full-width textarea {
    resize: vertical; /* user can resize vertically, but width is fixed */
}

.actions .full-width.btn {
    width: 100%;
    margin: 7px 0;
}

.customselect .trigger {
    border: 2px solid $base-button-border-color;
    background-color: $input-background-color;
    font-size: 14px;
    line-height: 14px;
    color: $text-color;
    padding: 10px 50px 10px 10px;
    position: relative;
}

.customselect .trigger:before {
    content: '';
    position: absolute;
    top: 15px;
    right: 10px;
    width: 10px;
    height: 6px;
    background-image: url("../img/design/customselect_arrow.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.customselect.v1 select {
    opacity: 0;
    position: absolute;
    border: 0;
    top: 0;
    left: 1px;
    width: 100%;
    height: 35px;
    z-index: 2;
    -webkit-appearance: menulist-button;
}

.customselect.v1 .list {
  display: none;
}

.customselect.v2 select {
  display: none;
}

.customselect.v2 .trigger {
  cursor: pointer;
}

.customselect.v2.mobile select {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 10px;
    bottom: 10px;
    opacity: 0;
    display: block;
    width: 100%;
}

.customselect.v2 .list {
    font-size: 14px;
    line-height: 14px;
    color: $text-color;
    border: 2px solid $selected-active-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0;
    z-index: -1;
    overflow-y: auto;
    position: absolute !important;
    padding-bottom: 0 !important;
    max-height: 240px;
    transition: all 0.1s linear;
}
.form-row .customselect.v2 .list {
    max-height: 254px;
}
.hour-range .customselect.v2 .list {
    max-height: 240px;
}

.customselect.v2 .list .option {
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    border-bottom: 2px solid $base-border-color;
}
.customselect.v2 .list .option:only-child, .customselect.v2 .list .option:last-child {
    border-bottom: 0;
}

.customselect.v2 .list .option:hover {
    background-color: $select-hover-background-color;
    color: $text-color;
}

.customselect.v2.open .list {
    display: block;
    opacity: 1;
    z-index: 99999;
    max-height: 240px;
}

.error .customselect .trigger {
    border-color: $error-border-color;
}

.form-row .customselect.v2.open .list {
    max-height: 254px;
}
.inner-addon {
    position: relative;
}

.filter input  {
    height: 46px;
    width: 100%;
    transition: all 0.5s ease;
}
input:focus + .icon-search {
    background: url('../img/design/search-icon-focus.png');
}
/* style icon */
.inner-addon .icon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .icon  { left:  11px; top: 14px;}
.right-addon .icon { right: 0px;}

.inner-addon .icon-phone-addon {
    position: absolute;
    top: 0;
    left: 0;
    padding:0;
    padding-left: 10px;
}

.inner-addon .icon-phone-addon-right {
    position: absolute;
    top: 0;
    right: 0;
    padding:0;
    padding-right: 10px;
}

.left-addon.phone-addon input  { padding-left: 20px; }
.right-addon.phone-addon input { padding-right: 20px;}

/* add padding  */
.left-addon input  { padding-left:  42px; }
.right-addon input { padding-right: 42px; }

.checkbox {
    margin: 0;
    input {
        margin-top: 0;
        margin-bottom: 0;
    }
}