.skill, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: hsl(188, 13%, 48%);
    background-color: hsl(190, 60%, 96%);
    border: 1px solid hsl(171, 31%, 87%);
    padding: 6px 9px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    margin-right: 0 !important;
}
.tagit-close .ui-icon-close {
    background: url('../img/design/skill-close-icon.png');
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 12px;
    height: 11px;
}

ul.tagit .skill {
    margin-right: 0;
}
// Tag it basic theme
ul.tagit {
    padding: 1px 20px;
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 2px solid $base-border-color;
    background-color: #fff;
}
ul.tagit li {
    display: block;
    float: left;
}
ul.tagit li.tagit-choice {
    position: relative;
    line-height: inherit;
}
input.tagit-hidden-field {
    display: none;
}
ul.tagit li.tagit-choice-read-only {
    padding: .2em .5em .2em .5em;
}

ul.tagit li.tagit-choice-editable {
    padding-right: 28px;
}

ul.tagit li.tagit-new {
    padding: 0 10px;
}

ul.tagit li.tagit-choice {
    margin-left: 4px;
}

ul.tagit li.tagit-choice a.tagit-label {
    cursor: pointer;
    text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -5px;
    margin-right: 8px;
}

/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    // margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"] {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: inherit;
    outline: none;
    height: 36px;
}

.error ul.tagit {
    border-color: $error-border-color !important;
}