<template>
    <div class="page-wrapper" >
        <app-header :user-info="userInfo">
            <caregiver-header></caregiver-header>
        </app-header>
        <caregiver-summary
                :is-form-edit="false"
                :user-info="userInfo"
                :completeness_error="completeness_error"
                :verifide="verifide"
                :available-now="availableNow">
        </caregiver-summary>
        <div class="app-content container-fluid home-conteiner">
            <div class="row">
                <div class="col-md-offset-1 col-md-4 col-md-push-6 user-info-content">
                    <user-info-block
                            :user-info="userInfo"
                            :completeness_error="completeness_error"
                            :verification_error="verification_error"
                            :progress="progress">
                    </user-info-block>
                </div>
                <div class="col-md-6 col-md-pull-4 job-searching-content">
                    <job-searching-block
                            :criterias="criterias"
                            :user-info="userInfo">
                    </job-searching-block>
                </div>
            </div>
        </div>
        <div class="app-footer">
            <app-footer></app-footer>
        </div>
    </div>
</template>

<script>

    import Header from './Header/Header.vue';
    import CaregiverHeader from './Header/CaregiverHeader.vue'
    import Footer from './../Footer.vue';

    import {userInfoMixin} from './../../userInfoMixin';
    import CaregiverSummary from './Particials/Caregiver/CaregiverSummary.vue';
    import JobSearchingBlock from './Particials/JobSearching.vue';
    import UserInfoBlock from './Particials/UserInfoControls.vue';

    export default {
        el: '#employee-layout',
        mixins: [userInfoMixin],
        data() {
            return {
                cb_test: true,
                isFormEdit: true,
            };
        },
        components: {
            appHeader: Header,
            appFooter: Footer,
            caregiverHeader: CaregiverHeader,
            jobSearchingBlock: JobSearchingBlock,
            userInfoBlock: UserInfoBlock,
            caregiverSummary: CaregiverSummary
        },
        computed: {
            completeness_error(){
                return Boolean(this.progress && Object.keys(this.progress.profile_completeness).length);
            },
            verification_error(){
                return Boolean(this.progress && Object.keys(this.progress.verification_requirements).length);
            },
            verifide(){
                return false;
            },
            availableNow(){
                return true;
            }
        },
        methods: {
            toggleFilter() {
                $('#jobs-filter').slideToggle();
            },
            scrollMeTo(refName) {
                $('html, body').animate({
                    scrollTop: $("#" + refName).offset().top
                }, 500);
            }
        },
        created() {
            this.loadProgress();
        }
    }
</script>