<template>
    <div class="page-wrapper">
        <app-header>
            <guest-header></guest-header>
        </app-header>
        <div class="app-content">
            <slot></slot>
        </div>
        <div class="app-footer">
            <app-footer></app-footer>
        </div>
    </div>
</template>

<script>
    import Header from './Header/Header.vue';
    import GuestHeader from './Header/GuestHeder.vue';
    import Content from './../Content.vue';
    import Footer from './../Footer.vue';
    export default {
        components: {
            appHeader: Header,
            appFooter: Footer,
            appContent: Content,
            guestHeader: GuestHeader,
        },
    }
</script>

<style>

</style>