.caregiver-profile {
    @include make-row();
    margin-top: 70px;
    .caregiver-info {
        margin-top: 20px;
    }
    .remove_data {
        padding-top: 8px;
    }
}

.caregiver-edit {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    .btn-caregiver-option:not(:last-child) {
        margin-bottom: 10px;
    }
}

.set-edit {
    font-size: 12px;
    font-weight: normal;
    padding-left: 7px;
    text-decoration: underline;
}

#availability-modal {
    .list-inline {
        li {
            padding: 5px 15px;
            width: 100%;
        }
    }
}

#qualifications-modal {

    hr {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .customselect.v2 {
        min-width: 200px;
    }
}

.FindCaregivers__filter--qualifications li {
    min-width: 404px;
    height: 46px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 20px;
}

.ui-autocomplete.ui-widget.ui-widget-content {
    z-index: 99999;
}

.file-select {
    .progress {
        width: 200px;
        display: inline-block;
        margin-bottom: -6px;
    }
}

#name-title-modal {
    .row.form-row {
        padding-top: 8px;

        .no_padding {
            padding-top: 8px;
        }
        .col-md-12 {
            padding: 0;
        }
    }
}
