.account-creation-title {
  width: 264px;
  height: 24px;
  font-family: GothamRounded;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #73c5bc;
  margin: 51px auto 17px auto;
}

.register-form, .login-form {
  margin: auto;
  max-width: 425px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  input, select {
    font-family: GothamRounded-Book;
    font-size: 14px;
    height: 40px;
  }
  .first-name{
    width: 200px;
    display: inline-block;
    input {
      width: 183px;
      height: 36px;
      border-radius: 11px;
      background-color: #ffffff;
      border: solid 1px #73c5bc;
    }
  }
  .last-name{
    width: 200px;
    display: inline-block;
     input {
      width: 183px;
      height: 36px;
      border-radius: 11px;
      background-color: #ffffff;
      border: solid 1px #73c5bc;
      margin-left: 14px;
    }
  }
  .email-register{
     input {
      width: 401px;
      height: 36px;
      border-radius: 11px;
      background-color: #ffffff;
      border: solid 1px #73c5bc;
    }
  }
  .forgot-password-link{
      display: none;
  }
  .register-step{
    margin-top: 42px;
  }

  .input-group-btn button{
    color: #555555;
    height: 40px;
  }

  .password {
    position: relative;
  }

  .has-error .trigger, .has-error .input-group-btn button{
    border-color: #a94442;
  }

  .password input[type="password"] {
    padding-right: 30px;
  }

  .password a {
    right: 15px;
    position: absolute;
    top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #625f63;
  }

  .btn-register {
    width: 172px;
    height: 46px;
    border-radius: 8px;
    background-color: #fbd4a5;
    margin: 22px auto 30px;
    border-color: #fbd4a5;
  }

  .btn-register:hover, .btn-register:active, .btn-register:focus {
    outline: none;
    background-color: #fbd4a5;
    border-color: #fbd4a5;
    box-shadow :none;
  }

  .btn-register {
    span{
      width: 83px;
      height: 18px;
      font-family: GothamRounded;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
  }

  a.role-changer {
    font-family: GothamRounded-Book;
    font-size: 14px;
    text-decoration: none;
    color: #b0afb1;
  }

  .help-error{
    font-family: GothamRounded-Book;
    font-size: 12px;
    padding: 0 5px;
    margin-bottom: -12px;
  }
}

@media (max-width: 510px) {
.register-form, .login-form {
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  input, select {
    font-family: GothamRounded-Book;
    font-size: 14px;
    height: 40px;
  }
  .first-name{
    width: 100%;
    display: inline-block;
    input {
      width: 100%;
      height: 36px;
      border-radius: 11px;
      background-color: #ffffff;
      border: solid 1px #73c5bc;
    }
  }
  .last-name{
    width: 100%;
    display: inline-block;
     input {
      width: 100%;
      height: 36px;
      border-radius: 11px;
      background-color: #ffffff;
      border: solid 1px #73c5bc;
      margin-left: 0;
    }
  }
  .email-register{
     input {
      width: 100%;
      height: 36px;
      border-radius: 11px;
      background-color: #ffffff;
      border: solid 1px #73c5bc;
    }
  }
  }
  .forgot-password-link{
      display: block !important;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #545454;
  }
}
@media (max-height: 540px) {
  .account-creation-title {
    margin: 18px auto 17px auto;
  }
  .register-form{
    padding: 0;
    .register-step{
      margin-top: 22px;
    }
    .btn-register{
      margin: -5px auto 19px
    }
  }

}
