//.different-email {
//  font-family: GothamRounded-Bold;
//  font-size: 20px;
//  color: #625f63;
//  font-weight: 400;
//}
.flex-direction {
   flex-direction: column;
   height: 100%;
   .creat-account a{
      width: 149px;
      height: 14px;
      font-family: GothamRounded;
      font-size: 14px;
      font-weight: 540;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #545454;
   }
}
.email-image-wrapper .email-image {
    position: relative;
    left: 44%;
    bottom: 35px;
}
.confirmation-container {
  .confirmation-header {
    &.confirm, &.resend-new{
      margin: 0px auto 20px;
    }
    &.success{
      .confirmation-title{
        margin: -10px auto 10px;
      }
      /*margin: 20px;*/
    }
      font-family: GothamRounded;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #73c5bc;
   .success-image-wrapper{
      position: relative;
      bottom: 35px;
    }
    .confirmation-title {
      max-width: 390px;
      margin: 0 auto;
    }
    .confirmation-title, span {
      width: 343px;
      font-family: GothamRounded;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: #73c5bc;
      margin: 30px auto 16px;
      @media screen and (max-width: 510px) {
        width: 195px;
        font-size: 21px;
      }
    }
    .icon-error {
      width: 56px;
      height: 56px;
      position: relative;
      border-radius: 50%;
      display: inline-block;
      margin-right: 38px;
      box-sizing: border-box;
      border: 1px solid #f27474;
      .error-line-left, .error-line-right{
        position: absolute;
        height: 3px;
        width: 34px;
        background-color: #f27474;
        display: block;
        top: 26px;
        left: 10px;
      }
      .error-line-left{
        transform: rotate(45deg);
      }
      .error-line-right{
        transform: rotate(-45deg);
      }
    }
    .icon-success {
      margin-bottom: 10px;
      width: 65px;
      height: 65px;
      position: relative;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      border: 4px solid #73c5bc;
      .success-line-left, .success-line-right{
        position: absolute;
        border-radius: 3px;
        height: 5px;
        background-color: #73c5bc;
        display: block;
      }
      .success-line-left{
        width: 20px;
        left: 8px;
        top: 33px;
        transform: rotate(45deg);
      }
      .success-line-right{
        transform: rotate(-45deg);
        width: 35px;
        right: 5px;
        top: 28px;
      }
    }
  }

  .confirmation-body { 
    font-family: GothamRounded;
    font-size: 16px;
    line-height: 1.57;
    color: #000000;
    p {
      margin: 25px 15px;
    }
    input {
        width: 401px;
        height: 36px;
        border-radius: 11px;
        background-color: #ffffff;
        border: solid 1px #73c5bc;
        margin: 35px auto 0px;
      @media screen and (max-width: 510px) {
        width: 253px;
      }
    }
    span {
      color: #73c5bc;
    }
  }

  .confirmation-footer {
    text-align: center;
    margin: 40px 0;
    .btn-resend, .btn-cancel, .btn-ok {
      height: 40px;
      background-color: #73aec5;
      color: white;
      border: 1px solid #73aec5;
      border-radius: 3px;
      font-family: GothamRounded-Medium;
    }
    .btn-resend-new {
        width: 172px;
        height: 46px;
        color: #fff;
        border-radius: 8px;
        background-color: #fbd4a5;
        border:none;
    }
    .btn-ok {
      width: 172px;
      height: 46px;
      border-radius: 8px;
      background-color: #fbd4a5;
      border:none;
    }

    .btn-resend {
      width: 172px;
      height: 46px;
      border-radius: 8px;
      background-color: #fbd4a5;
      border:none;
    }

    .btn-resend:hover, .btn-resend-new:hover, .btn-resend:active,
    .btn-resend-new:active, .btn-resend:focus, .btn-resend-new:focus,
    .btn-ok:hover, .btn-ok:active, .btn-ok:focus {
      outline: none;
      background-color: #fbd4a5;
      border-color: #fbd4a5;
      box-shadow :none;
    }
    .btn-resend-new, .btn-cancel {
      min-width: 140px;
    }
    .btn-cancel {
      width: 172px;
      height: 46px;
      border-radius: 8px;
      background-color: #ffffff;
      border: solid 1px #fbd4a5;
      color: #858585;
      margin-left: 57px;
      @media screen and (max-width: 510px) {
        width: 172px;
        margin-left: 0;
        margin-top: 25px;
      }
    }

    .use-different {
      margin-top: 30px;
      a {
        font-family: GothamRounded-Book;
        font-size: 14px;
        color: #b0afb1;
        text-align: center;
        text-decoration: none;
        &:hover {
          color: #b0afb1;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 510px) {
  .confirmation-container .confirmation-header span{
    width: 197px;
    font-size: 21px;
  }
}