.gradient-body {
  width: 485px;
  /*opacity: 0.87;*/
  border-radius: 37px;
  background-color: #ffffff;
  border: solid 1px #73c5bc;
  margin: 15% 25px 20px;
  background: rgba(255, 255, 255, 0.87);

  .path {
    width: 122px;
    height: 2px;
    border: solid 0.6px #9b9b9b;
    margin: 0 auto;
  }

  .frame-handle {
    background-color: #73c5bc;
    font-family: GothamRounded-Medium;
    font-size: 14px;
    color: #fff;
    .login-handle {
      padding: 10px;
    }
  }
}

@media (max-width: 510px){
  #password-email .gradient-body {
      margin: 51% 25px 20px;
  }
}

@media (max-width: 780px){
  #password-email .gradient-body {
      margin: 34% 25px 20px;
  }
}

@media (max-height: 540px) {
  #registration .gradient-body {
      margin: 15% 25px 20px;
  }
  .email-image-wrapper{
    height: 33px;
  }
 #registration .confirmation-container .confirmation-body p {
    margin: 2px 15px;
  }
  #registration .confirmation-container .confirmation-footer{
    margin: 20px 0;
  }
  .creat-account {
    margin-bottom: 20px;
  }
}
