.role-selector {
  display: flex;
  flex-wrap: wrap;
  .role {

    min-height: 460px;
    @media screen and (max-width: 768px) {
      min-height: 300px;
    }

    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px;

    .title-selector {
      font-size: 20px;
      color: #625f63;
      font-family: GothamRounded-Bold;
      word-wrap: break-word;
      @media screen and (max-width: 768px) {
        font-size: 15px;
      }
    }

    .sub-title-selector {
      font-family: GothamRounded-Book;
      color: #8b8a8e;
      @media screen and (max-width: 768px) {
        font-size: 12px;
        max-width: 140px;
      }
    }

    .btn-role {
      width: 126px;
      height: 40px;
      margin-top: 15px;
      font-family: GothamRounded-Medium;
      font-size: 14px;
      padding: 10px 12px;
      border: none;
    }

    .btn-role.btn-success{
      background-color: #73c5bc;
    }

    .btn-role.btn-primary{
      background-color: #73adc5;
    }
  }
  .parents-role{
    border-right: 1px solid #979797;
  }
}

.footer-content {
  font-family: GothamRounded-Book;
  font-size: 14px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 15px;

  a {
    font-family: GothamRounded-Medium;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
  }
}
