<template>
    <div style="text-align: center;">
        <img style="margin: 50px 0" src="/img/logo.png" alt="Little ones" width="200px">
        <h1 >Sorry!</h1>
        <h2 >Currently the page is under construction...</h2>
    </div>
</template>

<script>

    export default {
        name: "parent-layout",
    }
</script>

<style scoped>

</style>