<template>
    <div v-if="userInfo && criterias">
        <div class="job-searching-block" id="search-jobs">
            <div class="search-job-header">
                <span class="input-fa-search"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search for jobs..">
                <div class="input-separator"></div>
                <span class="slider-button" @click="toggleFilter">Filters ({{countSelectedFilters}})
                <i v-bind:class="[filterIsOpen ? 'fa  fa-chevron-up' : 'fa fa-chevron-down']"></i>
            </span>
            </div>
            <div id="jobs-filter" >
                <div class="filter-body">
                    <label>What I Offer</label>
                    <ul class="list-unstyled pills-list row">
                        <div class="col-xs-4" v-for="pill in criterias.service">
                            <li class="text-center" :class="isSelected(pill)?'active':''"
                                @click="togglePill(pill)">{{pill.name}}
                        </li>
                        </div>
                    </ul>
                    <label>Age groups</label>
                    <ul class="list-unstyled pills-list row">
                        <div class="col-xs-4" v-for="pill in criterias.child_age">
                            <li class="text-center" :class="isSelected(pill)?'active':''"
                                @click="togglePill(pill)">{{pill.name}}
                        </li>
                        </div>
                    </ul>
                    <label>Location</label>
                    <div class="slider-box" >
                        <vue-slider
                            v-ref:slider
                            :dot-width="25"
                            :dot-height="25"
                            :data="sliderData"
                            :value.sync="sliderValue"
                        ></vue-slider>
                    </div>
                    <label>No Maximum</label>
                    <label class="pull-right">100km</label>

                </div>
                <div class="filter-footer">
                    <span @click="clearFilters()" class="btn-clear-filters">Clear All</span>
                    <span @click="applyFilters()" class="btn-apply-filters">Apply Filters</span>
                </div>
            </div>

            <div class="jobs">
                <div v-if="jobs" class="jobs-panel">
                    <div class="jobs-heading">Jobs Near You</div>
                    <div class="jobs-body">
                        <div class="job-item " v-for="job in jobs">
                            <div class="job-heading ">
                                <div class="avatar">
                                    <div class="initials" v-bind:style="{ 'background-color': getRandomColor()}"><span>{{job.initials}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 parent-name">
                                        <span><span class="bolder">{{job.parent_name}}</span> has posted a job</span>
                                    </div>
                                    <div class="col-sm-6 payment-verified">
                                        <span><i class="fa fa-check-circle" aria-hidden="true"></i> Payment Verified</span>
                                    </div>
                                </div>
                            </div>
                            <div class="job-body">
                                <div class="job-specifics">
                                    <span class="distance"><i class="fa fa-map-marker" aria-hidden="true"></i> {{job.distance}}</span>
                                    <span class="job-posted"><i class="fa fa-clock-o" aria-hidden="true"></i> {{job.posted}}</span>
                                    <span class="job-required"><i class="fa fa-clock-o" aria-hidden="true"></i> Required Now</span>
                                </div>
                                <div class="job-description text-justify">{{job.description}}</div>
                            </div>
                            <div class="job-footer">
                                <span @click="saveJob()" class="btn-save-job">Save Job</span>
                                <span @click="applyNow()" class="btn-apply-now" v-bind:class="{'disabled' : !verifide}" >Apply Now</span>
                            </div>
                        </div>
                    </div>
                    <div class="jobs-footer flex">
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                    </div>
                </div>
                <div class="no-jobs" v-else>
                    <p class="bolder">Stay Tuned!</p>
                    <p>
                        As soon as we have enough caregivers registered and verified we will invite parents to start listing jobs. This is where you will find jobs available in your local area!
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import PillsEditor from './../../Profile/Edit/PillsEditor.vue';
    import Checkbox from './../../CustomComponents/CheckboxWhite.vue';
    import Slider from 'vue-slider-component/src/vue-slider.vue';
    import {listColors} from '../../../listColors';

    export default {
        name: "job-searching",
        components: {
            checkboxWhite: Checkbox,
            pillsEditor: PillsEditor,
            vueSlider: Slider
        },
        mixins: [listColors],
        data() {
            return {
                selectedCriteriasIds: [],
                countSelectedFilters: 0,
                filterIsOpen: false,
                sliderValue: null,
                // jobs: [
                //     {
                //         id: '',
                //         parent_name: 'Nick C.',
                //         initials: 'N',
                //         distance: '3 km away',
                //         posted: 'Posted 13 minutes ago',
                //         required_now: true,
                //         favourite: true,
                //         description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec euismod ipsum. Maecenas ullamcorper sollicitudin lacus, ac gravida nisl dignissim a. Sed sed dolor justo. Duis ac libero a massa luctus malesuada eu in elit. Suspendisse feugiat eros vitae turpis pretium, nec venenatis magna cursus.',
                //         requirements: {
                //             children: '1 Child',
                //             age: '13 years old',
                //             car: 'Needs own car',
                //             care_type: 'Regular caregiving',
                //         },
                //         payment_verified: true
                //     },
                //     {
                //         id: '',
                //         parent_name: 'John D.',
                //         initials: 'J',
                //         distance: '3 km away',
                //         posted: 'Posted 13 minutes ago',
                //         required_now: true,
                //         favourite: true,
                //         description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec euismod ipsum. Maecenas ullamcorper sollicitudin lacus, ac gravida nisl dignissim a. Sed sed dolor justo. Duis ac libero a massa luctus malesuada eu in elit. Suspendisse feugiat eros vitae turpis pretium, nec venenatis magna cursus.',
                //         requirements: {
                //             children: '1 Child',
                //             age: '13 years old',
                //             car: 'Needs own car',
                //             care_type: 'Regular caregiving',
                //         },
                //         payment_verified: true
                //     },
                //     {
                //         id: '',
                //         parent_name: 'Justine J.',
                //         initials: 'J',
                //         distance: '3 km away',
                //         posted: 'Posted 13 minutes ago',
                //         required_now: true,
                //         favourite: false,
                //         description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec euismod ipsum. Maecenas ullamcorper sollicitudin lacus, ac gravida nisl dignissim a. Sed sed dolor justo. Duis ac libero a massa luctus malesuada eu in elit. Suspendisse feugiat eros vitae turpis pretium, nec venenatis magna cursus.',
                //         requirements: {
                //             children: '1 Child',
                //             age: '13 years old',
                //             car: 'Needs own car',
                //             care_type: 'Regular caregiving',
                //         },
                //         payment_verified: true
                //     },
                //     {
                //         id: 4,
                //         parent_name: 'Alex T.',
                //         initials: 'A',
                //         distance: '3 km away',
                //         posted: 'Posted 13 minutes ago',
                //         required_now: true,
                //         favourite: true,
                //         description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec euismod ipsum. Maecenas ullamcorper sollicitudin lacus, ac gravida nisl dignissim a. Sed sed dolor justo. Duis ac libero a massa luctus malesuada eu in elit. Suspendisse feugiat eros vitae turpis pretium, nec venenatis magna cursus.',
                //         requirements: {
                //             children: '1 Child',
                //             age: '13 years old',
                //             car: 'Needs own car',
                //             care_type: 'Regular caregiving',
                //         },
                //         payment_verified: true
                //     },
                // ],
            };
        },
        methods: {
            toggleFilter() {
                this.filterIsOpen = !this.filterIsOpen;
                $('#jobs-filter').slideToggle();
                if(this.filterIsOpen)
                    this.$refs.slider.refresh();
            },
            clearFilters(){
                this.sliderValue = this.sliderData[0];
                this.selectedCriteriasIds = [];
            },
            applyFilters(){
                this.toggleFilter();
                console.log(this.selectedCriteriasIds);
            },
            togglePill(pill) {
                if (!this.isSelected(pill))
                    this.selectedCriteriasIds.push(pill.id);
                else
                    this.selectedCriteriasIds = this.selectedCriteriasIds.filter((id) => id !== pill.id);
                this.countSelectedFilters = this.selectedCriteriasIds.length;
            },
            isSelected(pill) {
                return Boolean(this.selectedCriteriasIds.find((id) => id === pill.id));
            },
            scrollMeTo(refName) {
                $('html, body').animate({
                    scrollTop: $("#" + refName).offset().top
                }, 500);
            },
            setFiltersCriterias(){
                let range = this.userInfo.location_range[0];
                if(range.data){
                    this.sliderValue = range.name;
                    this.selectedCriteriasIds.push(range.id);
                }
                $.each(this.userInfo.service, (i, service) =>{
                    this.selectedCriteriasIds.push(service.id);
                });
                $.each(this.userInfo.child_age, (i, child_age) =>{
                    this.selectedCriteriasIds.push(child_age.id);
                });
                this.countSelectedFilters = this.selectedCriteriasIds.length;
            },
            saveJob(){

            },
            applyNow(){

            }
        },
        computed:{
            sliderData(){
                return ["No Maximum", "5km", "10km", "15km", "20km", "30km", "50km", "100km"];
            },
        },
        watch:{
            userInfo:{
                handler(){
                    this.setFiltersCriterias();
                }
            },
            sliderValue:{
                handler(val) {
                    if(this.criterias){
                        $.each(this.criterias.location_range, (i, range) =>{
                            if(range.name === val && range.name !== "No Maximum")
                                this.selectedCriteriasIds.push(range.id);
                            else
                                this.selectedCriteriasIds = this.selectedCriteriasIds.filter((id) => id !== range.id);
                        });
                        this.countSelectedFilters = this.selectedCriteriasIds.length;
                    }
                }
            },
        },
        props:{
            criterias:{type: Object | Array},
            userInfo:{type: Object},
            verifide: Boolean,
        }
    }
</script>

<style scoped>

</style>