<template>
    <div class="rating-stars">
        <label class="num_reting">{{rating}}</label>
        <label class="star-rating__star"
               :class="{'is-disabled': disabled}"
               v-for="i in 5"
               @click="set(i + 1)"
               @mouseover="star_over(i + 1)"
               @mouseout="star_out">
            <input class="star-rating star-rating__checkbox"
                   type="radio"
                   :value="i"
                   :name="name"
                   v-model="rating"
                   :disabled="disabled">
            <i v-if="(i + 1) <= parseFloat(rating)" class="fa fa-star"></i>
            <i v-if="(i) < parseFloat(rating) && (i + 1) > parseFloat(rating)" class="fa fa-star-half-o"></i>
            <i v-if="(i) >= parseFloat(rating)" class="fa fa-star-o"></i>
        </label>
    </div>
</template>

<script>
    export default {
        name: "rating-stars",
        props: {
            'name': String,
            'rating': null,
            'id': String,
            'disabled': Boolean,
            'required': Boolean
        },
        data: function () {
            return {
                temp_rating: this.rating,
            };
        },
        methods: {
            star_over: function (index) {
                if (!this.disabled) {
                    this.rating = index;
                }
            },
            star_out: function () {
                if (!this.disabled) {
                    this.rating = this.temp_rating;
                }
            },
            set: function (index) {
                if (!this.disabled) {
                    this.temp_rating = index;
                    console.log('current rating:', index);
                }
            }
        },
        created() {
            this.rating = !this.rating || this.rating === 0 ? '0.0' : this.rating;
        },
        attached(){}
    }
</script>