<template>
    <div class="user-info-block" v-if="userInfo">
        <verification-profile-warning v-if="progress && verification_error"
                                      :user-info="userInfo"
                                      :progress="progress">
        </verification-profile-warning>
        <completeness-profile-warning v-if="progress && completeness_error"
                                      :user-info="userInfo"
                                      :progress="progress">
        </completeness-profile-warning>
        <my-bookings :user-info="userInfo"> </my-bookings>
        <saved-jobs :user-info="userInfo"> </saved-jobs>

        <!--<verify-profile-warning  :user-info="userInfo"></verify-profile-warning>-->
        <!--<work-preferences-block  :user-info="userInfo"></work-preferences-block>-->
    </div>
</template>

<script>
    // import WorkPreferencesBlock from './Caregiver/WorkPreferences.vue';
    // import VerifyProfileWarning from './Caregiver/VerifyProfileWarning.vue';

    import VerificationProfileWarning from './Caregiver/VerificationProfileWarning.vue';
    import CompletenessProfileWarning from './Caregiver/CompletenessProfileWarning.vue';
    import SavedJobs from './Caregiver/SavedJobs.vue';
    import MyBookings from './Caregiver/MyBookings.vue';

    export default {
        name: "user-info-controls",
        components:{
            // workPreferencesBlock: WorkPreferencesBlock,
            // verifyProfileWarning: VerifyProfileWarning,
            verificationProfileWarning: VerificationProfileWarning,
            completenessProfileWarning: CompletenessProfileWarning,
            savedJobs: SavedJobs,
            myBookings: MyBookings
        },
        props: {
            userInfo: {type: Object | null},
            progress: {type: Object | null},
            verification_error: Boolean,
            completeness_error: Boolean
        }
    }
</script>