<template>
    <div class="navbar-collapse collapse hidden-sm-down">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/faqs">FAQ</a></li>
        <li><a href="/contact">Contact us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-center hidden-xs">
        <li class='logo'><a href="/"><img id="logo-navbar-middle" src="/img/logo.png" alt="Little ones"></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <div class="profile-box" v-if="userInfo">
        <a href="/caregiver/my-profile" @click.prevent=""><img :src="userInfo.user_photo_100" width="100"></a>
    </div>
     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hello, {{userInfo.first_name}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/caregiver/my-profile"><i class="fa fa-home"> Profile</i></a></li>
          <li><a class="header-logout" href="/auth/logout"><i class="fa fa-sign-out">Logout</i></a></li>
        </ul>
    </li>
    </ul>
  </div>
</template>

<script>
    import {userInfoMixin} from './../../../userInfoMixin';
    export default {
        mixins: [userInfoMixin],
    }
</script>