<template>
<div class="navbar-collapse collapse hidden-sm-down">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/faqs">FAQ</a></li>
        <li><a href="/contact">Contact us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-center hidden-xs">
        <li class='logo'><a href="/"><img id="logo-navbar-middle" src="/img/logo.png" alt="Little ones"></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-xs">
        <li><a href="/auth/login">Sign In</a></li>
        <li  class="li-register"><a href="/pre-register" class="register"><span>Register</span></a></li>
    </ul>
  </div>
</template>

<script>
    export default {}
</script>