<template>
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
	<div  class="visible-xs">
	    <div class="list-group">
	        <div class='logo-xs'><a href="/"><img id="logo-navbar-middle" src="/img/logo.png" alt="Little ones"></a></div>
	        <div class='link-xs hidden-sm-up'>
	        	<a href="/auth/login">Sign In</a>
	       		<a href="/pre-register" class="register"><span>Register</span></a>
	   		</div>
	    </div>
	</div>
  </div>
  <slot></slot>
</nav>
</template>