@import "bootstrap-sprockets";
@import "bootstrap-compass";
@import "bootstrap";
@import 'bootstrap-custom';
@import "theme/bootstrap-mythen";
@import 'mixins';
@import "variables";
@import "theme/main-theme";

@import
    "vendor/pikaday",
    "vendor/nouislider";

@import
    "components/alerts",
    "components/buttons",
    "components/boxes",
    "components/FindCaregivers",
    "components/icons",
    "components/inputs",
    "components/skills",
    "components/HireCaregiver";

@import
    "layout/header",
    "layout/profile-sidebar",
    "layout/navigation",
    "layout/profile-box",
    "layout/footer",
    "layout/transitions";

@import
    "pages/caregivers",
    "pages/jobs",
    "pages/messages",
    "pages/pre-launch",
    "pages/settings",
    "pages/auth";

@import
    "utils/helpers";
@import "custom";

.marker {
    background: url('../img/design/map-marker-bg.png');
    width: 43px;
    height: 52px;
    img {
        border: 3px solid #fff;
        border-radius: 30px;
        width: 36px;
        height: 36px;
        margin-top: 3px;
        margin-left: 3px;
    }
}

div[v-cloak] {
    display: none;
}

form input::-webkit-validation-bubble-message,
form select::-webkit-validation-bubble-message,
form textarea::-webkit-validation-bubble-message {
    display: none;
}
