/*
    Colors
 */

$primary-color: hsl(124, 69%, 43%);
$primary-hover-color: hsl(124, 70%, 37%);

$base-color: hsl(0, 0%, 100%);

$info-color: hsl(190, 60%, 96%);
$base-border-color:  hsl(0, 0%, 95%);
$base-border-required-color: hsl(0, 0%, 80%);
$base-border-invalid-color: hsl(0, 80%, 80%);

$subheader-background-color: hsl(0, 0%, 20%);
$subheader-link-color: hsl(187, 6%, 75%);
$subheader-link-active-color: $base-color;

$select-hover-background-color: hsl(0, 0%, 98%);

$secondary-color: hsl(190, 72%, 48%);
$selected-active-color: $secondary-color;

$text-color: hsl(0, 0%, 33%);
$main-link-color: $primary-color;
$main-icon-color:  hsl(187, 6%, 72%);

$primary-button-background-color: $primary-color;
$primary-button-hover-color: $primary-hover-color;
$primary-color-active-background: hsl(108, 52%, 96%);
$primary-button-back-color: #f8f4f4;

$primary-button-color: $base-color;
$input-background-color: $base-color;

$main-border-color: hsl(171, 32%, 88%);
$base-button-border-color: $base-border-color;


$alert-info-background-color: $info-color;
$error-border-color: hsl(358, 83%, 45%);

$prelaunch-background-color: hsl(0, 0%, 15%);

