.app-content {
  min-height: calc(100vh - 80px - 54px);
  background-color: #eef7f5;
  background-image: url('/img/design/bg-img.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  &>div.container{
    padding: 0;
  }
/*  @media screen and (min-width: 1487px){
      background-size: 100%;
      background-position: center center
    }*/

  .user-info-content, .job-searching-content{
    margin-top: 35px;
    margin-bottom: 90px;
    @media screen and (max-width: 768px){
      margin-bottom: 30px;
    }
  }
  .bolder {
    font-weight: 500;
    color: #656266;
  }
}

@media screen and (min-width: 1500px){
  .home-conteiner{
    padding: 0 200px;
  }
}

.form-check{
  font-family: GothamRounded-Book;
  padding-bottom: 5px;
  .form-check-error{
    font-size: 12px;
    padding: 0 10px;
    margin-bottom: -18px;
    color: #a94442;
    @media screen and (max-width: 768px){
      font-size: 9px;
    }
  }

  .form-check-label{
    color: #8b8a8e;
    padding: 5px;
    font-size: 14px;
    .checkbox {display: none;}
    .checkbox-custom {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      color:#73c5bc;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    .check-info{
      margin-bottom: 0;
      margin-top: 5px;
      font-weight: bold;
    }

    .check-label{
      width: calc(100% - 40px);
      a{
        color: #73c5bc;
      }
    }

    .checkbox-custom, .check-label {
      display: inline-block;
      vertical-align: middle;
    }

    .checkbox:checked + .checkbox-custom::before {
      content: "\2714";
      display: block;
      position: absolute;
      top: -11px;
      right: -1px;
      font-size: 22px;
    }
    @media screen and (max-width: 768px){
      font-size: 10px;
    }
  }
}


@import "layout/particials/caregiver/CaregiverSummary";

.job-searching-content {
  font-family: GothamRounded-Medium;
  .job-searching-block {
    position: relative;

    .search-job-header {
      margin-bottom: 5px;
      input{
        border-color: #73c5bc;
        padding-left: 45px;
        padding-right: 122px;
        height: 46px;
      }
      .input-fa-search{
        position: absolute;
        top: 13px;
        left: 17px;
        color: #73c5bc;
      }
      .slider-button{
        position: absolute;
        line-height: 42px;
        top: 2px;
        right: 2px;
        width: 110px;
        color: #73c5bc;
        padding-left: 10px;
        text-decoration: none;
        cursor: pointer;
      }
      .input-separator{
        position: absolute;
        top: 13px;
        right: 110px;
        height: 20px;
        border-left: 1px solid #73c5bc;
      }
    }

    #jobs-filter {
      border: 1px solid #73c5bc;
      display: none;
      position: absolute;
      border-radius: 5px;
      background-color: #fff;
      width: 100%;

      font-size: 13px;
      z-index: 1;
      color: #8b8a8e;

      .filter-body {
        padding: 10px 30px;
        .pills-list {
          li {
            background-color: rgba(151, 194, 211, 0.14);
            padding: 10px;
            cursor: pointer;
            border-radius: 6px;
            margin: 5px 0;
            font-size: 12px;
            color: #8b8a8e;
            &.extensible {
              border-radius: 50%;
            }
            &.active {
              background-color: #73c5bc;
              color: #fff;
            }

            @media screen and (max-width: 1200px){
              font-size: 10px;
              padding: 10px 3px;
            }

            @media screen and (max-width: 768px){
                padding: 10px 0;
                font-size: 9px;
            }
          }
        }

        @media screen and (max-width: 768px){
          .pills-list > div{
            padding: 0 3px;
          }
        }

        .slider-box{
          padding: 5px;
          margin-top: 15px;
          .vue-slider-dot::after, .vue-slider-process{
            background-color: #73c5bc;
            font-size: 12px;
          }
          .vue-slider-dot.vue-slider-tooltip-top::before{
            border-top-color: #73c5bc;
          }
        }
      }

      .filter-footer{
        padding: 0 10px;
        text-align: right;
        .btn-clear-filters, .btn-apply-filters{
          display: inline-block;
          text-align: center;
          width: 190px;
          cursor: pointer;
          border-radius: 6px;
          margin: 8px;
          font-size: 12px;
        }
        .btn-apply-filters{
          padding: 10px;
          background-color: #73c5bc;
          color: #fff;
        }
        .btn-clear-filters{
          padding: 8px;
          border: 2px solid #73c5bc;
          box-sizing: border-box;
          color: #73c5bc;
        }
        @media screen and (max-width: 768px){
         margin-bottom: 5px;
          text-align: center;
          .btn-clear-filters, .btn-apply-filters{
            margin: 5px;
            width: 130px;
          }
          .btn-apply-filters{
            padding: 7px;

          }
          .btn-clear-filters{
            padding: 5px;
          }
        }
      }
    }
  }

  .jobs{
    font-family: GothamRounded-Medium;
    margin-top: 30px;
    color: #98999b;

    .no-jobs{
      border-radius: 6px;
      background-color: #fff;
      padding: 19px;
      p{ margin: 0 }
    }

    .jobs-panel {
      .jobs-heading {
        color: #fff;
        background-color: #73c5bc;
        height: 45px;
        border-radius: 5px 5px 0 0;
        padding: 12px;
      }

      .jobs-body {
        background-color: #fff;
        .job-item{
          border-bottom: 1px solid #cacaca;
          padding: 20px 40px;
          position: relative;

          @media screen and (max-width: 768px){
            padding: 20px 20px;
          }
          .job-heading{
            display: flex;
            align-items: center;
            .avatar {
              .initials {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: #f4a4c5;
                text-align: center;
                color: #fff;
                font-size: 28px;
                font-weight: bold;
                padding-top: 12px;
              }
              margin-right: 10px;
            }
            .row{
              width: 100%;
            }
            .payment-verified{
              text-align: right;
              i{
                color: #73c5bc;
              }
            }
            @media screen and (max-width: 768px){
              font-size: 11px;
              .avatar {
                .initials {
                  width: 40px;
                  height: 40px;
                  font-size: 20px;
                  padding-top: 7px;
                }
                margin-right: 10px;
              }
              .payment-verified{
                text-align: left;
              }
            }
          }
          .job-body{
            .job-specifics{
              padding: 5px 0;
              span{
                margin-right: 20px;
                i{
                  color: #73c5bc;
                }
              }

            }
            @media screen and (max-width: 768px){
              font-size: 11px;
              .job-specifics > span{
                margin-right: 5px;
              }
            }
          }
          .job-footer {
            padding-top: 10px;
            text-align: right;

            .btn-apply-now, .btn-save-job{
              display: inline-block;
              text-align: center;
              width: 180px;
              cursor: pointer;
              border-radius: 6px;
              font-size: 14px;
              padding: 10px;
              color: #fff;
            }
            .btn-apply-now{
              background-color: #73c5bc;
              &.disabled{
                cursor: not-allowed;
                background-color: #e1f0ed;
              }
            }
            .btn-save-job{
              background-color: #73adc5;
              margin-right: 5px;
            }
            @media screen and (max-width: 768px){
              text-align: center;
              .btn-apply-now, .btn-save-job {
                width: 130px;
                font-size: 12px;
                padding: 5px;
              }
            }
          }
        }
      }

      .jobs-footer {
        div{
          margin: 3px;
          font-size: 12px;
          text-align: center;
          border-radius: 50%;
          color: #8b8a8e;
          width: 21px;
          height: 21px;
          border: 1px solid;
          padding-top: 2px;
        };
        border-radius: 0 0 5px 5px;
        background-color: #fff;
        height: 65px;
      }
    }
  }
}

.user-info-content{
  font-family: GothamRounded-Medium;
  font-size: 14px;

  .user-info-block > *:not(:last-child){
    margin-bottom: 30px;
  }

  .user-info-block {
    .saved-jobs, .my-bookings{
      font-size: 14px;
      background-color: #fff;
      color: #98999b;
      border-radius: 6px;
      padding: 0 40px;
      .job-heading{
        border-bottom: 1px solid #cacaca;
        padding-top: 20px;
        padding-bottom: 10px;
      }
      .job-body{
        padding-bottom: 10px;
        .no-jobs{
          p{
            display: flex;
            align-items: center;
          }
          i{
            font-size: 22px;
          }
          font-size: 12px;
          padding-top: 10px;
        }
        .job-item{
          display: flex;
          align-items: center;
          padding: 20px 0;
          &:not(:last-child){
            border-bottom: 1px solid #cacaca;
          }
          .avatar {
            .initials {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              text-align: center;
              color: #fff;
              font-size: 20px;
              font-weight: bold;
              padding-top: 7px;
            }
            display: inline-block;
            margin-right: 10px;
          }
          .content{
            .name{
              font-size: 14px;
            }
            .job-distance{
              i{  color: #73c5bc;  }
            }
            .job-date{
              margin-left: 10px;
              i{  color: #e7a3a2;  }
            }
            display: inline-block;
            font-size: 12px;
            p{
              margin: 0;
            }
          }
        }
      }
    }

    .profile-edit-warning {
      color: #98999b;
      padding: 20px 40px;

      .complete-progress-bar{
        width: 100%;
        height: 10px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
        overflow: hidden;
        border-radius: 4px;
        .progress{
          width: 0;
          float: left;
          height: 100%;
          box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 0px inset;
          transition: width 0.6s ease;
          background-color: #73c5bc;
        }
      }

      .profile-edit-title {
        margin-bottom: 21px;
        a {
          color: #73c5bc;
          text-decoration: none;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .requirements-title {
        margin-bottom: 18px;
      }

      ul {
        margin-bottom: 20px;
        li {
          font-size: 12px;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          i {
            color: #73c5bc;
            font-size: 6px;
            margin-right: 5px;
          }

        }
      }

      .btn-build-profile {
        width: 100%;
        height: 40px;
        font-size: 14px;
        padding: 11px;
        color: #fff;
        background-color: #73c5bc;
        text-decoration: none;
        border-radius: 6px;
      }

      .preferences-title, .preference {
        display: flex;
        justify-content: space-between;
        width: 100%;
        a {
          color: inherit;
          text-decoration: none;
        }
      }

      .preference {
        color: #6a696d;
        font-weight: 500;
        margin: 25px 0;
        .preference-value {
          color: #73c5bc;
          font-weight: bold;
        }
      }

      @media screen and (max-width: 991px) and (min-width: 768px){
        .warning-content{
          padding-left: 130px;
        }
      }
    }
  }
}

.step-indicator {
  cursor: default;
  line-height: normal;
  width: 50px;
  height: 50px;
  @media screen and (max-width: 768px){
    width: 25px;
    height: 25px;
    font-size: 10px;
    margin: 0;
  }
  background-color: #fff;
  opacity: .4;
  font-family: GothamRounded-Bold;
  color: #8b8a8e;
  font-size: 22px;
  text-decoration: none;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  img{
    display: none;
  }
}
.step-indicator:active, .step-indicator:visited, .step-indicator:focus, .step-indicator:hover {
  text-decoration: none;
  color: #8b8a8e;
}

.step-indicator.passed {
  opacity: 1;
  color: #fff;
  background-color: #73c5bc;
  border: solid 2px #ffffff;
}

.step-indicator.v-link-active{
  span{
    position: relative;
    left: 10px;
  }
  img{
    display: block;
    left: 11px;
    height: 17px;
    display: block;
    position: relative;
    border: solid 1px;
    border-radius: 50%;
    bottom: 17px;
  }
}

.preview{
  margin: 54px 0;
  video {
    max-width: 100%;
  }
}

@import 'profile/profile-edit-step1';
@import 'profile/profile-edit-step2';
@import 'profile/profile-edit-step4';
@import 'profile/profile-edit-step5';