@media (max-width: 647px) {
  .main-header {
    .main-logo {
      margin: 0 !important;
      width: 100%;
      height: auto;
      >a {
        width: 100%;
      }
      img {
        width: 83px;
        margin: auto;
      }
    }
    >.main-header-inner {
      .top-nav-box {
        float: right;
        margin: 53px 0px 0 0;
        clear: both;
        width: 100%;
      }
    }
  }
}
@media (max-width: 836px) {
  .profile-nav {
    margin-top: 12px;
    margin-bottom: 13px;
  }
  .main-nav-auth {
    margin-top: 43px;
  }
}
@media (max-width:1199px ) {
  .get-started-main-box {
    .selection-of-roles-box {
      .parents-role {
        width: 212px;
        height: 211px;
      }
      .caregiver-role {
        width: 212px;
        height: 211px;
      }
      .btn {
        margin-top: 11px;
      }
    }
  }
  .selection-of-roles-box {
    h4 {
      font-size: 20px;
    }
    h6 {
      font-size: 13px;
    }
    .btn {
      height: auto;
      font-size: 17px;
      border-radius: 4px;
      padding: 6px 20px;
    }
  }
}
@media (max-width:1199px ) and (min-width:704px) {
  .get-started-main-box {
    .selection-of-roles-box {
      .parents-role {
        margin-left: 19%;
      }
      .caregiver-role {
        margin-right: 19%;
      }
    }
  }
}
@media (max-width:703px) and (min-width: 670) {
  .get-started-main-box {
    .selection-of-roles-box {
      .parents-role {
        margin-left: 16%;
      }
      .caregiver-role {
        margin-right: 16%;
      }
    }
  }
  .get-started-main-box {
    .selection-of-roles-box {
      .parents-role {
        margin: auto;
        float: none;
      }
      .caregiver-role {
        margin: auto;
        float: none;
        margin-top: 40px;
      }
    }
  }
}


@media (max-width:513px) {
  .get-started-main-box {
    .selection-of-roles-box {
      .caregiver-role {
        float: none;
        margin: auto;
        margin-top: 50px;
      }
      .parents-role {
        float: none;
        margin: auto;
      }
    }
  }
}


h1 {
  font-size: 43px;
}
.main-header {
  >.main-header-inner {
    .search-dropdown {
      float: right;
      margin: 55px 20px 11px 0;
    }
  }
}

#pre-launch{
  .Signup__form{
    text-align: center;
  }
}

#pre-launch{
  .TourSection--cta{
  .Signup__caption{
  label{
    clear: both;
    display: block;
  }

  }
  }
}


.FindCaregivers__filter--w300 {
  li {
    min-width: 203px;
    min-height: 46px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 13px;
    min-width: 203px;
    min-height: 46px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 13px;
  }
}
#password-and-security {
  .panel {
    >div {
      overflow: hidden;
      padding-bottom: 10px;
    }
  }
}
#my-info {
  .panel {
    >.address-template, .email-template , .timezone-template , .phone-template {
      overflow: hidden;
      padding-bottom: 10px;
    }
  }
}
.job_duration {
  .list-inline {
    li {
      padding-left: 31px;
      display: flex;
    }
  }
  ul {
    li {
      height: 46px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      background-color: #fff;
      border: 2px solid #f2f2f2;
      border-radius: 3px;
      cursor: pointer;
      padding-left: 20px;
    }
  }
}
.estimated_workload {
  ul {
    li {
      height: 46px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      background-color: #fff;
      border: 2px solid #f2f2f2;
      border-radius: 3px;
      cursor: pointer;
      padding-left: 20px;
    }
  }
}
.FindCaregivers__filter {
  padding: 10px 0;
  ul {
    li {
      float: left;
      height: auto;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      background-color: #fff;
      border: 2px solid #f2f2f2;
      border-radius: 3px;
      cursor: pointer;
      padding: 18px;
      min-width: 133px;
      margin-top: 10px;
      span {
        margin: 1px;
      }
    }
  }
  li {
    &:hover {
      background-color: #eff9fb;
      border-color: #d7eae7;
    }
  }
  li.active {
    background-color: #f2faef;
    border-color: #22b92c;
  }
  label {
    display: block;
    max-width: 155px;
    width: 155px;
    margin-right: 15px;
    float: left;
    min-height: 59px;
    padding-top: 8px;
  }
  div.qualification {
    ul.list-inline {
      margin-left: 0;
    }
  }
  ul.list-inline {
    display: inline-block;
  }
}
.FindCaregivers__filter--care-type {
  float: left;
}
.FindCaregivers__action {
  float: left;
}
.FindCaregivers__filter--child-age {
  float: left;
}
.FindCaregivers__filter--availability {
  float: left;
}
.FindCaregivers__filter--employment-type {
  float: left;
}
.FindCaregivers__filter--range {
  width: 100%;
}
#tour-section {
  overflow: hidden;
}
.Tour__promo-image--client {
  overflow: hidden;
  img {
    width: 100%;
  }
}
@media (max-width: 1199px) {
.home-content {
  .user-comment-bubble {
    //////////////////////////
    .bq-text {
      width: 301px;
      height: 301px;
      padding: 70px 15px 0 10px;
      text-align: left;
      p {
        font-size: 11px;
      }
      p.author-signature {
        font-size: 10px;
        padding: 6px 32px;
      }
    }
    .user-name {
      width: 200px;
      height: 200px;
      margin: 87px 0 0 0;
      .h3 {
        margin: 60px 0 0 32px;
        font-size: 29px;
      }
    }
    .user-ava {
      width: 160px;
      height: 160px;
    }
  }
  .user-comment-bubble-inner {
    .user-ava {
      margin: 148px 0 0 -54px;
    }
    min-height: 379px;
    width: auto;
    text-align: center;
  }
}
#pre-launch {
  .user-comment-bubble {
    .bq-text {
      width: 301px;
      height: 301px;
      padding: 78px 16px 0 11px;
      text-align: left;
      p {
        font-size: 11px;
      }
      p.author-signature {
        font-size: 10px;
        padding: 6px 32px;
      }
    }
    .user-name {
      width: 200px;
      height: 200px;
      margin: 87px 0 0 0;
      .h3 {
        margin: 60px 0 0 32px;
        font-size: 29px;
      }
    }
    .user-ava {
      width: 160px;
      height: 160px;
    }
  }
  .user-comment-bubble-inner {
    min-height: 379px;
    width: auto;
    text-align: center;
  }
  .selection-of-roles-box {
    .parents-role {
      width: 340px;
      height: 340px;
      margin-top: 0;
    }
    .caregiver-role {
      width: 340px;
      height: 340px;
      margin-top: 0;
    }
    .SelectionRole__Header {
      margin: 20px 0 0;
      padding: 13px;
    }
  }
}
.user-ava {
  >img {
    width: 148px;
  }
}
}
@media (max-width: 991px) {
.home-content {
  .verf-network {
    .net-items {
      li {
        + {
          li {
            margin-left: 0;
          }
        }
      }
    }
  }
}
#pre-launch {
  .verf-network {
    .net-items {
      li {
        + {
          li {
            margin-left: 0;
          }
        }
      }
    }
  }
}
.text-box-net {
  width: 100%;
  text-align: center;
}
.verf-network-inner {
  .col-sm-8 {
    width: 100%;
  }
}
}
@media (max-width: 767px) {
  .home-content {
    .verf-network {
      .net-items {
        text-align: center;
        text-align: center;
        li {
          width: 254px;
          height: 254px;
          width: 254px;
          height: 254px;
        }
      }
    }
  }
  #pre-launch {
    .verf-network {
      .net-items {
        text-align: center;
        li {
          width: 254px;
          height: 254px;
        }
      }
    }
  }
}
@media (max-width: 610px) {
  .home-content {
    .user-comment-bubble-inner {
      .user-ava {
        margin: 220px 2px 10px -173px;
        margin: 220px 2px 10px -173px;
      }
    }
    .woman-children-box {
      .text-box {
        width: 90%;
        width: 90%;
      }
    }
  }
  #pre-launch {
    .user-comment-bubble-inner {
      .user-ava {
        margin: 220px 2px 10px -173px;
      }
    }
    .woman-children-box {
      .text-box {
        width: 90%;
      }
    }
  }
}
@media (max-width: 1199px) {
  .home-content {
    .user-comment-bubble {
      .bq-text {
        width: 234px;
        height: 234px;
        padding: 78px 16px 0 11px;

        p {
          font-size: 11px;
        }
        p.author-signature {
          font-size: 10px;
          padding: 6px 32px;
        }
      }
      .user-name {
        width: 200px;
        height: 200px;
        margin: 87px 0 0 0;
        .h3 {
          margin: 60px 0 0 32px;
          font-size: 29px;
        }
        h3 {
          margin: 60px 0 0 32px;
          font-size: 29px;
        }
      }
      .user-ava {
        width: 160px;
        height: 160px;
      }
    }
    .user-comment-bubble-inner {
      .user-ava {
        margin: 148px 0 0 -54px;
      }
      min-height: 379px;
      width: auto;
      text-align: center;
    }
  }
  .user-ava {
    >img {
      width: 148px;
    }
  }
}
@media (max-width: 991px) {
  .home-content {
    .verf-network {
      .net-items {
        li {
          + {
            li {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  .text-box-net {
    width: 100%;
    text-align: center;
  }
  .verf-network-inner {
    .col-sm-8 {
      width: 100%;
    }
  }
}
@media (max-width: 1200px) {
  .panel-row {
    .actions.open {
      float: left;
      width: 100%;
      max-width: 100%;
      text-align: center;
      a {
        margin: 0;
      }
    }
  }
  .h5 {
    font-size: 11px;
    font-weight: 600;
  }
  h5 {
    font-size: 11px;
    font-weight: 600;
  }
}
@media (max-width: 436) {
  .FindCaregivers__filter--qualifications {
    li {
      min-width: 353px;
    }
  }
}
@media (max-width: 767px) {
.Tour {
  >div {
    width: 100%;
    min-width: 100%;
  }
}
.Tour__promo-image--client {
  display: none;
}
.Tour__promo-image--caregivers {
  display: none;
}
}
@media (max-width: 499px) {

#pre-launch {
  .TourSection__one-third{
    width: 100%;
  }
  .selection-of-roles-box {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    .parents-role {
      width: 240px;
      height: 240px;
      margin: auto;
    }
    h4 {
    font-size: 13px;
    }

    h6 {
    font-size: 11px;
      }
      .btn {
    height: auto;
    font-size: 11px;
    border-radius: 4px;
    padding: 6px 20px;
}
    .caregiver-role {
      width: 240px;
      height: 240px;
      margin: auto;
    }
    .help-text {
      padding: 0 16px;
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
}
@media (max-width: 622px) {
a.btn-primary.btn-themed {
  margin: auto;
}
button.btn-primary.btn-themed {
  margin: auto;
}
.Signup__input {
  height: 76px;
  width: auto;
}
}
#pre-launch{
  #tour-section{
    .Tour{
      .Tour__promo-image{
        

      }

    }
  }
}

@media (max-width: 991px) {


  #pre-launch{
    #tour-section{
      .Tour{
        .Tour__promo-image{
         

      }

      }
    }
  }
  
}



@media (max-width: 484px) {


  #pre-launch{
    .user-comment-bubble-inner{
      .bq-text{
        margin: -42px 0 0 -35px;
      }
    }
  }


}

.TourSection--cta{
  h5{
    color: #fff;
  }

  span{
    color: #fff;

  }
  .Signup__form-row{
    label{
      color: #fff;

  }

  }

}

.Signup__form-row{
  color: #5C7B76;
  a{
    color: #5C7B76;
  }
}


.Tour__action-text .btn-blue{background:#fff !important; color:#0EB7D6 !important;}
.prelaunch_page .Tour__promo-image--client img {
  padding-top: 20%; }
#pre-launch .Prelaunch__Principal-caption{padding: 15px 15px 61px;}
#pre-launch .Prelaunch__Principal-caption span{font-weight:normal; font-size:19px;
padding-top:10px; display:block; color:#333;}
.Tour__action-text1 strong{margin-top:215px;}
#pre-launch .Prelaunch__Principal-caption{line-height:29px;}


.TourSection__one-third p{color:#333; font-size:16px;}
.blue-bg-txt{padding:0 8%;}
.TourSection__bigImage .TourSection__bigImage-subtitle{line-height:27px;}



@media screen and (max-width: 600px) {


#pre-launch .Prelaunch__Principal-caption{font-size:22px; line-height:29px;}
  h1.Prelaunch__Principal-heading{font-size: 38px !important;}

.Signup__form-row .Signup__input{display:block; width:80%; margin:0 auto;}
.Signup__form-row button{display:block; width:80%; margin:13px auto !important;}
h5.Signup__caption span{font-size:22px;}

.TourSection__bigImage-subtitle{padding:0;}
.green-bg-txt {padding: 0 10% !important;}



}

.Tour__promo-image--client{display:block !important;}
.Tour{display:block !important;}
.Tour__promo-image--client img{padding-top:20%;}
.Tour__action-text--caregivers{width:auto; float:none;}
.Signup__form-row-new{width: 72%; margin: 0; text-align: left; margin-left: 26%;}
.Signup__caption label{line-height: 35px;}

.Prelaunch__Principal-caption label{line-height: 43px;}
#tour-section > .tour_row1{background:url("/img/blue-repeat.jpg") repeat-x top #A6CBDE;}
.Tour__promo-image--client1 img{max-width:100%; padding-top:20%;}



#pre-launch .Prelaunch__background-transparency{background-color: rgba(234, 240, 224, 0.81)}
#tour-section > .signup_row {
  background: rgba(0, 0, 0, 0) url("/img/texture_1_olive1.jpg") repeat scroll 0 0;
}
#pre-launch  .Prelaunch__background-transparency1{background-color:rgba(238, 251, 240, 0.91)}
#pre-launch .Prelaunch__wrapper-background1{background:rgba(0, 0, 0, 0) url("/img/ch2.jpg") no-repeat scroll 10% center / cover }
.TourSection__features{margin-bottom:100px;}
.TourSection--alt .TourSection__title{margin-top:100px;}
#pre-launch .user-comment-bubble .bq-text{ padding:87px 21px; margin-bottom:46px;}
#pre-launch .user-comment-bubble .bq-text p.author-signature{padding:0 30px;}
#pre-launch .user-comment-bubble .user-name{}
#pre-launch .user-comment-bubble .user-name .h3{}
.Signup__caption label{margin-top:15px; margin-bottom:24px;}
.container-hero .TourSection__title{margin-bottom:27px;}
.TourSection .TourSection__title{margin-bottom:32px; color:#333333;}



#pre-launch .Prelaunch__Principal-heading{color:#333333;}
.Prelaunch__Principal-caption label{color:#333333;}
.TourSection__subtitle{color:#333333;}
.TourSection--alt .TourSection__title{color:#fff;}

h5.TourSection__bigImage-subtitle a{color:#333; font-weight:700;}
.TourSection--cta .Signup{ margin-bottom:178px;}
.sign-up-txt{margin-top:195px;}
.TourSection--cta span{color:#333;}
.Signup__caption label{color:#333; font-weight:600;}
.TourSection--cta span{color:#333;}
.TourSection--cta .Signup__form-row label{color:#333; font-size:20px;}
.white-txt label{color:#fff !important;}
.Signup__form-row a {color: #0fba1b; font-size:20px;}
#pre-launch .Prelaunch__Principal-caption{font-size:20px;}
.TourSection__bigImage .TourSection__bigImage-subtitle{font-size:22px;}
.green_bg{background:#0FBA1B;}
.green-bg-txt{padding:0 12%;}
#pre-launch .user-comment-bubble{padding:10% 0}
#pre-launch .user-comment-bubble .user-ava{width:247px; height:247px;}
#pre-launch .user-comment-bubble .user-name .h3 {
  font-size: 37px;
  margin: 90px 0 0 60px;
}
.TourSection--cta .Signup__form-row-new{}
.Signup__form-row-new label{margin-left:0;}
.Prelaunch__Principal-caption label {
  padding-left: 0;
  padding-right: 0;
}
.Prelaunch__Principal-caption label {
  line-height: 34px;
}
.user-ava > img{width:100% !important;}



#pre-launch .user-comment-bubble .user-name{}
.TourSection-blk.TourSection--cta span{color:#fff;}
.TourSection-blk .Signup__caption label{color:#fff;}

.TourSection-blk#pre-launch .user-comment-bubble-inner .user-ava.TourSection--cta .Signup__form-row label{color:#fff;}


@media screen and (max-width: 900px) {

.Signup__caption label{font-size:17px;}
.Signup h5{font-size:17px !important;}

#tour-section > .tour_row1{padding-bottom:50px;}
.Tour__action-text1 strong{margin-top:57px;}

.TourSection--alt .TourSection__title{padding:0 20px;}
.container-hero .TourSection__title{padding:0 20px;}
#pre-launch .user-comment-bubble .user-name .h3 {
  margin: 60px 0 0 32px;
}

.user-ava > img {
  width: 100% !important;
}

}





@media screen and (max-width: 680px) {
  
  .Tour__promo-image--client img{width: 53% !important;}
  .Prelaunch__Principal-caption label{line-height:34px;}
  .green-bg-txt{padding:0;}

}


@media screen and (max-width: 600px) {


#pre-launch .Prelaunch__Principal-caption{font-size:22px;}
  h1.Prelaunch__Principal-heading{font-size: 38px !important;}

.Signup__form-row .Signup__input{display:block; width:80%; margin:0 auto;}
.Signup__form-row button{display:block; width:80%; margin:13px auto !important;}
h5.Signup__caption span{font-size:22px;}

.Tour{display:block !important;}

.Signup__form-row-new{width:74%; margin:0 auto;}
h5.Signup__caption span{display:block;}
.Signup__caption label{line-height: 35px;}


#pre-launch .user-comment-bubble .user-name{width:187px;}



}

@media screen and (max-width: 480px) {
.Tour__action-text{font-size:20px;}
.Signup__caption span{display:block;}
h5.Signup__caption span{display:block;}

#pre-launch .TourSection__one-third{width:100%;}


#pre-launch .user-comment-bubble .user-name .h3{font-size:24px;}

}


@media screen and (max-width: 330px) {

#pre-launch .user-comment-bubble .bq-text{width:257px; height:310px;}

}



.sign-up-txt-first {
  margin-top: 50px;
}
.Signup__caption span {
  color: #333333;
}
.grey-txt {
  color: #6d6e71 !important;
}

.TourSection--alt .TourSection__title {
  margin-top: 64px;
}
.TourSection__features {
  margin-bottom: 64px;
}
#pre-launch .user-comment-bubble {
  padding: 5% 0;
}
.tour_row1{padding-bottom: 50px;}

#pre-launch .user-comment-bubble-inner .user-ava{margin:153px 0 0 -45px}

#pre-launch .user-comment-bubble .bq-text{}

.bq-text-one{width:404px; height:404px; border-radius:50%; background-color:#0dbad9; padding:87px 39px; text-align:left;}

#pre-launch .user-comment-bubble .bq-text-one p:first-child::before {
  color: #bddcd7;
  content: "\"";
  font-family: "Open Sans",sans-serif;
  font-size: 64px;
  font-style: italic;
  left: 0;
  position: absolute;
  top: -11px;
}
#pre-launch .user-comment-bubble .bq-text-one p:first-child::after {
  bottom: -50px;
  content: "\"";
}
#pre-launch .user-comment-bubble .bq-text-one p:first-child::after {
  color: #bddcd7;
  font-family: "Open Sans",sans-serif;
  font-size: 64px;
  font-style: italic;
  position: absolute;
}
#pre-launch .user-comment-bubble .bq-text-one p:first-child {
  padding: 10px 33px 0px 33px;
  position: relative;
}
#pre-launch .user-comment-bubble .bq-text-one p.author-signature {
  font-size: 16px;
  padding: 20px 30px;
  text-align: right;
}
#pre-launch .user-comment-bubble-inner .bq-text-one {
  margin: 50px 0 0 -35px;
}

/*//#pre-launch .user-comment-bubble .bq-text-one p:first-child {
//  padding: 10px 33px;
//  position: relative;
//}*/


#pre-launch .user-comment-bubble .user-name-one {
  background-color: #0dbad9;
  border: 2px solid #f2f3f3;
  border-radius: 50%;
  color: white;
  height: 274px;
  text-align: left;
  width: 274px;
}
#pre-launch .user-comment-bubble .user-name-one .h3, #pre-launch .user-comment-bubble .user-name h3 {
  color: white;
  display: block;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 86px 0 0 64px;
}
#pre-launch .user-comment-bubble-inner .user-name-one {
  margin: 88px 0 0 47px;
}

#pre-launch .user-comment-bubble-inner{text-align:center;}





@media screen and (max-width: 700px) {

#pre-launch .user-comment-bubble-inner .user-ava {
  margin: 225px 0 0 -85px;
}
#pre-launch .user-comment-bubble-inner .bq-text-one {
  margin: 0 0 0 -36px;
}



}

@media screen and (max-width: 400px) {

#pre-launch .user-comment-bubble-inner .bq-text-one {
  margin: -19px 0 0 -35px;
}
#pre-launch .user-comment-bubble-inner .user-ava {
  margin: -33px 0 0 -45px;
}


}

@media screen and (max-width: 330px) {

#pre-launch .user-comment-bubble-inner .user-ava {
  margin: -41px 0 0 32px !important;
}

#pre-launch .user-comment-bubble-inner .bq-text-one {
  margin: -36px 0 0 13px !important;
}


}

#pre-launch .footer{
  background: #C0C0C0;
  padding: 10px 0;
}

#pre-launch .footer a{
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#pre-launch-docs-layout h1{
  font-size: 35px;
}

#pre-launch-docs-layout h2{
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#pre-launch-docs-layout h4{
   font-size: 18px;
   margin-top: 15px;
   margin-bottom: 15px;
 }

#pre-launch-docs-layout .back-button{
  margin-top: 20px;
}

