.navbar-default {
  margin-bottom: 0px; 
}
.profile-box{
  display: inline-block;
  a{
    img{
        width: 38px;
        height: 38px;
        background-color: #ffffff;
        border: solid 4px #73c5bc;
        border-radius: 50%;
        position: relative;
        left: 27px;
    }
  }
}

.navbar-default .navbar-nav {
  text-align: center;
  height: 57px;
}
.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;
}
.navbar-default .navbar-nav > li > a {
  padding-left: 32px;
  padding-right: 32px;
  height: 13px;
  font-family: GothamRounded;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #858585;
}

.navbar-default .navbar-nav > li > a > img {
   width: 93px;
  height: 58px;
}

.navbar-default .navbar-nav .register {
    width: 97px;
    top: 7px;
    height: 35px;
    border-radius: 8px;
    position: relative;
    background-color: #fbd4a5;
}
.navbar-default .navbar-nav .register span {
    width: 97px;
    position: relative;
    right: 15px;
    bottom: 6px;
    height: 13px;
    font-family: GothamRounded;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav .open > a {
    text-decoration: none;
    background: none;
    background-color: rgba(0,0,0,0) !important; 
}
.navbar-default .navbar-center .logo{
    width: 105px;
    border-radius: 50%;
    height: 105px;
    background-color: #ffffff;
    border: solid 1px #73c5bc;
}
.navbar-default  .navbar-center .logo a{
    padding-left: 0px;
    padding-right: 0px;
}


.navbar-default .navbar-nav .li-register  > a:hover, .navbar-default .navbar-nav .li-register  > a:focus {
  background-color: #fbd4a5;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.logo-xs {
    width: 105px;
    border-radius: 50%;
    height: 105px;
    background-color: #ffffff;
    border: solid 1px #73c5bc;
    position: absolute;
    left: 42%;
    top: 0;
    z-index: 3;
    img {
      width: 93px;
      height: 58px;
      position: relative;
      top: 15px;
      left: 3px;
    }
}

.link-xs{
  float: right;
  a{
    padding-left: 32px;
    padding-right: 32px;
    height: 13px;
    font-family: GothamRounded;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #858585;
  }
  :hover{
    text-decoration: none;
    background: none;
  }
  .register{
    width: 97px;
    top: 7px;
    height: 35px;
    border-radius: 8px;
    position: relative;
    background-color: #fbd4a5;
    padding: 14px 6px 1px 38px;
    span {
          width: 97px;
          position: relative;
          right: 15px;
          bottom: 6px;
          height: 13px;
          font-family: GothamRounded;
          font-size: 15px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
    }
  }
}
@media (max-width: 768px) {
  .navbar-default .navbar-nav{
    text-align: left;
  }
  .navbar-default {
    height: 52px;
    .hidden-sm-down{
      width: 155px;
      height: 135px !important;
      background-color: #73c5bc;
      .navbar-nav > li > a{
        font-family: GothamRounded;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        padding-top: 18px;
      }
    }
  }
  .navbar-toggle{
    margin-left: 10px;
  }
  #login .gradient-body,
  #registration .gradient-body,
  #password-set  .gradient-body{
    margin: 26% 25px 20px;
  }
}

@media (max-width: 1024px) and  (min-width: 768px) {
    .logo-xs {
      left: 44%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle { 
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-toggle{
      margin-left: 10px;
    }
    .collapse.in{
      display: block !important;
      overflow: hidden !important;
    }
  .hidden-xs{
    display: none !important;
  }
  .visible-xs{
    display: block !important;
  }
  #login .gradient-body,
  #registration .gradient-body,
  #password-set  .gradient-body{
    margin: 22% 25px 20px;
  }
  .navbar-default .navbar-nav{
    text-align: left;
  }
  .navbar-default {
    height: 52px;
    .hidden-sm-down{
      width: 155px;
      height: 135px !important;
      background-color: #73c5bc;
      .navbar-nav > li > a{
        font-family: GothamRounded;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        padding-top: 18px;
      }
    }
  }
}

@media (max-width: 380px) {
  .logo-xs{
    left: 33%,
  }
}
@media (max-width: 510px) {
  .hidden-sm-up {
    display: none !important;
  }
  #login .gradient-body,
  #registration .gradient-body{
    width: 294px;
    margin: 45% 25px 20px;
  }
  #password-set  .gradient-body {
    width: 294px;
    margin: 45% 25px 48px;
  }
  .logo-xs{
    left: 40%,
  }
  .email-image-wrapper .email-image{
    left: 42%;
  }
}

@media (max-height: 540px) {
  .hidden-sm-up {
    display: none !important;
  }
  #login .gradient-body,
  #registration .gradient-body{
    margin: 9% 25px 20px;
    width: 506.9px;
    height: 257.8px;
  }
}