// BEM Modifiers Mixins

$elementSeparator: '__';
$modifierSeparator: '--';

@function containsModifier($selector) {
    $selector: selectorToString($selector);
    @if str-index($selector, $modifierSeparator) {
        @return true;
    } @else {
        @return false;
    }
}

@function selectorToString($selector) {
    $selector: inspect($selector); //cast to string
    $selector: str-slice($selector, 2, -2); //remove brackets
    @return $selector;
}

@function getBlock($selector) {
    $selector: selectorToString($selector);
    $modifierStart: str-index($selector, $modifierSeparator) - 1;
    @return str-slice($selector, 0, $modifierStart);
}

@mixin b($block) {
    .#{$block} {
        @content;
    }
}

@mixin e($element) {
    $selector: &;
    @if containsModifier($selector) {
        $block: getBlock($selector);
        @at-root {
            #{$selector} {
                #{$block+$elementSeparator+$element} {
                    @content;
                }
            }
        }
    } @else {
        @at-root {
            #{$selector+$elementSeparator+$element} {
                @content;
            }
        }
    }
}

@mixin m($modifier) {
    @at-root {
        #{&}#{$modifierSeparator+$modifier} {
            @content;
        }
    }
}


/* === Custom mixins === */
/* Author: Sebastian */

// Ultra Extra small screen
$dp-screen-xxs:                  340px !default;
$dp-screen-xxs-min:              $dp-screen-xxs !default;
//$dp-screen-phone:               $dp-screen-xxs-min !default;

// Extra small screen / phone
$dp-screen-xs:                  480px !default;
$dp-screen-xs-min:              $dp-screen-xs !default;
$dp-screen-phone:               $dp-screen-xs-min !default;

// Small screen / tablet
$dp-screen-sm:                  768px !default;
$dp-screen-sm-min:              $dp-screen-sm !default;
$dp-screen-tablet:              $dp-screen-sm-min !default;

// Medium screen / desktop
$dp-screen-md:                  992px !default;
$dp-screen-md-min:              $dp-screen-md !default;
$dp-screen-desktop:             $dp-screen-md-min !default;

// Large screen / wide desktop
$dp-screen-lg:                  1200px !default;
$dp-screen-lg-min:              $dp-screen-lg !default;
$dp-screen-lg-desktop:          $dp-screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$dp-screen-xxs-max:              ($dp-screen-xs-min - 1) !default;
$dp-screen-xs-max:              ($dp-screen-sm-min - 1) !default;
$dp-screen-sm-max:              ($dp-screen-md-min - 1) !default;
$dp-screen-md-max:              ($dp-screen-lg-min - 1) !default;



/* Responsive utilities Bootstrap based */
@mixin xxs {
  @media (max-width: $dp-screen-xxs-max) { @content; }
}
@mixin xs {
  @media (max-width: $dp-screen-xs-max) { @content; }
}
@mixin sm {
  @media (min-width: $dp-screen-sm-min) and (max-width: $dp-screen-sm-max) { @content; }
}
@mixin md {
  @media (min-width: $dp-screen-md-min) and (max-width: $dp-screen-md-max) { @content; }
}
@mixin lg {
  @media (min-width: $dp-screen-lg-min) { @content; }
}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf) {
    $src: null;

    $extmods: (
            eot: "?",
            svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
            otf: "opentype",
            ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote('/' + $path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}
