@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins";
@import "variables";

@include font-face(GothamRounded-Bold, fonts /gotham-rounded/ GothamRounded-Bold);
@include font-face(GothamRounded-Book, fonts /gotham-rounded/ GothamRounded-Book);
@include font-face(GothamRounded-Medium, fonts /gotham-rounded/ GothamRounded-Medium);

@import "Header";
@import "Content";
@import "RatingStars";
@import "registration/registration-frame";
@import "registration/role-selector";
@import "registration/caregiver-registrar";
@import "registration/email-confirmation";
@import "auth/login";

div[v-cloak] {
  display: none;
}

.disabled{
  opacity: 0.7;
  cursor: not-allowed;
}

.placeholder-text{
  color: #cccccc;
  option{
    color: #555555;
  }
}

input::-webkit-input-placeholder {
  color: #cccccc !important;
}

input:-moz-placeholder {
  color: #cccccc !important;
  opacity: 1 !important;
}

input::-moz-placeholder {
  color: #cccccc !important;
  opacity: 1 !important;
}

input:-ms-input-placeholder {
  color: #cccccc !important;
}

textarea::-webkit-input-placeholder {
  color: #cccccc !important;
}

textarea:-moz-placeholder {
  color: #cccccc !important;
  opacity: 1 !important;
}

textarea::-moz-placeholder {
  color: #cccccc !important;
  opacity: 1 !important;
}

textarea:-ms-input-placeholder {
  color: #cccccc !important;
}

.warning-block {
  background-color: #fff;
  border-radius: 6px;
  color: #fff;

  &::before {
    content: attr(data-background-icon);
    font-family: "FontAwesome";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7a3a2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: -15px;
    top: 25px;
  }
}

.success-block {
  background-color: #fff;
  border-radius: 6px;
  color: #fff;
  margin: 38px 0;
  &::before {
    content: attr(data-background-icon);
    font-family: "FontAwesome";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #73c5bc;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: -15px;
    top: 25px;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customselect {
  position: relative;
  display: inline-block;
  //min-width: 131px;
  width: 100%;
  //margin-top: 22px;
  .trigger {
    /*background: $white;*/
    //border: 2px solid $concrete;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    color: $color_fuscous_gray_approx;
    padding: 10px 50px 10px 10px;
    position: relative;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15;
    &:before {
      background: $url_69 no-repeat 0 0 transparent;
      content: '';
      position: absolute;
      top: 15px;
      right: 10px;
      width: 10px;
      height: 6px;
    }
  }
  &.v1 {
    select {
      opacity: 0;
      position: absolute;
      border: 0;
      top: 0;
      left: 1px;
      width: 100%;
      height: 35px;
      z-index: 2;
    }
    .list {
      display: none;
    }
  }
  &.v2 {
    select {
      display: none;
    }
    .trigger {
      cursor: pointer;
    }
     .list::-webkit-scrollbar {
          width: 10px;
          height: 5px;
      }
      .list::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      } 
     .list::-webkit-scrollbar-thumb {
        background-color: #fbd4a5;
        border-radius: 5px; 
        outline: 1px solid slategrey;
      }
    .list {
      background: $white;
      font-size: 14px;
      line-height: 14px;
      width: 132px;
      color: $color_fuscous_gray_approx;
      /*border: 2px solid $color_scooter_approx;*/
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      z-index: -1;
      overflow-y: auto;
      position: absolute !important;
      padding-bottom: 0 !important;
      max-height: 240px;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.1s linear;
      .option {
        cursor: pointer;
        /*border-bottom: 2px solid $concrete;*/
        padding: 10px;
        cursor: pointer;
        background: #73c5bc;
        color: #fff;
        &:only-child {
          border-bottom: 0;
        }
        &:last-child {
          border-bottom: 0;
        }
        &:hover {
          background: $alabaster;
          color: $color_fuscous_gray_approx;
        }
      }
    }

    &.mobile select {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 10px;
      bottom: 10px;
      opacity: 0;
      display: block;
      width: 100%;
    }
    &.open .list {
      display: block;
      opacity: 1;
      z-index: 99999;
      max-height: 240px;
    }
  }
}


