.rating-stars{
  .num_reting{
    font-size: 12px;
    background-color: #ffa200;
    width: 28px;
    height: 18px;
    text-align: center;
    border-radius: 2px;
    color: white;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
  }

  .star-rating__checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  .star-rating__star {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 20px;
    color: #ffa200;
    transition: color .2s ease-out;
  }

  .star-rating__star:hover {
    cursor: pointer;
  }

  .star-rating__star.is-disabled:hover {
    cursor: default;
  }

  @media screen and (max-width: 767px){
    .num_reting{
      font-size: 10px;
      width: 23px;
      height: 14px;;
    }
    .star-rating__star {
      font-size: 15px;
    }
  }
}
