.home-content .how-does-it-work {
  background-size: 360px;
  background-position: right 0 top 32px;
}

.btn.btn-started{
  background-color: #73c5bc;
  border: none;
  color: #fff;
  &:hover{
    background-color: #73c5bc;
    border: none;
    color: #fff;
  }
}
.reg a:hover, .log a:hover {
   color: #73c5bc !important;
}
