@import "colors";

/*
    Settings for Auth Menu
 */

$main-menu-li-separation: 40px;
$menu-link-color: $text-color;

$header-size: 160px;
$header-size-xs: 80px; //12vh

$footer-size: 190px;
$footer-size-xs: 110px;
$messages-box-size: 95vh;

//colors
$black: #000;
$color_mountain_mist_approx: #999;
$white: #fff;
$color_alto_approx: #ddd;
$color_tapa_approx: #777;
$color_mine_shaft_approx: #333;
$color_fuscous_gray_approx: #555;
$color_mercury_approx: #e7e7e7;
$color_celeste_approx: #ccc;
$color_cod_gray_approx: #090909;
$color_star_dust_approx: #9d9d9d;
$color_tundora_approx: #444;
$black_50: rgba(0, 0, 0, 0.5);
$color_nobel_approx: #b1b1b1;
$color_quill_gray_approx: lightgray;
$yellow: #ff0;
$silver: #c0c0c0;
$color_steel_blue_approx: #337ab7;
$color_blumine_approx: #23527c;
$color_gallery_approx: #eeeeee;
$color_solitaire_approx: #fcf8e3;
$color_st_tropaz_approx: #286090;
$color_killarney_approx: #3c763d;
$color_lunar_green_approx: #2b542c;
$color_calypso_approx: #31708f;
$color_san_juan_approx: #245269;
$color_pesto_approx: #8a6d3b;
$color_shingle_fawn_approx: #66512c;
$color_apple_blossom_approx: #a94442;
$color_lotus_approx: #843534;
$color_willow_brook_approx: #dff0d8;
$color_pixie_green_approx: #c1e2b3;
$color_link_water_approx: #d9edf7;
$color_regent_st_blue_approx: #afd9ee;
$color_astra_approx: #f7ecb5;
$color_vanilla_ice_approx: #f2dede;
$color_rose_fog_approx: #e4b9b9;
$color_fantasy_approx: #f9f2f4;
$color_maroon_flush_approx: #c7254e;
$black_25: rgba(0, 0, 0, 0.25);
$color_wild_sand_approx: #f5f5f5;
$color_alabaster_approx: #f9f9f9;
$color_gray_nurse_approx: #e8e8e8;
$color_tea_green_approx: #d0e9c6;
$color_tropical_blue_approx: #c4e3f3;
$color_pipi_approx: #faf2cc;
$color_oyster_pink_approx: #ebcccc;
$mercury: #e5e5e5;
$black_7_5: rgba(0, 0, 0, 0.075);
$color_cornflower_blue_approx: #66afe9;
$color_cornflower_blue_60_approx: rgba(102, 175, 233, 0.6);
$color_fern_approx: #67b168;
$color_twine_approx: #c0a16b;
$color_new_york_pink_approx: #ce8483;
$black_12_5: rgba(0, 0, 0, 0.125);
$color_stack_approx: #8c8c8c;
$color_silver_chalice_approx: #adadad;
$color_astral_approx: #2e6da4;
$color_big_stone_approx: #122b40;
$color_chathams_blue_approx: #204d74;
$color_apple_approx: #4cae4c;
$color_parsley_approx: #255625;
$color_fern_green_approx: #398439;
$color_viking_approx: #5bc0de;
$color_picton_blue_approx: #46b8da;
$color_scooter_approx: #31b0d5;
$color_elm_approx: #1b6d85;
$color_eastern_blue_approx: #269abc;
$color_casablanca_approx: #f0ad4e;
$color_fuel_yellow_approx: #eea236;
$color_carrot_orange_approx: #ec971f;
$color_hawaiian_tan_approx: #985f0d;
$color_meteor_approx: #d58512;
$color_chestnut_rose_approx: #d9534f;
$color_valencia_approx: #d43f3a;
$color_persian_red_approx: #c9302c;
$color_persian_plum_approx: #761c19;
$color_mexican_red_approx: #ac2925;
$black_15: rgba(0, 0, 0, 0.15);
$black_17_5: rgba(0, 0, 0, 0.175);
$color_shark_approx: #262626;
$white_10: rgba(255, 255, 255, 0.1);
$color_desert_storm_approx: #f8f8f8;
$color_chicago_approx: #5e5e5e;
$color_suva_gray_approx: #888;
$color_log_cabin_approx: #222;
$color_woodsmoke_approx: #101010;
$color_beryl_green_approx: #d6e9c6;
$color_charlotte_approx: #bce8f1;
$color_blizzard_blue_approx: #a6e1ec;
$color_champagne_approx: #faebcc;
$color_wheat_approx: #f7e1b5;
$color_cavern_pink_approx: #e4b9c0;
$black_10: rgba(0, 0, 0, 0.1);
$white_15: rgba(255, 255, 255, 0.15);
$color_botticelli_approx: #c7ddef;
$black_5: rgba(0, 0, 0, 0.05);
$black_20: rgba(0, 0, 0, 0.2);
$color_black_haze_approx: #f7f7f7;
$color_cararra_approx: #ebebeb;
$black_60: rgba(0, 0, 0, 0.6);
$black_0_01: rgba(0, 0, 0, 0.0001);
$color_forest_green_approx: #0fba1b;
$color_concrete_approx: #f3f3f3;
$color_cerulean_approx: #0db7d6;
$color_pacific_blue_approx: #0aa2be;
$color_granny_smith_approx: #8c9f9c;
$concrete: #f2f2f2;
$color_spring_wood_approx: #f6f5ef;
$color_ziggurat_approx: #bddcd7;
$color_dove_gray_approx: #6d6f71;
$color_pumice_approx: #c9c9c9;
$color_pink_swan_approx: #bbb;
$color_storm_dust_approx: #666;
$color_curious_blue_approx: #178fe5;
$color_lima_approx: #6cb31d;
$color_flush_orange_approx: #ff8000;
$alabaster: #fafafa;
$color_puerto_rico_approx: #3fb8af;
$color_mine_shaft_45_approx: rgba(51, 51, 51, 0.45);
$color_black_squeeze_approx: #eff9fb;
$color_swans_down_approx: #d7eae7;
$color_french_gray_approx: #b5bebf;
$color_silver_sand_approx: #c2c2c2;
$gray:  gray;
$color_tower_gray_approx: #b3bbbc;
$color_gin_approx: #e8edec;
$color_silver_approx: #b7bdbd;
$color_moss_green_approx: #a4dba7;
$color_sweet_pink_approx: #f5a3a3;
$color_saltpan_approx: #f2faef;
$color_monza_approx: #d2141a;
$color_slate_gray_approx: #6a868a;
$color_geyser_approx: #d4e8e5;
$color_cerulean_50_approx: rgba(13, 183, 214, 0.5);
$color_snow_drift_approx: #f5faf9;
$black_41: rgba(0, 0, 0, 0.41);
$black_80: rgba(0, 0, 0, 0.8);
$black_30: rgba(0, 0, 0, 0.3);

//fonts
$font_0: Glyphicons Halflings;
$font_1: Open Sans;
$font_2: sans-serif;
$font_3: monospace;
$font_4: Menlo;
$font_5: Monaco;
$font_6: Consolas;
$font_7: Courier New;
$font_8: serif;
$font_9: Arial;
$font_10: Helvetica Neue;
$font_11: Helvetica;
$font_12: -caption;

$url_11: url(../img/ava-bg.png);
$url_12: url(../img/texture_1.jpg);
$url_13: url(../img/sprites/sprites-main.png);
$url_14: url(../img/texture-forest.jpg);
$url_15: url(../img/texture-room.jpg);
$url_16: url(../img/ppl.png);
$url_17: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxNWVtIiBoZWlnaHQ9IjE1ZW0iIHZpZXdCb3g9IjAgMCAxNSAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTUgMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGREI4MjUiIGQ9Ik03Ljc1MywwLjc0bDIuMjY4LDQuMTc4bDQuNjEzLDAuOUwxMS40MjMsOS4zbDAuNTgzLDQuNzM0DQoJbC00LjI1My0yLjAyNkwzLjUsMTQuMDM0TDQuMDgzLDkuM2wtMy4yMS0zLjQ4Mmw0LjYxMi0wLjlMNy43NTMsMC43NCIvPg0KPC9zdmc+DQo=);
$url_18: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxNWVtIiBoZWlnaHQ9IjE1ZW0iIHZpZXdCb3g9IjAgMCAxNSAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTUgMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNDRUNEQ0QiIGQ9Ik03Ljc1MywwLjc0bDIuMjY4LDQuMTc4bDQuNjEzLDAuOUwxMS40MjMsOS4zbDAuNTgzLDQuNzM0DQoJbC00LjI1My0yLjAyNkwzLjUsMTQuMDM0TDQuMDgzLDkuM2wtMy4yMS0zLjQ4Mmw0LjYxMi0wLjlMNy43NTMsMC43NCIvPg0KPC9zdmc+DQo=);
$url_19: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==);
$url_20: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=);
$url_21: url(../img/design/alert-icon.png);
$url_22: url(../img/design/slider-line.png);
$url_23: url(../img/design/slider-handle.png);
$url_24: url(../img/design/back-icon.png);
$url_25: url(../img/design/search-icon-focus.png);
$url_26: url(../img/design/delete-icon.png);
$url_27: url(../img/design/checkmark-icon.png);
$url_28: url(../img/design/icon-star-active.png);
$url_29: url(../img/design/star-icon-inactive.png);
$url_30: url(../img/design/icon-half-star.png);
$url_31: url(../img/design/hired-icon.png);
$url_32: url(../img/design/hired-icon-hover.png);
$url_33: url(../img/design/messaged-icon.png);
$url_34: url(../img/design/messaged-icon-hover.png);
$url_35: url(../img/design/messaged-icon-active.png);
$url_36: url(../img/design/favorites-icon.png);
$url_37: url(../img/design/favorites-icon-hover.png);
$url_38: url(../img/design/recently-viewed-icon.png);
$url_39: url(../img/design/recently-viewed-icon-hover.png);
$url_40: url(../img/design/inbox-icon.png);
$url_41: url(../img/design/inbox-icon-hover.png);
$url_42: url(../img/design/sent-icon.png);
$url_43: url(../img/design/sent-icon-hover.png);
$url_44: url(../img/design/archive-icon.png);
$url_45: url(../img/design/archive-icon-hover.png);
$url_46: url(../img/design/edit-job-icon.png);
$url_47: url(../img/design/close-job-icon.png);
$url_48: url(../img/design/repost-job-icon.png);
$url_49: url(../img/design/make-public-icon.png);
$url_50: url(../img/design/applicants-icon.png);
$url_51: url(../img/design/applicants-icon-active.png);
$url_52: url(../img/design/shortlisted-icon.png);
$url_53: url(../img/design/shortlisted-icon-active.png);
$url_54: url(../img/design/shortlisted-icon-hover.png);
$url_55: url(../img/design/shortlisted-icon-active-action.png);
$url_56: url(../img/design/hidden-icon.png);
$url_57: url(../img/design/hidden-icon-active.png);
$url_58: url(../img/design/hidden-icon-hover.png);
$url_59: url(../img/design/hidden-icon-active-action.png);
$url_60: url(../img/design/days-not-checked-icon.png);
$url_61: url(../img/design/calendar-icon.png);
$url_62: url(../img/design/view-profile-icon.png);
$url_63: url(../img/design/view-profile-icon-hover.png);
$url_64: url(../img/design/settings-icon.png);
$url_65: url(../img/design/settings-icon-hover.png);
$url_66: url(../img/design/logout-icon.png);
$url_67: url(../img/design/logout-icon-hover.png);
$url_68: url(../img/design/actions-group-arrow.png);
$url_69: url(../img/design/customselect_arrow.png);
$url_70: url(../img/design/skill-close-icon.png);
$url_71: url(/img/design/facebook-icon.png);
$url_72: url(/img/design/facebook-icon-hover.png);
$url_73: url(/img/design/twitter-icon.png);
$url_74: url(/img/design/twitter-icon-hover.png);
$url_75: url(/img/design/pinterest-icon.png);
$url_76: url(/img/design/pinterest-icon-hover.png);
$url_77: url(/img/texture_1.png);
$url_78: url(/img/ch.png);
$url_79: url(/img/design/logo.png);
$url_80: url(/img/design/checkbox-no.png);
$url_81: url(/img/design/checkbox-yes.png);
$url_82: url(/img/design/pre-launch/beta-bg.png);
$url_83: url(../img/design/map-marker-bg.png);