.get-started-main-box .selection-of-roles-box:after,
.home-content .verf-network .net-items li>em:after,
.home-content .verf-network-inner:after,
.main-header>.main-header-inner:after,
.make-your-choice-box__item-in:after {
    clear: both
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxp_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype')
}

.main-header {
    min-width: 320px;
    width: 100%;
    border-bottom: 2px solid #d6eae7
}

.main-header>.main-header-inner {
    margin: 0 auto;
    padding: .1px
}

.main-header>.main-header-inner:after,
.main-header>.main-header-inner:before {
    content: " ";
    display: table
}

.main-header>.main-header-inner .main-logo {
    float: left;
    margin: 12px 0 -30px 20px;
    position: relative;
    z-index: 0
}

.main-header>.main-header-inner .top-nav-box {
    float: right;
    margin: 55px 20px 0 0
}

.main-header>.main-header-inner .search-dropdown {
    width: 300px;
    margin: 55px 0 0 230px
}

.main-header .main-logo {
    display: block;
    width: 180px;
    height: 178px;
    margin: 0;
    padding: 0
}

.main-header .search-dropdown {
    border: 2px solid #f3f3f3;
    border-radius: 4px;
    transition: border-color .2s
}

.main-header .search-dropdown.active,
.main-header .search-dropdown:hover {
    border-color: #0db7d6
}

.main-header .search-dropdown .btn {
    background: 0 0;
    color: #333;
    padding: 0 0 0 10px;
    height: 47px;
    border: none
}

.main-header .search-dropdown .btn:active,
.main-header .search-dropdown .btn:focus,
.main-header .search-dropdown .btn:hover {
    border: none;
    outline: 0;
    box-shadow: none
}

.main-header .search-dropdown .btn .glyphicon {
    vertical-align: middle
}

.main-header .search-dropdown .btn .glyphicon.glyphicon-search {
    font-size: 20px
}

.main-header .search-dropdown .btn .glyphicon.glyphicon-chevron-down {
    font-size: 10px
}

.main-header .search-dropdown .form-control[type=text],
.main-header .search-dropdown .form-control[type=text]:active,
.main-header .search-dropdown .form-control[type=text]:focus,
.main-header .search-dropdown .form-control[type=search],
.main-header .search-dropdown .form-control[type=search]:active,
.main-header .search-dropdown .form-control[type=search]:focus {
    border-radius: 0;
    border: none;
    box-shadow: none;
    height: 47px;
    font-size: 14px;
    padding-left: 10px;
    color: #000
}

.main-header .search-dropdown .form-control[type=text]::-webkit-input-placeholder,
.main-header .search-dropdown .form-control[type=text]:active::-webkit-input-placeholder,
.main-header .search-dropdown .form-control[type=text]:focus::-webkit-input-placeholder,
.main-header .search-dropdown .form-control[type=search]::-webkit-input-placeholder,
.main-header .search-dropdown .form-control[type=search]:active::-webkit-input-placeholder,
.main-header .search-dropdown .form-control[type=search]:focus::-webkit-input-placeholder {
    color: #000
}

.main-header .search-dropdown .form-control[type=text]::-moz-placeholder,
.main-header .search-dropdown .form-control[type=text]:active::-moz-placeholder,
.main-header .search-dropdown .form-control[type=text]:focus::-moz-placeholder,
.main-header .search-dropdown .form-control[type=search]::-moz-placeholder,
.main-header .search-dropdown .form-control[type=search]:active::-moz-placeholder,
.main-header .search-dropdown .form-control[type=search]:focus::-moz-placeholder {
    color: #000
}

.main-header .search-dropdown .form-control[type=text]:-moz-placeholder,
.main-header .search-dropdown .form-control[type=text]:active:-moz-placeholder,
.main-header .search-dropdown .form-control[type=text]:focus:-moz-placeholder,
.main-header .search-dropdown .form-control[type=search]:-moz-placeholder,
.main-header .search-dropdown .form-control[type=search]:active:-moz-placeholder,
.main-header .search-dropdown .form-control[type=search]:focus:-moz-placeholder {
    color: #000
}

.main-header .search-dropdown .form-control[type=text]:-ms-input-placeholder,
.main-header .search-dropdown .form-control[type=text]:active:-ms-input-placeholder,
.main-header .search-dropdown .form-control[type=text]:focus:-ms-input-placeholder,
.main-header .search-dropdown .form-control[type=search]:-ms-input-placeholder,
.main-header .search-dropdown .form-control[type=search]:active:-ms-input-placeholder,
.main-header .search-dropdown .form-control[type=search]:focus:-ms-input-placeholder {
    color: #000
}

.main-header .search-dropdown .dropdown-menu {
    box-shadow: none;
    border-width: 0 2px 2px;
    border-style: solid;
    border-color: #0db7d6;
    border-radius: 0 0 4px 4px;
    margin: -2px 0 0 -2px;
    padding: 0;
    width: 300px
}

.main-header .search-dropdown .dropdown-menu .dropdown-menu-search-row {
    border-top: 2px solid #f2f2f2;
    transition: background-color .2s;
    height: 48px
}

.main-header .search-dropdown .dropdown-menu .dropdown-menu-search-row:hover {
    background-color: #f9f9f9
}

.main-header .search-dropdown .dropdown-menu .dropdown-menu-search-row input[type=radio] {
    display: none
}

.main-header .search-dropdown .dropdown-menu .dropdown-menu-search-row label {
    display: block;
    margin: 0;
    cursor: pointer;
    padding: 14px 10px
}

.main-header .top-nav-box .nav.nav-pills>li .help-nav-text {
    display: inline-block;
    vertical-align: top;
    margin-top: 16px;
    margin-right: 22px
}

.main-header .top-nav-box .nav.nav-pills>li+li {
    margin-left: 5px
}

.main-header .top-nav-box .nav.nav-pills>li>a,
.main-header .top-nav-box .nav.nav-pills>li>a:active,
.main-header .top-nav-box .nav.nav-pills>li>a:visited {
    padding: 15px;
    color: #000;
    transition: color .2s
}

.main-header .top-nav-box .nav.nav-pills>li>a:focus,
.main-header .top-nav-box .nav.nav-pills>li>a:hover {
    color: #0da417;
    background-color: transparent
}

.content-wrap {
    background-color: #f9f9f9
}

.about-content-page .text-box {
    width: 100%;
}

.about-content-page .text-box-inner {
    width: 740px;
    margin: 0 auto;
    padding: 46px 0 55px
}

.about-content-page .text-box-inner .h3,
.about-content-page .text-box-inner h3 {
    margin: 0 0 15px
}

.about-content-page .text-box-inner p {
    font-size: 18px;
    margin: 0;
    line-height: 1.3
}

.about-content-page .text-box-inner p+p {
    margin-top: 17px
}

.about-content-page .text-box:nth-child(even) {
    background-color: #fff
}

.about-content-page .user-reviews-box {
    width: 100%;
}

.about-content-page .user-reviews-box-inner {
    margin: 0 auto;
    padding: 23px .1px 40px
}

.about-content-page .user-reviews-box-inner>header {
    text-align: center;
    margin: 0 0 -27px
}

.about-content-page .user-reviews-box-inner>header .user-name {
    width: 274px;
    height: 274px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #f2f3f3;
    text-align: left
}

.about-content-page .user-reviews-box-inner>header .user-name .h3,
.about-content-page .user-reviews-box-inner>header .user-name h3 {
    display: block;
    margin: 86px 0 0 64px;
    line-height: 1.2;
    letter-spacing: 1px
}

.about-content-page .user-reviews-box-inner>header .user-avatar {
    width: 241px;
    height: 239px;
    position: relative;
    padding: 4px 5px 5px 6px;
    margin: 34px 0 0 -30px
}

.about-content-page .user-reviews-box-inner>header .user-avatar:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../img/ava-bg.png);
    background-size: 100% 100%
}

.about-content-page .user-reviews-box-inner>header .user-avatar img {
    display: block;
    position: relative;
    z-index: 1;
    max-width: 230px;
    height: auto;
    border-radius: 50%
}

.about-content-page .user-reviews-box-inner>header .user-avatar,
.about-content-page .user-reviews-box-inner>header .user-name {
    display: inline-block;
    vertical-align: top
}

.about-content-page .user-reviews-box-inner .user-reviews-text-box {
    background-color: #f6f5ef;
    margin: 0 auto;
    padding: 20px 25px 45px;
    width: 740px
}

.about-content-page .user-reviews-box-inner .user-reviews-text-box blockquote,
.about-content-page .user-reviews-box-inner .user-reviews-text-box p {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0
}

.about-content-page .user-reviews-box-inner .user-reviews-text-box blockquote {
    border: none;
    position: relative;
    padding: 17px 30px 34px;
    margin-bottom: 27px
}

.about-content-page .user-reviews-box-inner .user-reviews-text-box blockquote:after,
.about-content-page .user-reviews-box-inner .user-reviews-text-box blockquote:before {
    content: '"';
    position: absolute;
    color: #bddcd7;
    font-size: 64px;
    font-family: "Open Sans", sans-serif;
    font-style: italic
}

.about-content-page .user-reviews-box-inner .user-reviews-text-box blockquote:before {
    top: -8px;
    left: 0
}

.about-content-page .user-reviews-box-inner .user-reviews-text-box blockquote:after {
    bottom: -45px;
    right: 7px
}

.about-content-page .user-reviews-box-inner .user-reviews-text-box p {
    margin: 0;
    line-height: 1.5;
    letter-spacing: -.9px
}

.about-content-page .user-reviews-box-inner .user-reviews-text-box p+p {
    margin-top: 35px
}

.about-content-page .user-reviews-box-inner .user-reviews-text-box .author-signature {
    display: block;
    margin: 0 52px;
    font-style: normal;
    text-align: right;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #6d6f71
}

.login-form-box form .checkbox,
.login-form-box form .radio {
    margin: 29px 0 26px
}

.login-form-box form .btn {
    min-width: 160px
}

.login-form-box form .btn+a {
    margin-left: 25px
}

.create-account-form-box,
.login-form-box,
.remember-form-box {
    margin: 53px auto 55px
}

.create-account-form-box .h4,
.create-account-form-box h4,
.login-form-box .h4,
.login-form-box h4,
.remember-form-box .h4,
.remember-form-box h4 {
    text-align: center;
    bottom: 7px
}

.create-account-form-box p,
.login-form-box p,
.remember-form-box p {
    font-size: 16px;
    text-align: center
}

.create-account-form-box form,
.login-form-box form,
.remember-form-box form {
    width: 400px;
    margin: 31px auto 23px
}

.create-account-form-box form>.form-group,
.login-form-box form>.form-group,
.remember-form-box form>.form-group {
    margin-bottom: 20px
}

.create-account-form-box form>.form-group+.btn,
.login-form-box form>.form-group+.btn,
.remember-form-box form>.form-group+.btn {
    margin-top: 30px
}

.create-account-form-box form>.btn,
.login-form-box form>.btn,
.remember-form-box form>.btn {
    display: block;
    margin: 0 auto 20px;
    min-width: 160px;
    text-align: center
}

.remember-form-box form .captcha-box {
    vertical-align: top;
    width: 194px;
    height: 67px;
    margin: 0 auto 30px;
    text-align: center
}

.remember-form-box form .captcha-box>img {
    display: inline-block;
    vertical-align: top
}

.get-started-main-box {
    margin: 40px 0 0
}

.get-started-main-box>.h1,
.get-started-main-box>.h4,
.get-started-main-box>h1,
.get-started-main-box>h4 {
    text-align: center
}

.get-started-main-box>.h1,
.get-started-main-box>h1 {
    margin-bottom: 16px
}

.get-started-main-box .selection-of-roles-box {
    /*width: 1120px;*/
    margin: 35px auto 55px
}

.get-started-main-box .selection-of-roles-box:after,
.get-started-main-box .selection-of-roles-box:before {
    content: " ";
    display: table
}

.get-started-main-box .selection-of-roles-box .caregiver-role,
.get-started-main-box .selection-of-roles-box .parents-role {
    width: 464px;
    height: 464px;
    background: #fff;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    text-align: center
}

.get-started-main-box .selection-of-roles-box .caregiver-role>div,
.get-started-main-box .selection-of-roles-box .parents-role>div {
    display: table;
    width: 100%;
    height: 100%
}

.get-started-main-box .selection-of-roles-box .caregiver-role>div>div,
.get-started-main-box .selection-of-roles-box .parents-role>div>div {
    display: table-cell;
    vertical-align: middle
}

.get-started-main-box .selection-of-roles-box .caregiver-role .h4,
.get-started-main-box .selection-of-roles-box .caregiver-role h4,
.get-started-main-box .selection-of-roles-box .parents-role .h4,
.get-started-main-box .selection-of-roles-box .parents-role h4 {
    margin: 55px 0 0
}

.get-started-main-box .selection-of-roles-box .caregiver-role .h6,
.get-started-main-box .selection-of-roles-box .caregiver-role h6,
.get-started-main-box .selection-of-roles-box .parents-role .h6,
.get-started-main-box .selection-of-roles-box .parents-role h6 {
    margin: 20px 0 0
}

.get-started-main-box .selection-of-roles-box .caregiver-role .btn,
.get-started-main-box .selection-of-roles-box .parents-role .btn {
    margin-top: 30px
}

.get-started-main-box .selection-of-roles-box .parents-role {
    float: left;
    border-color: #0db7d6;
    margin-left: 35px
}

.get-started-main-box .selection-of-roles-box .caregiver-role {
    float: right;
    border-color: #0fba1b;
    margin-right: 35px
}

.get-started-main-box .selection-of-roles-box .help-text {
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 215px 0 0
}

.about-content-page .user-reviews-box,
.turquoise-texture {
    background: url(../img/texture_1.jpg)
}

.make-your-choice-box>header {
    text-align: center;
    padding: 50px 0
}

.make-your-choice-box>header .btn {
    text-transform: uppercase;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 22px;
    font-weight: 700
}

.make-your-choice-box>header .btn+.btn {
    margin-left: 50px
}

.make-your-choice-box__item {
    position: relative
}

.make-your-choice-box__item-in {
    width: 930px;
    min-height: 320px;
    margin: 0 auto;
    padding: 92px 95px 0;
    position: relative
}

.make-your-choice-box__item-in:after,
.make-your-choice-box__item-in:before {
    content: " ";
    display: table
}

.make-your-choice-box__item-in hgroup {
    width: 458px;
    float: right
}

.make-your-choice-box__item-in .art-icon.chats-green,
.make-your-choice-box__item-in .art-icon.dollar-green,
.make-your-choice-box__item-in .art-icon.map-case-blue,
.make-your-choice-box__item-in .art-icon.map-case-green,
.make-your-choice-box__item-in .art-icon.people-blue,
.make-your-choice-box__item-in .art-icon.portfolio-green,
.make-your-choice-box__item-in .art-icon.smile-check-blue,
.make-your-choice-box__item-in .art-icon.wallet-blue {
    background-image: url(../img/sprites/sprites-main.png);
    width: 232px;
    height: 232px
}

.make-your-choice-box__item-in .art-icon {
    display: block;
    position: absolute;
    top: 43px;
    left: 53px
}

.make-your-choice-box__item-in .art-icon.map-case-green {
    background-position: -237px -237px
}

.make-your-choice-box__item-in .art-icon.portfolio-green {
    background-position: -474px -237px
}

.make-your-choice-box__item-in .art-icon.chats-green {
    background-position: 0 0
}

.make-your-choice-box__item-in .art-icon.dollar-green {
    background-position: -237px 0
}

.make-your-choice-box__item-in .art-icon.map-case-blue {
    background-position: 0 -237px
}

.make-your-choice-box__item-in .art-icon.people-blue {
    background-position: -474px 0
}

.make-your-choice-box__item-in .art-icon.smile-check-blue {
    background-position: 0 -474px
}

.make-your-choice-box__item-in .art-icon.wallet-blue {
    background-position: -237px -474px
}

.make-your-choice-box__item-in .h3,
.make-your-choice-box__item-in h3 {
    margin: 0
}

.make-your-choice-box__item-in .h6,
.make-your-choice-box__item-in h6 {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #6d6f71;
    font-weight: 300
}

.make-your-choice-box__item:nth-child(even) {
    background-color: #fff
}

.make-your-choice-box__item:nth-child(even) hgroup {
    float: left
}

.make-your-choice-box__item:nth-child(even) .art-icon {
    right: 53px;
    left: auto
}

.make-your-choice-box>footer {
    background-color: #fff;
    text-align: center;
    padding: 65px 0 78px
}

.make-your-choice-box>footer>strong {
    font-style: italic;
    display: block;
    font-size: 28px;
    margin-bottom: 35px
}

.make-your-choice-box>footer .btn {
    font-size: 22px;
    font-weight: 700;
    padding-left: 68px;
    padding-right: 68px
}

.home-content .home-lil-bit-about {
    width: 100%;
    background: url(../img/texture-forest.jpg) no-repeat;
    background-size: cover;
    color: #fff
}

.home-content .home-lil-bit-about-inner {
    margin: 0 auto;
    padding: 65px 0 70px;
    text-align: center
}

.home-content .home-lil-bit-about-inner>.h2,
.home-content .home-lil-bit-about-inner>h2 {
    font-weight: 700;
    margin: 0
}

.home-content .home-lil-bit-about-inner>.h5,
.home-content .home-lil-bit-about-inner>h5 {
    font-style: italic;
    font-weight: 300;
    margin: 0
}

.home-content .home-lil-bit-about-inner>hr {
    width: 415px;
    margin: 15px auto
}

.home-content .home-lil-bit-about-inner>p {
    font-weight: 600;
    font-size: 28px;
    margin: 35px 0
}

.home-content .verf-network {
    background-color: #fff
}

.home-content .verf-network-inner {
    margin: 0 auto;
    padding: 60px 0
}

.home-content .verf-network-inner:after,
.home-content .verf-network-inner:before {
    content: " ";
    display: table
}

.home-content .verf-network .net-items {
    margin: 0;
    padding: 0
}

.home-content .verf-network .net-items li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 254px;
    height: 254px;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    padding: 24px 0 0;
    text-align: center;
    background-color: #f9f9f9
}

.home-content .verf-network .net-items li:nth-child(even) {
    background-color: #fff
}

.home-content .verf-network .net-items li+li {
    margin-left: -48px
}

.home-content .verf-network .net-items li .ava-box {
    display: block;
    height: 102px;
    width: 102px;
    margin: 0 auto 5px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #c9c9c9
}

.home-content .verf-network .net-items li>b {
    display: block;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px
}

.home-content .verf-network .net-items li>i {
    display: block;
    font-style: normal;
    margin-bottom: 13px
}

.home-content .verf-network .net-items li>em {
    display: block;
    width: 105px;
    margin: 0 auto
}

.home-content .verf-network .net-items li>em:after,
.home-content .verf-network .net-items li>em:before {
    content: " ";
    display: table
}

.home-content .verf-network .net-items li>em>span {
    float: left;
    background-image: url(../img/sprites/sprites-main.png);
    background-position: -474px -474px;
    width: 16px;
    height: 15px
}

.home-content .verf-network .net-items li>em>span+span {
    margin-left: 6px
}

.home-content .verf-network .text-box-net {
    margin-top: 56px
}

.home-content .verf-network .text-box-net .h2,
.home-content .verf-network .text-box-net h2 {
    display: block;
    margin: 0 0 12px
}

.home-content .woman-children-box {
    //width: 100%;
    //background: url(../img/texture-room.jpg) center bottom no-repeat;
    //background-size: cover
}

.home-content .woman-children-box-inner {
    min-height: 445px;
    margin: 0 auto;
    padding: 1px 0 0;
    background: url(../img/ppl.png) right bottom no-repeat
}

.home-content .woman-children-box .text-box {
    color: #fff;
    background-color: #0db7d6;
    border-radius: 0 40px;
    padding: 60px 65px;
    margin: 88px 0 0;
    width: 495px
}

.home-content .woman-children-box .text-box .h3,
.home-content .woman-children-box .text-box h3 {
    margin: 0 0 10px;
    font-weight: 700
}

.home-content .woman-children-box .text-box p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0
}

.home-content .get-started-box {
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 70px 0 80px
}

.home-content .get-started-box .h2,
.home-content .get-started-box h2 {
    margin: 0 0 30px;
    display: block
}

.home-content .get-started-box p {
    font-size: 18px;
    color: #6d6f71;
    margin: 0 0 33px
}

.home-content .get-started-box .btn {
    min-width: 300px;
    font-size: 22px;
    font-weight: 700;
    line-height: 50px
}

.home-content .user-comment-bubble {
    width: 100%;
    background: url(../img/texture_1.jpg)
}

.home-content .user-comment-bubble-inner {
    margin: 0 auto;
    padding: 1px;
    min-height: 500px
}

.home-content .user-comment-bubble-inner>div {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top
}

.home-content .user-comment-bubble-inner .user-name {
    margin: 88px 0 0 157px
}

.home-content .user-comment-bubble-inner .user-ava {
    margin: 190px 0 0 -45px;
    position: relative;
    z-index: 2
}

.home-content .user-comment-bubble-inner .bq-text {
    margin: 50px 0 0 -35px
}

.home-content .user-comment-bubble .user-name {
    width: 274px;
    height: 274px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #f2f3f3;
    text-align: left
}

.home-content .user-comment-bubble .user-name .h3,
.home-content .user-comment-bubble .user-name h3 {
    display: block;
    margin: 86px 0 0 64px;
    line-height: 1.2;
    letter-spacing: 1px
}

.home-content .user-comment-bubble .user-ava {
    width: 230px;
    height: 230px;
    position: relative;
    padding: 4px 5px 5px 6px
}

.home-content .user-comment-bubble .user-ava:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../img/ava-bg.png);
    background-size: 100% 100%
}

.home-content .user-comment-bubble .bq-text {
    width: 404px;
    height: 404px;
    background-color: #fff;
    border: 2px solid #f1f2f2;
    padding: 90px 20px 0 25px;
}

.home-content .user-comment-bubble .bq-text p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #333;
    margin: 0
}

.home-content .user-comment-bubble .bq-text p:first-child {
    position: relative;
    padding: 10px 33px;
    text-align: center;
}

.home-content .user-comment-bubble .bq-text p:first-child:after,
.home-content .user-comment-bubble .bq-text p:first-child:before {
    color: #bddcd7;
    font-size: 64px;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-style: italic
}

.home-content .user-comment-bubble .bq-text p:first-child:before {
    content: '"';
    top: -11px;
    left: 0
}

.home-content .user-comment-bubble .bq-text p:first-child:after {
    content: '"';
    bottom: -50px;
    right: 10px;
}

.home-content .user-comment-bubble .bq-text p.author-signature {
    font-size: 16px;
    color: #6d6f71;
    text-align: right;
    padding: 10px 70px;
}

body,
.checkbox label {
  font-weight: 300;
}

.nav-pills > li.active > a {
    background-color: #EEEEEE !important;
    color: #337AB7 !important;
}

.alert-hidden {
    display: none;
}

.home-offer-info .row {
    margin: 10px;
}

.border-hide {
    border: none !important;
    box-shadow: none !important;
}

hr.hr-style {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: #DDD;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.media-no-mp-top {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.padd-top {
    padding-top: 20px;
}

.feedback-rate-bl,
.feedback-rate-val {
    display: inline-block;
    height: 16px;
    width: 80px;
    overflow: hidden;
    background-repeat: repeat-x!important;
    background-image: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxNWVtIiBoZWlnaHQ9IjE1ZW0iIHZpZXdCb3g9IjAgMCAxNSAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTUgMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGREI4MjUiIGQ9Ik03Ljc1MywwLjc0bDIuMjY4LDQuMTc4bDQuNjEzLDAuOUwxMS40MjMsOS4zbDAuNTgzLDQuNzM0DQoJbC00LjI1My0yLjAyNkwzLjUsMTQuMDM0TDQuMDgzLDkuM2wtMy4yMS0zLjQ4Mmw0LjYxMi0wLjlMNy43NTMsMC43NCIvPg0KPC9zdmc+DQo=)!important;
    background-size: auto 16px;
    background-position: 0 0!important;
}

.feedback-rate-bl {
    background-image: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxNWVtIiBoZWlnaHQ9IjE1ZW0iIHZpZXdCb3g9IjAgMCAxNSAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTUgMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNDRUNEQ0QiIGQ9Ik03Ljc1MywwLjc0bDIuMjY4LDQuMTc4bDQuNjEzLDAuOUwxMS40MjMsOS4zbDAuNTgzLDQuNzM0DQoJbC00LjI1My0yLjAyNkwzLjUsMTQuMDM0TDQuMDgzLDkuM2wtMy4yMS0zLjQ4Mmw0LjYxMi0wLjlMNy43NTMsMC43NCIvPg0KPC9zdmc+DQo=)!important;
    line-height: 0;
    text-align: left!important;
}

.feedback-rate-numb {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    line-height: 1em;
    margin-left: 5px;
}

.feedback-bl-md .feedback-rate-numb {
    font-size: 14px;
    line-height: 1.42857143;
}

.feedback-bl-md .feedback-rate-bl,
.feedback-bl-md .feedback-rate-val {
    height: 14px;
}

.feedback-bl-md .feedback-rate-bl {
    margin-top: 2px;
    /*line-height: 1.42857143;*/
}

.history-progress {
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}

.history-progress.collapsed:before {
    content: '(+) ';
}

.history-progress:before {
    content: '(-) ';
}

#dropdown-toggle-notification .dropdown-menu > li > a {
    white-space: normal;
}

#dropdown-toggle-notification .dropdown-menu {
    width: 310px;
}

.text-bold {
    font-weight: bold;
}

.text-small {
    font-size: smaller;
}

.no-margin {
    margin: 0px 0px;
}

.valign {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.form-inline .bfh-datepicker {
    display: inline-block;
}

.bfh-datepicker .form-control {
    background-color: #FFF !important;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

@media (max-width: 1120px) {
    .main-header {
        .header-auth-row {
            .profile-nav {
                .search-box {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 995px) {
    .main-header {
        .main-logo {
            img {
                width: 120px;
            }
        }
        .profile-box {
            width: 210px;

            .user-name {
                width: 100px;
            }
        }
    }
}


@include xs() {
  .main-header {
    min-width: auto;
    //height: $header-size-xs;

    .main-logo {
      margin: 0 !important;
      width: 25%; height: auto;

      img {
        width: 60px;
      }
    }

    .header-auth-row {
      margin: 0;
    }

    .main-nav-auth {
      margin-top: 10px;

      ul {
        padding: 0;
        margin: 0;

        li {
          padding: 0;
          display: block;

          a {
            font-size: 1.1em;
          }
        }
      }
    }

    .profile-nav {

      .profile-box {
        width: auto;

        .profile-image {
          width: 30px;

          img {
            width: 100%; height: 100%;
            border-radius: 50%;
          }

        }

      }


      .AuthProfileDropdown {
        z-index: 5;
      }
    }
  }
}