#main-user-info {
    line-height: 90px;
}
#main-user-info .profile-picture, #main-user-info .user-name, #main-user-info .actions {
    display: inline-block;
}

#main-user-info .file-select {
    padding-top: 20px;
    line-height: 1;
    form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .file-select__choose-file {
        flex: 1;
    }
    // .file-select__delete {

    // }
    .filename {
        display: inline-block;
    }
}

#main-user-info .profile-picture img {
    border-radius: 90px;
    margin-right: 20px;
}
#main-user-info .user-name {
    font-size: 1.6em;
    font-weight: 600;
}
#main-user-info .actions {
    float: right;
}

.my-info {
    margin-top: 30px;
    margin-bottom: 10px;
}

.my-info h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

