.email-notification-settings {

}

.activity-settings {
    margin-top: 30px;
    label {
        display: block;
        font-weight: 400;
    }
    margin-bottom: 20px;
}

.status-settings {
    label {
        font-weight: 400;
    }
}

#notification-settings {
    .panel-row {
        border-bottom: 0;
    }
    .panel-row.title {
        min-height: 35px;
        border-bottom: 1px solid;
        border-color: #d7eae7;
    }
    input {
        min-height: 6px;
    }
    label {
        cursor: pointer;
    }
    ul {
        li {
            label {
                width: 100%;
                font-weight: normal;

                margin-bottom: 0;
            }
        }
    }
}