.applicants-filter {
    @include make-row();
    .filter {
        @include make-lg-column(3);

        margin-top: 20px;
        display: flex !important;
        align-items: center;
        .customselect {
            flex: 3;
            width: 100%;
        }
        strong {
            flex: 1;
        }
    }
}
#applicants .pagination {
    margin: 0;
    .active a {
        background-color: hsla(190, 72%, 48%, 1);
        border-color: hsla(190, 72%, 48%, 1);
        color: #fff;
    }
    & > li > a:hover, & > li > a:focus, & > li > span:hover, & > li > span:focus {
        background-color: hsla(0, 0%, 98%, 1);
        border-color: hsla(0, 0%, 87%, 1);
        color: hsla(190, 72%, 48%, 1);
    }
    & > li > a, & > li > span {
        color: hsla(190, 72%, 48%, 1);
    }

}
.applicants {
    @include make-row();
    .list, .menu {
        .panel {
            // min-height: 207px;
        }
    }
    .list {
        @include make-lg-column(9);
        .panel-row.empty {
            @include clearfix();
            height: 203px;
            h5 {
                display: block;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
                margin-top: 20px;
            }
        }
        .applicant-row {
            @include clearfix();
            @include caregiver-row-thumbnail();
            .actions {
                max-width: none;
                float: right;
                a { color: #000; &:not(:last-child) { margin-right: 20px; }}
                text-align: right;
                margin-right: 20px;
                padding-top: 10px;
                .icon {
                    vertical-align: bottom;
                }
            }
            .profile-picture {
                @include make-lg-column(1,0);
            }

            .applicant-information {
                @include make-lg-column(11,0);
                padding-top: 5px;
            }
            .applicant-details, .applicant-info, .applicant-actions {
                padding-left: 10px;
            }
            .applicant-info, .applicant-actions {
                margin-top: 10px;
                ul li, ul {
                    margin:0; border:0; padding:0;line-height:1; min-height:0;
                }
                ul li {
                    &:not(:last-child) {
                        padding-right: 8px;
                        border-right: 1px solid hsl(168, 33%, 97%);
                    }
                    &:not(:first-child) {
                        padding-left: 8px;
                        border-left: 1px solid $main-border-color;
                    }
                }
            }
            .applicant-actions {
                margin-bottom: 20px;
                ul li {
                    &:not(:last-child) {
                        padding-right: 8px;
                        border-right: 1px solid hsl(168, 33%, 97%);
                    }
                    &:not(:first-child) {
                        border-left: 1px solid hsl(168, 33%, 97%);
                    }
                }
            }
            // .rates
            // .experience
            // .job-success

        }
    }
    .menu {
        @include make-lg-column(3);

        nav {
            ul {
                list-style: none;
            }
            ul, ul li {
                padding: 0;
                margin: 0;
                border: none;
            }
            ul li {
                &:not(:last-child) {
                    border-bottom: 1px solid $main-border-color;
                }

                a {
                    padding: 0 20px;
                    color: #000;
                    display: flex;
                    width: 100%;
                    line-height: 50px;
                    align-items: center;
                    .quantity {
                        flex: 1;
                        text-align: right;
                        font-weight: 700;
                    }
                    .icon {
                        display: block;
                        margin-right: 10px;
                    }
                }
                &.active a {
                    font-weight: 700;
                    background-color: hsl(190, 72%, 48%);
                    color: #fff;
                }
                &:hover {
                    background-color: hsl(0, 0%, 98%);
                }
            }
        }
    }
}