.filters {
    line-height: 46px;
}

.caregiver {
    img, .name {
        display: inline-block;
    }
    img {
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.contracts .panel-row {
    height: 80px;
    line-height: 80px;
}
.contracts .panel-row.empty {
    padding: 0 !important;
    height: 75px;
    line-height: 75px;
}


.contract-details {
    .panel-row {
        &:first-child {
            min-height: 52px;
            h5 {
                font-weight: 700;
                margin: 0;
                line-height: 52px;
                padding: 0 18px;
            }
        }
        &:last-child {
            padding: 20px 18px;
        }
    }

    @include make-row();
    .details {
        @include make-lg-column(9);
        .contract-status {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .contract-rate {
            margin-top: 10px;
        }
        .detail-actions {
            margin-top: 20px;
            a:first-child {
                margin-right: 10px;
            }
        }
    }
    .caregiver {
        @include make-lg-column(3);

        .caregiver-actions {
            padding: 20px 8px;
            a.btn {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}

.caregiver-name {
    display: flex;
    align-items: center;
    @include make-row();
    .image {
        @include make-lg-column(3,0);
        @include make-xs-column(1,0);
    }
    .name {
        @include make-lg-column(9,0);
        @include make-xs-column(11,0);
        padding-left: 10px;
    }
}

.star-rating {
    .rating_type {
        width: 250px;
        display: inline-block;
    }
}
.star-rating__checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.star-rating__star {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1.5em;
    color: #ABABAB;
    transition: color .2s ease-out;
}

.star-rating__star:hover {
    cursor: pointer;
}

.star-rating__star.is-selected {
    color: #FFD700;
}

.star-rating__star.is-disabled:hover {
    cursor: default;
}

#end-contract {
    .panel.job-postings {
        margin-bottom: 20px;

        & > .panel-row {
            padding: 20px;
        }
    }

    .prev_feedback {
        background-color: #eff9fb;
    }
}