.save_search_job {
  float: right;
}

#employee-find-jobs {
  .FindCaregivers__filter {
    .customselect {
      min-width: 220px;
    }
  }

  #qualification {
    .trigger {
      min-height: 50px;
      height: auto;
    }
  }

  .check {
    input[type="checkbox"] {
      vertical-align: top;
    }
    label {
      vertical-align: middle;
      width: 90%;
      margin-bottom: 0;
      margin-top: 4px;
      padding-left: 5px;
      cursor: pointer;

      &.single {
        margin-top: 11px;
      }
    }
  }
}
