.job-success .description {
    margin-top: 15px;
    margin-bottom: 20px;
}

.caregivers {
    margin-bottom: 10px;
}

.caregivers .caregiver:nth-child(5n) {
    margin-right: 0;
}

.caregivers .caregiver {
    margin-top: 20px;
    margin-right: 20px;
    border: 2px solid hsl(171, 32%, 88%);
    background-color: hsl(0, 0%, 100%);
    display: inline-block;
    min-width: 204px;
    max-width: 204px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    &.active {
        border-color: $primary-color;
        background-color: $primary-color-active-background;
    }
    &:hover {
        border-color: hsl(171, 32%, 88%);
        background-color: hsl(190, 60%, 96%);
    }
}

.caregivers .caregiver img {
    border-radius: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.caregiver-work-history, .caregiver-options {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid hsl(171, 32%, 88%);
    background-color: #fff;

    &.title {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    &.after-title {
        margin-top: 0;
        border-top: 0;
    }
}

.caregiver-options {
    text-align: center;
    margin-bottom: 20px;
    .btn-caregiver-option:not(:last-child) {
        margin-bottom: 10px;
    }
}

.caregiver-work-history {
    .experience, .availability, .payment-options {
        margin-top: 20px;
    }
}

.caregiver-info {
    img, .details, .rates {
        display: inline-block;
        vertical-align: top;
    }
    h4 {
        vertical-align: top;
    }
    h4 small {
        font-family: 'Arial', sans-serif;
        font-size: 16px;
    }
    img {
        border-radius: 100px;
        margin-right: 10px;
    }
    .rates {
        h4, h5 {
            display: inline-block;
            vertical-align: baseline;
        }
    }
    .details {
        max-width: 526px;
        .description {
            margin-bottom: 10px;
        }
    }
}
.work-history, .education, .qualifications {
    hr {
        margin: 0;
        margin-top: 10px;
    }
}

.work-history {
    @include make-row();
    margin-top: 30px;
    .heading {
        @include make-lg-column(9);
        h5 {
            margin-bottom: 0;
        }
    }
    .history-filter {
        @include make-lg-column(3);
        .customselect {
            min-width: 166px;
        }
    }

    .feedback-row {
        @include clearfix();
        @include make-md-column(12);
        min-height: 105px;
        .job {
            margin-top: 20px;
            @include make-row();
            .job-name {
                @include make-md-column(8);
                font-weight: 700;
                font-size: 16px;
            }
            .job-rating {
                @include make-md-column(4);
                text-align: right;
                font-weight: bold;
            }
        }
        .feedback {
            @include make-row();
            margin-top: 17px;
            .description {
                @include make-md-column(8);
                margin-top: 0;
                &.inactive {
                    color: hsl(187, 6%, 72%);
                }
            }
            .rates {
                @include make-md-column(4);
                .rate, .timespan {
                    width: 100%;
                    text-align: right;
                }
                .rate {
                    font-weight: 700;
                }
            }
        }
    }
    .view-more {
        padding: 10px 0;
        display: block;
        margin-bottom: 10px;
    }
}

.institution {
    margin-top: 20px;
}

.languages {
    margin-top: 20px;
    margin-bottom: 20px;
}

.qualifications {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul li {
        line-height: 50px;
        height: 50px;
        padding: 0 20px;
        border-bottom: 1px solid $main-border-color;
        .value {
            float: right;
        }
    }
    margin-bottom: 60px;
}