.modal-body {
    .row {
        margin: 0;
    }

    .no_padding {
        padding: 0;
    }

    .form-row {
        .radio {
            margin-top: 5px;
            margin-bottom: 5px;

            label {
                line-height: 20px;

                input[type="radio"] {
                    width: 15px;
                    min-height: 13px;
                }
            }
        }
    }
}

.form-row {
    input[type="checkbox"] {
        width: 15px;
    }
}

.img_50 {
    width: 50px;
    height: 50px;
}

.back-action {
    margin-bottom: 11px;
}

.filter {
    height: 50px;
    margin-bottom: 28px;
}
.filter .customselect {
    width: 100%;
    height: 46px;
}
.filter .customselect .trigger {
    font-family: 'Arial', sans-serif;
    padding: 17px 50px 17px 10px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
}
.filter .customselect .trigger:before {
    top: 20px;
}

.filter .customselect .list .option {
    padding: 17px 10px 17px 10px;
}

.panel.job-postings {
    margin-bottom: 0;
}

a.job-posting-action {
    display: block;
    margin-bottom: 17px;
}

.panel-row-heading {

}

.job-postings .panel-row {
    min-height: 70px;
    padding: 5px;
    @include clearfix();
    .job-name {
        font-size: 16px;
    }
    .job-details {
        @include make-lg-column(5);
        .name {
            font-size: 16px;
        }
        .date-posted {
            color: $main-icon-color;
            font-size: 12px;
        }
    }
    .messaged, .offers, .applicants, .job-details, .invite {
        padding-top: 17px;
    }
    .messaged, .offers, .applicants {
        @include make-lg-column(1,0);
        text-align: center;
        strong {
            display:block;
        }
    }
    .caregiver {
        padding-top: 10px;
        @include make-lg-column(3,0);
        img {
            border-radius: 50px;
            margin-right: 10px;
        }
        line-height: 50px;
    }
    .rates {
        line-height: 70px;
    }

    .invite, .rates {
        text-align: center;
        @include make-lg-column(2,0);
    }

    .invite {
        @include make-lg-column(2,0);
    }
    .actions {
        float: right;
        @include make-lg-column(2,0);
    }
}

.job-postings.all-jobs {
    .panel-row {
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 80px;

        .col-md-6, .col-md-1, .col-md-2 {
            line-height: 36px;
        }
        .actions {
            padding-top: 0;
        }
    }
}


@media (min-width: 1200px) {
    .job-postings {
        .panel-row {
            div.actions {
                float: right;
            }
        }
    }
}

@media (max-width: 1200px) {
    .panel-row.empty {
        h5 {
            display: inline-block;
            font-size: 13px !important;
        }
    }

    .job-postings {
        .panel-row {
            .job-details {
                text-align: left;
                width: 41%;


            }
            .caregiver {
                text-align: center;
            }
            div.actions {
                float: right;
                margin: 15px auto;
                display: block;
                padding-top: 0;
                padding-right: 10px;
            }
        }
    }
    div.experience-levels {
        width: 100%;
    }

    .job-form .days.list-inline > li {
        margin: 5px;
    }


    .values>div{
        float:left;
    }
    .job-postings .panel-row .caregiver {
        text-align: center; }
}

@media (max-width: 800px) {
    .full-width {
        margin-left: 0;
        margin-right: 0;
    }

    .job-form {
        ul.list-inline > li:first-child {
            padding-left: 5px;
        }
    }


}

@media (max-width: 630px) {
    div.experience-levels {
        ul {
            li {
                display: block;

                .level {
                    margin: 7px;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .job-form {
        .actions {
            a.btn {
                width: 100%;
                margin: 7px auto;
            }
        }
        ul.list-inline > li:first-child {
            padding-left: 5px;
        }
    }
}
