@include b('Message') {

  @include e('composer') {
    background: url('/img/texture_1.png') repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; left: 0;
    z-index: 4;
    transition: all .3s ease;

    @include e('content') {
      width: 500px;
      background-color: white;
      border-radius: 5px;
    }

    @include e('corespondents') {
      display: inline-block;
      padding: 20px;

      h6, .dropdown {
        display: inline-block;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 800;
      }
      .caret {
        margin-left: 5px;
      }
      img {
        border-radius: 50%;
        margin: 0 10px;
      }
      @include m('selected') {
        display: inline-block;
      }
      @include m('list') {
        li {
          cursor: pointer;
        }
        img {
          height: 30px; width: 30px;
          margin-right: 10px;
        }
        a {
          padding: 5px !important;
        }
      }


    }

    @include e('form') {
      padding: 0 15px;
    }

    @include m('heading') {
      font-family: "Open Sans";
      font-size: 22px;
      font-weight: 700;
      height: 44px; width: 100%;
      margin: 0;
      padding: 7px;
      border-bottom: 1px solid rgb(189, 220, 215);
    }

    @include m('body') {
      .form-control {
        border-radius: 5px;
        
        input {
          height: 34px;
        }

        textarea {
        }
      }


    }

    @include m('files') {
      padding: 0 20px;

      a {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
      }

      .label {
        padding: 2px;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          padding: 1px;

          i {
            padding: 0;
            vertical-align: middle;
          }
        }
      }
    }

    @include e('action') {
      padding: 15px;
      .btn {
      }

      @include m('send') {
      }

      @include m('cancel') {
      }
    }

  }

}

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container, .modal-leave .modal-container {
  transform: scale(1.1);
}