.thread-view { //change it to .conversation
  height: 100%;

  .thread-header {
    height: $messages-header-size;
    border-bottom: 1px solid $messages-border-color;
    margin: 0 -10px;
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 3;
    background-color: $base-color;
    opacity: 0.9;

    .thread-title {
      padding: 7px 10px 2px 20px;
      max-height: $messages-header-size;

      h5 { margin: 0; padding: 0; }
      p { @include text-overflow(); }

      @include xs() {
        padding-left: 50px;

        h6 {
          font-size: 16px;
          margin: 5px;
        }
      }
    }
  }

  .thread-content {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    padding-top: $messages-header-size;
    position: absolute;
    top: 0;
    bottom: 70px;
    width: 99%;

    .thread-content-wrapper {
      min-height: 100%; //flexbox overflow scroll hack
      height: 0; // *
      width: 100%;
      align-self: flex-end;
    }
  }

  .thread-msg {
    padding: 5px;

    .thread-msg-img img {
      max-width: 100%;
      //margin: 10px 0px;
      border-radius: 50%;
    }

    .thread-msg-content {
      h6 {
        font-size: 16px;
        font-weight: 600;
      }

      p {
        @include sm() { font-size: 12px; }
        @include xs() { font-size: 12px; }
      }
    }

    .thread-msg-timestamp {
      font-size: 10px;
      padding: 3px 15px;
      float: right;
    }

    &.unread {
//      animation-name: unreadHighlight;
//      animation-duration: 1.2s;
//      animation-timing-function: ease-in-out;
      background-color: $messages-border-color;
      animation: unreadHighlight 2s ease-in-out;
      animation-fill-mode: forwards;
    }

  }

  .thread-send {
    border-top: 1px solid $messages-border-color;
    margin-left: -10px; margin-right: -10px;
    padding: 10px;
    z-index: 3;

    position: absolute;
    height: $messages-footer-size;
    width: 100%;
    bottom: 0;

    .btn {
      @include xs() { padding: 0 10px; }
    }
  }
}


@keyframes unreadHighlight {
  from {background-color: $messages-border-color;}
  to {background-color: inherit;}
}

@-webkit-keyframes unreadHighlight {
  from {
    background-color: lightgray; }
  to {
    background-color: inherit; } }