$sidebar-search-size: 60px;
$message-selected-color: $base-border-color;
$message-hover-color: hsl(190, 60%, 96%);
$message-unread-color: hsl(189, 85%, 98%);

@mixin thread-hover-icon() {
  .icon-messaged { background : url('../img/design/messaged-icon-hover.png'); }
}

.sidebar {

  @include e('header') {
    height: $messages-header-size;
    border-bottom: 1px solid $messages-border-color;

    @include e('buttons') {

      .btn-group-outer {
        .btn { border: none; }
      }

      .btn {
        height: 40px;
        margin: 10px 0;
        background-color: transparent;
        border: 1px solid $primary-color;
      }

      .btn.selected {
        background-color: $primary-color;
      }

      .btn .fa {
        color: lightgray;

        &:hover {
          color: $primary-color;
        }
      }

    }
  } //.header

  @include e('search') {
    height: $sidebar-search-size;
    padding: 5px;
  } //.search

  @include e('threads') {
    position: absolute;
    overflow-x: hidden; overflow-y: auto;
    top: $messages-header-size + $sidebar-search-size;
    bottom: $messages-footer-size;
    width: 100%;

    .thread {
      height: 70px;
      cursor: pointer;
      overflow: hidden;
      padding: 5px;

      &:hover {
        background-color: $message-hover-color;
        border-right: 3px solid $primary-hover-color;
        @include thread-hover-icon();
      }

      &:hover .thread-actions {
        display: block !important;
      }

      &.selected {
        background-color: $message-selected-color;
        border-right: 3px solid $primary-color;
        border-left: 3px solid $primary-hover-color;
        @include thread-hover-icon();
      }

      .thread-icon {
        height: 100%;

        i {
          position: relative;
          top: 25%;
        }

        img {
          width: 100%;
          border-radius: 50%;
        }
      }

      .thread-data {
        padding: 0 0 0 20px;

        p { margin: 0; }

        .thread-name {
          color: $primary-color;

          span {
            font-size: 10px;
            float: right;
          }
        }
        .thread-job {
          @include text-overflow;
          font-size: 12px;
        }
        .thread-msg {
          @include text-overflow;
          font-size: 12px;

          span { font-weight: 600; }
        }

        .thread-actions {
          position: absolute;
          right: 10px;
          top: 40%;
          font-weight: 100;
          font-size: 14px;
          color: gray;
          display: none;
        }

      } //.thread-data

    }

  } //.threads

  @include e('footer') {
    height: 90px; //$messages-footer-size
    position: absolute;
    bottom: 0;
    width: 100%;

    .well { margin: 10px; }

    a { cursor: pointer; }

  } //.footer

} //.sidebar
