
.form-title {
  font-family: GothamRounded-Bold;
  font-size: 20px;
  color: #625f63;
  max-width: 340px;
  padding: 15px;
  @media screen and (max-width: 768px){
    font-size: 18px;
  }
}
.flex-direction {
   flex-direction: column;
   height: 100%;
   .creat-account-login a{
      font-weight: bold;
      color:black;
   }
    @media screen and (max-height: 540px){
      margin-bottom: 20px;
    }
}

.login-form-title {
  margin: 55px 68px 37px;
  width: 355px;
  height: 24px;
  font-family: GothamRounded;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #73c5bc;
}

.password-email-title {
  margin: 55px 20px 37px;
}
.password-email-title-reset {
  margin: 0 auto;
  color: #73c5bc;
}
.password-reset-title {
  width: 310px;
  height: 24px;
  font-family: GothamRounded;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #73c5bc;
  margin: 10px 83px 37px;
}

.password-email-header, .password-reset-header{
  .password-email-title, .password-reset-title {
    margin: 0 auto;
  }
  text-align: center;
  padding: 40px 0;
  .icon-error {
    width: 65px;
    height: 65px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    border: 3px solid #f27474;
    .error-line-left, .error-line-right{
      position: absolute;
      height: 5px;
      width: 40px;
      background-color: #f27474;
      border-radius: 3px;
      display: block;
      top: 28px;
      left: 10px;
    }
    .error-line-left{
      transform: rotate(45deg);
    }
    .error-line-right{
      transform: rotate(-45deg);
    }
  }
  .icon-success {
    margin-bottom: 10px;
    width: 65px;
    height: 65px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    border: 4px solid #73c5bc;
    .success-line-left, .success-line-right{
      position: absolute;
      border-radius: 3px;
      height: 5px;
      background-color: #73c5bc;
      display: block;
    }
    .success-line-left{
      width: 20px;
      left: 8px;
      top: 33px;
      transform: rotate(45deg);
    }
    .success-line-right{
      transform: rotate(-45deg);
      width: 35px;
      right: 5px;
      top: 28px;
    }
  }
}

.password-email-body, .password-reset-body{
  text-align: center;
  .btn-ok {
    margin-bottom: 40px;
    height: 40px;
    background-color: #73c5bc;
    color: white;
    border: 1px solid #73c5bc;
    border-radius: 3px;
    font-family: GothamRounded-Medium;
    min-width: 160px;
  }
}
.success-image-pass{
  img{
    position: relative;
    left: 43%;
    bottom: 34px;
  }
  p {
    position: relative;
    margin-left: 22%;
  }
}

.login-form-confirm {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 25px;
  .password{
    input:not([type='checkbox']) {
    width: 205px;
    height: 36px;
    margin-left: 24px;
    border-radius: 11px;
    background-color: #ffffff;
    border: solid 1px #73c5bc;
    }
    a {
      position: relative;
      left: 87%;
      bottom: 27px;
      color: #fadab4;
      opacity: 0.7;
    }
  }
  .parent-or-caregiver {
    width: 100%;
    margin: 0px 0px 21px 0px;
    height: 16px;
    font-family: GothamRounded;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .parent-o ,.caregiver-o{
    width: 136px;
    height: 131px;
    border-radius: 11px;
    background-color: #fbd4a5;
    cursor: pointer;
    margin: 3px 12px 14px 68px;
    span{
      color: #fff;
      position: relative;
      left: 32%;
      top: 4px;
    }
  }
  .parent-b ,.caregiver-b{
    width: 136.1px;
    height: 130.7px;
    border-radius: 11px;
    background-color: #ffffff;
    border: solid 1px #73c5bc;
    cursor: pointer;
    margin: 3px 12px 14px 68px;
    span{
      position: relative;
      left: 32%;
      bottom: 25px;
    }
  }
  .parent-o ,.caregiver-b{
    span{
      left: 27%;
    }
  }
   .parent-b .img,.caregiver-b .img{
    display: block;
    margin: 30px auto;
  }

  .parent-o .img,.caregiver-o .img {
    display: block;
    margin: 5px auto;
  }

  .success-pc{
    position: relative;
    left: 90%;
    bottom: 9px;
  }

  .btn-login-confirm {
    margin: 0px 91%;
    width: 172px;
    height: 46px;
    color:#fff;
    border-radius: 8px;
    background-color: #fbd4a5;
    outline: none;
    border: none;
  }
  .btn-login-confirm:focus {outline:none;border: none;}
  .btn-login-confirm:active {outline: none;border: none;}
}

.login-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  input:not([type='checkbox']) {
    height: 36px;
    border-radius: 11px;
    background-color: #ffffff;
    border: solid 1px #73c5bc;
    margin-top: 14px;
  }
  .password{
    input:not([type='checkbox']) {
    width: 205px;
    height: 36px;
    border-radius: 11px;
    background-color: #ffffff;
    border: solid 1px #73c5bc;
    }
  }

  .btn-login {
    margin: 0px auto;
    width: 172px;
    height: 46px;
    color:#fff;
    border-radius: 8px;
    background-color: #fbd4a5;
    outline: none;
    border: none;
  }
  .btn-login:focus {outline:none;border: none;}
  .btn-login:active {outline: none;border: none;}

  .creat-account{
    margin: 19px 5px 0 72px;
    width: 262px;
    height: 14px;
    font-family: GothamRounded;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #545454;
  }
  .creat-account a{
    font-weight: bold;
    color: #000;
  }
  .btn-login span {
    width: 58px;
    height: 18px;
    font-family: GothamRounded;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .form-group.checkbox {
    input[type='checkbox'] {
      width: 16px;
      height: 16px;
      position: relative;
      left: 20px;
      background-color: #ffffff;
      border: solid 1px #73c5bc;
    }
    label {
      width: 131px;
      height: 14px;
      font-family: GothamRounded;
      font-size: 14px;
      position: relative;
      left: 20px;
      bottom: 3px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #545454;
    }
  }

  a.forgot-password-link {
    font-family: GothamRounded-Book;
    font-size: 14px;
    text-decoration: none;
    color: #b0afb1;
    margin-bottom: 20px;
  }
}

@media (max-width: 510px) {
  .login-form-title {
      width: 165px;
      height: 44px;
      font-size: 21px;
    }
    .password-reset-title{
      width: 162px;
      height: 44px;
      font-family: GothamRounded;
      font-size: 21px;
      margin: 6px 65px 53px;
    }
    .success-image-pass p{
      position: relative;
      margin-left: 2%;
      text-align: -webkit-center;
    }
    .login-form-confirm {
    .password{
      input:not([type='checkbox']) {
      width: 100%;
      }
      a{
        left: 100%;
      }
    }
   .btn-login-confirm {
      margin: 10px 29% 23px;
   }
  }
}

@media (max-height: 540px) {
  .login-form-title {
    margin: 0px 71px 20px;
  }
  .login-form {
    display: block;
    .form-group{
      display: inline-block;
    }
    .checkbox{
       display: block;
    }
    input:not([type='checkbox']) {
      width: 94%;
      padding-left: 12px;
    }
    .btn-login{
      margin: 0 0 0 120px;
    }
  }
}

