<template>
    <label>
        <input type="checkbox" v-model="value">
        <span class="checkmark"></span>
        <span class="label-text">{{label}}</span>
    </label>

</template>

<script>
    export default {
        name: "checkbox-white",
        data() {
            return {
                checked: false
            }
        },
        props: ['value', 'label'],
    }
</script>

<style scoped>

    label {
        display: block;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    .label-text {
        position: relative;
        left: 25px;
        top: 2px;
        font-weight: 200;
    }

    input {
        position: absolute;
        opacity: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 19px;
        width: 19px;
        box-sizing: border-box;
        /*background-color: #eee;*/
        border: 1px solid #fff;
    }

    input:checked ~ .checkmark {
        background-color:transparent;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
        left: 5px;
        top: -2px;
        width: 9px;
        height: 15px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>