<template>
    <div class="container" v-cloak>
        <div class="flex">
            <registrar-frame>
                <div slot="body">
                    <div class="account-creation-title text-center">Create a Free {{ role.ucFirst() }} Account</div>
                    <form class="register-form" @submit.prevent>
                        <component :is="currentlyDisplayed"
                                   :user-info.sync="passingProps"
                                   :errors="passingErrors"
                                   :criterias.sync="criterias"
                                   :own-gender="ownGender"
                        >
                        </component>
                        <button type="button" class="btn btn-primary btn-register" @click="handleSubmit()">
                            {{ buttonText}}
                        </button>
                        <!--<a href="/" v-link="{ path: '/register/parent' }"-->
                           <!--class="role-changer text-center">{{linkText}}</a>-->
                    </form>
                </div>
            </registrar-frame>
        </div>
    </div>
</template>

<script>
    import RegistrarFrame from './RegistrarFrame.vue';
    import {EventStorage} from './../../eventStorage';
    import FirstStep from './CaregiverFirstStep.vue';
    import SecondStep from './CaregiverSecondStep.vue';

    export default {
        data(){
            return {
                nameOwnGender: 'Self-describe as...',
                userInfo: {
                    firstStep: {
                        first_name: '',
                        last_name: '',
                        email: '',
                        password: '',
                        password_confirmation: '',
                    },
                    secondStep: {
                        criterias: {
                            care_type: '',
                            gender: ''
                        },
                        post_code: ''
                    }
                },
                errors: {
                    firstStep: {},
                    secondStep: {}
                },
                criterias:{
                    gender: false,
                    care_type: false,
                },
                showDescribe: false,
                handle: '',
                step: 'first',

                currentlyDisplayed: 'firstStep',
                buttonText: 'Continue',
                linkText: 'Register as a Parent',
                passingProps: {},
                passingErrors: {},
                role: 'caregiver',
            }
        },
        components: {
            registrarFrame: RegistrarFrame,
            firstStep: FirstStep,
            secondStep: SecondStep,
        },
        methods: {
            requireComponent(component){
                EventStorage.$emit('requireComponent', component);
            },

            handleSubmit(){
                this.currentlyDisplayed === 'firstStep' ? this.handleFirstStep() : this.handleSecondStep();
            },

            handleFirstStep(){
                $.LoadingOverlay('show');
                this.$http.post('/auth/check-register', this.userInfo.firstStep).then(function (response) {
                    this.passingProps = this.userInfo.secondStep;
                    this.passingErrors = this.errors.secondStep;
                    this.currentlyDisplayed = 'secondStep';
                    $.LoadingOverlay('hide');
                }, function (response) {
                    this.passingErrors = response.data;
                    $.LoadingOverlay('hide');
                });
            },

            handleSecondStep(){
                let authData = $.extend(
                    this.userInfo.firstStep,
                    this.userInfo.secondStep,
                    this.getFieldsForValidation()
                );
                authData.role = this.role;
                authData.criterias = this.getSelectedCriterias();
                $.LoadingOverlay('show');
                this.$http.post('/auth/register', authData).then(function (response) {
                    $.LoadingOverlay('hide');
                    localStorage.setItem('userId', response.data.id);
                    localStorage.setItem('userEmail', response.data.email);
                    this.$router.go({path: '/register/email'});
                }, function (response) {
                    this.passingErrors = response.data;
                    $.LoadingOverlay('hide');
                });
            },
            getSelectedCriterias() {
                let criterias = {};
                $.each(this.userInfo.secondStep.criterias, (key, criteria_id) => {
                    if (criteria_id) {
                        this.criterias[key].map((c) => {
                            if(c.id === criteria_id){
                                if(c.name === this.nameOwnGender && c.description)
                                    criterias[criteria_id] = {data: JSON.stringify({description: c.description})};
                                else if(c.name !== this.nameOwnGender)
                                    criterias[criteria_id] = {data: JSON.stringify(c.data)}
                            }
                        });
                    }
                });
                return criterias;
            },
            getFieldsForValidation(){
                let fields = {};
                $.each(this.userInfo.secondStep.criterias, (key, criteria_id) => {
                    if (criteria_id) {
                        this.criterias[key].map((c) => {
                            if(c.id === criteria_id){
                                if(c.name === this.nameOwnGender && c.description)
                                    fields[key] = c.description;
                                else if(c.name !== this.nameOwnGender)
                                    fields[key] = c.name;
                            }
                        });
                    }
                });
                return fields;
            }
        },
        computed:{
            ownGender(){
                let obj = {key: 0, index: 0};
                if(this.criterias.gender){
                    this.criterias.gender.map((c, i) => {
                        if(c.name === this.nameOwnGender){
                            obj.key = c.id;
                            obj.index = i;
                        }
                    });
                }
                return obj;
            }
        },
        ready(){
            this.passingProps = this.userInfo.firstStep;
            this.passingErrors = this.errors.firstStep;
        },
    }
</script>