<template>
    <div class="register-step" v-cloak>
        <div class="form-group profile-input" :class="errors.post_code ? 'has-error' : '' ">
            <input type="text" class="form-control" placeholder="Post Code"
                   v-model="userInfo.post_code"
                   @keyup="errors.post_code = ''">
            <div class="help-block help-error" v-if="errors.post_code">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.post_code }}
            </div>
        </div>
        <div class="form-group" :class="errors.gender ? 'has-error' : ''" v-if="criterias.gender">
            <template  v-if="userInfo.criterias.gender !== ownGender.key">
                <v-select :options="criterias.gender" :placeholder="'Select Gender'" :model.sync="userInfo.criterias.gender"> </v-select>
            </template>
            <template v-else>
                <div class="input-group">
                    <input type="text" class="form-control"
                           v-model="criterias.gender[ownGender.index].description"
                           @keyup="errors.gender = ''"
                           placeholder="Describe your Gender">
                    <span class="input-group-btn">
                        <button class="btn btn-default" @click="userInfo.criterias.gender = ''" type="button"><i class="fa fa-remove"></i></button>
                    </span>
                </div>
            </template>
            <div class="help-block help-error" v-if="errors.gender">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.gender}}
            </div>
        </div>
    </div>
</template>

<script>
    import VSelect from '../VSelect.vue';

    export default {
        components: {
            vSelect: VSelect
        },
        props: {
            userInfo: {type: Object},
            errors: {type: Object},
            criterias: {type: Object},
            ownGender: {type: Object}
        },
        ready(){
            $.LoadingOverlay('show');
            this.$http.get('/api/v1/common/criterias',
                { criterias: Object.keys(this.criterias)} ).then(function (response) {
                this.criterias = response.data;
                $.LoadingOverlay('hide');
            });
        }
    }
</script>