<template>
    <div class="register-step" v-cloak>
        <div class="form-group" :class="errors.first_name ? 'has-error' : '' ">
            <input type="text" class="form-control" placeholder="First Name"
                   v-model="userInfo.first_name"
                   @keyup="errors.first_name = ''">
            <div class="help-block help-error" v-if="errors.first_name">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.first_name}}
            </div>
        </div>
        <div class="form-group" :class="errors.last_name ? 'has-error' : '' ">
            <input type="text" class="form-control" placeholder="Last Name"
                   v-model="userInfo.last_name"
                   @keyup="errors.last_name = ''">
            <div class="help-block help-error" v-if="errors.last_name">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.last_name }}
            </div>
        </div>
        <div class="form-group" :class="errors.email ? 'has-error' : '' ">
            <input type="email" class="form-control" placeholder="Email"
                   v-model="userInfo.email"
                   @keyup="errors.email = ''">
            <div class="help-block help-error" v-if="errors.email">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.email }}
            </div>
        </div>
        <div class="form-group  password" :class="errors.password ? 'has-error' : '' ">
            <input type="password" class="form-control" placeholder="Password"
                   v-model="userInfo.password"
                   @keyup="errors.password = ''">
            <a href="/" class="fa fa-eye"
               @mousedown.prevent="showPassword"
               @mouseup.prevent="hidePassword"
               @mouseout.prevent="hidePassword"
               @click.prevent>
            </a>
            <div class="help-block help-error" v-if="errors.password">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.password }}
            </div>
        </div>
        <div class="form-group password" :class="errors.password_confirmation ? 'has-error' : '' ">
            <input type="password" class="form-control" name="password_confirmation"
                   v-model="userInfo.password_confirmation" @keyup="errors.password_confirmation = ''"
                   placeholder="Confirm Password">
            <a href="/" class="fa fa-eye"
               @mousedown.prevent="showPassword"
               @mouseup.prevent="hidePassword"
               @mouseout.prevent="hidePassword"
               @click.prevent>
            </a>
            <div class="help-block help-error" v-if="errors.password_confirmation">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.password_confirmation }}
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        methods: {
            showPassword(e){
                $(e.target).prev().attr('type', 'text');
            },
            hidePassword(e){
                $(e.target).prev().attr('type', 'password');
            },
        },
        props: {
            userInfo: {type: Object},
            errors: {type: Object},
        }
    }
</script>