<template>
    <div class="container" v-cloak>
        <div class="flex">
            <registrar-frame>
                <div slot="body">
                    <div class="account-creation-title text-center">Create a Free Account</div>
                    <div class="path"></div>
                    <form class="register-form" @submit.prevent>
                        <component :is="currentlyDisplayed"
                                   :user-info.sync="passingProps"
                                   :errors="passingErrors"
                                   :criterias.sync="criterias"
                                   :own-gender="ownGender"
                        >
                        </component>
                        <button type="button" class="btn btn-primary btn-register" @click="handleSubmit()">
                            <span>{{ buttonText}}</span>
                        </button>
                        <a href="/password/email" class="forgot-password-link text-center">Forgot Your Password?</a>
                        <!--<a href="/" v-link="{ path: '/register/parent' }"-->
                        <!--class="role-changer text-center">{{linkText}}</a>-->
                    </form>
                </div>
            </registrar-frame>
        </div>
            <div class="creat-account flex"> Already Signed Up? &nbsp; <a href="/auth/login">Log In</a></div>
    </div>
</template>

<script>
    import RegistrarFrame from './RegistrarFrame.vue';
    import {EventStorage} from './../../eventStorage';
    import FirstStep from './DefaultFirstStep.vue';
    import SecondStep from './EmailConfirmation.vue';

    export default {
        data(){
            return {
                nameOwnGender: 'Self-describe as...',
                userInfo: {
                    firstStep: {
                        first_name: '',
                        last_name: '',
                        email: ''
                    },
                    secondStep: {
                    }
                },
                errors: {
                    firstStep: {},
                    secondStep: {}
                },
                criterias:{
                    gender: false,
                    care_type: false,
                },
                showDescribe: false,
                handle: '',
                step: 'first',

                currentlyDisplayed: 'firstStep',
                buttonText: 'Continue',
                linkText: 'Register as a Parent',
                passingProps: {},
                passingErrors: {},
                role: '',
            }
        },
        components: {
            registrarFrame: RegistrarFrame,
            firstStep: FirstStep,
            secondStep: SecondStep,
        },
        methods: {
            requireComponent(component){
                EventStorage.$emit('requireComponent', component);
            },

            handleSubmit(){
                this.currentlyDisplayed === 'firstStep' ? this.handleFirstStep() : this.handleSecondStep();
            },

            handleFirstStep(){
                $.LoadingOverlay('show');
                this.$http.post('/auth/check-register', this.userInfo.firstStep).then(function (response) {
                    this.passingProps = this.userInfo.secondStep;
                    this.passingErrors = this.errors.secondStep;
                    localStorage.setItem('firstStepData', JSON.stringify(this.userInfo.firstStep));
                    this.$router.go({path: '/register/email'});
                }, function (response) {
                    this.passingErrors = response.data;
                    $.LoadingOverlay('hide');
                });
            },
        },
        computed:{
            ownGender(){
                let obj = {key: 0, index: 0};
                if(this.criterias.gender){
                    this.criterias.gender.map((c, i) => {
                        if(c.name === this.nameOwnGender){
                            obj.key = c.id;
                            obj.index = i;
                        }
                    });
                }
                return obj;
            }
        },
        ready(){
            this.passingProps = this.userInfo.firstStep;
            this.passingErrors = this.errors.firstStep;
        },
    }
</script>