<template>
    <div class="container">
        <div class="flex flex-direction">
            <registrar-frame>
                <div slot="body">
                    <div class="confirmation-container">
                        <template v-if="!isNewEmail && !success">
                            <div class="email-image-wrapper">
                                <img src="/img/design/mail icon.png" alt="email-image.png" class="email-image" width="65" height="65">
                            </div>
                            <div class="confirmation-header text-center confirm">
                                <span>We've Sent You an Email</span>
                            </div>
                            <div class="path"></div>
                            <div class="confirmation-body">
                                <p class="text-center">We’ve sent an activation email to your email address <span>{{email}}.</span></p>
                                <p class="text-center">Please activate your account to continue.</p>
                            </div>
                            <div class="confirmation-footer">
                                <button class="btn-resend" @click="emailResend(false)">Resend Email</button>
                            </div>
                        </template>
                        <template v-if="isNewEmail && !success">
                            <div class="confirmation-header text-center resend-new">
                                <p class="confirmation-title">
                                    Please enter an email to use for account activation.
                                </p>
                                <div class="path"></div>
                            </div>
                            <div class="confirmation-body ">
                                <input type="email" placeholder="Email" class="form-control">
                            </div>
                            <div class="confirmation-footer">
                                <button class="btn-resend-new" @click="emailResend(true)">Resend Email</button>
                                <button class="btn-cancel" @click="isNewEmail = false">Cancel</button>
                            </div>
                        </template>
                        <template v-if="success">
                            <div class="confirmation-header text-center success">
                            <div class="success-image-wrapper">
                                <img src="/img/design/success.png" alt="success.png" class="success-image" width="65" height="65">
                            </div>
                                <div class="confirmation-title">
                                    {{isNewEmail ? 'Email Address Changed Successfully' : 'Email Resent'}}
                                </div>
                                <div class="path"></div>
                            </div>
                            <div class="confirmation-body success">
                                <div class="confirmation-body">
                                    <p class="text-center">View email account activation link at: <span>{{email}}</span></p>
                                </div>
                            </div>
                            <div class="confirmation-footer">
                                <button class="btn-ok" @click="success = false">Ok</button>
                            </div>
                        </template>
                    </div>
                </div>
            </registrar-frame>
            <div v-if="isNewEmail && !success" class="creat-account"><a href="/password/email" class="forgot-password-link text-center">Forgot Your Password?</a></div>
            <div v-if="!isNewEmail && !success" class="creat-account"><a href="/" @click.prevent="isNewEmail = true">Use a different email</a></div>
        </div>
    </div>
</template>

<script>
    import RegistrarFrame from './RegistrarFrame.vue';
    import FirstStep from './DefaultFirstStep.vue';

    export default {
        data(){
            return {
                id: '',
                email: '',
                new_email: '',
                isNewEmail: false,
                success: false
            }
        },
        components: {
            registrarFrame: RegistrarFrame,
            firstStep: FirstStep
        },
        methods:{
            emailResend(isNewEmail){
                this.isNewEmail = isNewEmail;
                let formData = {id: this.id};
                if(this.isNewEmail && this.new_email)
                    formData.email = this.new_email;
                $.LoadingOverlay('show');
                this.$http.post('/auth/resend', formData).then(function (response) {
                    this.success = true;
                    this.email = response.data.email;
                    $.LoadingOverlay('hide');
                }, function (response) {
                    $.LoadingOverlay('hide');
                });
            },
            handleSecondStep(){
                let authData = JSON.parse(localStorage.getItem('firstStepData'));
                localStorage.setItem('firstStepData','');
                this.$http.post('/auth/register', authData).then(function (response) {
                    $.LoadingOverlay('hide');
                    localStorage.setItem('userId', response.data.id);
                    localStorage.setItem('userEmail', response.data.email);
                }, function (response) {
                    this.passingErrors = response.data;
                    $.LoadingOverlay('hide');
                });
            }
        },
        props:{
            props: {type: Object},
        },
        attached(){
            this.id = localStorage.getItem('userId');
            this.email = localStorage.getItem('userEmail');
        },
        ready(){
            this.handleSecondStep();
        },
    }
</script>

<style>

</style>