<template>
    <div class="container" v-cloak>
        <div class="flex">
            <registrar-frame>
                <div slot="body">
                    <div class="account-creation-title text-center">Create a Free {{ role.ucFirst() }} Account</div>
                    <form class="register-form" @submit.prevent>
                        <component :is="currentlyDisplayed" :user-info.sync="passingProps", :errors="passingErrors"></component>
                        <button type="button" class="btn btn-primary btn-register" @click="handleSubmit()">
                            {{ buttonText}}
                        </button>
                        <a href="/" v-link="{ path: '/register/caregiver' }"
                           class="role-changer text-center">{{linkText}}</a>
                    </form>
                </div>
            </registrar-frame>
        </div>
    </div>
</template>

<script>
    import RegistrarFrame from './RegistrarFrame.vue';
    import {EventStorage} from './../../eventStorage';
    import Step1 from './ParentStep1.vue';
    import Step2 from './ParentStep2.vue';

    export default {
        data(){
            return{
                userInfo: {
                    step1: {
                        first_name: '',
                        last_name: '',
                        email: '',
                        password: '',
                        password_confirmation: '',
                    },
                    step2: {
                        post_code: '',
                    }
                },
                errors: {
                    step1: {},
                    step2: {}
                },
                currentlyDisplayed: 'step1',
                linkText: 'Register as a Caregiver',
                buttonText: 'Continue',
                passingProps: {},
                passingErrors: {},
                role: 'parent',
            }
        },
        components: {
            registrarFrame: RegistrarFrame,
            step1: Step1,
            step2: Step2,
        },
        methods: {
            requireComponent(component){
                EventStorage.$emit('requireComponent', component);
            },

            handleSubmit(){
                this.currentlyDisplayed === 'step1' ? this.handleStep1() : this.handleStep2();
            },

            handleStep1(){
                $.LoadingOverlay('show');
                this.$http.post('/auth/check-register', this.userInfo.step1).then(function (response) {
                    this.passingProps = this.userInfo.step2;
                    this.passingErrors = this.errors.step2;
                    this.currentlyDisplayed = 'step2';
                    $.LoadingOverlay('hide');
                }, function (response) {
                    this.passingErrors = response.data;
                    $.LoadingOverlay('hide');
                });
            },

            handleStep2(){
                let authData = $.extend({}, this.userInfo.step1, this.userInfo.step2);
                authData.role = this.role;
                $.LoadingOverlay('show');
                this.$http.post('/auth/register', authData).then(function (response) {
                    $.LoadingOverlay('hide');
                    localStorage.setItem('userId', response.data.id);
                    localStorage.setItem('userEmail', response.data.email);
                    this.$router.go({path: '/register/email'});
                }, function (response) {
                    this.passingErrors = response.data;
                    $.LoadingOverlay('hide');
                });
            },
        },

        ready(){
            this.passingProps = this.userInfo.step1;
            this.passingErrors = this.errors.step1;
        },
    }
</script>