<template>
    <div class="register-step" v-cloak>
        <div class="form-group" :class="errors.post_code ? 'has-error' : '' ">
            <input type="text" class="form-control" placeholder="Post Code"
                   v-model="userInfo.post_code"
                   @keyup="errors.post_code = ''">
            <div class="help-block help-error" v-if="errors.post_code">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.post_code }}
            </div>
        </div>

    </div>

</template>

<script>
    import CustomSelect from './../CustomSelect.vue';

    export default {
        props: {
            userInfo: {type: Object},
            errors: {type: Object},
        },
    }
</script>