<template>
    <div class="gradient-body">
        <div class="frame-wrapper">
            <div class="frame-handle">
                <slot name="handle"></slot>
            </div>
            <div class="frame-body">
                <slot name="body"></slot>
            </div>
            <div class="frame-footer">
                <slot name="footer"></slot>
            </div>
        </div>
    </div>
</template>