<template>
    <div class="container">
        <registrar-frame>
            <div slot="body" class="role-selector">
                <div class="role parents-role">
                    <p class="title-selector text-center">I Want to Hire a Caregiver</p>
                    <p class="sub-title-selector text-center">Find, hire and pay caregivers.</p>
                    <a class="btn btn-success btn-text btn-role disabled"
                       @click.prevent=""
                       v-link="{ path: '/register/parent'}">Hire</a>
                </div>
                <div class="role caregiver-role">
                    <p class="title-selector text-center">I’m A Caregiver Looking for Work</p>
                    <p class="sub-title-selector text-center">Create a profile, apply for jobs and get paid.</p>
                    <a class="btn btn-primary btn-text btn-role" v-link="{ path: '/register/caregiver' }">Work</a>
                </div>
            </div>
            <div slot="footer">
                <div class="footer-content">
                    Already Signed Up? &nbsp; <a href="/auth/login">Log In</a>
                </div>
            </div>
        </registrar-frame>
    </div>
</template>

<script>
    import RegistrarFrame from './RegistrarFrame.vue';

    export default {
        components: {
            registrarFrame: RegistrarFrame,
        }
    }
</script>