<template>
    <div v-if="userInfo">
            <div class="caregiver-summary flex">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="user-avatar">
                                            <img :src="userInfo.user_photo_100" class="summary-img">
                                            <a v-if="isFormEdit" href="/" class=""><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="user-info">
                                            <div class="user-name">
                                                <span>{{userInfo.first_name}} {{userInfo.last_name}}</span>
                                            </div>
                                            <div v-if="userInfo.location.suburb" class="user-country">
                                                <span><i class="fa fa-map-marker"></i></span>
                                                <span>{{userInfo.location.suburb}}</span>
                                            </div>
                                            <div class="user-stars">
                                                <star-rating :rating="userInfo.rating.value" :disabled="true" name="communication"></star-rating>
                                                <span v-if="userInfo.rating.reviews">(reviews {{userInfo.rating.reviews}})</span>
                                                <span v-else>(No reviews)</span>
                                            </div>
                                            <span v-if="!completeness_error" class="btn-summary btn-complete">100% Complete <i class="fa fa-check"></i></span>
                                            <span v-if="verifide" class="btn-summary btn-verifide">Verified <i class="fa fa-check"></i></span>
                                            <span v-else class="btn-summary btn-not-verifide">Not Verified</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal-sepator"></div>
                        </div>
                        <div class="col-md-5">
                            <div class="user-employee-info">
                                <div class="icon-group">
                                    <div class="icon-n"><img src="../img/calendar.png" alt=""></div>
                                    <div class="icon-group-left">Availability</div>
                                    <div class="icon-group-right">
                                        <span v-if="availableNow" class="btn-summary btn-availability btn-available">Available Now</span>
                                        <span v-else class="btn-summary btn-availability btn-unvailable">Unvailable Now</span>
                                    </div>
                                </div>
                                <div class="icon-group">
                                    <div class="icon-n"><img src="../img/dollar.png" alt=""></div>
                                    <div class="icon-group-left">Rate</div>
                                    <div class="icon-group-right">{{rate}}</div>
                                </div>
                                <div class="icon-group">
                                    <div class="icon-n"><img src="../img/car.png" alt=""></div>
                                    <div class="icon-group-left">Willing to Travel</div>
                                    <div class="icon-group-right">{{willing_to_travel}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</template>

<script>
    import StarRating from './../StarRating.vue';

    export default {
        name: "caregiver-summary",
        components:{
            starRating: StarRating,
        },
        computed: {
            rate() {
                let rate = '';
                if (this.userInfo.employee_info.rate !== undefined || this.userInfo.employee_info.rate != null){
                    rate = this.userInfo.employee_info.rate;
                }
                else {
                    rate = 0;
                }
                return '$' + (rate ? rate : 0) + ' per hour';
            },
            willing_to_travel(){
                let range = this.userInfo.location_range[0];
                if(!range.data) return "No Maximum";
                return range.data === -1 ? range.name : 'Up to ' + range.name;
            }
        },
        props: {
            isFormEdit: Boolean,
            userInfo: {type: Object | null},
            completeness_error: Boolean,
            verifide: Boolean,
            availableNow: Boolean
        }
    }
</script>
