<template>
    <div class="warning-block" data-background-icon='&#xf071;'>
        <div class="profile-edit-warning row">
            <div class="col-sm-5 col-md-12 profile-edit-title text-justify">
                Caregivers who complete their profile have a higher chance of being hired. Complete your profile to earn a 100% Complete Profile badge.
            </div>
            <div class="col-sm-7 col-md-12 warning-content">
                <div class="bolder ">{{progress.percentage_completeness}}% Complete</div>
                <div class="complete-progress-bar">
                    <div class="progress" v-bind:style="'width:'+ progress.percentage_completeness + '%'"></div>
                </div>
                <ul class="list-unstyled">
                    <li class="bolder" v-for="requirement in progress.profile_completeness">
                        {{requirement.name}}
                    </li>
                </ul>
                <div class="flex">
                    <a v-bind:href="href_profile_step" class="btn-build-profile text-center">Build your profile</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "verification-profile-warning",
        props: {
            userInfo: Object,
            progress: Object
        },
        computed: {
            href_profile_step() {
                let requirements = this.progress.profile_completeness;
                let step = requirements[Object.keys(requirements)[0]].step;
                return '/profile/build/' + step;
            }
        }
    }
</script>