<template>
    <div class="my-bookings">
        <div class="job-heading">
            <span class="bolder">My Bookings {{countJobs}}</span>
        </div>
        <div class="job-body">
            <div v-if="userInfo.my_bookings">
                <div v-for="job in userInfo.my_bookings" class="job-item">
                    <div class="avatar">
                        <div class="initials"><span>{{job.initials}}</span></div>
                    </div>
                    <div class="content">
                        <p class="name"><span class="bolder">{{job.parent_name}}</span> has posted a job</p>
                        <p>
                            <span class="job-distance"><i class="fa fa-map-marker" aria-hidden="true"></i> {{job.distance}}</span>
                            <span class="job-date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{job.date}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="no-jobs" v-else>
                <p><i class="fa fa-list-alt"></i>&nbsp; You don’t have any bookings yet.</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "my-bookings",
        props: {
            userInfo: {type: Object | null}
        },
        computed:{
            countJobs(){
                let jobs = this.userInfo.my_bookings;
                return jobs ? '(' + jobs.length + ')' : ''
            }
        }
    }
</script>
