<template>
    <div class="saved-jobs">
        <div class="job-heading">
            <span class="bolder">Saved Jobs {{countJobs}}</span>
        </div>
        <div class="job-body">
            <div v-if="userInfo.jobs">
                <div v-for="job in userInfo.jobs" class="job-item">
                    <div class="avatar">
                        <div class="initials" v-bind:style="{ 'background-color': getRandomColor() }"><span>{{job.initials}}</span></div>
                    </div>
                    <div class="content">
                        <p class="name"><span class="bolder">{{job.parent_name}}</span> has posted a job</p>
                        <p>
                            <span class="job-distance"><i class="fa fa-map-marker" aria-hidden="true"></i> {{job.distance}}</span>
                            <span class="job-date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{job.date}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="no-jobs" v-else>
                <p><i class="fa phpdebugbar-fa-briefcase"></i>&nbsp; You don’t have any saved jobs.</p>
            </div>
        </div>
    </div>
</template>

<script>
    import {listColors} from '../../../../listColors';

    export default {
        name: "saved-jobs",
        mixins: [listColors],
        props: {
            userInfo: {type: Object | null}
        },
        computed:{
            countJobs(){
                let jobs = this.userInfo.jobs;
                return jobs ? '(' + jobs.length + ')' : ''
            }
        },
        methods:{
            randomColor(){
                return this.getRandomColor();
            }
        }
    }
</script>
