<template>
    <div class="warning-block" data-background-icon='&#xf071;'>
        <div class="profile-edit-warning row">
            <div class="col-sm-5 col-md-12 profile-edit-title text-justify">
                You must <span class="bolder">build your profile</span> and be <span class="bolder">verified</span> before you can apply for jobs.
            </div>
            <div class="col-sm-7 col-md-12 warning-content">
                <div class="bolder requirements-title">You will need:</div>
                <ul class="list-unstyled">
                    <li class="bolder" v-for="requirement in progress.verification_requirements">
                        <i class="fa fa-circle"></i>{{requirement.name}}
                    </li>
                </ul>
                <div class="flex">
                    <a href="/profile/verification" class="btn-build-profile text-center">Build your profile</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "verification-profile-warning",
        props: {
            userInfo: Object,
            progress: Object
        },
        computed: {
            href_profile_step() {
                let requirements = this.progress.verification_requirements;
                let step = requirements[Object.keys(requirements)[0]].step;
                return '/profile/build/' + step;
            }
        }
    }
</script>