<template>
    <div class="warning-block" data-background-icon='&#xf023;'>
        <div class="profile-edit-warning flex">
            <div class="profile-edit-title text-justify">
                Your profile is not visible to other, until we
                verify you. This process should take less than
                48 hours.
                <br>
                <br>
                In the meantime you can <a href="/" @click.prevent="scrollMeTo('search-jobs')">search
                for jobs</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "verify-profile-warning",
        props: {
            userInfo: {type: Object | null}
        },
        methods: {
            scrollMeTo(refName) {
                $('html, body').animate({
                    scrollTop: $("#" + refName).offset().top
                }, 500);
            },
        }
    }
</script>