<template>
    <div class="success-block" data-background-icon='&#xf1de;'>
        <div class="profile-edit-warning flex">
            <div class="preferences-title">
                <span>My Work Preferences</span>
                <a href="/" class="fa fa-pencil-square-o"></a>
            </div>
            <div class="preference" v-for="value in preferences" track-by="$index">
                <span>{{$key}}</span>
                <span class="preference-value">{{value}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "work-preferences",
        props: {
            userInfo: {type: Object | null}
        },
        computed: {
            preferences() {

                let employee_info = this.userInfo.employee_info;
                let care_type = this.userInfo.care_type[0];

                return {
                    'My Rate': '$' + (employee_info.rate ? employee_info.rate : 0) + ' per hour',
                    'Type of Care': care_type ? care_type.name : 'Not indicated',
                    'Willing to travel': 'Up to 25 KM',
                    'Availability': 'Available Now',
                    'Skills': '8 Skills selected',
                }
            }
        },
    }
</script>