<template>
    <style type="text/css">
        .gallery
        {
            display: inline-block;
            margin-top: 20px;
        }
    </style>

    <div class="Prelaunch__beta" @click="close" v-show="show" transition="modal">
        <div class="container" id="heading-section" @click.stop>
            <div class="content">
                <h1 class="Prelaunch__beta--heading">Adina Apartment Hotel!</h1>
                <h4 class="Prelaunch__beta--caption">
                    <p>Perfect for the Family Escape. Adina Apartment Hotels Spacious studios, one, two and three bedroom apartments in central locations across Australia, New Zealand and Europe. Adina Apartment Hotels Spacious studios, one, two and three bedroom apartments in central locations across Australia, New Zealand and Europe.</p>
                </h4>
                  
                 <div class="text-center">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                              <!-- Indicators -->
                              <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner" role="listbox">
                          
                                 <div class="item active">
                                  <img src="../img/adina/adina-apartment-hotel-bondi-beach-three-bedroom-apartment-lounge-area-2013.jpg" >
                                  <div class="carousel-caption">
                                  Adina Apartment Hotel
                                  </div>
                                </div>
                                 <div class="item">
                                  <img src="../img/adina/adina-apartment-hotel-bondi-beach-studio-room-king-2016.jpg" >
                                  <div class="carousel-caption">
                                  Adina Apartment Hotel
                                  </div>
                                </div>
                                <div class="item">
                                  <img src="../img/adina/adina-apartment-hotel-bondi-beach-pool-2016.jpg" >
                                  <div class="carousel-caption">
                                  Adina Apartment Hotel
                                  </div>
                                </div>
                               
                     
                              </div>

                              <!-- Controls -->
                         
                            </div>
                </div>

                <a class="Prelaunch__beta--back" @click="show = false"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to Previous Page</a>
            </div>
        </div>
    </div>


</template>

<script type="text/javascript">
$(document).ready(function() {
 

            $('.carousel').carousel({
                  interval: 2000
                })
 
});
</script>

<script type="text/javascript">
    export default {
        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true
            }
        },
        methods: {
            close: function () {
                this.show = false;
            }
        }
    }
</script>
