<template>
    <div class="Prelaunch__beta" @click="close" v-show="show" transition="modal">
        <div class="container" id="heading-section" @click.stop>
            <div class="content">
                <div class="logo"></div>
                <h1 class="Prelaunch__beta--heading">Beta Program</h1>
                <h4 class="Prelaunch__beta--caption">
                    <p>Help make the launch of Little Ones a huge success! As a member of the Beta Program, you can take part in shaping our software by test-driving pre-release versions and letting us know what you think.</p>
                    <p>As a Beta Program Member, you'll receive significant discounts on our service and access to other benefits yet to be announced.</p>
                    <p>The Beta Program will start in early June 2016, and we’ll have more information on the new features included at that time. We are accepting a limited number of beta testers, so if you’re interested, sign up sooner rather than later.</p>
                    <p>Thanks in advance for helping test this system — your feedback will go a long way toward making this even better.</p>
                </h4>
                <a class="Prelaunch__beta--back" @click="show = false"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to Previous Page</a>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">

    export default {
        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true
            }
        },

        methods: {
            close: function () {
                this.show = false;
            }
        }

    }
</script>