<template>
    <div>
        <a class="Prelaunch__switchButton" href="{{ switchUrl }}" v-show="showSwitcher()"><h6>I'm a client</h6></a>
        <div class="Prelaunch--caregivers Prelaunch__wrapper-background1">
            <div class="Prelaunch__background-transparency1">
                <div class="container" id="heading-section">
                    <div class="content">
                        <div class="logo">
                        </div>
                        <h1 class="Prelaunch__Principal-heading grey-txt">Not your average
                        <br>babysitting directory 
                        </h1>
                        <h4 class="Prelaunch__Principal-caption">Little Ones is about to change everything we know about accessing
                        caregivers online. Our most exciting feature — Uber-style babysitting!
                        <span>Access awesome rates for short-term care opportunities your local area — register now! </span></h4>
                    </div>
                </div>
                <div class="Prelaunch__separator" v-show="!showTour"></div>
            </div>
        </div>
        <div class="" id="tour-section" v-show="!showTour">
            <div class="row signup_row">
                <!-- <div class="col-md-12">
                    <sign-up type="caregivers"></sign-up>
                </div> -->
                <div class="col-md-12">
                    <div class="sign-up-txt-first">
                    <h5 class="Signup__caption">
                        <span class="title_idea" >Love the idea?</span>
                        <label><span class="Pre-register-now">
                            Pre-register for Little Ones now and go in the running to win a 3 night stay in a one bedroom apartment at any Adina Apartment Hotel in Australia.
                            Prize valued at $1,500. Click <a @click="showAdinaInfo()">here</a> for all the details!<br>
                        <label>
                    </h5>
                    </div>
                    <sign-up type="caregivers"></sign-up>
                </div>
            </div>
            <div class="Prelaunch__separator"></div>
            <div class="row tour_row1">
                <div class="Tour container">
                    <div class="Tour__promo-image Tour__promo-image--client1 col-md-5 col-sm-5">
                        <img src="../img/launch.png" alt="img">
                    </div>
                <div class="Tour__action-text Tour__action-text1 Tour__action-text--caregivers col-md-7 col-sm-7">
                    <strong>We’re almost ready to launch —  <br>
                        here’s a sneak preview!</strong>
                    <button type="button" class="btn btn-blue btn-primary Tour__action-button" @click="displayTourPage">
                        Take a Tour
                    </button>
                </div>
            </div>
        </div>
        </div>
        <div v-else>
            <div id="three-steps" class="TourSection">
                <div class="container">
                    <h4 class="TourSection__title">Three simple steps!</h4>
                        <div class="TourSection__features">
                            <div class="TourSection__bigImage">
                                <img src="/img/design/pre-launch/clients/three_steps_to_succeed_new.png" alt="">
                            </div>
                            <div class="TourSection__one-third">
                                <h5 class="TourSection__subtitle">Register</h5>
                                <p class="TourSection__one-third-text">
                                We only need a few details to get you started. In just a few clicks you will be ready to check out everything Littles Ones has to offer!
                                </p>
                            </div><div class="TourSection__one-third">
                            <h5 class="TourSection__subtitle">Build a Profile</h5>
                            <p class="TourSection__one-third-text">
                                Build a custom profile to specify all your preferences and requirements – this means you’ll only be matched up to the type of jobs you’re after!
                            </p>
                        </div><div class="TourSection__one-third">
                            <h5 class="TourSection__subtitle">Access Jobs</h5>
                            <p class="TourSection__one-third-text">
                                Check out our job listings and start applying! Now you’re ready to use all our great features including our “Care at a Click” Uber-style system!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="TourSection TourSection--alt" style="background-image: url(/img/design/pre-launch/caregivers/personal_profile_page_bg.png);">
                <div class="container">
                    <h4 class="TourSection__title">Personal Profile Page</h4>
                    <div class="TourSection__features">
                        <div class="TourSection__bigImage">
                            <img src="/img/design/pre-launch/caregivers/personal_profile_page.png" alt="">
                            <h5 class="TourSection__bigImage-subtitle">By building a detailed personal profile, you can make sure you are matched with jobs that right for you. Our rating and feedback system also allows parents to endorse you for future jobs!</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="TourSection">
                <div class="container">
                    <h4 class="TourSection__title">Find long-term care, short-term care, or a quick hour at a high rate!</h4>
                    <div class="TourSection__features">
                        <div class="TourSection__bigImage">
                            <img src="/img/design/pre-launch/caregivers/hundreds_of_jobs_every_day.png" alt="">
                            <h5 class="TourSection__bigImage-subtitle">Little Ones provides you with countless opportunities to earn extra income – when you want it and how you want it!</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="TourSection TourSection--alt green_bg" style="background-image: url(/img/design/pre-launch/caregivers/bubble.png);">
                <div class="container">
                    <h4 class="TourSection__title">Centralised Payment Portal</h4>
                    <div class="TourSection__features">
                        <div class="TourSection__bigImage">
                            <img src="/img/design/pre-launch/caregivers/centralized_payment.png" alt="">
                            <h5 class="TourSection__bigImage-subtitle">Payment history and timesheet records are stored in one centralised location.</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="TourSection" style="background-image: url(/img/design/pre-launch/meet_viviana_bg.png);">
                <div class="container">
                    <div class="user-comment-bubble">
                        <div class="user-comment-bubble-inner">
                            <div class="user-name-one">
                                <span class="h3">
                                    Meet Viviana
                                </span>
                            </div>
                            <div class="user-ava">
                                <img src="/img/temp/Viviana.png" alt="ava">
                            </div>
                            <div class="bq-text-one">
                                <p>I developed Little Ones for parents like me. I want to provide parents with easy access to some helping hands they can trust. Quality, qualified caregivers are our greatest asset!  </p>
                                
                               <p class="author-signature">Viviana, <br> Founder of Little Ones</p>
                            </div>
                        </div>
                    </div><!-- user-comment-bubble -->
                </div>
            </div>
            <div class="TourSection TourSection--cta TourSection-blk" style="background-image: url(/img/design/pre-launch/shouldnt_life_be_easy_bg_old.png);">
                <div class="container">
                    <div class="content">
                        <div class="col-md-12">
                            <div class="sign-up-txt"> 
                            <h5 class="Signup__caption"><span class="title_idea" >Get in before we take off!</span><span class="" v-model="textcare">
                            <label><span class="Pre-register-now">
                                Pre-register for Little Ones now and go in the running to win a 3 night stay in a one bedroom apartment at any Adina Apartment Hotel in Australia.
                                Prize valued at $1,500. Click <a @click="showAdinaInfo()">here</a> for all the details!<br>
                            <label>
                            </h5>
                            </div>
                            <sign-up-footer type="caregivers"></sign-up-footer>
                        </div>
                        <!--<div class="text-center">-->
                        <!-- <sign-up type="caregivers" textcare="abcdefgh"></sign-up> -->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <vc-footer></vc-footer>
</template>
<style type="text/css">
#heading-section{
max-height: 100%;
overflow-y: auto;
}
</style>
<script>
    import SignUp from './SignUp.vue';
    import SignUpFooter from './SignUpFooter.vue';
    import VcFooter from './Footer.vue';
    import $ from 'jquery';

    export default {
        components: {
            SignUp,
            SignUpFooter,
            VcFooter
        },

        props: {
            direct: {
                type: Boolean,
                default: false
            }
        },

        ready: function() {
            this.$parent.viewIsSelected = this.direct;
        },

        data: function() {
            return {
                showTour: false,
                switchUrl: '/pre-launch/clients'
            }
        },

        methods: {
            displayTourPage() {
                this.showTour = true;
                $('html, body').animate({
                    scrollTop: $('.Prelaunch__wrapper-background').outerHeight()
                }, 1000);
            },
            showSwitcher() {
                return this.$parent.viewIsSelected;
            },
            showAdinaInfo() {
                this.$dispatch('show-adina-info');
            },
        }
    }
</script>