<template>
    <div class="prelaunch_page">
        <a class="Prelaunch__switchButton" href="{{ switchUrl }}" v-show="showSwitcher()"><h6>I'm a caregiver</h6></a>
        <div class="Prelaunch--clients Prelaunch__wrapper-background">
            <div class="Prelaunch__Pregnant-lady"></div>
            <div class="Prelaunch__background-transparency">
                <div class="container" id="heading-section">
                    <div class="content">
                        <div class="logo">
                        </div>
                        <h1 class="Prelaunch__Principal-heading">Not your average <br> babysitting directory</h1>
                        <br><br>
                        <h4 class="Prelaunch__Principal-caption"><label>
                        You can order almost anything online these days. Wouldn’t it be nice to be able to order a bit of ‘me time’? </label>
                        <span>Little Ones is about to launch an amazing network of strictly verified caregivers at your fingertips.</span>
                        <span>The best part? We don’t just connect you with long-term care options, our certified caregivers can
                              pop over for even just an hour or two — whatever your need! It’s as easy as ordering an Uber!</span>
                        </h4>

                    </div>
                </div>
                <div class="Prelaunch__separator" v-show="!showTour"></div>
            </div>
        </div>
        <div  id="tour-section" v-show="!showTour">
        <div class="row signup_row">
            <div class="col-md-12">
                <div class="sign-up-txt-first">
                <h5 class="Signup__caption">
                    <span class="title_idea" >Love the idea?</span>
                    <label><span class="Pre-register-now">
                        Pre-register for Little Ones now and go in the running to win a 3 night stay in a one bedroom apartment at any Adina Apartment Hotel in Australia.
                        Prize valued at $1,500. Click <a @click="showAdinaInfo()">here</a> for all the details! <br>
                    <label>
                </h5>
                </div>
                <sign-up type="client"></sign-up>
            </div>
        </div>
        <div class="Prelaunch__separator"></div>
        <div class="row tour_row">
            <div class="Tour container">
                <div class="Tour__promo-image Tour__promo-image--client col-md-5 col-sm-5">
                    <img src="../img/ch2.png" alt="img">
                </div>
                <div class="Tour__action-text col-md-7 col-sm-7">
                    <strong>Were just putting
                    together <br>the final pieces! </strong>
                    <button type="button" class="btn btn-blue btn-primary Tour__action-button" @click="displayTourPage">
                    Take a Tour
                    </button>
                </div>
            </div>
         </div>
        </div>
        <div v-else>
            <div class="TourSection">
                <div class="container">
                    <h4 class="TourSection__title">Care at a click!</h4>
                    <div class="TourSection__features">
                        <div class="TourSection__bigImage">
                            <img src="/img/design/pre-launch/clients/three_steps_to_succeed.png" alt="">
                        </div>
                        <div class="TourSection__one-third">
                            <h5 class="TourSection__subtitle">Sign Up</h5>
                            <p class="TourSection__one-third-text">
                            All we need to get you started is your name and email address. In just a few clicks, you will be ready to go! 
                            </p>
                        </div><div class="TourSection__one-third">
                        <h5 class="TourSection__subtitle">Search</h5>
                        <p class="TourSection__one-third-text">
                        With our highly customisable search features, you can find exactly what you're looking for on your first attempt. 
                        </p>
                    </div><div class="TourSection__one-third">
                        <h5 class="TourSection__subtitle">Select</h5>
                        <p class="TourSection__one-third-text">
                       Check out the profiles of our strictly verified caregivers – their qualifications, experience and reviews.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="TourSection TourSection--alt" style="background-image: url(/img/design/pre-launch/clients/easy_search_bg.png);">
                <div class="container">
                    <h4 class="TourSection__title">Order some ‘me time’</h4>
                    <div class="TourSection__features">
                        <div class="TourSection__bigImage">
                            <img src="/img/design/pre-launch/clients/easy_search.png" alt="">
                            <div class="blue-bg-txt">
                            <h5 class="TourSection__bigImage-subtitle">
                                Whether you just need an hour of “me time”, a regular babysitter, or a long-term nanny - we’ll help to identify the best options for you!
                            </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="TourSection">
                <div class="container-hero">
                    <h4 class="TourSection__title">A strictly verified professional network</h4>
                    <div class="TourSection__features">
                        <div class="TourSection__bigImage">
                            <img src="/img/design/pre-launch/clients/thousands_of_new_profiles.png" alt="">
                            <div class="blue-bg-txt">
                            <h5 class="TourSection__bigImage-subtitle">We follow a stringent process of background checking - including the<br> verification of qualifications, references and experience.
                            <a href="/pre-launch/caregivers-verification"> Find out more </a>
                            </h5>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="TourSection TourSection--alt green_bg" style="background-image: url(/img/design/pre-launch/clients/bubble.png);">
                <div class="container-hero">
                    <h4 class="TourSection__title">Manage your babysitter's schedule and payments</h4>
                    <div class="TourSection__features">
                        <div class="TourSection__bigImage">
                            <img src="/img/design/pre-launch/clients/manage_your_babysitters.png" alt="">
                            <div class="green-bg-txt">
                            <h5 class="TourSection__bigImage-subtitle">
                            Organise, pay and schedule using our great online tools. Everything you need is just a click away on your computer or mobile device. 
                            </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-comment-bubble" style="background-image: url(/img/design/pre-launch/meet_viviana_bg.png);">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="user-comment-bubble-inner ">
                                <div class="user-name-one">
                                    <span class="h3">
                                        Meet Viviana
                                    </span>
                                </div>
                                <div class="user-ava">
                                    <img src="/img/temp/Viviana.png" alt="ava">
                                </div>
                                <div class="bq-text-one">
                                <p>Im the mother of three gorgeous girls  I understand the joys and I understand the challenges.
                                I developed Little Ones for parents like me. I want to provide parents with easy access to some helping hands they can trust.  </p>
                                    <p class="author-signature">Viviana, <br> Founder of Little Ones</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="TourSection TourSection--cta" style="background-image: url(/img/design/pre-launch/shouldnt_life_be_easy_bg.png);">
                <div class="container">
                    <div class="content">
                        <div class="text-center" style="width:100%">
                           <div class="sign-up-txt"> 
                            <h5 class="Signup__caption ">
                                <span class="title_idea" >Love the idea?</span>
                                <label><span class="Pre-register-now">
                                    Pre-register for Little Ones now and go in the running to win a 3 night stay in a one bedroom apartment at any Adina Apartment Hotel in Australia.
                                    Prize valued at $1,500. Click <a @click="showAdinaInfo()">here</a> for all the details! <br>
                                <label>
                            </h5>
                           </div> 
                            <sign-up type="client" textcare="cluse"></sign-up>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <vc-footer></vc-footer>
</template>



<script>
    import SignUp from './SignUp.vue';
    import VcFooter from './Footer.vue';
    import $ from 'jquery';

    export default {
        components: {
            SignUp,
            VcFooter
        },

        props: {
            direct: {
                type: Boolean,
                default: false
            }
        },

        ready: function() {
            this.$parent.viewIsSelected = this.direct;
        },

        data: function() {
            return {
                showTour: false,
                switchUrl: '/pre-launch/caregiver'
            }
        },

        methods: {
            displayTourPage() {
                this.showTour = true;
                $('html, body').animate({
                    scrollTop: $('.Prelaunch__wrapper-background').outerHeight(),
                }, 1000);
            },
            showSwitcher() {
                return this.$parent.viewIsSelected;
            },
            showAdinaInfo() {
                this.$dispatch('show-adina-info');
            },
        }
    }
</script>