<template>
    <footer class="footer">
        <div class="container text-center">
            <a href="https://www.facebook.com/LittleOnes.AU1" title="Our Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-instagram" title="Our Instagram"></i></a>
            <a href="/pre-launch/contact" title="Contact us"><i class="fa fa-envelope-o"></i></a>
            <a href="/pre-launch/faqs" title="FAQs">FAQs</a>
            <a href="/pre-launch/caregivers-verification" title="How we get caregivers"><i class="fa fa-users"></i></a>
        </div>
    </footer>
</template>