<template>
    <div class="Signup">
        <div class="Signup__form">
            <div class="Signup__form-row">
                <input maxlength="30" v-model="formData.first_name" type="text" placeholder="First name" class="Signup__input" @keyup="resetMessages">
            </div>
            <div class="Signup__form-row">
                <input maxlength="30" v-model="formData.last_name" type="text" placeholder="last name" class="Signup__input" @keyup="resetMessages">
            </div>
            <div class="Signup__form-row">
                <input maxlength="30" v-model="formData.email" type="email" placeholder="Email address" class="Signup__input" @keyup="resetMessages">
            </div>
            <div class="Signup__form-row">
                <button type="submit" :class="buttonClasses" @click="submitForm">{{{ buttonText }}}</button>
            </div>
            <div class="Signup__form-row Signup__form-row-new white-txt">
                <label><input type="checkbox" name="opt-beta" v-model="formData.opt_beta" class="Signup__checkbox"><span></span>Take part in </label> <a @click="showBeta()">Beta Program</a>
                <input type="hidden" name="type" v-model="type">
            </div>
            <div class="Signup__form-row Signup__form-row-new white-txt">
                <label><input type="checkbox" name="opt-competition" v-model="formData.opt_competition" class="Signup__checkbox"><span></span>I agree to the competition</label> <a @click="goToCompetitionTermsAndConditions()"> Terms and Conditions</a>
            </div>
            <div class="Signup__form-row Signup__form-row-new white-txt">
                <label><input type="checkbox" name="opt-here-more" v-model="formData.opt_here_more" class="Signup__checkbox"><span></span>I’d like to hear more about Adina Apartments and TFE Hotels</label>
            </div>
        </div>
        <h5 class="text-center Signup__caption Signup__caption--success" v-if="successMessage">
            {{ successMessage }}
        </h5>
        <h5 class="text-center Signup__caption Signup__caption--error" v-else>
            {{ errorMessage }}
        </h5>
    </div>
</template>

<script type="text/javascript">

    import Beta from './Beta.vue';

    export default {
        props: {
            buttonText: {
                type: String,
                default: 'Sign Up'
            },
            type: {
                required: true
            }
        },

        components: {
            Beta
        },

        data: function() {
            return {
                formData: {
                    opt_beta: false,
                    opt_competition: false,
                    email: '',
                    opt_here_more: false,
                    first_name: '',
                    last_name: ''
                },
                successMessage: '',
                errorMessage: '',
                disableButton: false
            }
        },
        methods: {
            submitForm() {
                if (!this.disableButton) {
                    this.disableButton = true;
                    this.buttonText = '<i class="fa fa-spinner fa-spin"></i> Submitting';
                    this.formData.type = this.type;
                    //TODO: this should be a named route, need to inject it from laravel into vue.js
                    this.$http.post('/api/v1/pre-launch/sign-up', this.formData).then( function(response) {
                        // Show success message;
                        var that = this;
                        setTimeout( function() {
                            that.buttonText = 'Success!';
                            that.successMessage = 'Thanks for signin in! Check your email for confirmation.';
                        }, 1000);
                    }, function(response) {
                        this.resetForm();
                        for (var key in response.data) {
                            this.errorMessage = response.data[key];
                        }
                        // on unknown error
                        if (response.status === 500) {
                            this.errorMessage = 'Please Refresh your browser and submit the form again';
                        }
                    }).bind(this);
                }
            },

            resetForm() {
                var that = this;
                setTimeout( function() {
                    that.buttonText = 'Sign Up';
                    that.disableButton = false;
                }, 1000);
            },

            resetMessages() {
                this.successMessage = '';
                this.errorMessage = '';
                this.disableButton = false;
                this.buttonText = 'Sign Up';
            },

            showBeta() {
                this.$dispatch('show-beta');
            },

            goToCompetitionTermsAndConditions(){
                window.location.href = "/pre-launch/competition-terms-and-conditions";
            }
        },
        computed: {
            buttonClasses: function() {
                return {
                    'btn': true,
                    'btn-themed': true,
                    'btn-primary': true,
                    'Signup__button': true
                }
            }
        }
    }
</script>