<template>
    <div class="panel-row abn_number-template">
        <div class="field">
            <strong>ABN</strong>
        </div>
        <div class="value">

            <div v-show="!displayForm">
                <div v-show="!hasABNNumber">
                    <a href="/user/settings/get-verified/abn">Enter your ABN</a> to enable ABN invoicing
                </div>
                <p v-else>
                    {{ userInfo.abn_number }}
                </p>
            </div>
            <div v-else transition="ease">
                <strong>Please Enter your ABN Number: </strong><br>
                <div class="form">
                    <form action="/api/v1/settings/abn" method="patch" accept-charset="utf-8">
                        <input name="_method" type="hidden" value="PATCH">
                        <div class="form-row">
                            <div class="form-field">
                                <strong>
                                    ABN *
                                </strong>
                            </div>
                            <div :class="['input-field', formErrors.abn_number ? 'error' : '' ]">
                                <input type="text" id="abnInput" name="abn" v-model="userInfo.abn_number" @keyup='formErrors.abn_number = ""'> </input>
                                <div class="error-message">{{ formErrors.abn_number }}</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="actions" v-show="!displayForm">
            <a href="/user/settings/get-verified/abn" id="editABN" class="btn btn-themed">
                Edit
            </a>
        </div>
        <div class="actions open" v-else>
            <a href="javascript:;" id="saveABN" class="btn btn-themed btn-primary" @click="saveABN">
                Save
            </a>
            <a href="javascript:;" class="btn btn-themed cancel" @click="cancel">
                Cancel
            </a>
        </div>
    </div>
</template>

<script>
    import CustomSelect from '../CustomSelect.vue';
    import $ from 'jquery';
    import intlTelInput from 'intl-tel-input';
    console.log(intlTelInput);

    export default {
        props: ['displayForm', 'userInfo'],
        components: {
            CustomSelect,
        },
        data() {
            return {
                formErrors: {
                    abn_number: '',
                },
                thisUserInfo: {}
            }
        },
        methods: {
            closeForm() {
                this.$dispatch('close-form', { abn_number: false });
            },

            openForm() {
                this.thisUserInfo.abn_number = this.userInfo.abn_number;
                this.$dispatch('open-form', {  abn_number: true });
            },

            saveABN(event) {
                event.preventDefault();
                var formData = {
                    abn_number: this.userInfo.abn_number,
                }

                this.$http.patch('/api/v1/settings/abn', formData)
                    .then( function(response) {
                        // resets form to default
                        this.closeForm();
                        this.$dispatch('notification', {type: response.data.notification.type, 'message': response.data.notification.message, 'close': false});
                        this.thisUserInfo.abn_number = this.userInfo.abn_number;
                    }, function(response) {
                        // on validation error
                        this.clearFormErrors();
                        for (var key in response.data) {
                            this.formErrors[key] = response.data[key][0];
                        }
                        // on unknown error
                        if (response.status === 500) {
                            this.cancel();
                            this.$dispatch('notification', {type: 'danger', 'message': 'You have found an unknown error, try reloading your browser', 'close': false});
                        }
                    }
                );
            },

            clearForm() {
                this.clearFormErrors();
            },

            clearFormErrors() {
                this.formErrors = { abn_number: ''};
            },

            cancel(event) {
                this.userInfo.abn_number = this.thisUserInfo.abn_number;
                this.clearForm();
                this.closeForm();
            }
        },
        computed: {
            hasABNNumber() {
                return !!this.userInfo.abn_number;
            }
        },
        events: {
            'clear-form': function (msg) {
                this.clearForm();
            }
        },
        ready: function () {
            jQuery('input[name="abn"]').inputmask("9{2} 9{3} 9{3} 9{3}");
        }
    }
</script>