<template id="address-template">
    <div class="panel-row address-template" v-if="userInfo">
        <div class="field">
            <strong>Address</strong>
        </div>
        <div class="value">

            <div v-show="!displayForm">
                <div v-show="!hasAddress">
                    <a v-if="userInfo.user.is_caregiver" href="/user/settings/get-verified/address">Enter your Address</a> so you can create or apply to jobs
                    <a v-else href="#" @click="openForm()">Enter your Address</a> so you can create or apply to jobs
                </div>
                <p v-else>
                {{ userInfo.line_1 }} <br>
                {{ userInfo.line_2 }}
                {{{ line2Break }}}
                {{ userInfo.city }}<br>
                {{ userInfo.zipcode }}
                </p>
            </div>
            <div v-else transition="ease">
                <strong>Please Enter your Address: </strong><br>
                <!--<ol>-->
                    <!--li>Your address will be only shown to your hired caregivers</li-->
                    <p>Is important that you use your correct address</p>
                <!--</ol>-->
                <div class="form">
                    <form action="/api/v1/settings/address" method="post" accept-charset="utf-8">
                        <input name="_method" type="hidden" value="PATCH">
                        <div class="form-row">
                            <div class="form-field">
                                <strong>
                                    Address Line 1 *
                                </strong>
                            </div>
                            <div :class="['input-field', formErrors.line_1 ? 'error' : '' ]">
                                <input type="text" name="line_1" v-model="userInfo.line_1" @keyup='formErrors.line_1 = ""'>
                                <div class="error-message">{{ formErrors.line_1 }}</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-field">

                                <strong>
                                    Address Line 2
                                </strong>
                            </div>
                            <div :class="['input-field', formErrors.line_2 ? 'error' : '' ]">
                                <input type="text" name="line_2" v-model="userInfo.line_2" @keyup='formErrors.line_2 = ""'>
                                <div class="error-message">{{ formErrors.line_2 }}</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-field">
                                <strong>
                                    Suburb *
                                </strong>
                            </div>
                            <div :class="['input-field', formErrors.city ? 'error' : '' ]">
                                <input type="text" name="city" v-model="userInfo.city" @keyup='formErrors.city = ""'/>
                                <div class="error-message">{{ formErrors.city }}</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-field">
                                <strong>
                                    Post code *
                                </strong>
                            </div>
                            <div :class="['input-field', formErrors.zipcode ? 'error' : '' ]">
                                <input type="text" name="zipcode" v-model="userInfo.zipcode" @keyup='formErrors.zipcode = ""'/>
                                <div class="error-message">{{ formErrors.zipcode }}</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-field">
                                <strong style="white-space: nowrap;">
                                    Color scan request document *
                                </strong>
                                    <p style="width: 200%;">Please upload a color scan of a Residency verification document.
This can be a credit card or bank statement (Such as utility, internet, rent, insurance, mortgage bill) from within the last 6 months. Statement must include the name and address of account holder and issuing institution and last 4 digits of account number.</p>                                
                            </div>
                            <div class="scanreq">
                                <div class="profile-scan" v-show="userInfo.document_scan.length">
                                    <img no-hide="true" :src="userInfo.document_scan" alt="NOTHING" id="avatar1">
                                </div>
                                <div class="full-width file-select__choose-file">

                                    <p v-show="loading.profile_scan">Please wait, file is uploading...</p>

                                    <input class="inputfile" type="file" name="" id="avatar222" @change="onFileChange" />

                                    <label for="avatar222" v-show="!loading.profile_scan">Select file to upload</label>
                                </div>
                                <div class="inputs">
                                    <div class="doctype">
                                        <div>
                                            <strong>
                                                Document type *
                                            </strong>
                                        </div>
                                        <div :class="['input-field',formErrors.document_type_id ? 'error' : '' ]">
                                            <custom-select
                                                :options="docTypes"
                                                @click="formErrors.doctype_id = ''"
                                                :selected.sync="userInfo.document_type_id"
                                                @changed-option="documentType"
                                                name="document type"
                                                style="width: 285px; display: inline-block">
                                            </custom-select>
                                            <div class="error-message" v-show="formErrors.doctype_id"> {{ formErrors.doctype_id }} </div>
                                        </div>                                
                                    </div>
                                    <div class="dateis">
                                        <div>
                                            <strong>
                                                Date issued *
                                            </strong>
                                        </div>
                                        <div :class="['input-field', formErrors.dateis ? 'error' : '' ]">
                                            <input id="dateis" type="text" name="dateis" class="nofuture" v-model="userInfo.document_date" size="9" />
                                            <div class="error-message">{{ formErrors.dateis }}</div>
                                        </div>    
                                    </div>
                                </div>
                            </div>                        
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
        <div class="actions" v-show="!displayForm">
            <a v-if="userInfo.user.is_caregiver" href="/user/settings/get-verified/address" id="editAddress" class="btn btn-themed">
                Edit
            </a>
            <a href="#" v-else href="#" class="btn btn-themed" id="editAddress" @click="openForm()">Edit</a>
        </div>
        <div class="actions open" v-else>
            <a href="javascript:;" id="saveAddress" class="btn btn-themed btn-primary" @click="saveAddress">
                Save
            </a>
            <a href="javascript:;" class="btn btn-themed cancel" @click="cancel">
                Cancel
            </a>
        </div>
    </div>
</template>
<script>
    var picker;
    import CustomSelect from '../CustomSelect.vue';
//    import Pikaday from 'pikaday';
    import $ from 'jquery';
    export default {
        template: 'javascript:;address-template',
        props: ['displayForm', 'userInfo'],
        components: {
            CustomSelect,
        },
        data: function() {
            return {
                addressfile: '',
                fileUploadFormData: new FormData(),
                profile_scan: '',
                formErrors: {
                    line_1: '',
                    line_2: '',
                    city: '',
                    zipcode: '',
                    dateis: '',
                    document_type_id: ''
                },
                thisUserInfo: {},
                docTypes: '',
                loading: {
                    profile_scan: false,
                }

            }
        },       
        methods: {
            onFileChange: function(e) {

                var files = e.target.files || e.dataTransfer.files;
                this.createImage(files[0]);
                // e.preventDefault();


                // Create a formdata object and add the files
                var data = new FormData();
                $.each(files, function(key, value)
                {
                    data.append(key, value);
                });

                var that = this;

                this.loading.profile_scan = true;

                $.ajax({
                    xhr: function()
                    {
                        var xhr = new window.XMLHttpRequest();
                        // прогресс загрузки на сервер
                        xhr.upload.addEventListener("progress", function(evt){
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                // делать что-то...
                                console.log("upload:"+percentComplete);
                                var prg = Math.round(percentComplete * 100);

                                $('#'+e.target.name+'progress').attr('aria-valuenow', prg)
                                    .css({width:prg+'%'})
                                    .html(prg+'%');

                            }
                        }, false);
                        return xhr;
                    },
                    url: '/api/v1/upload/image',
                    type: 'POST',
                    data: data,
                    cache: false,
                    dataType: 'json',
                    processData: false, // Don't process the files
                    contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                    success: function(data, textStatus, jqXHR)
                    {
                        if(typeof data.error === 'undefined')
                        {
                            // Success so call function to process the form

                            that.loading.profile_scan = false;
                            that.profile_scan = data.image_path;

                            console.log(data);
                            $('#avatar1').attr('src', data.image_path);
                            //that.detectScanType();

                        }
                        else
                        {
                            // Handle errors here
                            console.log('ERRORS: ' + data.error);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown)
                    {
                        // Handle errors here
                        console.log('ERRORS: ' + textStatus);
                        that.loading.profile_scan = false;
                    }
                });

            },
            createImage(file) {
                console.log('Create image');
                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    console.log('Reader onload');
                    console.log(e.target.result);
                    vm.userInfo.document_scan = e.target.result;

                };
                reader.readAsDataURL(file);
            },
            documentType(doctype) {
                this.userInfo.document_type_id = doctype.value;
                this.userInfo.document_type_name = doctype.text;
            },            
            getDocType() {
                this.docTypes = [
                    {"value":1,"text":"Government issued ID card"},
                    {"value":2,"text":"National ID card"},
                    {"value":3,"text":"Passport"}
                ];
            },

            closeForm: function() {
                this.$dispatch('close-form', { address: false, profile_scan:false });
            },

            openForm: function() {
                this.$dispatch('open-form', {  address: true, profile_scan:true });
                this.thisUserInfo.line_1 = this.userInfo.line_1;
                this.thisUserInfo.line_2 = this.userInfo.line_2;
                this.thisUserInfo.city = this.userInfo.city;
                this.thisUserInfo.zipcode = this.userInfo.zipcode;
                var date = new Date();
//                picker = new Pikaday({
//                    field: document.getElementById('dateis'),
//                    maxDate: new Date(date.getFullYear(), date.getMonth(), date.getDate()),
//                    yearRange: [1950, date.getFullYear()]
//                });
                window.maskInputDates();
            },

            saveAddress: function(event) {
                event.preventDefault();
                jQuery("body").LoadingOverlay("show");
                this.fileUploadFormData.append('line_1', this.userInfo.line_1);
                this.fileUploadFormData.append('line_2', this.userInfo.line_2);
                this.fileUploadFormData.append('city', this.userInfo.city);
                this.fileUploadFormData.append('zipcode', this.userInfo.zipcode);
                this.fileUploadFormData.append('document_type_id', this.userInfo.document_type_id);
                this.fileUploadFormData.append('document_type_name', this.userInfo.document_type_name);
                this.fileUploadFormData.append('document_date', this.userInfo.document_date);
                var $input = $("#avatar");
                this.fileUploadFormData.append('profile_picture', this.profile_scan);
                         
                this.$http.post('/api/v1/settings/address', this.fileUploadFormData)
                    .then( function(response) {
                        // resets form to default
                        this.closeForm();
                        this.$dispatch('notification', {type: response.data.notification.type, 'message': response.data.notification.message, 'close': false});

                        this.thisUserInfo.line_1 = this.userInfo.line_1;
                        this.thisUserInfo.line_2 = this.userInfo.line_2;
                        this.thisUserInfo.city = this.userInfo.city;
                        this.thisUserInfo.zipcode = this.userInfo.zipcode;
                        jQuery("body").LoadingOverlay("hide");
                        location.href = '#';
                    }, function(response) {
                        // on validation error
                        this.clearFormErrors();
                        for (var key in response.data) {
                            this.formErrors[key] = response.data[key][0];
                        }
                        // on unknown error
                        if (response.status === 500) {
                            this.cancel();
                            this.$dispatch('notification', {type: 'danger', 'message': 'You have found an unknown error, try reloading your browser', 'close': false});
                        }
                        jQuery("body").LoadingOverlay("hide");
                        location.href = '#';
                    }
                );
            },

            clearForm: function() {
                this.clearFormErrors();
            },

            clearFormErrors: function() {
                this.formErrors = { line_1: '', line_2: '', city: '', zipcode: '' };
            },

            getCountries: function() {
                this.$http.get('/api/v1/common/countries')
                    .then( function(response) {
                        this.countries = response.data;
                    }, function(response) {
                        this.$dispatch('notification', {type: 'danger', 'message': 'You have found an unknown error, try reloading your browser', 'close': false});
                    }
                );
            },

            cancel: function(event) {
                this.userInfo.line_1 = this.thisUserInfo.line_1;
                this.userInfo.line_2 = this.thisUserInfo.line_2;
                this.userInfo.city = this.thisUserInfo.city;
                this.userInfo.zipcode = this.thisUserInfo.zipcode;

                this.clearForm();
                this.closeForm();
            },
        },
        computed: {
            filePath() {
                return this.profile_scan.replace(/^.*\\/, "");
            },              
            line2Break: function() {
                return this.userInfo.line_2 ? '<br>' : '';
            },
            hasAddress: function() {
                return !!this.userInfo.line_1;
            }
        },
        ready() {
            this.getDocType();
            var self = this;
            $('#avatar222').on('change', function(e){
                self.onFileChange(e);
            });

        },        
        events: {
            'clear-form': function (msg) {
                this.clearForm();
            }
        },
    }
</script>