<template>
    <div class="panel-row birthday-template">
        <div class="field">
            <strong>Birthday</strong>
        </div>
        <div class="value">
            <div v-show="!displayForm">
                <div v-show="!hasBirthday">
                    <a v-if="userInfo.user.is_caregiver" href="/user/settings/get-verified/id">Enter your Birthday</a>
                    <a v-else href="#" @click="openForm('birthday-settings')">Enter your Birthday</a>
                </div>
                <p v-else>
                    {{ userInfo.user.birthday }}
                </p>
            </div>
            <div v-else transition="ease">
                <strong>Please Enter your Birthday: </strong><br>
                <div class="form">
                    <form action="/api/v1/settings/birthday" method="post" accept-charset="utf-8">
                        <input name="_method" type="hidden" value="PATCH">
                        <div class="form-row">
                            <div class="form-field">
                                <strong>
                                    Birthday *
                                </strong>
                            </div>
                            <div :class="['input-field', formErrors.birthday ? 'error' : '' ]">
                                <input class="nofuture"  id="birthday" type="text" name="birthday" v-model="userInfo.user.birthday" size="9" />
                                <div class="error-message">{{ formErrors.birthday }}</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="verDoc">
                <strong>Please upload a color scan of ID Document </strong><br>
                    1. Government issued ID card or<br>
                    2. National ID card or<br>
                    3. Passport license<br>
                    It should include a clear photo.<br>
                    <div class="form-row">
                        <div class="form-field">
                            <strong>Scan of ID *</strong>
                        </div>
                        <div class="profile-scan">
                            <img no-hide="true" style="width: 266px;" :src="userInfo.bd_scan_of_id" alt="" id="avatar_bd">
                        </div> 
                        <div class="full-width file-select__choose-file">
                            <p v-show="loading">Please wait, file is uploading...</p>
                            <input class="inputfile" style="visibility: hidden;" accept="image/*" type="file" name="avatar" id="avatar33" v-on:change="upload">
                            <label v-show="!loading" for="avatar33">Select file to upload</label>
                        </div> 
                    </div>    
                    <div class="form-row">
                        <div class="form-field">
                            <strong>ID type * </strong>
                        </div>
                        <div :class="['input-field',formErrors.bd_id_type_id ? 'error' : '' ]">
                            <custom-select
                                :options="idTypes"
                                @click="formErrors.doctype_id = ''"
                                :selected.sync="userInfo.bd_id_type_id"
                                @changed-option="setIdTypes"
                                name="id type"
                                style="width: 285px; display: inline-block; position: relative !important;">
                            </custom-select> 
                            <div class="error-message" v-show="formErrors.bd_id_type_id"> {{ formErrors.bd_id_type_id }} </div>
                        </div>                          
                    </div>                      
                    
                    <div class="form-row">
                        <div class="form-field">
                            <strong>ID issuing Country  * </strong>
                        </div>
                        <div :class="['input-field', formErrors.bd_id_issuing ? 'error' : '' ]">
                            <input id="bd_id_issuing" type="text" name="bd_id_issuing" v-model="userInfo.bd_id_issuing" size="9" /> 
                            <div class="error-message">{{ formErrors.bd_id_issuing }}</div>
                        </div>
                    </div>                 
                    <div class="form-row">
                        <div class="form-field">
                            <strong>ID number * </strong>
                        </div>
                        <div :class="['input-field', formErrors.bd_id_number ? 'error' : '' ]">
                            <input id="bd_id_number" type="text" name="bd_id_number" v-model="userInfo.bd_id_number" size="9" /> 
                            <div class="error-message">{{ formErrors.bd_id_number }}</div>
                        </div>
                    </div>    
                </div>                
            </div>
        </div>
        <div  class="actions" v-show="!displayForm">
            <a v-if="userInfo.user.is_caregiver" href="/user/settings/get-verified/id" id="editBirthday" class="btn btn-themed">
                Edit
            </a>
            <a v-if="!userInfo.user.is_caregiver" href="#" @click="openForm()" id="editBirthday" class="btn btn-themed">
                Edit
            </a>

        </div>
        <div class="actions open" v-else>
            <a href="javascript:;" id="saveBirthday" class="btn btn-themed btn-primary" @click="saveBirthday">
                Save
            </a>
            <a href="javascript:;" class="btn btn-themed cancel" @click="cancel">
                Cancel
            </a>
        </div>
    </div>
</template>

<script>
    import CustomSelect from '../CustomSelect.vue';
    import $ from 'jquery';
//    import Pikaday from 'pikaday';
    
    export default {
        props: ['displayForm', 'userInfo'],
        components: {
            CustomSelect,
        },
        data: function() {
            return {
                fileUploadFormData: new FormData(),
                formErrors: {
                    birthday: '',
                    bd_id_number: '',
                    bd_id_issuing: '',

                },
                thisUserInfo: {},
                idTypes: '',
                scan : '',
                loading: false,
            }
        },
        methods: {
            upload(e){
                var files = e.target.files || e.dataTransfer.files;
                this.createImage(files[0]);

                // Create a formdata object and add the files
                var data = new FormData();
                $.each(files, function(key, value)
                {
                    data.append(key, value);
                });

                var that = this;

                this.loading = true;

                $.ajax({
                    xhr: function()
                    {
                        var xhr = new window.XMLHttpRequest();
                        // прогресс загрузки на сервер
                        xhr.upload.addEventListener("progress", function(evt){
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                // делать что-то...
                                console.log("upload:"+percentComplete);
                                var prg = Math.round(percentComplete * 100);

                                $('#'+e.target.name+'progress').attr('aria-valuenow', prg)
                                    .css({width:prg+'%'})
                                    .html(prg+'%');

                            }
                        }, false);
                        return xhr;
                    },
                    url: '/api/v1/upload/image',
                    type: 'POST',
                    data: data,
                    cache: false,
                    dataType: 'json',
                    processData: false, // Don't process the files
                    contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                    success: function(data, textStatus, jqXHR)
                    {

                        that.loading = false;
                        that.scan = data.image_path;
                        that.userInfo.bd_scan_of_id = data.image_path;
                        console.log(data);
                        $('#avatar_bd').attr('src', data.image_path);
                        setTimeout(function(){
                            $('#avatar_bd').css({visibility: 'visible', display: 'block'});
                        },300);
                    },
                    error: function(jqXHR, textStatus, errorThrown)
                    {
                        // Handle errors here
                        console.log('ERRORS: ' + textStatus);
                        that.loading = false;
                    }
                });
            },
            createImage(file) {

                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.userInfo.bd_scan_of_id = e.target.result;
                };

                reader.readAsDataURL(file);
            },
            setIdTypes(types) {
                this.userInfo.bd_id_type_id = types.value;
                this.userInfo.bd_id_type_name = types.text;
            },  

            closeForm: function() {
                this.$dispatch('close-form', { birthday: false });

            },

            openForm: function() {
                this.$dispatch('open-form', {  birthday: true });
                this.thisUserInfo.birthday = this.userInfo.user.birthday;
//                var picker = new Pikaday({
//                    field: document.getElementById('birthday'),
//                    yearRange: [1950, 2000]
//                });
            },

            saveBirthday: function(event) {
                event.preventDefault();
                // var formData = {
                //     birthday: this.userInfo.user.birthday,
                // }
                jQuery("body").LoadingOverlay("show");

                this.fileUploadFormData.append('birthday', this.userInfo.user.birthday);
                this.fileUploadFormData.append('bd_scan_of_id', this.scan);
                this.fileUploadFormData.append('bd_id_type_id', this.userInfo.bd_id_type_id);
                this.fileUploadFormData.append('bd_id_type_name', this.userInfo.bd_id_type_name);
                this.fileUploadFormData.append('bd_id_issuing', this.userInfo.bd_id_issuing);
                this.fileUploadFormData.append('bd_id_number', this.userInfo.bd_id_number);

                this.$http.post('/api/v1/settings/birthday', this.fileUploadFormData)
                    .then( function(response) {
                        // resets form to default
                        this.closeForm();
                        this.$dispatch('notification', {type: response.data.notification.type, 'message': response.data.notification.message, 'close': false});
                        this.thisUserInfo.birthday = this.userInfo.user.birthday;
                        jQuery("body").LoadingOverlay("hide");
                        location.href = '#';
                    }, function(response) {
                        // on validation error
                        this.clearFormErrors();
                        for (var key in response.data) {
                            this.formErrors[key] = response.data[key][0];
                        }
                        // on unknown error
                        if (response.status === 500) {
                            this.cancel();
                            this.$dispatch('notification', {type: 'danger', 'message': 'You have found an unknown error, try reloading your browser', 'close': false});
                        }

                        jQuery("body").LoadingOverlay("hide");
                        location.href = '#';
                    }
                );
            },

            clearForm: function() {
                this.clearFormErrors();
            },

            clearFormErrors: function() {
                this.formErrors = { birthday: ''};
            },

            cancel: function(event) {
                this.userInfo.user.birthday = this.thisUserInfo.birthday;
                this.clearForm();
                this.closeForm();
            }
        },
        computed: {
            hasBirthday: function() {
                return this.userInfo.user.birthday.length ;
            }
        },
        events: {
            'clear-form': function(msg) {
                this.clearForm();
            }
        },
        ready() {
            this.idTypes = [
                {"value":1, "text": "Government issued ID card or"},
                {"value":2, "text": "National ID card"},
                {"value":3, "text": "Passport license"},
                {"value":4, "text": "Driver License"},
            ];
            //Inputmask().mask(document.querySelectorAll("input"));
            var inter = setInterval(function(){
                if(typeof window.maskInputDates != "undefined") {
                    window.maskInputDates();
                    clearInterval(inter);
                }
            }, 100);

            var self = this;

            $('#avatar33').on('change', function(e){
                self.upload(e);
            });

        },  
    }
</script>