<template>
    <div class="panel-row email-template">
        <div class="field">
            <strong>Email</strong>
        </div>
        <div class="value">
            <p v-show="!displayForm">
                {{ userInfo.email }}
            </p>
            <div v-else transition="ease">
                <strong>Please Enter your new Email Address: </strong><br>
                <ol>
                    <li>Your will get a email message in your old email address explaining your change</li>
                    <li>Your will need to confirm your new email address</li>
                    <li>After confirmation you will be able to log in again with your new email address</li>
                </ol>
                <div class="form">
                    <form action="/api/v1/settings/email" method="post" accept-charset="utf-8">
                        <input name="_method" type="hidden" value="PATCH">
                        <div class="form-row">
                            <div class="form-field">
                                <strong>
                                    Old Email Address *
                                </strong>
                            </div>
                            <div :class="['input-field', formErrors.old_email ? 'error' : '' ]">
                                <input type="email" name="old_email" v-model="formData.old_email" @keyup='formErrors.old_email = ""'> </input>
                                <div class="error-message">{{ formErrors.old_email }}</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-field">
                                <strong>
                                    New Email Address *
                                </strong>
                            </div>
                            <div :class="['input-field', formErrors.new_email ? 'error' : '' ]">
                                <input type="email" name="new_email" v-model="formData.new_email" @keyup='formErrors.new_email = ""'> </input>
                                <div class="error-message">{{ formErrors.new_email }}</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-field">
                                <strong>
                                    Confirm New Email Address *
                                </strong>
                            </div>
                            <div :class="['input-field', formErrors.new_email_confirmation ? 'error' : '' ]">
                                <input type="email" name="new_email_confirmation" v-model="formData.new_email_confirmation" @keyup='formErrors.new_email_confirmation = ""'> </input>
                                <div class="error-message">{{ formErrors.new_email_confirmation }}</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="actions" v-show="!displayForm">
            <a href="javascript:;" id="editEmail" class="btn btn-themed" @click="openForm">
                Edit
            </a>
        </div>
        <div class="actions open" v-else>
            <a href="javascript:;" id="saveEmail" class="btn btn-themed btn-primary" @click="saveEmail">
                Save
            </a>
            <a href="javascript:;" class="btn btn-themed cancel" @click="cancel">
                Cancel
            </a>
        </div>
    </div>
</template>

<script>
    import CustomSelect from '../CustomSelect.vue';
    export default {
        props: ['displayForm', 'userInfo'],
        components: {
            CustomSelect,
        },
        data() {
            return {
                formData: {
                    old_email: '',
                    new_email: '',
                    new_email_confirmation: '',
                },
                formErrors: {
                    email: '',
                    new_email: '',
                    new_email_confirmation: '',
                }
            }
        },
        methods: {
            closeForm() {
                this.$dispatch('close-form', { email: false });
            },

            openForm() {
                this.$dispatch('open-form', {  email: true });
            },

            saveEmail(event) {
                event.preventDefault();
                this.$http.patch('/api/v1/settings/email', this.formData)
                    .then( function(response) {
                        // resets form to default
                        this.userInfo.email = this.formData.new_email;
                        this.clearForm();
                        this.closeForm();
                        this.$dispatch('notification', {type: response.data.notification.type, 'message': response.data.notification.message, 'close': false});

                    }, function(response) {
                        // on validation error
                        this.clearFormErrors();
                        for (var key in response.data) {
                            this.formErrors[key] = response.data[key][0];
                        }
                        // on unknown error
                        if (response.status === 500) {
                            this.cancel();
                            this.$dispatch('notification', {type: 'danger', 'message': 'You have found an unknown error, try reloading your browser', 'close': false});
                        }
                    }
                );
            },
            clearFormData() {
                this.formData = {
                    old_email: '',
                    new_email: '',
                    new_email_confirmation: '',
                };
            },

            clearForm() {
                this.clearFormData();
                this.clearFormErrors();
            },

            clearFormErrors() {
                this.formErrors = { old_email: '', new_email: '', new_email_confirmation: '' };
            },

            cancel(event) {
                this.clearForm();
                this.closeForm();
            },
        },
        events: {
            'clear-form': function (msg) {
                this.clearForm();
            }
        },
    }
</script>