<template>
    <div class="panel-row name-template">
        <div class="field">
            <strong>Name</strong>
        </div>
        <div class="value">

            <div v-show="!displayForm">
                <div v-show="!hasName">
                    <a v-if="userInfo.user.is_caregiver" href="/user/settings/get-verified/id">Enter your Name</a>
                    <a v-if="!userInfo.user.is_caregiver" @click="openForm('name-settings')">Enter your Name</a>
                </div>
                <p v-else>
                    {{ userInfo.user.first_name }} {{ userInfo.user.last_name }}
                </p>
            </div>
            <div v-else transition="ease">
                <strong>Please Enter your Name: </strong><br>
                <div class="form">
                    <form action="/api/v1/settings/name" method="post" accept-charset="utf-8">
                        <input name="_method" type="hidden" value="PATCH">
                        <div class="form-row">
                            <div class="form-field">
                                <strong>
                                    First Name *
                                </strong>
                            </div>
                            <div :class="['input-field', formErrors.first_name ? 'error' : '' ]">
                                <input type="text" name="first_name" v-model="userInfo.user.first_name" @keyup='formErrors.first_name = ""'> </input>
                                <div class="error-message">{{ formErrors.first_name }}</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-field">
                                <strong>
                                    Last Name *
                                </strong>
                            </div>
                            <div :class="['input-field', formErrors.last_name ? 'error' : '' ]">
                                <input type="text" name="last_name" v-model="userInfo.user.last_name" @keyup='formErrors.last_name = ""'> </input>
                                <div class="error-message">{{ formErrors.last_name }}</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="actions" v-show="!displayForm">
            <a v-if="userInfo.user.is_caregiver" href="/user/settings/get-verified/id" id="editName" class="btn btn-themed">
                Edit
            </a>

            <a v-if="!userInfo.user.is_caregiver" href="javascript:void(0)" @click="openForm('name-settings')" id="editName" class="btn btn-themed">
                Edit
            </a>
        </div>
        <div class="actions open" v-else>
            <a href="javascript:;" id="saveName" class="btn btn-themed btn-primary" @click="saveName">
                Save
            </a>
            <a href="javascript:;" class="btn btn-themed cancel" @click="cancel">
                Cancel
            </a>
        </div>
    </div>
</template>

<script>
    import CustomSelect from '../CustomSelect.vue';
    import $ from 'jquery';
    import intlTelInput from 'intl-tel-input';

    export default {
        props: ['displayForm', 'userInfo'],
        components: {
            CustomSelect,
        },
        data: function() {
            return {
                formErrors: {
                    first_name: '',
                    last_name: ''
                },
                thisUserInfo: {},
            }
        },
        methods: {
            closeForm: function() {
                this.$dispatch('close-form', { name: false });
            },

            openForm: function() {
                this.$dispatch('open-form', {  name: true });
                this.thisUserInfo.first_name = this.userInfo.user.first_name;
                this.thisUserInfo.last_name = this.userInfo.user.last_name;
            },

            saveName: function(event) {
                event.preventDefault();
                var formData = {
                    first_name: this.userInfo.user.first_name,
                    last_name: this.userInfo.user.last_name,
                }

                this.$http.patch('/api/v1/settings/name', formData)
                    .then( function(response) {
                        // resets form to default
                        this.closeForm();
                        this.$dispatch('notification', {type: response.data.notification.type, 'message': response.data.notification.message, 'close': false});
                        this.thisUserInfo.first_name = this.userInfo.user.first_name
                        this.thisUserInfo.last_name = this.userInfo.user.last_name
                    }, function(response) {
                        // on validation error
                        this.clearFormErrors();
                        for (var key in response.data) {
                            this.formErrors[key] = response.data[key][0];
                        }
                        // on unknown error
                        if (response.status === 500) {
                            this.cancel();
                            this.$dispatch('notification', {type: 'danger', 'message': 'You have found an unknown error, try reloading your browser', 'close': false});
                        }
                    }
                );
            },

            clearForm: function() {
                this.clearFormErrors();
            },

            clearFormErrors: function() {
                this.formErrors = { first_name: '', last_name: ''};
            },

            cancel: function(event) {
                this.userInfo.user.first_name = this.thisUserInfo.first_name;
                this.userInfo.user.last_name = this.thisUserInfo.last_name;
                this.clearForm();
                this.closeForm();
            }
        },
        computed: {
            hasName: function() {
                return this.userInfo.user.first_name.length || this.userInfo.user.last_name.length;
            }
        },
        events: {
            'clear-form': function(msg) {
                this.clearForm();
            }
        }
    }
</script>