<template>
    <div class="panel-row phone-template">
        <div class="field">
            <strong>Phone number</strong>
        </div>
        <div class="value">

            <div v-show="!displayForm">
                <div v-show="!hasPhoneNumber">
                    <a v-if="userInfo.user.is_caregiver" href="/user/settings/get-verified/mobile-number">Enter your Phone Number</a>
                    <a v-if="!userInfo.user.is_caregiver" href="#" @click="openForm()">Enter your Phone Number</a>
                </div>
                <p v-else>
                    {{ userInfo.phone }}
                </p>
            </div>
            <div v-else transition="ease">
                <strong>Please Enter your Phone Number: </strong><br>
                    Your phone number will be visible only to your hired caregivers
                <div class="form">
                    <form action="/api/v1/settings/phone" method="post" accept-charset="utf-8">
                        <input name="_method" type="hidden" value="PATCH">
                        <div class="form-row">
                            <div class="form-field">
                                <strong style="margin: -18px 0 0 0 !important">
                                    Phone number *
                                </strong>
                            </div>
                            <div :class="['input-field', formErrors.phone ? 'error' : '' ]">
                                <input type="text" id="phoneInput" name="phone" v-model="userInfo.phone" @keyup='formErrors.phone = ""' class="form-control">
                                <div class="error-message">{{ formErrors.phone }}</div>
                                <!--<div class="validateButton"><button @click="savePhone" >Submit</button></div>-->
                                <!--<div class="actions validatePhoneInput" v-show="showValidateInput">-->
                                   <!--<div class="form-field">-->
                                        <!--<strong>-->
                                            <!--Please enter 4 digit code * <br/>(test mode, enter "1111")-->
                                        <!--</strong>-->
                                    <!--</div>-->
                                    <!--<div :class="['input-field', formErrors.phoneValidate ? 'error' : '' ]">-->
                                        <!--<input type="text" id="phoneValidate" name="phoneValidate" v-model="userInfo.phoneValidate" @keyup='formErrors.phoneValidate = ""'> </input>-->
                                        <!--<div class="error-message">{{ formErrors.phoneValidate }}</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="actions" v-show="!displayForm">
            <a v-if="userInfo.user.is_caregiver" href="/user/settings/get-verified/mobile-number" id="editPhone" class="btn btn-themed">
                Edit
            </a>
            <a v-else href="#" @click="openForm()" id="editPhone" class="btn btn-themed">
                Edit
            </a>
        </div>
        <div class="actions open" v-else>
            <a href="javascript:;" id="savePhone" class="btn btn-themed btn-primary" @click="savePhone">
                Save
            </a>
            <a href="javascript:;" class="btn btn-themed cancel" @click="cancel">
                Cancel
            </a>
        </div>
    </div>
</template>

<script>
    import CustomSelect from '../CustomSelect.vue';
    import $ from 'jquery';
    import intlTelInput from 'intl-tel-input';

    export default {
        props: ['displayForm', 'userInfo'],
        components: {
            CustomSelect,
        },
        data() {
            return {
                formErrors: {
                    phone: '',
                    phoneValidate: '',
                },
                thisUserInfo: {},
                showValidateInput: false
            }
        },
        methods: {
            showValidate(e){
                e.preventDefault();
                this.showValidateInput = true;
            },

            closeForm() {
                this.showValidateInput = false;
                this.$dispatch('close-form', { phone: false });
            },

            openForm() {
                this.showValidateInput = false;
                this.$dispatch('open-form', {  phone: true });
                this.thisUserInfo.phone = this.userInfo.phone;
            },

            savePhone(event) {
                event.preventDefault();
                var formData = {
                    phone: this.userInfo.phone,
                    phoneValidate: 1111,
                }

                this.$http.patch('/api/v1/settings/phone', formData)
                    .then( function(response) {
                        // resets form to default
                        this.closeForm();
                        this.$dispatch('notification', {type: response.data.notification.type, 'message': response.data.notification.message, 'close': false});
                        this.thisUserInfo.phone = this.userInfo.phone;
                    }, function(response) {
                        // on validation error
                        this.clearFormErrors();
                        for (var key in response.data) {
                            this.formErrors[key] = response.data[key][0];
                        }
                        // on unknown error
                        if (response.status === 500) {
                            this.cancel();
                            this.$dispatch('notification', {type: 'danger', 'message': 'You have found an unknown error, try reloading your browser', 'close': false});
                        }
                    }
                );
            },

            clearForm() {
                this.clearFormErrors();
            },

            clearFormErrors() {
                this.formErrors = { phone: '', phoneValidate: ''};
            },

            cancel(event) {
                this.userInfo.phone = this.thisUserInfo.phone;
                this.clearForm();
                this.closeForm();
            }
        },
        computed: {
            hasPhoneNumber() {
                return !!this.userInfo.phone;
            }
        },
        events: {
            'clear-form': function (msg) {
                this.clearForm();
            }
        }
    }
</script>