<template>
    <div class="panel-row timezone-template">
        <div class="field">
            <strong>Time Zone</strong>
        </div>
        <div class="value">

            <div v-show="!displayForm">
                <div v-show="!hasTimezone">
                    <a href="javascript:;" @click="openForm">Enter your Time zone</a>
                </div>
                <p v-else>
                    {{ userInfo.timezone_name }}
                </p>
            </div>
            <div v-else transition="ease">
                <strong>Please Enter your Time zone: </strong><br>
                <p>Your time zone Helps your profile</p>
                <div class="form">
                    <form action="/api/v1/settings/timezone" method="post" class="form_timezone" accept-charset="utf-8">
                        <input name="_method" type="hidden" value="PATCH">
                        <div class="form-row">
                            <div class="form-field">
                                <strong>
                                    Time Zone *
                                </strong>
                            </div>
                            <div :class="['input-field',formErrors.timezone ? 'error' : '' ]">
                                <custom-select
                                    :options="timezones"
                                    @click="formErrors.timezone = ''"
                                    :selected.sync="userInfo.timezone_id"
                                    @changed-option="setTimezone"
                                    name="time zone"
                                    style="width: 285px; display: inline-block">
                                </custom-select>
                                <div class="error-message" v-show="formErrors.timezone"> {{ formErrors.timezone }} </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="actions" v-show="!displayForm">
            <a href="javascript:;" id="editTimezone" class="btn btn-themed" @click="openForm">
                Edit
            </a>
        </div>
        <div class="actions open" v-else>
            <a href="javascript:;" id="saveTimezone" class="btn btn-themed btn-primary" @click="saveTimezone">
                Save
            </a>
            <a href="javascript:;" class="btn btn-themed cancel" @click="cancel">
                Cancel
            </a>
        </div>
    </div>
</template>

<script>
    import CustomSelect from '../CustomSelect.vue';
    export default {
        props: ['displayForm', 'userInfo'],
        components: {
            CustomSelect,
        },
        data() {
            return {
                formErrors: {
                    timezone: '',
                },
                timezones: '',
                thisUserInfo: {}
            }
        },
        methods: {
            closeForm() {
                this.$dispatch('close-form', { timezone: false });
            },

            openForm() {
                this.thisUserInfo.timezone_id = this.userInfo.timezone_id;
                this.thisUserInfo.timezone = this.userInfo.timezone;
                this.thisUserInfo.timezone_name = this.userInfo.timezone_name;
                this.$dispatch('open-form', {  timezone: true });
            },

            saveTimezone(event) {
                event.preventDefault();
                var formData = {
                    timezone: this.userInfo.timezone_id,
                }

                this.$http.patch('/api/v1/settings/timezone', formData)
                    .then( function(response) {
                        // resets form to default
                        this.closeForm();
                        this.$dispatch('notification', {type: response.data.notification.type, 'message': response.data.notification.message, 'close': false});
                        this.thisUserInfo.timezone_id = this.userInfo.timezone_id;
                        this.thisUserInfo.timezone = this.userInfo.timezone;
                        this.thisUserInfo.timezone_name = this.userInfo.timezone_name;
                    }, function(response) {
                        // on validation error
                        this.clearFormErrors();
                        for (var key in response.data) {
                            this.formErrors[key] = response.data[key][0];
                        }
                        // on unknown error
                        if (response.status === 500) {
                            this.cancel();
                            this.$dispatch('notification', {type: 'danger', 'message': 'You have found an unknown error, try reloading your browser', 'close': false});
                        }
                    }
                );
            },

            clearForm() {
                this.clearFormErrors();
            },

            clearFormErrors() {
                this.formErrors = { timezone: ''};
            },

            getTimezones() {
                this.$http.get('/api/v1/common/timezones')
                    .then( function(response) {
                        // resets form to default
                        this.timezones = response.data;
                    }, function(response) {
                        this.$dispatch('notification', {type: 'danger', 'message': 'You have found an unknown error, try reloading your browser', 'close': false});
                    }
                );
            },

            setTimezone(timezone) {
                this.userInfo.timezone_id = timezone.value;
                this.userInfo.timezone_name = timezone.text;
            },

            cancel(event) {
                this.userInfo.timezone_id = this.thisUserInfo.timezone_id;
                this.userInfo.timezone = this.thisUserInfo.timezone;
                this.userInfo.timezone_name = this.thisUserInfo.timezone_name;

                this.clearForm();
                this.closeForm();
            },
        },
        computed: {
            hasTimezone() {
                return !!this.userInfo.timezone_name;
            }
        },
        ready() {
            this.getTimezones();
        },
        events: {
            'clear-form': function (msg) {
                this.clearForm();
            }
        },
    }
</script>