<template>
    <div class="page-wrapper">
        <app-header>
            <caregiver-header></caregiver-header>
        </app-header>
        <div class="app-content">
            <router-view></router-view>
        </div>
        <div class="app-footer">
            <app-footer></app-footer>
        </div>
    </div>
</template>

<script>
    import Header from './../../Layout/Header/Header.vue';
    import CaregiverHeader from './../../Layout/Header/CaregiverHeader.vue'
    import Content from './../../Content.vue';
    import Footer from './../../Footer.vue';

    export default {
        name: "profile-edit-base",
        components: {
            appHeader: Header,
            appFooter: Footer,
            appContent: Content,
            caregiverHeader: CaregiverHeader,
        },
    }
</script>