<template>
    <ul class="list-unstyled pills-list">
        <li class="text-center" :class="model[0].name === 'Yes' ?'active':''"
            @click="toggle">
            <div v-if="model[0].name === 'Yes'" class='selected-img'><img src="/img/design/success.png" class="success-img"></a></div>
            <div v-if="image">
                <div v-if="model[0].name === 'No'">
                    <img :src="'/img/design/' + image + '.png';">
                </div>
                <div v-else>
                    <img :src="'/img/design/' + image + '_o.png';">
                </div>
            </div>
            {{text}}
        </li>
    </ul>
</template>

<script>
    export default {
        name: "binary-switcher",
        methods:{
            toggle(){
                this.model = this.options.filter((e) => e.id !== this.model[0].id)
            }
        },
        props: {
            model: {type: Array | Object},
            options: {type: Array | Object},
            text: {String},
            image: {String}
        },
        attached(){
            this.model = this.model[0].id ? this.model : this.options.filter((e) => e.default === true)
        }
    }
</script>