<template>
    <div v-if="progress" class="congratulations-wrapper">
        <div class="confirmation-header text-center">
            <template v-if="error">
                <div class="icon-error">
                    <span class="error-line-left"></span>
                    <span class="error-line-right"></span>
                </div>
                <span>We Can't Verify You</span>
            </template>
            <template v-else>
                <div class="email-image-wrapper">
                    <img src="/img/design/email-image.png" alt="email-image.png">
                </div>
                <span>You're almost done</span>
            </template>
        </div>
        <template v-if="error">
            <div class="congratulations-body">
                <p>In order to apply for jobs, you must be verified, but you've missed some important information.</p>
                <div class="requirements">
                    <div class="requirements-title">You will need:</div>
                    <ul class="list-unstyled">
                        <li class="bolder" v-for="requirement in progress.verification_requirements">
                            <i class="fa fa-circle"></i>{{requirement.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex congratulations-footer">
                <a v-bind:href="href_profile_step" class="btn-fix-now flex">Fix Now</a>
                <a href="/caregiver/dashboard" class="btn-fix-later flex">Fix Later</a>
            </div>
        </template>
        <template v-else>
            <div class="congratulations-body">
                <p>We need to verify your profile. We will send you an email once your profile has been verified.</p>
            </div>
            <div class="flex congratulations-footer">
                <a href="/caregiver/dashboard" class="btn-homepage flex">Main Dashboard</a>
                <!--<a href="/caregiver/my-profile" class="btn-my-profile flex">My Profile</a>-->
            </div>
        </template>
    </div>
</template>

<script>
    import {userInfoMixin} from './../../../userInfoMixin';

    export default {
        mixins: [userInfoMixin],
        name: "congratulations",
        computed:{
            error(){
                return Object.keys(this.progress.verification_requirements).length;
            },
            href_profile_step(){
                let requirements = this.progress.verification_requirements;
                let step = requirements[Object.keys(requirements)[0]].step;
                return '/profile/build/' + step;
            }
        },
        created() {
            this.loadProgress();
        }
    }
</script>