<template>
    <ul class="list-unstyled pills-list row">
        <div class="col-md-6" v-for="pill in pills">
            <li class="text-center" :class="{active: model && model.type === pill.type}"
                @click="model = pill.type === model.type ? {} : pill">
                {{pill.name}}
            </li>
        </div>
    </ul>
</template>

<script>
    export default {
        name: "document-switcher",
        props: {
            model: {type: Object},
            pills: {type: Array | Object},
        },
    }
</script>