<template>
    <div class="profile-input col-md-6" :class="{'has-error': getError()}">
        <file-uploader @uploaded="uploaded" :current_file="model.photo" :error="getError()">
        </file-uploader>
        <!--<div class="help-block help-error" v-if="errors[document.model] && errors[document.model].photo">-->
            <!--<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors[document.model].photo}}-->
        <!--</div>-->
    </div>
    <div class="profile-input col-md-6">
        <div class="profile-input" :class="{'has-error' :errors[document.model] && errors[document.model].id_number}">
            <input type="text" class="form-control" v-model="model.id_number" lazy
                   placeholder="{{document.placeholder}}">
            <div class="help-block help-error" v-if="errors[document.model] && errors[document.model].id_number">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors[document.model].id_number}}
            </div>
        </div>
        <div class="profile-input" :class="{'has-error' :errors[document.model] && errors[document.model].card_name}">
            <input type="text" class="form-control" v-model="model.card_name" lazy
                   placeholder="Name as written on {{document.name}}">
            <div class="help-block help-error" v-if="errors[document.model] && errors[document.model].card_name">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors[document.model].card_name}}
            </div>
        </div>
        <!--State-->
        <div class="profile-input" v-if="states"
             :class="{'has-error': errors[document.model] && errors[document.model].state_id}">
            <v-select :options="states" :placeholder="'Registration State'" :notreadonly="1" :model.sync="model.state_id"> </v-select>
            <div class="help-block help-error" v-if="errors[document.model] && errors[document.model].state_id">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors[document.model].state_id}}
            </div>
        </div>
        <div class="profile-input form-check">
            <label class="form-check-label">
                <input class="checkbox" type="checkbox" v-model="model.year_only">
                <span class="government-id-identity-check checkbox-custom"></span>
                <span class="government-id-identity-check check-label">My {{document.check_box_name}} only shows my year of birth</span>
            </label>
        </div>
    </div>
</template>

<script>
    import FileUploader from './../../FileUploader.vue';
    import VSelect from '../../VSelect.vue';

    export default {
        name: "primary-id-editor",
        props: {
            model: {type: Object},
            document: {type: Object},
            states: {type: Array|null},
            errors: {type: Object},
        },
        methods: {
            getError(){
                let error = '';
                if(this.errors[this.document.model] && this.errors[this.document.model].photo)
                    error = this.errors[this.document.model].photo;
                console.log(error);
                return error;
            },
            uploaded(e, path) {
                this.model.photo = path;
            },
        },
        components: {
            fileUploader: FileUploader,
            vSelect: VSelect
        }
    }
</script>