<template>
    <div class="row" v-if="userInfo">
        <div class="profile-input col-md-6" :class="{'has-error': errors['location.street']}">
            <input type="text" class="form-control" v-model="userInfo.location.street" lazy
                   @keyup="errors['location.street']=''" placeholder="Street">
            <div class="help-block help-error" v-if="errors['location.street']">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors['location.street']}}
            </div>
        </div>

        <div class="profile-input col-md-6" :class="{'has-error': errors['location.suburb']}">
            <input type="text" class="form-control" v-model="userInfo.location.suburb" lazy
                   @keyup="errors['location.suburb']=''" placeholder="City/Suburb">
            <div class="help-block help-error" v-if="errors['location.suburb']">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors['location.suburb']}}
            </div>
        </div>
        <div class="profile-input col-md-6" :class="{'has-error': errors['location.state']}">
            <v-select :options="states" :placeholder="'Choose State'" :selected="0"  :model.sync="userInfo.location.state" > </v-select>
            <div class="help-block help-error" v-if="errors['location.state']">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors['location.state']}}
            </div>
        </div>
        <div class="profile-input col-md-6" :class="{'has-error': errors['location.post_code']}">
            <input type="text" class="form-control" placeholder="Postcode" v-model="userInfo.location.post_code" lazy
                   @keyup="errors['location.post_code']=''">
            <div class="help-block help-error" v-if="errors['location.post_code']">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors['location.post_code']}}
            </div>
        </div>
    </div>
</template>

<script>
    import VSelect from '../../VSelect.vue';

    export default {
        name: "location-editor",
        props: {
            userInfo: {type: Object},
            errors: {type: Object},
            states: {type: Array},
        },
         components: {
            vSelect: VSelect
        },
    }
</script>

