<template>
    <div class="container">
        <div class="stepper-steps-list flex">
            <ul style="margin-top: 80px" class="list-unstyled list-inline">
                <li v-for="step in 3" class="list-inline-item" >
                    <a v-link="{ name: 'stepper', params: { step: step + 1 }}"
                       @click.prevent=""
                       class="step-indicator"
                       :class="parseInt($route.params.step) > step ? 'passed' : '' "
                    ><span>{{step+1}}</span><img src="/img/design/tick.png"></a>
                </li>
            </ul>
        </div>
        <div class="flex">
            <app-frame>
                <div slot="body">
                    <component :is="parseInt($route.params.step)<=3 ?'step'+ $route.params.step:'congratulations'"
                               :steps="steps"></component>
                </div>
            </app-frame>
        </div>
    </div>
</template>

<script>
    import AppFrame from './../../Registration/RegistrarFrame.vue';
    import Step1 from './Step1.vue';
    import Step2 from './Step2.vue';
    import Step3 from './Step3.vue';
    // import Step4 from './Step4.vue';
    // import Step5 from './Step5.vue';
    import Congratulations from './Congratulations.vue';

    export default {
        name: "step",
        components: {
            step1: Step1,
            step2: Step2,
            step3: Step3,
            // step4: Step4,
            // step5: Step5,
            congratulations: Congratulations,
            appFrame: AppFrame,
        },
        computed: {
            steps() {

                let prevStep = '', nextStep = '';

                if(this.$route.params.step === 'congratulations'){
                    prevStep = '3';
                    nextStep = null;
                } else {
                    prevStep  = parseInt(this.$route.params.step) !== 1 ? parseInt(this.$route.params.step) - 1 : null;
                    nextStep = parseInt(this.$route.params.step) !== 3 ? parseInt(this.$route.params.step) + 1 : 'congratulations'
                }

                return {
                    next: nextStep,
                    current: this.$route.params.step,
                    prev: prevStep,
                };
            }
        }
    }
</script>

<style scoped lang="scss">
    .gradient-body{
      width: 692px;
      height: auto;
      background-color: #ffffff;
      background: rgba(255, 255, 255, 0.87);
      border-radius: 37px;
      border: solid 1px #73c5bc;
      margin: 34px 0 77px;
    }
</style>