<template>
    <div class="phone-number">
        <!-- <label>Mobile Number</label> -->
        <input type="tel" class="form-control" @blur="handleNumberBlur" v-model="phone.phone" lazy id="phone" placeholder="Mobile Number">
    </div>
</template>

<script>
    import swal from 'sweetalert2';

    export default {
        name: "phone-editor",
        data() {
            return {
                previousPhone: '',
                verificationMethod: false,
                code: '',
            }
        },
        props: ['phone'],
        computed: {
            resendQuestion() {
                return this.verificationMethod === 'sms' ? 'Didn\'t reseive Code?' : 'Didn\'t reseive Call?';
            },
            actionText() {
                return this.verificationMethod === 'sms' ? 'Resend Code' : 'Call Again';
            },
        },
        methods: {
            sendCode: function (resolve, reject) {
                let formData = {
                    phone: this.phone.phone,
                    method: this.verificationMethod,
                };

                this.$http.patch('/api/v1/settings/sendSMS', formData)
                    .then((response) => {
                            resolve(response)
                        }, (response) => {
                            reject(response)
                        }
                    );
            },
            verifyCode() {
                let formData = {
                    phone: this.phone.phone,
                    code: this.code
                };
                let that = this;

                this.$http.patch('/api/v1/settings/verifySMS', formData)
                    .then((response) => {
                            that.phone.verified = 1;
                            swal({
                                title: 'Phone Number Successfully Verified',
                                type: 'success',
                                animation: false,
                            });
                        }, (response) => {
                            that.phone.verified = 0;
                            that.codeInputRequest('has-error');
                        }
                    );
            },
            initPhoneNumber() {
                $("#phone").intlTelInput({
                    onlyCountries: ['au'],
                    nationalMode: false,
                    utilsScript: "/build/js/utils.js",
                });

                if (this.phone.phone) {
                    this.previousPhone = this.phone.phone;
                    $("#phone").intlTelInput("setNumber", this.phone.phone);
                }
            },
            handleNumberBlur() {
                if ($.trim(this.phone.phone)) {
                    if ($("#phone").intlTelInput("isValidNumber")) {
                        this.phone.phone = $('#phone').intlTelInput("getNumber");
                        if (this.phone.phone !== this.previousPhone || !this.phone.verified){
                            this.phone.verified = 0;
                            this.verificationRequest();
                        }
                    }
                }
            },
            verificationRequest() {
                let that = this;
                swal({
                    title: 'Mobile Number Requires Verification',
                    html:
                        '<div class="form-group">' +
                            '<div class="verification-question">How should we send your verification code?</div>' +
                            '<div class="verification-options flex">' +
                                '<label for="sms">' +
                                    '<input type="radio" name="verificationMethod" id="sms" v-model="that.verificationMethod" value="sms" checked> Text Message (SMS)' +
                                '</label>' +
                                    '<label for="call"><input type="radio"  name="verificationMethod" id="call" v-model="that.verificationMethod" value="call"> Voice Call' +
                                '</label>' +
                            '</div>' +
                        '</div>',
                    showCancelButton: true,
                    confirmButtonText: 'Verify Now',
                    cancelButtonText: 'Verify Later',
                    reverseButtons: true,
                    showLoaderOnConfirm: true,
                    type: 'question',
                    preConfirm: () => {
                        that.verificationMethod = $("input[name=verificationMethod]:checked").val();
                        return new Promise((resolve, reject) => {
                            that.sendCode(resolve, reject);
                        });
                    },

                }).then((result) => {
                    if (result.value && result.value.data.success) {
                        this.codeInputRequest();
                    }
                });
            },
            codeInputRequest(errorClass) {
                let that = this;
                swal({
                    title: 'Verify Phone Number',
                    html: '' +
                    '<div class="verification-question">A text message with a verification code has been sent <br> to '+
                            this.phone.phone +
                        '</div>' +
                    '<div class="input-numbers-container">' +
                        (errorClass ? '<div class="error-message">The verification code you entered is incorrect.<br>Please try again.</div>' : '<div>Enter the code here:</div>') +
                        '<div class="input-group-varification '+ errorClass +'">' +
                            '<input type="text" maxlength="1" class="form-control varification-input">' +
                            '<input type="text" maxlength="1" class="form-control varification-input">' +
                            '<input type="text" maxlength="1" class="form-control varification-input">' +
                            '<input type="text" maxlength="1" class="form-control varification-input">' +
                        '</div>' +
                        '<a href="#" class="btn-resend-code">'+ this.actionText +'</a>' +
                    '</div>',
                    onOpen: () => {
                        $('.varification-input').keydown(function () {
                            $(this).val('');
                        }).keyup(function (event) {
                            if($(this).val().match(/\w+/g))
                                $(this).next().focus();
                            else
                                $(this).val('');
                        });
                        $('.varification-input:last').keyup(function (event) {
                            if($(this).val().match(/\w+/g))
                                $('.swal2-confirm').focus();
                            else
                                $(this).val('');
                        });
                        $('.varification-input:first').focus();
                        $('.btn-resend-code').click(function (e) {
                            e.preventDefault();
                            return new Promise((resolve, reject) => {
                                that.sendCode(resolve, reject);
                            }).then(() => {
                                that.codeInputRequest();
                            });
                        });
                    },

                    showCancelButton: true,
                    confirmButtonText: 'Submit Code',
                    showLoaderOnConfirm: true,
                    reverseButtons: true,
                    allowOutsideClick: false,
                    preConfirm: () => {
                        let text = '';
                        $('.varification-input').each(function() {
                            text += $( this ).val()
                        });
                        that.code = text;
                        return new Promise((resolve, reject) => {
                            that.verifyCode(resolve, reject);
                        });
                    },
                })
            }
        },
        init() {
            this.$nextTick(() => {
                this.initPhoneNumber();
                if(this.phone.phone && !this.phone.verified){
                    this.verificationRequest();
                }
            });
        },
    }

</script>

<style scoped>

</style>