<template>
    <ul class="list-unstyled pills-list row">
        <div :class="criteria ? 'col-md-3 image-content':'col-md-4'" v-for="pill in pills">
            <li class="text-center" :class="isSelected(pill)?'active':''"
                @click="togglePill(pill)">
                <div v-if="isSelected(pill)" class='selected-img'><img src="/img/design/success.png" class="success-img"></a></div>
                <div v-if="criteria || skill">
                    <div v-if="isSelected(pill)">
                        <img :src="loadImage(pill)">
                    </div>
                    <div v-else >
                        <img :src="loadImage(pill)">
                    </div>
                </div>
                {{pill.name}}
            </li>
        </div>
        <div :class="criteria ? 'col-md-3 image-content':'col-md-4'">
        <li class="flex extensible" v-if="extensible" @click="addPill">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </li>
        </div>
    </ul>
</template>

<script>
    import swal from 'sweetalert2';

    export default {
        name: "pills-editor",
        data() {
            return {
                pill_text: ''
            };
        },
        props: {
            model: {type: Array},
            pills: {type: Object | Array},
            extensible: {type: Boolean},
            criteria: {type: String},
        },
        methods: {
            loadImage (pill) {
                if (!this.isSelected(pill))
                    return '/img/design/' + pill.data.image + '.png';
                else
                    return '/img/design/' + pill.data.image + '_o.png';
            },
            togglePill(pill) {
                if (!this.isSelected(pill))
                    this.model.push(pill);
                else
                    this.model = this.model.filter((e) => e.id !== pill.id);
            },
            isSelected(pill) {
                return Boolean(this.model.find((e) => e.id === pill.id));
            },
            isAttached(pill) {
                return Boolean(this.pills.find((e) => e.id === pill.id));
            },
            addPill(){
                let that = this;
                swal({
                    title: 'Please enter criteria name',
                    input: 'text',
                    showCancelButton: true,
                    confirmButtonText: 'Submit Code',
                    cancelButtonText: 'Cancel',
                    showLoaderOnConfirm: true,
                    reverseButtons: true,
                    allowOutsideClick: false,
                    preConfirm: (text) => {
                        that.pill_text = text
                    },
                }).then((result) => {
                    if (result.dismiss !== 'cancel') {
                        return new Promise((resolve, reject) => {
                            that.postPill(resolve, reject);
                        }).then(() => {
                            that.codeInputRequest();
                        });
                        console.log('adding pill: ', that.pill_text);
                    }
                })
            },
            postPill(){
                $.LoadingOverlay('show');
                this.$http.post('/api/v1/common/criteria/' + this.criteria, {name: this.pill_text}).then((response) => {
                    let pill = response.data.data[0];
                    if (!this.isSelected(pill))
                        this.model.push(pill);
                    if (!this.isAttached(pill))
                        this.pills.push(pill);
                    $.LoadingOverlay('hide');
                }, (response) => {
                    console.log(response);
                    $.LoadingOverlay('hide');
                }).bind(this);
            },
        }
    }
</script>

