<template>
    <ul class="list-unstyled pills-list row">
        <div class="col-md-3" v-for="pill in pills">
            <li class="text-center" :class="{active: model && model.id === pill.id}"
                @click="model = pill.id === model.id ? {} : pill">
                <div v-if="model && model.id === pill.id" class='selected-img'><img src="/img/design/success.png" class="success-img"></a></div>
                {{pill.name}}
            </li>
        </div>
    </ul>
</template>

<script>
    export default {
        name: "pills-switcher",
        props: {
            model: {type: Object },
            pills: {type: Array | Object},
        },
    }
</script>

