<template>
    <div class="hoverd-tooltip flex">
        {{text}}
        <i class="fa fa-chevron-down"
           :id="id"
           role="button"
           data-toggle="popover"
        ></i>
    </div>
    <div :id="id+'-content'">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "popover",
        props: ['text', 'id'],

        attached() {
            let template = $('#' + this.id + '-content').detach().html();
            $('#' + this.id).popover({
                    trigger: 'hover focus',
                    placement: 'bottom',
                    // container: 'body',
                    html: true,
                    content: template,
                }
            );
        }
    }
</script>

<style>
    .popover {
        max-width: 100% !important;
        width: 100%;
        left: 0 !important;
        top: 21px !important;
        color: #000;
        border-radius: 0px 0px 10px 10px;
    }

    .popover .arrow {
        display: none;
    }
</style>