<template>
    <div class="profile-photo flex">
        <div class="file-uploader">
            <file-uploader v-if="showFileUploader && !img_tmp"
                           :extentions="extentions"
                           :current_file='previewPhoto'
                           :btn_text="'+'"
                           field='img_tmp'
                           @uploaded="onUserPhotoploaded">
            </file-uploader>
            <img class="img-thumbnail" v-if="!showFileUploader && img_tmp" :src="profilePhotoPreviev"/>
            <div v-bind:class="{'modal-crop-show': img_tmp.length && showModal}" class="modal-crop">
                <div id="cropBox">
                    <img no-hide="true" width="264px" :src="img_tmp" class="resize-image"/>
                </div>
                <div class="flex cropper-controls">
                    <a class="btn-cropper btn-cropper-cancel flex" data-dismiss="modal"
                       @click="cancelCropPhoto">Cancel</a>
                    <a class="btn-cropper btn-cropper-submit flex" @click="setProfileImage">Submit</a>
                </div>
            </div>
        </div>
        <div class="upload-photo-message">
            <slot name="support-text"></slot>
        </div>
    </div>
    <div :class="errors.user_photo_100 ? 'has-error' : '' ">
        <div class="help-block help-error" v-if="errors.user_photo_100">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.user_photo_100}}
        </div>
    </div>
</template>

<script>
    import FileUploader from './../../FileUploader.vue';

    export default {
        name: "profile-photo-editor",
        data() {
            return {
                img_tmp: '',
                profilePhotoPreviev: '/img/no_photo_100.jpg',
                showFileUploader: true,
                showModal: false,
                extentions: ".jpeg, .jpg, .png"
            }
        },
        components: {
            fileUploader: FileUploader,
        },
        computed:{
            previewPhoto(){
                return this.model || '/img/no_photo_100.jpg';
            }
        },
        methods: {
            onUserPhotoploaded(user_photo, remote_file) {
                this.errors.user_photo_100 = '';
                if (remote_file.length) {
                    this[user_photo] = remote_file;
                    this.showFileUploader = false;
                    this.cropImage();
                }
            },
            cropImage() {
                $.LoadingOverlay('show');
                let image = $('.resize-image');
                image.attr('src', this.img_tmp);
                image.cropper('destroy');
                image.cropper({
                    height: 300,
                    width: 264,
                    aspectRatio: 4 / 4,
                    viewMode: 2,
                    crop: function () {
                        $.LoadingOverlay('hide');
                        this.showModal = true;
                        $('.cropper-container .cropper-canvas img').attr('src', this.img_tmp);
                        $('.cropper-container .cropper-view-box img').attr('src', this.img_tmp);
                        let canvas = image.cropper('getCroppedCanvas');
                        let canvaURL = canvas.toDataURL('image');
                        this.profilePhotoPreviev = canvaURL;
                    }.bind(this)
                });
            },
            setProfileImage() {
                this.model = this.profilePhotoPreviev;
                this.showFileUploader = true;
                this.showModal = false;
                this.img_tmp = '';

            },
            cancelCropPhoto() {
                this.img_tmp = '';
                this.showFileUploader = true;
                this.showModal = false;
                $('.resize-image').cropper('destroy');
            },
        },
        props: {
            model: {type: String | null},
            errors: {type: Object},
        }
    }
</script>
