<template>
    <section class="profile-editor row">
        <div class="col-md-6">
            <div class="profile-input row" :class="{'has-error': getError('path')}">
                <file-uploader @uploaded="uploaded"
                               :current_file="qualification.data.path"
                               :error="getError('path')">
                </file-uploader>
            </div>
        </div>
        <div class="col-md-6" :class="{'has-error': getError('id')}">
            <!--<div class="profile-input" :class="{'has-error': getError('institution')}">
                <input type="text" class="form-control" v-model="qualification.data.institution" lazy
                       placeholder="Institution Name" @keyUp="resetError('institution')">
                <div class="help-block help-error" v-if="getError('institution')">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{getError('institution')}}
                </div>
            </div> -->
            <div class="profile-input" :class="{'has-error': getError('student_id')}">
                <input type="text" class="form-control" v-model="qualification.data.student_id" lazy
                       placeholder="Student ID No." @keyUp="resetError('student_id')">
                <div class="help-block help-error" v-if="getError('student_id')">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{getError('student_id')}}
                </div>
            </div>
            <div class="profile-input" :class="{'has-error': getError('previous_last_name')}">
                <input type="text" class="form-control" v-model="qualification.data.previous_last_name" lazy
                       placeholder="Previous Last Name" @keyUp="resetError('previous_last_name')">
                <div class="help-block help-error" v-if="getError('previous_last_name')">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{getError('previous_last_name')}}
                </div>
            </div>
            <div class="profile-input" >
                <v-select :options="qualifications" :placeholder="'Award/Program Name'" :disableds="model" :notreadonly="1" :model.sync="qualification.id" :on-change="getFormFields(qualification.id)"> </v-select>
                <div class="help-block help-error" v-if="getError('id')">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{getError('id')}}
                </div>
            </div>
            <div class="profile-input" :class="{'has-error': getError('completion_year')}">
                <v-select :options="yearOptions" :placeholder="'Graduation/Conferral Year'" :model.sync="qualification.data.completion_year" :notreadonly="1"> </v-select>
                <div class="help-block help-error" v-if="getError('completion_year')">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{getError('completion_year')}}
                </div>
            </div>
        </div>
        <div class="delete-control col-md-12" v-if="index > 0" @click="deleteQualification">
            <i class="fa fa-trash" aria-hidden="true"></i> Delete Qualification
        </div>
    </section>
    <hr>
</template>

<script>
    import FileUploader from './../../FileUploader.vue';
    import VSelect from '../../VSelect.vue';

    export default {
        name: "qualification-editor",
        props: {
            model: {type: Object | Array},
            qualification: {type: Object},
            qualifications: {type: Object | Array},
            errors: {type: Object},
            index: {type: Number},
        },
        methods: {
            uploaded(e, path) {
                this.qualification.data.path = path;
            },
            deleteQualification() {
                this.model.splice(this.index, 1);
            },
            getError(field) {
                let e = this.errors.qualification, q = this.qualification;
                return (e && e[q.id] && e[q.id][field]) ? e[q.id][field] : false;
            },
            resetError(field) {
                let e = this.errors.qualification, q = this.qualification;
                if (e && e[q.id] && e[q.id][field]) {
                    e[q.id][field] = '';
                }
            },
            getFormFields(id){
          /*      console.log(id);
                $.LoadingOverlay('show');
                this.$http.post('/auth/check-register', id).then(function (response) {
                    console.log(response);
                }, function (response) {
                    this.passingErrors = response.data;
                    $.LoadingOverlay('hide');
                });*/


            }
        },
        computed: {
            yearOptions(){
                let arr = [];
                let currentYear = (new Date()).getFullYear();
                for (let i = currentYear; i > currentYear - 100; i--){
                    arr.push({name:i, id:i});
                }
                return arr;
            }
        },
        components: {
            fileUploader: FileUploader,
            vSelect: VSelect
        }
    }
</script>