<template>
    <div class="row">
        <div class="profile-input  col-md-12" v-if="type === 1">
            <v-select :options="cardNamesLinesCount" :model.sync="cardNamesLines" :placeholder="'On how many lines appear your name'"> </v-select>
        </div>

        <div class="profile-input col-md-12" v-for="line in cardNamesLines" v-if="type === 1"
             :class="{'has-error': errors.secondary_id && errors.secondary_id.card_names }">
            <input type="text" class="form-control" v-model="cardNamesLinesInputData[line]" lazy
                   placeholder="Card Line {{line+1}}">
            <div class="help-block help-error" v-if="errors.secondary_id && errors.secondary_id.card_names">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.secondary_id.card_names}}
            </div>
        </div>

        <div class="profile-input col-md-6"  v-if="type === 1"
             :class="{'has-error' : errors.secondary_id && errors.secondary_id.expiry_date }">
            <date-picker :time.sync="model.expiry_date" :placeholder="'Card Expiry Date'"> </date-picker>
            <div class="help-block help-error" v-if="errors.secondary_id && errors.secondary_id.expiry_date">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.secondary_id.expiry_date}}
            </div>
        </div>

        <div class="profile-input col-md-6"
             :class="{'has-error': errors.secondary_id && errors.secondary_id.id_number }">
            <input type="text" class="form-control" v-model="model.id_number" lazy
                   placeholder="Card No.">
            <div class="help-block help-error" v-if="errors.secondary_id && errors.secondary_id.id_number">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.secondary_id.id_number}}
            </div>
        </div>

        <div class="profile-input col-md-6"  v-if="type === 2"
             :class="{'has-error' : errors.secondary_id && errors.secondary_id.acquisition_date }">
            <date-picker :time.sync="model.acquisition_date"> </date-picker>
            <div class="help-block help-error" v-if="errors.secondary_id && errors.secondary_id.acquisition_date">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.secondary_id.acquisition_date}}
            </div>
        </div>

        <div class="profile-input  col-md-6" v-if="type === 1"
             :class="{'has-error': errors.secondary_id && errors.secondary_id.card_type }">
            <v-select :options="medicareCardTypes" :placeholder="'Card Type'" :model.sync="model.card_type"> </v-select>
            <div class="help-block help-error" v-if="errors.secondary_id && errors.secondary_id.card_type">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.secondary_id.card_type}}
            </div>
        </div>

        <div class="profile-input col-md-6" v-if="type === 1"
             :class="{'has-error': errors.secondary_id && errors.secondary_id.individual_ref_number }">
            <input type="text" class="form-control" v-model="model.individual_ref_number" lazy
                   placeholder="Individual Ref. Number">
            <div class="help-block help-error" v-if="errors.secondary_id && errors.secondary_id.individual_ref_number">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.secondary_id.individual_ref_number}}
            </div>
        </div>

    </div>
</template>

<script>
    import Datepicker from './DatePicker.vue';
    import VSelect from '../../VSelect.vue';

    export default {
        name: "secondary-id-editor",
        data() {

            let cardNamesArr = this.model.card_names ? this.model.card_names.split(',') : [];
            let cardNamesLines = cardNamesArr.length ? cardNamesArr.length : 1;
            let cardNamesLinesInputData;

            return {
                medicareCardTypes: [
                    {id: 0, name: 'Green Card'},
                    {id: 1, name: 'Blue Card'},
                    {id: 2, name: 'Yellow Card'}
                ],
                cardNamesLinesCount: [
                    {id: 1, name: '1'},
                    {id: 2, name: '2'},
                    {id: 3, name: '3'},
                    {id: 4, name: '4'}
                ],
                cardNamesLines: cardNamesLines,
                cardNamesLinesInputData: cardNamesArr,
            };
        },
        props: {
            model: {type: Object},
            type: {type: Number},
            errors: {type: Object},
        },
        components: {
            datePicker: Datepicker,
            vSelect: VSelect
        },
        watch: {
            cardNamesLines (newVal, oldVal) {
                this.cardNamesLinesInputData = this.cardNamesLinesInputData.slice(0, newVal);
            },
            cardNamesLinesInputData (newVal, oldVal) {
                let cardNames = '';
                for (var i = 0; i < this.cardNamesLinesInputData.length; i++) {
                    if (this.cardNamesLinesInputData[i]) {
                        if (cardNames) {
                            cardNames = cardNames + ',' + this.cardNamesLinesInputData[i];
                        } else {
                            cardNames = this.cardNamesLinesInputData[i];
                        }
                    }
                }
                this.model.card_names = cardNames;
            }
        }
    }
</script>