<template>
    <div class="step-footer flex">
        <a
            v-if="steps.next"
            @click.prevent="$emit('next-click')"
            class="btn-next-step flex">{{getNextStepText}}
        </a>
        <div class="footer-error-message" v-if="errors && error">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please fix errors.
        </div>
    </div>
    <a
        v-if="steps.prev"
        v-link="{ name: 'stepper', params: { step: steps.prev}}"
        class="btn-prev-step flex"><i class="fa fa-chevron-left"></i> <span class="back-text">{{getPrevStepText}}</span>
    </a>
</template>

<script>
    export default {
        name: "step-footer",
        props: ['steps','errors'],
        computed:{
            getPrevStepText(){
                return 'Previous Page';
            },
            getNextStepText(){
                return this.steps.prev === 2 ? 'Finish' : 'Next Step';
            },
            error(){
                return Object.keys(this.errors).length !== 0
            }
        }
    }
</script>