<template>
    <div class="step-wrapper container" v-if="userInfo && criterias">
        <div class="step-header">       
            About Me 
        </div>
        <div class="path step_big"></div>
        <section class="basic-details">
            <div>Tell us more about yourself and select your work preferences.</div>
        </section>
        <section class="work-preferences">
            <div class="profile-input row">
                <label>Years of Experience</label>
                <div class="years-experience">How many years experience have you had working in childcare?</div>
                <pills-switcher :pills="criterias.years_experience" ,
                                :model.sync="userInfo.years_experience[0]">
                </pills-switcher>
            </div>
            <div class="profile-input row">
                <div class="path step_big"></div>
                <label>More About Me</label>
                <div class="row">
                    <div class="col-md-3 image-content" v-if="criterias.smoker">
                        <binary-switcher :model.sync="userInfo.smoker"
                                         :options="criterias.smoker"
                                         :text="'Non-Smoker'"
                                         :image="'no-sm'"
                                         >
                        </binary-switcher>
                    </div>
                    <div class="col-md-3 image-content" v-if="criterias.own_children">
                        <binary-switcher :model.sync="userInfo.own_children"
                                         :options="criterias.own_children"
                                         :text="'Have Own Children'"
                                         :image="'child'"
                                         >
                        </binary-switcher>
                    </div>
                    <div class="col-md-3 image-content" v-if="criterias.pets">
                        <binary-switcher :model.sync="userInfo.pets"
                                         :options="criterias.pets"
                                         :text="'Comfortable with Pets'"
                                         :image="'dog'"
                                         >
                        </binary-switcher>
                    </div>
                    <div class="col-md-3 image-content" v-if="criterias.has_own_car">
                        <binary-switcher :model.sync="userInfo.has_own_car"
                                         :options="criterias.has_own_car"
                                         :text="'Has Own Car'"
                                         :image="'car'"
                                         >
                        </binary-switcher>
                    </div>
                </div>
            </div>
            <div class="profile-input row">
                <div class="path step_big"></div>
                <label>Specific Skills</label>
                <div class="profile-input">
                    <pills-editor :pills="criterias.skill" :model.sync="userInfo.skill" :criteria="'skill'"> </pills-editor>
                </div>
            </div>
            <div class="profile-input">
                <div class="path step_big"></div>
                <label>Short Bio</label>
                <textarea name="" cols="10" rows="10"
                          class="form-control"
                          v-model="userInfo.employee_info.overview"
                          @keyup="errors.overview=''"
                          placeholder="Write a short description about yourself" lazy>
                </textarea>
                <div class="help-block help-error" v-if="errors.overview">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.overview}}
                </div>
            </div>
            <div class="profile-input verifications-text" :class="errors.overview ? 'has-error' : '' ">
                <div class="path step_big"></div>
                <label>Additional Verifications</label>
                <p>The next are some additional verifications and are not mandatory, but <br>caregivers who complete this section will become <span class="gold">Gold Verified</span></p>
                <img src="/img/design/gold_logo.png">
            </div>
            <div class="profile-input">
                <div class="path step_big"></div>
                <label>Video</label>
                <div class="text-justify video-text">
                    At Little Ones, we believe the best way for you to get hired is to show<br> parents who
                    you really are. We encourage all our caregivers to upload a<br> video of themselves
                    letting parents know why you think you are the best<br> Caregiver for them.
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <video-uploader :video_url.sync="userInfo.video_url" :video_id.sync="userInfo.youtube_upload.video_id"></video-uploader>
                    </div>
                    <div class="col-md-6">
                        <div class="row video-tips">
                            <div class="col-md-12">
                                <popover :text="'Mandatory Questions'" id="video-questions">
                                    <p class="tooltip-header">You must answer the following questions:</p>
                                    <ol class="tooltip-list">
                                        <li>Why do you love working in childcare?</li>
                                        <li>What would you do if a child in your care was unsettled? How would you
                                            settle
                                            them?
                                        </li>
                                        <li>How would you deal with a child/children that were misbehaving or difficult
                                            to work
                                            with?
                                        </li>
                                        <li>What makes you an ideal Little Ones Caregiver?</li>
                                    </ol>
                                </popover>
                            </div>
                            <div class="col-md-12">
                                <popover :text="'Video  Requirements'" id="video-requirements">
                                    <p class="tooltip-header">Your video must:</p>
                                    <ol class="tooltip-list">
                                        <li>Clearly show you</li>
                                        <li>Be of reasonable quality</li>
                                        <li>Be no more than 3 minutes in length</li>
                                        <li>Video format (mp4, ogg, webm)</li>
                                        <!--<li>Video size should not exceed 5MB</li>-->
                                  </ol>
                                    <p class="tooltip-footer">
                                        *We will review your video, and once accepted, it will
                                        appear on your profile for parents to view.
                                    </p>
                                </popover>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-unstyled">
                        <li v-for="(i, reference) in userInfo.references">
                            <div class="row">
                                <div class="path step_big"></div>
                                <label>Upload Reference</label>
                                <div class="col-md-6">
                                    <div class="profile-input">
                                        <file-uploader
                                                @uploaded="referenceUploaded(i, $arguments)"
                                                :current_file="reference.path">
                                        </file-uploader>
                                    </div>
                                </div>
                                <div class="flex qualification-extend">
                                        <a href="#" @click.prevent="userInfo.references.push({path:''})" class="btn-extend flex">
                                            <i class="fa fa-plus"></i>
                                        </a> Add Reference
                                </div>
                            </div>
                            <div v-if="i > 0" class="delete-control" @click="deleteReference(i)">
                                <i class="fa fa-trash" aria-hidden="true"></i> Delete Reference
                            </div>
                        </li>
                    </ul>
                </div>
<!--            <div class="row">
                    <ul class="list-unstyled">
                        <li v-for="(i, reference) in userInfo.references">
                            <div class="row">
                                <div class="path step_big"></div>
                                <label>Add Social Accounts</label>
                                <div class="col-md-6">
                                    <div class="profile-input">
                                        <file-uploader
                                                @uploaded="referenceUploaded(i, $arguments)"
                                                :current_file="reference.path">
                                        </file-uploader>
                                    </div>
                                </div>
                                <div class="flex qualification-extend">
                                        <a href="#" @click.prevent="userInfo.references.push({path:''})" class="btn-extend flex">
                                            <i class="fa fa-plus"></i>
                                        </a> Add Reference
                                </div>
                            </div>
                            <div v-if="i > 0" class="delete-control" @click="deleteReference(i)">
                                <i class="fa fa-trash" aria-hidden="true"></i> Delete Reference
                            </div>
                        </li>
                    </ul>
                </div> -->
        </section>
   <section class="work-preferences">
<!--             <div class="profile-input">
                <label>Availability</label>
                <pills-editor :pills="criterias.availability" :model.sync="userInfo.availability"></pills-editor>
            </div> -->
        </section>
        <step-footer :steps="steps" :errors="errors" @next-click="saveAndContinue">
        </step-footer>
        <div class="step-footer flex">
            <a
                href="/profile/verification"
                class="btn-next-step flex">Verification
            </a>
        </div>
    </div>
</template>

<script>
    import {userInfoMixin} from './../../../userInfoMixin';
    import PillsEditor from './PillsEditor.vue';
    import PillsSwitcher from './PillsSwitcher.vue';
    import BinarySwitcher from './BinarySwitcher.vue';
    import Popover from './Popover.vue';
    import FileUploader from './../../FileUploader.vue';
    import VideoUploader from './../../VideoUploader.vue';
    import StepFooter from './StepFooter.vue';

    export default {
        name: "step3",
        mixins: [userInfoMixin],
        data() {
            return {
                saveRoute: '/api/v1/settings/availability-and-hourly-rate',
            }
        },
        components: {
            popover: Popover,
            pillsEditor: PillsEditor,
            pillsSwitcher: PillsSwitcher,
            binarySwitcher: BinarySwitcher,
            videoUploader: VideoUploader,
            pillsEditor: PillsEditor,
            stepFooter: StepFooter,
            fileUploader: FileUploader,
        },
        methods: {
            clearError(){

            },
            referenceUploaded(i, args) {
                this.userInfo.references[i].path = args[1];
            },
            deleteReference(i) {
                if (this.userInfo.references[i].id) {
                    $.LoadingOverlay('show');
                    this.$http.delete('/api/v1/settings/reference/' + this.userInfo.references[i].id).then(() => {
                        this.userInfo.references.splice(i, 1);
                        $.LoadingOverlay('hide');
                    }, () => {
                    }).bind(this);
                } else {
                    this.userInfo.references.splice(i, 1);
                }

            },
            getFormData() {
                let references = this.userInfo.references;
                let data = {criterias: this.getSelectedCriterias()};
                // if (this.userInfo.employee_info.rate) {
                //     data.rate = this.userInfo.employee_info.rate;
                // }
                // if (this.userInfo.employee_info.rate_visible) {
                //     data.rate_visible = this.userInfo.employee_info.rate_visible;
                // }

                if (typeof references[0] !== 'undefined' && typeof references[0].path !== 'undefined' ? references : []) {
                    data.references = references;
                } else {
                    data.references = [];
                }

                if (this.userInfo.employee_info.overview) {
                    data.overview = this.userInfo.employee_info.overview;
                }
                return data;
            },
        }
    }
</script>

