<template>
    <div class="step-wrapper container" v-if="userInfo && criterias">
        <div class="step-header">
            Let’s Set Up Your Profile
        </div>
        <section class="basic-details">
            <div class="section-header basic-information">ID and WWCC</div>
            <div>Upload your ID and enter your WWCC card details.</div>
        </section>
        <section class="identity-check">
            <div class="section-header">Identity Check</div>
            <p>Please provide your Passport or Driver's Licence details below.</p>
            <div class="row">
                <div class="profile-input col-md-12">
                    <ul class="list-unstyled pills-list row">
                        <div class="col-md-6">
                            <li class="text-center" :class="{ active: userInfo.passport_id.to_check }"
                                @click="checkPassport()">
                                Passport
                            </li>
                        </div>
                        <div class="col-md-6">
                            <li class="text-center" :class="{ active: userInfo.driver_licence_id.to_check }"
                                @click="checkLicence()">
                                Driver's Licence
                            </li>
                        </div>
                    </ul>
                </div>
                <template v-if="userInfo.passport_id.to_check">
                    <government-id-editor
                        :model.sync="userInfo.passport_id"
                        :document="primary_documents[0]"
                        :errors="errors">
                    </government-id-editor>
                </template>
                <template v-if="userInfo.driver_licence_id.to_check">
                    <government-id-editor
                        :model.sync="userInfo.driver_licence_id"
                        :document="primary_documents[1]"
                        :states="states"
                        :errors="errors">
                    </government-id-editor>
                </template>
            </div>
            <hr>
            <div class="profile-input" :class="{'has-error' : errors.secondary_id && errors.secondary_id.type } ">
                <label>Secondary form of ID</label>
                <document-switcher :pills="secondary_documents" :model.sync="userInfo.secondary_id">
                </document-switcher>
                <div class="help-block help-error" v-if="errors.secondary_id && errors.secondary_id.type">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.secondary_id && errors.secondary_id.type}}
                </div>
            </div>
            <template v-if="userInfo.secondary_id && userInfo.secondary_id.type">
                <secondary-id-editor :type="userInfo.secondary_id.type"
                                     :model.sync="userInfo.secondary_id"
                                     :errors="errors">
                </secondary-id-editor>
            </template>
            <section class="wwcc-section">
                <div class="section-header">Working with Children Check</div>
                <wwcc-editor :model.sync="userInfo.wwcc" :states="states" :errors="errors"></wwcc-editor>
            </section>
        </section>

        <section class="identity-check">
            <div class="section-header">ID Selfie</div>
            <div class="row">
                <div class="profile-input col-md-6" :class="{'has-error' : errors.government_id && errors.government_id.user_holding_document_photo }">
                    <label>Upload {{name}} Photo</label>
                    <file-uploader @uploaded="uploaded"
                                   :current_file="userInfo.government_id.user_holding_document_photo">
                    </file-uploader>
                    <div class="help-block help-error" v-if="errors.government_id && errors.government_id.user_holding_document_photo">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.government_id.user_holding_document_photo}}
                    </div>
                </div>
                <div class="profile-input col-md-6">
                    <p class="support-text">Please upload a photo with you holding your photo ID and WWCC Card. Please make sure the photo is clear and the ID is easy to read</p>
                </div>
            </div>
        </section>
        <hr/>
        <template v-if="isValidFormsVerification">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="checkbox" type="checkbox" v-model="userInfo.check_agree">
                    <span class="checkbox-custom"></span>
                    <span class="check-label">
                        I agree to Little Ones performing an ID Check and profile verification. <a href="/faqs#profile-verification-caregivers" target="_blank">Click here</a> for more information on how we check your profile. <br>
                    </span>
                </label>
                <div class="form-check-error" v-if=" errors.check_agree">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.check_agree}}
                </div>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="checkbox" type="checkbox" v-model="userInfo.check_confirm">
                    <span class="checkbox-custom"></span>
                    <span class="check-label">
                    I confirm that I am authorised to provide the personal details presented and I consent to my information being checked with the document issuer or official record holder via third party systems for the purpose of confirming my identity.
                </span>
                </label>
                <div class="form-check-error" v-if="errors.check_confirm">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.check_confirm}}
                </div>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="checkbox" type="checkbox" v-model="userInfo.check_confirm_eligible">
                    <span class="checkbox-custom"></span>
                    <span class="check-label">
                    I confirm that I am eligible to work in Australia and that all the information I have entered is true and correct. I understand that Little Ones will pass my information on to relevant government agencies and that Little Ones is required to report all incidences of fraud to authorities in accordance with Australian Law.
                </span>
                </label>
                <div class="form-check-error" v-if="errors.check_confirm_eligible">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.check_confirm_eligible}}
                </div>
            </div>
            <hr>
        </template>

        <step-footer :steps="steps" :errors="errors" @next-click="saveAndContinue">
        </step-footer>

    </div>
</template>

<script>
    import {userInfoMixin} from './../../../userInfoMixin';
    import DocumentSwitcher from './DocumentSwitcher.vue';
    import ProfilePhotoEditor from './ProfilePhotoEditor.vue';
    import WWCCEditor from './WWCCEditor.vue';
    import GovernmentIdEditor from './GovernmentIdEditor.vue';
    import SecondaryIdEditor from './SecondaryIdEditor.vue';
    import StepFooter from './StepFooter.vue';


    import FileUploader from './../../FileUploader.vue';

    export default {
        name: "step5",
        mixins: [userInfoMixin],
        data() {
            return {
                saveRoute: '/api/v1/settings/id-and-wwwc',
                primary_documents: [
                    {
                        model: 'passport_id',
                        name: 'Passport',
                        check_box_name: 'My passport',
                        number: 'Travel Document',
                        placeholder: ''
                    },
                    {
                        model: 'driver_licence_id',
                        name: "Driver's Licence",
                        check_box_name: 'Licence',
                        number: 'Licence',
                        state: 'Registration State',
                        placeholder: ''
                    },
                ],
                secondary_documents: [
                    {type: 1, name: 'Medicare Card'},
                  //  {type: 2, name: 'Citizenship Certificate'},
                ],
                id_photo: '',
                states: null
            }
        },
        components: {
            documentSwitcher: DocumentSwitcher,
            profilePhotoEditor: ProfilePhotoEditor,
            wwccEditor: WWCCEditor,
            governmentIdEditor: GovernmentIdEditor,
            secondaryIdEditor: SecondaryIdEditor,
            stepFooter: StepFooter,
            fileUploader: FileUploader
        },
        computed:{
            isValidFormsVerification(){
                let dob = Boolean(this.userInfo.birthday);
                let mobile_number = Boolean(this.userInfo.phone && this.userInfo.phone.phone && this.userInfo.phone.verified);
                let address = Boolean(this.userInfo.location && this.userInfo.location.state &&
                    this.userInfo.location.post_code && this.userInfo.location.street && this.userInfo.location.suburb);
                let qualification =  Boolean(this.userInfo.qualification && this.userInfo.qualification[0].id);
                let photo_id = Boolean((this.userInfo.passport_id.to_check && this.userInfo.passport_id.photo) ||
                    (this.userInfo.driver_licence_id.to_check && this.userInfo.driver_licence_id.photo));
                let medicare_card = Boolean(this.userInfo.secondary_id && this.userInfo.secondary_id.expiry_date &&
                    this.userInfo.secondary_id.card_names && this.userInfo.secondary_id.id_number &&
                    this.userInfo.secondary_id.individual_ref_number &&
                    typeof this.userInfo.secondary_id.card_type !== 'undefined');
                let wwcc = Boolean( this.userInfo.wwcc && this.userInfo.wwcc.state_id && this.userInfo.wwcc.card_name &&
                    this.userInfo.wwcc.application_card_number && this.userInfo.wwcc.expiry_date);
                let photo_holding_id = Boolean(this.userInfo.government_id && this.userInfo.government_id.user_holding_document_photo);

                // console.log('dob', dob);
                // console.log('mobile_number', mobile_number);
                // console.log('address', address);
                // console.log('qualification', qualification);
                // console.log('photo_id', photo_id);
                // console.log('medicare_card', medicare_card);
                // console.log('wwcc', wwcc);
                // console.log('photo_holding_id', photo_holding_id);

                return dob && mobile_number && address && qualification
                    && photo_id && medicare_card && wwcc && photo_holding_id;
            }
        },
        methods: {
            clearError(){
                let that = this;
                let errors = {};
                $.each(this.errors, function (key, value) {
                    if (that.userInfo[key]) {
                        if(that.userInfo[key].to_check){
                            that.userInfo[key].to_check = false;
                        }
                        if(key === 'secondary_id'){
                            that.userInfo[key] = {};
                        }
                        if(key === 'wwcc'){
                            that.userInfo[key] = {expiry_date: ""};
                        }
                    }
                    if(key === 'check_agree' || key === 'check_confirm' || key === 'check_confirm_eligible'){
                        errors[key] = value;
                    }
                });
                this.errors = errors;
            },
            checkPassport(){
                this.userInfo.passport_id.to_check  = !this.userInfo.passport_id.to_check;
                this.userInfo.driver_licence_id.to_check = false;
            },
            checkLicence(){
                this.userInfo.passport_id.to_check  = false;
                this.userInfo.driver_licence_id.to_check = !this.userInfo.driver_licence_id.to_check;
            },
            uploaded(e, path) {
                this.userInfo.government_id.user_holding_document_photo = path;
            },
            getFormData() {
                let data = {};

                data.government_id = this.userInfo.government_id;
                data.passport_id = this.userInfo.passport_id;
                data.driver_licence_id = this.userInfo.driver_licence_id;

                if (this.userInfo.secondary_id.type) {
                    data.secondary_id = this.userInfo.secondary_id;
                }

                if ((parseInt(this.userInfo.wwcc.state_id) === this.userInfo.wwcc.state_id) ||
                    (typeof this.userInfo.wwcc.application_card_number && this.userInfo.wwcc.application_card_number) ||
                    (typeof this.userInfo.wwcc.card_name && this.userInfo.wwcc.card_name)) {
                    data.wwcc = this.userInfo.wwcc;
                }

                if(this.isValidFormsVerification){
                    data.check_agree = Boolean(this.userInfo.check_agree);
                    data.check_confirm = Boolean(this.userInfo.check_confirm);
                    data.check_confirm_eligible = Boolean(this.userInfo.check_confirm_eligible);
                }

                return data;
            },

        },
        created() {
            this.$http.get('/api/v1/common/states').then((response) => {
                this.states = response.data;
            }, (response) => {}).bind(this);
        }
    }
</script>