<template v-cloak>
    <div class="step-wrapper container" v-if="userInfo && criterias">
        <div class="step-header row">
            Welcome {{userInfo.first_name}}! <br>
            Let’s Set Up Your Profile
        </div>
        <div class="path step_sm"></div>
        <section class="basic-details row">
            <div class="welcome-text">To get started, upload your profile photo and provide the information below.</div>
            <profile-photo-editor :model.sync="userInfo.user_photo_100" :errors.sync="errors">
                
            </profile-photo-editor>
        </section>

        <section class="personal-information row">
            <div class="row">
                <div class="col-md-6 profile-input" :class="{'has-error': errors.first_name}">
                    <input type="text" class="form-control" v-model="userInfo.first_name" lazy
                           @keyup="errors.first_name=''"
                           placeholder="First Name">
                    <div class="help-block help-error" v-if="errors.first_name">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.first_name}}
                    </div>
                </div>

                <div class="col-md-6 profile-input" :class="{'has-error': errors.last_name}">
                    <input type="text" class="form-control" v-model="userInfo.last_name" lazy
                           @keyup="errors.last_name=''"
                           placeholder="Surname">
                    <div class="help-block help-error" v-if="errors.last_name">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.last_name}}
                    </div>
                </div>

                <div class="col-md-6 profile-input" :class="{'has-error': errors.birthday}">
                    <date-picker :time.sync="userInfo.birthday"> </date-picker>
                    <div class="help-block help-error" v-if="errors.birthday">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.birthday}}
                    </div>
                </div>

                <div class="col-md-6" v-if="userInfo.gender[0] && criterias.gender">
                    <div class="profile-input" :class="errors.gender ? 'has-error' : ''">
                        <template  v-if="userInfo.gender[0].id !== ownGender.key">
                            <v-select :options="criterias.gender" :placeholder="'Gender'" :model.sync="userInfo.gender[0].id"> </v-select>
                        </template>
                        <template v-else>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       v-model="userInfo.gender[0].data.description"
                                       @keyup="errors.gender = ''"
                                       placeholder="Describe your gender">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" @click="userInfo.gender[0].id = ''" type="button"><i class="fa fa-remove"></i></button>
                                </span>
                            </div>
                        </template>
                        <div class="help-block help-error" v-if="errors.gender">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.gender}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 profile-input" :class="{'has-error': errors['phone.phone']}">
                    <phone-editor :phone.sync="userInfo.phone"></phone-editor>
                    <div class="help-block help-error" v-if="errors['phone.phone']">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors['phone.phone']}}
                    </div>
                </div>
            </div>
        </section>
        <section class="location-section row">
            <div class="path step_big"></div>
            <div v-if="states">
                <location-editor :states="states" :user-info.sync="userInfo" :errors="errors"></location-editor>
            </div>
        </section>
        <step-footer :steps="steps" :errors="errors" @next-click="saveAndContinue">
        </step-footer>
    </div>
</template>

<script>

    import ProfilePhotoEditor from './ProfilePhotoEditor.vue';
    import PhoneEditor from './PhoneEditor.vue';
    import Datepicker from './DatePicker.vue';
    import LocationEditor from './LocationEditor.vue';
    import {userInfoMixin} from './../../../userInfoMixin';
    import StepFooter from './StepFooter.vue';
    import VSelect from '../../VSelect.vue'

    export default {
        name: "step1",
        mixins: [userInfoMixin],
        ready: function() {
            this.getState();
        },
        data() {
            return {
                saveRoute: '/api/v1/settings/basic-details',
                states: false,
            }
        },
        components: {
            profilePhotoEditor: ProfilePhotoEditor,
            phoneEditor: PhoneEditor,
            datePicker: Datepicker,
            locationEditor: LocationEditor,
            stepFooter:StepFooter,
            vSelect: VSelect
        },
        methods: {
            clearError(){

            },
            getFormData() {
                let data = $.extend({ criterias: this.getSelectedCriterias() }, this.getFieldsForValidation());

                if (this.userInfo.user_photo_100 && this.userInfo.user_photo_100 !== '/img/no_photo_100.jpg') {
                    data.user_photo_100 = this.userInfo.user_photo_100;
                }

                if (this.userInfo.first_name) {
                    data.first_name = this.userInfo.first_name;
                }

                if (this.userInfo.last_name) {
                    data.last_name = this.userInfo.last_name;
                }

                if (this.userInfo.birthday && this.userInfo.birthday.length) {
                    data.birthday = this.userInfo.birthday;
                }

                if (this.userInfo.phone.phone) {
                    data.phone = this.userInfo.phone;
                }

                data.location = this.userInfo.location;

                return data;
            },
             getState() {
                this.$http.get('/api/v1/common/states').then((response) => {
                    this.states = response.data;
                });
            },
            handle(){
                this.$dispatch('nextClick');
            },
        },
    }
</script>

