<template>
    <div class="step-wrapper container" v-if="userInfo && criterias">
<!--         <div class="step-header row">
            Let’s Set Up Your Profile
        </div>
        <section class="basic-details row">
            <div class="section-header basic-information">About Me and My Work Preferences</div>
            <div>Tell us more about yourself and select your work preferences.</div>
        </section> -->

<!--         <section class="work-preferences row">
            <div class="section-header">About Me</div>
            <div class="profile-input" :class="errors.overview ? 'has-error' : '' ">
                <label>Short Bio</label>
                <textarea name="" cols="10" rows="10"
                          class="form-control"
                          v-model="userInfo.employee_info.overview"
                          @keyup="errors.overview=''"
                          placeholder="Write a description about you" lazy>
                </textarea>
                <div class="help-block help-error" v-if="errors.overview">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.overview}}
                </div>
            </div>
            <div class="profile-input">
                <label>Video Presentation</label>
                <div class="text-justify video-text">
                    At Little Ones, we believe the best way for you to get hired is to show parents who
                    you really are. We encourage all our caregivers to upload a video of themselves
                    letting parents know why you think you are the best Caregiver for them.
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row video-tips">
                            <div class="col-md-12">
                                <popover :text="'Mandatory Questions'" id="video-questions">
                                    <p class="tooltip-header">You must answer the following questions:</p>
                                    <ol class="tooltip-list">
                                        <li>Why do you love working in childcare?</li>
                                        <li>What would you do if a child in your care was unsettled? How would you
                                            settle
                                            them?
                                        </li>
                                        <li>How would you deal with a child/children that were misbehaving or difficult
                                            to work
                                            with?
                                        </li>
                                        <li>What makes you an ideal Little Ones Caregiver?</li>
                                    </ol>
                                </popover>
                            </div>
                            <div class="col-md-12">
                                <popover :text="'Video Requirements'" id="video-requirements">
                                    <p class="tooltip-header">Your video must:</p>
                                    <ul class="tooltip-list">
                                        <li>Clearly show you</li>
                                        <li>Be of reasonable quality</li>
                                        <li>Be no more than 3 minutes in length</li>
                                        <li>Video format (mp4, ogg, webm)</li>
                                        <!--<li>Video size should not exceed 5MB</li>-->
                                  <!--  </ul>
                                    <p class="tooltip-footer">
                                        *We will review your video, and once accepted, it will
                                        appear on your profile for parents to view.
                                    </p>
                                </popover>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <video-uploader :video_url.sync="userInfo.video_url" :video_id.sync="userInfo.youtube_upload.video_id"></video-uploader>
                    </div>
                </div>
            </div>
        </section> -->

<!--    <section class="work-preferences">
            <div class="profile-input row">
                <label>Years of Experience</label>
                <div>How many years experience have you had working in childcare?</div>
                <pills-switcher :pills="criterias.years_experience" ,
                                :model.sync="userInfo.years_experience[0]">
                </pills-switcher>
            </div>

            <div class="profile-input row">
                <label>More About Me</label>
                <div class="row">
                    <div class="col-md-4" v-if="criterias.smoker">
                        <binary-switcher :model.sync="userInfo.smoker"
                                         :options="criterias.smoker"
                                         :text="'Non-Smoker'">
                        </binary-switcher>
                    </div>
                    <div class="col-md-4" v-if="criterias.own_children">
                        <binary-switcher :model.sync="userInfo.own_children"
                                         :options="criterias.own_children"
                                         :text="'Have Own Children'">
                        </binary-switcher>
                    </div>
                    <div class="col-md-4" v-if="criterias.pets">
                        <binary-switcher :model.sync="userInfo.pets"
                                         :options="criterias.pets"
                                         :text="'Comfortable with Pets'">
                        </binary-switcher>
                    </div>
                    <div class="col-md-4" v-if="criterias.has_own_car">
                        <binary-switcher :model.sync="userInfo.has_own_car"
                                         :options="criterias.has_own_car"
                                         :text="'Has Own Car'">
                        </binary-switcher>
                    </div>
                </div>
            </div>
        </section> -->

        <section class="work-preferences row">
            <div class="section-header">Work Preferences</div>
            <div class="path step_big"></div>
            <div class="profile-input">
                <label class="tab-label">What I Offer</label>
                <pills-editor :pills="criterias.service"
                              :model.sync="userInfo.service"
                              :criteria="'service'">
                </pills-editor>
            </div>
            <div class="profile-input">
                <div class="path step_big"></div>
                <label class="tab-label">Age groups</label>
                <pills-editor :pills="criterias.child_age"
                              :model.sync="userInfo.child_age">
                </pills-editor>
            </div>
            <div class="row">
                <div class="path step_big"></div>
                <div class="col-md-6 profile-input" v-if="userInfo.max_per_booking[0]">
                    <label>Maximum Children per Booking</label>
                    <v-select :options="criterias.max_per_booking"
                              :model.sync="userInfo.max_per_booking[0].id"
                              :selected='0'>
                    </v-select>
                </div>
                <div class="col-md-6 profile-input" v-if="userInfo.location_range[0]">
                    <label>Maximum Distance Willing to Travel</label>
                    <v-select :options="criterias.location_range"
                              :model.sync="userInfo.location_range[0].id"
                              :selected='0'>
                    </v-select>
                </div>
            </div>
           <div class="row profile-input">
                <div class="path step_big"></div>
                <label class="tab-label">Choose Days & Times You’re Available</label>
                <div class="col-md-12 profile-input" v-if="userInfo.availability">
<!--                     <v-multiple-select 
                        :placeholder="Choose Days and Hours"
                        :time.sync="userInfo.availability">
                    </v-multiple-select> -->
                    <m-date-picker  :limit="limit" :time.sync="time"> </m-date-picker>
                </div>
                <!-- <div class="col-md-6 profile-input" v-if="userInfo.availability">
                    <v-multiple-select :options="criterias.availability"
                              :model.sync="userInfo.availability"
                              :selected=[]>
                    </v-multiple-select>
                </div>
                <div class="col-md-3 profile-input">
                    <select class="time from">
                         <option value="">From</option>
                         <option v-for="time in times()" :value="time" :selected="userInfo.availability[0] ? userInfo.availability[0].data.time[0] == time : false">
                            {{ time }}
                          </option>
                    </select>
                </div>
                <div class="col-md-3 profile-input">
                    <select class="time to">
                         <option value="">To</option>
                         <option v-for="time in times()" :value="time" :selected="userInfo.availability[0] ? userInfo.availability[0].data.time[0] == time : false">
                            {{ time }}
                          </option>
                    </select>
                </div> -->
            </div>
            <div class="profile-input">
                <div class="row">
                    <div class="profile-input" :class="{'has-error': errors.rate}">
                        <div class="path step_big"></div>
                        <label>Hourly Rate</label>
                        <div class="input-group group-addon">
                            <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" v-model="userInfo.employee_info.rate" lazy
                                   @keyup="errors.rate=''" placeholder="Enter Amount">
                        </div>
                        <div class="help-block help-error" v-if="errors.rate">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.rate}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <step-footer :steps="steps" :errors="errors" @next-click="saveAndContinue">
        </step-footer>
    </div>
</template>
<script>

    import {userInfoMixin} from './../../../userInfoMixin';
    import PillsEditor from './PillsEditor.vue';
    import PillsSwitcher from './PillsSwitcher.vue';
    import BinarySwitcher from './BinarySwitcher.vue';
    import VideoUploader from './../../VideoUploader.vue';
    import Popover from './Popover.vue';
    import StepFooter from './StepFooter.vue';
    import VSelect from '../../VSelect.vue';
    import MDatePicker from '../../MDatePicker.vue';

    export default {
        name: "step2",
        mixins: [userInfoMixin],
        data() {
            return {
                count: 10,
                time: '',
                saveRoute: '/api/v1/settings/work-preferences',
            }
        },
        components: {
            pillsEditor: PillsEditor,
            videoUploader: VideoUploader,
            popover: Popover,
            pillsSwitcher: PillsSwitcher,
            binarySwitcher: BinarySwitcher,
            stepFooter: StepFooter,
            vSelect: VSelect,
            mDatePicker: MDatePicker,
            // vMultipleSelect: VMultipleSelect,
        },
        methods: {
            clearError(){

            },
            // times(){
            // var times = [],
            //    periods = ['AM', 'PM'],
            //    hours = [12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
            //    prop = null,
            //    hour = null,
            //    min = null; 

            // for (prop in periods) {
            //   for (hour in hours) {
            //     for (min = 0; min < 60; min += 10) {
            //       times.push(('0' + hours[hour]).slice(-2) + ':' + ('0' + min).slice(-2) + " " + periods[prop]);
            //     }
            //   }
            // }
            //     return times;
            // },
            updateSelected (newSelected) {
              this.selected = newSelected
            },
            getFormData() {
                let data = {criterias: this.getSelectedCriterias()};

               //  var from_to;

               // _.forEach(this.userInfo.availability, function(value, key) {
               //         _.forEach(data.criterias, function(val, k) {
               //              if (value.id ==  k){
               //                  from_to = JSON.parse(val.data);
               //                  from_to['time'].push($('.from').val(), $('.to').val());
               //                  data.criterias[k].data = JSON.string-aify(from_to);
               //              }
               //          })
               //  })

                if (this.userInfo.employee_info.rate) {
                    data.rate = this.userInfo.employee_info.rate;
                }
                if (this.userInfo.employee_info.rate_visible) {
                    data.rate_visible = this.userInfo.employee_info.rate_visible;
                };

                return data;
            },
        },
    }
</script>