<template>
    <div class="step-wrapper container" v-if="userInfo && criterias">
        <div class="step-header">
            Let’s Set Up Your Profile
        </div>
        <section class="basic-details">
            <div class="section-header basic-information">Qualifications and Skills</div>
            <div>Select Qualifications and Skills.</div>
        </section>
        <section>
            <div class="section-header">Qualifications</div>
            <ul class="list-unstyled">
                <li v-for="(i, qualification) in userInfo.qualification">
                    <qualification-editor
                            :model.sync="userInfo.qualification"
                            :qualification.sync="userInfo.qualification[i]"
                            :qualifications="criterias.qualification"
                            :index="i"
                            :errors="errors">
                    </qualification-editor>
                </li>
                <li class="flex qualification-extend">
                    <a href="#" @click.prevent="userInfo.qualification.push(defaultQualification())"
                       class="btn-extend flex">
                        <i class="fa fa-plus"></i>
                    </a>
                    Add Qualification
                </li>
            </ul>
        </section>
        <section class="profile-editor">
            <ul class="list-unstyled">
                <li v-for="(i, reference) in userInfo.references">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="profile-input">
                                <label>Upload Reference</label>
                                <file-uploader
                                        @uploaded="referenceUploaded(i, $arguments)"
                                        :current_file="reference.path">
                                </file-uploader>
                            </div>
                        </div>
                    </div>
                    <div v-if="i > 0" class="delete-control" @click="deleteReference(i)">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete Reference
                    </div>
                </li>
                <li class="flex qualification-extend">
                    <a href="#" @click.prevent="userInfo.references.push({path:''})" class="btn-extend flex">
                        <i class="fa fa-plus"></i>
                    </a> Add Reference
                </li>
            </ul>
        </section>
        <section>
            <div class="section-header">Skills</div>
            <div class="profile-input">
                <label>Select your skills</label>
                <pills-editor :pills="criterias.skill" :model.sync="userInfo.skill"> </pills-editor>
            </div>
        </section>
        <hr>
        <step-footer :steps="steps" :errors="errors" @next-click="saveAndContinue">
        </step-footer>
    </div>
</template>

<script>
    import {userInfoMixin} from './../../../userInfoMixin';
    import PillsEditor from './PillsEditor.vue';
    import QualificationEditor from './QualificationEditor.vue';
    import FileUploader from './../../FileUploader.vue';
    import StepFooter from './StepFooter.vue';

    const uuid = require('uuid/v1');

    export default {
        name: "step4",
        mixins: [userInfoMixin],
        data() {
            return {
                saveRoute: '/api/v1/settings/skills-and-qualifications',
            }
        },
        components: {
            pillsEditor: PillsEditor,
            qualificationEditor: QualificationEditor,
            fileUploader: FileUploader,
            stepFooter: StepFooter,
        },
        methods: {
            clearError(){
                let that = this;
                $.each(this.errors, function (key, value) {
                    if (that.userInfo[key]) {
                        for(let i = 0; i < that.userInfo[key].length; i++){
                            if (value[that.userInfo[key][i].id]) {
                                that.userInfo[key][i].id = "";
                                that.userInfo[key][i].data = {};
                            }
                        }
                    }
                });
                this.errors = {};
            },
            getFormData() {
                let references = this.userInfo.references;
                return {
                    criterias: this.getSelectedCriterias(),
                    references: typeof references[0] !== 'undefined' && typeof references[0].path !== 'undefined' ? references : []
                };
            },
            referenceUploaded(i, args) {
                this.userInfo.references[i].path = args[1];
            },
            deleteReference(i) {
                if (this.userInfo.references[i].id) {
                    $.LoadingOverlay('show');
                    this.$http.delete('/api/v1/settings/reference/' + this.userInfo.references[i].id).then(() => {
                        this.userInfo.references.splice(i, 1);
                        $.LoadingOverlay('hide');
                    }, () => {
                    }).bind(this);
                } else {
                    this.userInfo.references.splice(i, 1);
                }

            },
            defaultQualification() {
                return {
                    id: uuid(),
                    data: {
                        type: 'qualification'
                    }
                }
            }
        }
    }
</script>