<template>
    <div class="container">
        <div class="flex">
            <app-frame>
                <div slot="body">
                    <div class="step-wrapper container" v-if="userInfo && criterias">
                        <div class="step-header">We need to verify you</div>
                        <div class="path step_big"></div>
                        <section class="basic-details">
                            <div>Please enter your ID and qualification details</div>
                        </section>
                        <section class="caregivers-verification">
                            <div class="profile-input row">
                                <label>Photo ID</label>
                                <v-select :options="documentTypes" :placeholder="'Choose Document'" :model.sync="documentType" :selected="getDocumentType()" > </v-select>
                                <div class="row">
                                    <template v-if="userInfo.passport_id.to_check">
                                        <government-id-editor
                                            :model.sync="userInfo.passport_id"
                                            :document="primary_documents[0]"
                                            :errors="errors">
                                        </government-id-editor>
                                    </template>
                                    <template v-if="userInfo.driver_licence_id.to_check">
                                        <government-id-editor
                                            :model.sync="userInfo.driver_licence_id"
                                            :document="primary_documents[1]"
                                            :states="states"
                                            :errors="errors">
                                        </government-id-editor>
                                    </template>
                                </div>
                            </div>
                            <div class="path step_big"></div>
                            <div class="profile-input row">
                                <label>Medicare Card</label>
                                <template v-if="true">
                                    <secondary-id-editor :type="1"
                                                         :model.sync="userInfo.secondary_id"
                                                         :errors="errors">
                                    </secondary-id-editor>
                                </template>
                            </div>
                            <div class="path step_big"></div>
                            <div class="profile-input row">
                                <label>ID Selfie</label>
                                <div class="profile-input col-md-6" :class="{'has-error' : errors.government_id && errors.government_id.user_holding_document_photo }">
                                    <file-uploader @uploaded="uploaded"
                                                   :current_file="userInfo.government_id.user_holding_document_photo">
                                    </file-uploader>
                                    <div class="help-block help-error" v-if="errors.government_id && errors.government_id.user_holding_document_photo">
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.government_id.user_holding_document_photo}}
                                    </div>
                                </div>
                                <div class="profile-input col-md-6">
                                    <p class="support-text" style="font-size: 12px;">Please upload a photo with you holding your photo ID and WWCC Card. Please make sure the photo is clear and the ID is easy to read</p>
                                </div>
                            </div>
                            <div class="path step_big"></div>
                            <div class="profile-input row">
                                <label>Working with Children Check</label>
                                <wwcc-editor :model.sync="userInfo.wwcc" :states="states" :errors="errors"></wwcc-editor>
                            </div>
                            <div class="path step_big"></div>
                            <div class="profile-input row">
                                <label>Qualification</label>
                                <ul class="list-unstyled">
                                    <li v-for="(i, qualification) in userInfo.qualification">
                                        <qualification-editor
                                                :model.sync="userInfo.qualification"
                                                :qualification.sync="userInfo.qualification[i]"
                                                :qualifications="criterias.qualification"
                                                :index="i"
                                                :errors="errors">
                                        </qualification-editor>
                                    </li>
                                    <li class="flex qualification-extend">
                                        <a href="#" @click.prevent="userInfo.qualification.push(defaultQualification())"
                                           class="btn-extend flex">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        Add Qualification
                                    </li>
                                </ul>
                            </div>
                            <div class="profile-input row">
                                <div class="path step_big"></div>
                                    <label>Video</label>
                                    <div v-if="!userInfo.video_id || showVideo" class="row">
                                        <div class="col-md-6">
                                            <video-uploader :video_url.sync="userInfo.video_url" :video_id.sync="userInfo.youtube_upload.video_id"></video-uploader>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row video-tips">
                                                <div class="col-md-12">
                                                    <popover :text="'Mandatory Questions'" id="video-questions">
                                                        <p class="tooltip-header">You must answer the following questions:</p>
                                                        <ol class="tooltip-list">
                                                            <li>Why do you love working in childcare?</li>
                                                            <li>What would you do if a child in your care was unsettled? How would you
                                                                settle
                                                                them?
                                                            </li>
                                                            <li>How would you deal with a child/children that were misbehaving or difficult
                                                                to work
                                                                with?
                                                            </li>
                                                            <li>What makes you an ideal Little Ones Caregiver?</li>
                                                        </ol>
                                                    </popover>
                                                </div>
                                                <div class="col-md-12">
                                                    <popover :text="'Video  Requirements'" id="video-requirements">
                                                        <p class="tooltip-header">Your video must:</p>
                                                        <ol class="tooltip-list">
                                                            <li>Clearly show you</li>
                                                            <li>Be of reasonable quality</li>
                                                            <li>Be no more than 3 minutes in length</li>
                                                            <li>Video format (mp4, ogg, webm)</li>
                                                            <!--<li>Video size should not exceed 5MB</li>-->
                                                      </ol>
                                                        <p class="tooltip-footer">
                                                            *We will review your video, and once accepted, it will
                                                            appear on your profile for parents to view.
                                                        </p>
                                                    </popover>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="userInfo.video_id && !showVideo" class="row">
                                        <div class="video-oval">
                                            <i class="fa fa-check video-path-3"></i>
                                        </div>
                                        <p class="change-video">
                                            We’re happy to see that you’ve already uploaded a video.
                                            <br>
                                            If you’d like to change it 
                                        <a href="#" @click.prevent="showVideoFunc()" class="change-video-link">click here</a>
                                        </p>
                                    </div>
                            </div>
                        </section>
                        <template v-if="isValidFormsVerification">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" v-model="userInfo.check_agree">
                                    <span class="checkbox-custom"></span>
                                    <span class="check-label">
                                        I agree to Little Ones performing an ID Check and profile verification. <a href="/faqs#profile-verification-caregivers" target="_blank">Click here</a> for more information on how we check your profile. <br>
                                    </span>
                                </label>
                                <div class="form-check-error" v-if=" errors.check_agree">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.check_agree}}
                                </div>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" v-model="userInfo.check_confirm">
                                    <span class="checkbox-custom"></span>
                                    <span class="check-label">
                                    I confirm that I am authorised to provide the personal details presented and I consent to my information being checked with the document issuer or official record holder via third party systems for the purpose of confirming my identity.
                                </span>
                                </label>
                                <div class="form-check-error" v-if="errors.check_confirm">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.check_confirm}}
                                </div>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" v-model="userInfo.check_confirm_eligible">
                                    <span class="checkbox-custom"></span>
                                    <span class="check-label">
                                    I confirm that I am eligible to work in Australia and that all the information I have entered is true and correct. I understand that Little Ones will pass my information on to relevant government agencies and that Little Ones is required to report all incidences of fraud to authorities in accordance with Australian Law.
                                </span>
                                </label>
                                <div class="form-check-error" v-if="errors.check_confirm_eligible">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.check_confirm_eligible}}
                                </div>
                            </div>
                            <hr>
                        </template>
                        <div class="step-footer flex">
                            <a
                                @click.prevent="saveAndContinue()"
                                class="btn-next-step flex">Finish
                            </a>
                            <div class="footer-error-message" v-if="errors && error">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please fix errors.
                            </div>
                        </div>
                        <a
                            href="/profile/build/2"
                            class="btn-prev-step flex"><i class="fa fa-chevron-left"></i> <span class="back-text">Previous Page</span>
                        </a>
                    </div>
                </div>
            </app-frame>
        </div>
    </div>
</template>

<script>
    import AppFrame from './../../Registration/RegistrarFrame.vue';
    import Step3 from './Step3.vue';
    import Verification from './Verification.vue';
    import Congratulations from './Congratulations.vue';
    import {userInfoMixin} from './../../../userInfoMixin';
    import PillsEditor from './PillsEditor.vue';
    import QualificationEditor from './QualificationEditor.vue';
    import FileUploader from './../../FileUploader.vue';
    import VideoUploader from './../../VideoUploader.vue';
    import StepFooter from './StepFooter.vue';
    import DocumentSwitcher from './DocumentSwitcher.vue';
    import ProfilePhotoEditor from './ProfilePhotoEditor.vue';
    import WWCCEditor from './WWCCEditor.vue';
    import GovernmentIdEditor from './GovernmentIdEditor.vue';
    import SecondaryIdEditor from './SecondaryIdEditor.vue';
    import VSelect from '../../VSelect.vue';
    import Popover from './Popover.vue';

    const uuid = require('uuid/v1');

    export default {
        name: "verification",
        mixins: [userInfoMixin],
        components: {
            step3: Step3,
            congratulations: Congratulations,
            appFrame: AppFrame,
            pillsEditor: PillsEditor,
            qualificationEditor: QualificationEditor,
            fileUploader: FileUploader,
            videoUploader: VideoUploader,
            stepFooter: StepFooter,
            documentSwitcher: DocumentSwitcher,
            profilePhotoEditor: ProfilePhotoEditor,
            wwccEditor: WWCCEditor,
            governmentIdEditor: GovernmentIdEditor,
            secondaryIdEditor: SecondaryIdEditor,
            VSelect: VSelect,
            popover: Popover,
        },

        data() {
            return {
                saveRoute: '/api/v1/settings/verification',
                primary_documents: [
                    {
                        model: 'passport_id',
                        name: 'Passport',
                        check_box_name: 'Passport',
                        number: 'Travel Document',
                        placeholder: 'Travel Document No.'
                    },
                    {
                        model: 'driver_licence_id',
                        name: "Driver's Licence",
                        check_box_name: 'Licence',
                        number: 'Licence',
                        state: 'Registration State',
                        placeholder: 'Licence No.'
                    },
                ],
                secondary_documents: [
                    {type: 1, name: 'Medicare Card'},
                  //  {type: 2, name: 'Citizenship Certificate'},
                ],
                id_photo: '',
                documentType: 0,
                documentTypes: [
                    {id: 1, name: 'Passport'},
                    {id: 2, name: 'Licence'},
                ],
                showVideo: false,
                states: null
            }
        },

        computed: {
            steps() {

                let prevStep = '', nextStep = '';
                nextStep = 'congratulations';
                prevStep = '3';

                return {
                    next: nextStep,
                    current: this.$route.params.step,
                    prev: prevStep,
                };
            },

            isValidFormsVerification(){
                let dob = Boolean(this.userInfo.birthday);
                let mobile_number = Boolean(this.userInfo.phone && this.userInfo.phone.phone && this.userInfo.phone.verified);
                let address = Boolean(this.userInfo.location && this.userInfo.location.state &&
                    this.userInfo.location.post_code && this.userInfo.location.street && this.userInfo.location.suburb);
                let qualification =  Boolean(this.userInfo.qualification && this.userInfo.qualification[0].id);
                let photo_id = Boolean((this.userInfo.passport_id.to_check && this.userInfo.passport_id.photo) ||
                    (this.userInfo.driver_licence_id.to_check && this.userInfo.driver_licence_id.photo));
                let medicare_card = Boolean(this.userInfo.secondary_id && this.userInfo.secondary_id.expiry_date &&
                    this.userInfo.secondary_id.card_names && this.userInfo.secondary_id.id_number &&
                    this.userInfo.secondary_id.individual_ref_number &&
                    typeof this.userInfo.secondary_id.card_type !== 'undefined');
                let wwcc = Boolean( this.userInfo.wwcc && this.userInfo.wwcc.state_id && this.userInfo.wwcc.card_name &&
                    this.userInfo.wwcc.application_card_number && this.userInfo.wwcc.expiry_date);
                let photo_holding_id = Boolean(this.userInfo.government_id && this.userInfo.government_id.user_holding_document_photo);

                // console.log('dob', dob);
                // console.log('mobile_number', mobile_number);
                // console.log('address', address);
                // console.log('qualification', qualification);
                // console.log('photo_id', photo_id);
                // console.log('medicare_card', medicare_card);
                // console.log('wwcc', wwcc);
                // console.log('photo_holding_id', photo_holding_id);

                return dob && mobile_number && address && qualification
                    && photo_id && medicare_card && wwcc && photo_holding_id;
            }
        },

        methods: {
            showVideoFunc(){
                this.showVideo=true;
            },
            clearError(){
                let that = this;
                let errors = {};
                $.each(this.errors, function (key, value) {
                    if (that.userInfo[key]) {

                        for(let i = 0; i < that.userInfo[key].length; i++){
                            if (value[that.userInfo[key][i].id]) {
                                that.userInfo[key][i].id = "";
                                that.userInfo[key][i].data = {};
                            }
                        }

                        if(that.userInfo[key].to_check){
                            that.userInfo[key].to_check = false;
                        }
                        if(key === 'secondary_id'){
                            that.userInfo[key] = {};
                        }
                        if(key === 'wwcc'){
                            that.userInfo[key] = {expiry_date: ""};
                        }
                    }
                    if(key === 'check_agree' || key === 'check_confirm' || key === 'check_confirm_eligible'){
                        errors[key] = value;
                    }
                });
                this.errors = errors;
            },

            defaultQualification() {
                return {
                    id: uuid(),
                    data: {
                        type: 'qualification'
                    }
                }
            },

            getDocumentType(){
                let documentType = 0;
                if (this.userInfo.passport_id.to_check && !this.userInfo.driver_licence_id.to_check) {
                    documentType = 1;
                } else if (!this.userInfo.passport_id.to_check && this.userInfo.driver_licence_id.to_check) {
                    documentType = 2;
                }
                this.documentType = documentType;
                return 0;
            },

            checkPassport(){
                this.userInfo.passport_id.to_check  = !this.userInfo.passport_id.to_check;
                this.userInfo.driver_licence_id.to_check = false;
            },
            checkLicence(){
                this.userInfo.passport_id.to_check  = false;
                this.userInfo.driver_licence_id.to_check = !this.userInfo.driver_licence_id.to_check;
            },
            uploaded(e, path) {
                this.userInfo.government_id.user_holding_document_photo = path;
            },
            getFormData() {
                let data = {};

                data.government_id = this.userInfo.government_id;
                data.passport_id = this.userInfo.passport_id;
                data.driver_licence_id = this.userInfo.driver_licence_id;
                data.criterias = this.getSelectedCriterias();

                // if (this.userInfo.secondary_id.type) {
                    data.secondary_id = this.userInfo.secondary_id;
                // }

                if ((parseInt(this.userInfo.wwcc.state_id) === this.userInfo.wwcc.state_id) ||
                    (typeof this.userInfo.wwcc.application_card_number && this.userInfo.wwcc.application_card_number) ||
                    (typeof this.userInfo.wwcc.card_name && this.userInfo.wwcc.card_name)) {
                    data.wwcc = this.userInfo.wwcc;
                }

                if(this.isValidFormsVerification){
                    data.check_agree = Boolean(this.userInfo.check_agree);
                    data.check_confirm = Boolean(this.userInfo.check_confirm);
                    data.check_confirm_eligible = Boolean(this.userInfo.check_confirm_eligible);
                }

                return data;
            },

        },
        created() {
            this.$http.get('/api/v1/common/states').then((response) => {
                this.states = response.data;
            }, (response) => {}).bind(this);
        },
        watch: {
            documentType (newVal, oldVal) {
                if (newVal == 1) {
                    this.userInfo.passport_id.to_check  = !this.userInfo.passport_id.to_check;
                    this.userInfo.driver_licence_id.to_check = false;      
                } else if(newVal == 2) {
                    this.userInfo.driver_licence_id.to_check = !this.userInfo.driver_licence_id.to_check;      
                    this.userInfo.passport_id.to_check  = false;
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    .gradient-body{
      width: 692px;
      height: auto;
      background-color: #ffffff;
      background: rgba(255, 255, 255, 0.87);
      border-radius: 37px;
      border: solid 1px #73c5bc;
      margin: 83px 0 77px;
    }
</style>