<template>
    <div class="section-content row">
        <div class="post-code profile-input col-md-12" :class="{'has-error': errors.wwcc && errors.wwcc.card_name}">
            <input type="text"
                   class="form-control"
                   v-model="model.card_name"
                   lazy
                   @keyup="resetError('card_name')"
                   placeholder="Name as it Appears on Card">
            <div class="help-block help-error" v-if="errors.wwcc && errors.wwcc.card_name">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.wwcc.card_name}}
            </div>
        </div>
        <div class="street-address profile-input col-md-12"
             :class="{'has-error': errors.wwcc && errors.wwcc.application_card_number}">
            <input type="text" class="form-control" v-model="model.application_card_number" lazy
                   @keyup="resetError('application_card_number')" placeholder="Application or Card No.">
            <div class="help-block help-error" v-if="errors.wwcc && errors.wwcc.application_card_number">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.wwcc.application_card_number}}
            </div>
        </div>
        <div class="profile-input col-md-6" v-if="states" :class="{'has-error': errors.wwcc && errors.wwcc.state_id}">
            <v-select :options="states" :placeholder="'Issuing State'" :notreadonly="1" :model.sync="model.state_id"> </v-select>
            <div class="help-block help-error" v-if="errors.wwcc && errors.wwcc.state_id">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.wwcc.state_id}}
            </div>
        </div>
        <div class="suburb profile-input col-md-6" :class="{'has-error': errors.wwcc && errors.wwcc.expiry_date}">
            <date-picker :time.sync="model.expiry_date" @keyup="resetError('expiry_date')" :placeholder="'Card Expiry Date'"> </date-picker>
            <div class="help-block help-error" v-if="errors.wwcc && errors.wwcc.expiry_date">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.wwcc.expiry_date}}
            </div>
        </div>
        <div class="profile-input col-md-12" :class="{'has-error': errors.valid_creds}">
            <div class="help-block help-error" v-if="errors.valid_creds">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errors.valid_creds}}
            </div>
        </div>
    </div>

</template>

<script>
    import Datepicker from './DatePicker.vue';
    import VSelect from '../../VSelect.vue';

    export default {
        name: "wwcc-editor",
        components: {
            datePicker: Datepicker,
            vSelect: VSelect
        },
        props: {
            model: {type: Object},
            errors: {type: Object},
            states: {type: Array},
        },
        methods: {
            resetError(field) {
                if(this.errors.wwcc){
                    this.errors.wwcc[field] = '';
                }
            },
        },
    }
</script>

