<template>
    <div class="container" v-cloak>
        <div class="flex flex-direction">
            <registrar-frame>
                <div slot="handle" class="login-handle text-center" v-if="errors.handle">{{errors.handle}}</div>
                <div slot="body">
                    <div class="form-title login-form-title text-center">Please log in to your account</div>
                    <div class='path'></div>
                    <form method="POST" class="login-form" @submit.prevent novalidate>
                        <div class="form-group" :class="[errors.email || errors.account ? 'has-error' : '' ]">
                            <input type="email" class="form-control" v-model="userInfo.email"
                                   @keyup="errors.email = ''" placeholder="Email">
                            <div class="help-block help-error" v-if="errors.email">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.email }}
                            </div>
                        </div>
                        <div class="form-group" :class="[errors.password || errors.account ? 'has-error' : '' ]">
                            <input type="password" class="form-control" v-model="userInfo.password"
                                   placeholder="Password" novalidate>
                            <div class="help-block help-error" v-if="errors.password">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.password }}
                            </div>
                            <div class="help-block help-error" v-if="errors.account">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.account}}
                            </div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" name="remember" v-model="userInfo.remember" id="remember_me"/>
                            <label for="remember_me">Keep me logged in</label>
                        </div>
                        <button class="btn-login" @click="loginAction"><span>Log In</span></button>
                        <a class="forgot-password-link"></a>
                        <a href="/password/email" class="forgot-password-link text-center">Forgot Your Password?</a>
                    </form>
                </div>
            </registrar-frame>
            <div class="creat-account-login">Don’t have an account? <a href="/pre-register" class="register-link text-center">Register now</a></div>
        </div>
    </div>
</template>

<script>
    import RegistrarFrame from './../Registration/RegistrarFrame.vue';
    export default {
        data() {
            return {
                userInfo: {
                    email: '',
                    password: '',
                    remember: false,
                },
                errors: {},
                message: '',
            }
        },
        methods: {
            loginAction: function () {
                $.LoadingOverlay('show');
                this.$http.post('/auth/login', this.userInfo).then(function (response) {
                    $.LoadingOverlay('hide');
                    window.location.href = typeof handle !== 'undefined' ? '/profile/build/1': '/caregiver/dashboard';
                }, function (response) {
                    this.errors = response.status === 422 ? response.data : {};
                    $.LoadingOverlay('hide');
                });
            },
        },
        components: {
            registrarFrame: RegistrarFrame,
        },
        ready(){
            if(typeof handle !== 'undefined') {
                this.errors = {handle: handle};
            }
        },
    }
</script>

<style>
</style>