<template>
    <div>
        <guest-layout>
            <login-form></login-form>
        </guest-layout>
    </div>
</template>

<script>
    import LoginForm from './LoginForm.vue';
    import GuestLayout from './../Layout/GuestLayout.vue';

    export default {
        components: {
            guestLayout: GuestLayout,
            loginForm: LoginForm,
        },
    }
</script>

<style>

</style>