<template>
    <div>
        <guest-layout>
            <password-email-form></password-email-form>
        </guest-layout>
    </div>
</template>

<script>
    import PasswordEmailForm from './PasswordEmailForm.vue';
    import GuestLayout from './../Layout/GuestLayout.vue';
    export default {
        components: {
            guestLayout: GuestLayout,
            passwordEmailForm: PasswordEmailForm,
        },
    }
</script>

<style>

</style>