<template>
    <div class="container">
        <div class="flex">
            <registrar-frame>
                <div slot="handle" class="login-handle text-center" v-if="errors.handle">{{errors.handle}}</div>
                <div slot="body">
                    <template v-if="!isReset">
                        <div class="form-title password-email-title-reset text-center">
                            Please enter your email to reset your password
                        </div>
                        <form class="login-form" role="form" method="POST" action="/password/email" @submit.prevent novalidate>
                            <div class="form-group" :class="[errors.email ? 'has-error' : '' ]">
                                <input type="email" class="form-control" v-model="userInfo.email"
                                       @keyup="errors.email = ''" placeholder="Email">
                                <div class="help-block help-error" v-if="errors.email">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.email }}
                                </div>
                            </div>
                            <button class="btn-login" @click="retreivePassword">Reset Password</button>
                        </form>
                    </template>
                    <template v-else>
                        <div class="password-email-header">
                            <div v-if="success" class="icon-success">
                                <span class="success-line-left"></span>
                                <span class="success-line-right"></span>
                            </div>
                            <div v-else class="icon-error">
                                <span class="error-line-left"></span>
                                <span class="error-line-right"></span>
                            </div>
                            <div class="form-title password-email-title text-center">
                                {{title}}
                            </div>
                        </div>
                        <div class="password-email-body">
                            <button class="btn-ok" @click="isReset = false">OK</button>
                        </div>
                    </template>
                </div>
            </registrar-frame>
        </div>
    </div>
</template>

<script>
    import RegistrarFrame from './../Registration/RegistrarFrame.vue';

    export default {
        data() {
            return {
                userInfo: {
                    email: '',
                },
                errors: {},
                isReset: false,
                success: false,
                title: ''
            }
        },
        methods: {
            retreivePassword: function () {
                $.LoadingOverlay('show');
                this.$http.post('/password/email', this.userInfo).then(function (response) {
                    $.LoadingOverlay('hide');
                    this.isReset = true;
                    this.title = response.data;
                    this.success = true;
                }, function (response) {
                    $.LoadingOverlay('hide');
                    if(typeof response.data !== 'object') {
                        this.isReset = true;
                        this.title = response.data;
                        this.success = false;
                    }

                    this.errors = response.status === 422 ? response.data : {};
                });
            },
        },
        components: {
            registrarFrame: RegistrarFrame,
        },
        ready(){
            if(typeof handle !== 'undefined') {
                this.errors = {handle: handle};
            }
        },
    }
</script>

<style>
</style>