<template>
    <div class="container">
        <div class="flex">
            <registrar-frame>
                <div slot="handle" class="login-handle text-center" v-if="errors.handle">{{errors.handle}}</div>
                <div slot="body">
                    <template v-if="!error">
                        <div class="success-image-pass">
                            <img src="/img/design/success.png" alt="success.png" class="success-image" width="65" height="65">
                            <p>Welcome! Your account has been verified</p>
                        </div>
                        <div class="form-title password-reset-title text-center">Please set your password</div>
                        <div class='path'></div>
                        <form class="login-form-confirm" role="form" method="POST" action="/password/email" @submit.prevent novalidate>
                            <div class="form-group  password" :class="errors.password ? 'has-error' : '' ">
                                <input type="password" class="form-control" placeholder="Password"
                                       v-model="userInfo.password"
                                       @keyup="errors.password = ''">
                                <a href="/" class="fa fa-eye"
                                   @mousedown.prevent="showPassword"
                                   @mouseup.prevent="hidePassword"
                                   @mouseout.prevent="hidePassword"
                                   @click.prevent>
                                </a>
                            </div>
                            <div class="form-group password" :class="errors.password_confirmation ? 'has-error' : '' ">
                                <input type="password" class="form-control" name="password_confirmation"
                                       v-model="userInfo.password_confirmation" @keyup="errors.password_confirmation = ''"
                                       placeholder="Confirm Password">
                                <a href="/" class="fa fa-eye"
                                   @mousedown.prevent="showPassword"
                                   @mouseup.prevent="hidePassword"
                                   @mouseout.prevent="hidePassword"
                                   @click.prevent>
                                </a>
                            </div>
                            <div :class="errors.password_confirmation ? 'has-error' : '' ">
                                <div class="help-block help-error" v-if="errors.password_confirmation">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.password_confirmation }}
                                </div>
                            </div>
                            <div :class="errors.password ? 'has-error' : '' ">
                                 <div class="help-block help-error" v-if="errors.password">
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.password }}
                                </div>
                            </div>
                            <div :class="errors.user_type ? 'has-error' : '' ">
                                <div class="help-block help-error" v-if="errors.user_type">
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.user_type }}
                                </div>
                            </div>
                            <p class="parent-or-caregiver">Are you a parent or caregiver?</p>
                            <div class="form-group parent parent-b" @click="setUserType">
                                <img src="/img/design/fmgb.png" alt="fmgb.png" class="fmgb img" width="65" height="65">
                                <span class="name-block">Parent</span>
                            </div>
                            <div class="form-group parent parent-o">
                                <img src="/img/design/success.png" alt="success.png" class="success-pc" width="25" height="25">
                                <img src="/img/design/fso.jpg" alt="fso.jpg" class="fso img" width="65" height="65">
                                <span class="name-block">Caregiver</span>
                            </div>
                            <div class="form-group caregiver caregiver-o">
                                <img src="/img/design/success.png" alt="success.png" class="success-pc" width="25" height="25">
                                <img src="/img/design/fmgo.png" alt="fmgo.png" class="fmgo img" width="65" height="65">
                                <span class="name-block">Parent</span>
                            </div>
                            <div class="form-group caregiver caregiver-b" @click="setUserType">
                                <img src="/img/design/fsb.jpg" alt="fsb.jpg" class="fsb img" width="65" height="65">
                                <span class='name-block'>Caregiver</span>
                            </div>
                            <div class="form-group  password">
                                <button class="btn-login-confirm" @click="setPassword">Continue</button>
                            </div>
                            <input type="hidden" v-model="userInfo.user_type" name="user_type" class="user_type form-control" >
                        </form>
                    </template>
                    <template v-else>
                        <div class="password-reset-header">
                            <div class="icon-error">
                                <span class="error-line-left"></span>
                                <span class="error-line-right"></span>
                            </div>
                            <div class="form-title password-reset-title text-center">
                                {{error}}
                            </div>
                        </div>
                        <div class="password-reset-body">
                            <button class="btn-ok" @click="error = ''">OK</button>
                        </div>
                    </template>
                </div>
            </registrar-frame>
        </div>
    </div>
</template>

<script>
    import RegistrarFrame from './../Registration/RegistrarFrame.vue';
    import swal from 'sweetalert2';
    import VSelect from "../VSelect.vue";

    export default {
        data() {
            return {
                userInfo: {
                    email: '',
                    password: '',
                    password_confirmation: '',
                    user_type: ''
                },
                error: '',
                errors: {},
            }
        },
        methods: {
            setPassword: function () {
                $.LoadingOverlay('show');
                this.$http.post('/password/set', this.userInfo).then(function (response) {
                    $.LoadingOverlay('hide');
                    window.location.href = response.data;
                }, function (response) {
                    $.LoadingOverlay('hide');
                    if(typeof response.data !== 'object') {
                        this.error = response.data;
                    }
                    this.errors = response.status === 422 ? response.data : {};
                });
            },
            setUserType(e){
                var userType;
                if ($(e.target).parent().hasClass('caregiver-b') || $(e.target).hasClass('caregiver-b')) {
                    userType = '1';
                    $('.parent-o').css('display','block');
                    $('.caregiver-o').css('display','none');
                    $('.caregiver-b').css('display','none');
                    $('.parent-b').css('display','block');
                } else {
                    userType = '0';
                    $('.caregiver-o').css('display','block');
                    $('.parent-b').css('display','none');
                    $('.parent-o').css('display','none');
                    $('.caregiver-b').css('display','block');
                }
                this.userInfo.user_type = userType;
            },
            showPassword(e){
                $(e.target).prev().attr('type', 'text');
            },
            hidePassword(e){
                $(e.target).prev().attr('type', 'password');
            },
        },
        components: {
            VSelect,
            registrarFrame: RegistrarFrame,
        },
        ready(){
            $('.parent-o').css('display','none');
            $('.caregiver-o').css('display','none');
        },
    }
</script>

<style>
</style>