<template>
    <div>
        <guest-layout>
            <password-reset-form></password-reset-form>
        </guest-layout>
    </div>
</template>

<script>
    import PasswordResetForm from './PasswordResetForm.vue';
    import GuestLayout from './../Layout/GuestLayout.vue';
    export default {
        components: {
            guestLayout: GuestLayout,
            passwordResetForm: PasswordResetForm,
        },
    }
</script>

<style>

</style>