<template>
    <div class="container">
        <div class="flex">
            <registrar-frame>
                <div slot="handle" class="login-handle text-center" v-if="errors.handle">{{errors.handle}}</div>
                <div slot="body">
                    <template v-if="!error">
                        <div class="form-title password-reset-title text-center">Reset Password</div>
                        <form class="login-form" role="form" method="POST" action="/password/email" @submit.prevent novalidate>
                            <div class="form-group" :class="errors.email ? 'has-error' : '' ">
                                <input type="email" class="form-control" placeholder="Email"
                                       v-model="userInfo.email"
                                       @keyup="errors.email = ''">
                                <div class="help-block help-error" v-if="errors.email">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.email }}
                                </div>
                            </div>
                            <div class="form-group  password" :class="errors.password ? 'has-error' : '' ">
                                <input type="password" class="form-control" placeholder="Password"
                                       v-model="userInfo.password"
                                       @keyup="errors.password = ''">
                                <a href="/" class="fa fa-eye"
                                   @mousedown.prevent="showPassword"
                                   @mouseup.prevent="hidePassword"
                                   @mouseout.prevent="hidePassword"
                                   @click.prevent>
                                </a>
                                <div class="help-block help-error" v-if="errors.password">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.password }}
                                </div>
                            </div>
                            <div class="form-group password" :class="errors.password_confirmation ? 'has-error' : '' ">
                                <input type="password" class="form-control" name="password_confirmation"
                                       v-model="userInfo.password_confirmation" @keyup="errors.password_confirmation = ''"
                                       placeholder="Confirm Password">
                                <a href="/" class="fa fa-eye"
                                   @mousedown.prevent="showPassword"
                                   @mouseup.prevent="hidePassword"
                                   @mouseout.prevent="hidePassword"
                                   @click.prevent>
                                </a>
                                <div class="help-block help-error" v-if="errors.password_confirmation">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errors.password_confirmation }}
                                </div>
                            </div>
                            <button class="btn-login" @click="resetPassword">Reset Password</button>
                        </form>
                    </template>
                    <template v-else>
                        <div class="password-reset-header">
                            <div class="icon-error">
                                <span class="error-line-left"></span>
                                <span class="error-line-right"></span>
                            </div>
                            <div class="form-title password-reset-title text-center">
                                {{error}}
                            </div>
                        </div>
                        <div class="password-reset-body">
                            <button class="btn-ok" @click="error = ''">OK</button>
                        </div>
                    </template>
                </div>
            </registrar-frame>
        </div>
    </div>
</template>

<script>
    import RegistrarFrame from './../Registration/RegistrarFrame.vue';
    import swal from 'sweetalert2';

    export default {
        data() {
            return {
                userInfo: {
                    email: '',
                    password: '',
                    password_confirmation: '',
                    token: '',
                },
                error: '',
                errors: {},
            }
        },
        methods: {
            resetPassword: function () {
                $.LoadingOverlay('show');
                this.$http.post('/password/reset', this.userInfo).then(function (response) {
                    $.LoadingOverlay('hide');
                    window.location.href = '/';
                }, function (response) {
                    $.LoadingOverlay('hide');
                    if(typeof response.data !== 'object') {
                        this.error = response.data;
                    }
                    this.errors = response.status === 422 ? response.data : {};
                });
            },
            showPassword(e){
                $(e.target).prev().attr('type', 'text');
            },
            hidePassword(e){
                $(e.target).prev().attr('type', 'password');
            },
        },
        components: {
            registrarFrame: RegistrarFrame,
        },
        ready(){
            if(typeof token !== 'undefined') {
                this.userInfo.token = token;
            }
        },
    }
</script>

<style>
</style>