<template>
    <div>
        <guest-layout>
            <password-set-form></password-set-form>
        </guest-layout>
    </div>
</template>

<script>
    import PasswordSetForm from './PasswordSetForm.vue';
    import GuestLayout from './../Layout/GuestLayout.vue';
    export default {
        components: {
            guestLayout: GuestLayout,
            passwordSetForm: PasswordSetForm,
        },
    }
</script>

<style>

</style>