<template>
    <div class="list">
        <div class="panel" v-show="!currentList.length">
           <div class="panel-row empty">
               <h5>Your {{ listName }} list is empty. <br> Invite a few recommended caregivers to apply to your job.</h5>
               <a href="{{ viewRecommended }}" class="btn btn-themed btn-primary btn-main-action">View Recommended Caregivers</a>
           </div>
       </div>
       <div v-else>
            <div class="panel" v-for="applicant in paginatedList">
                <div class="panel-row applicant-row" >
                    <div class="profile-picture">
                       <img class="img_50" width="50" height="50" :src="applicant.user.photo_url" alt="">
                    </div>
                    <div class="applicant-information">
                        <div class="applicant-details">
                            <strong><a href="/employee/{{ applicant.user.id }}">{{ applicant.user.name }}</a></strong>
                            <!--span>(33 years old, Adelaide)</span-->
                            <div class="skill" v-show="applicant.is_invitation">Invited</div>
                            <div class="skill" v-show="applicant.is_offer">Offer Sent</div>
                            <div class="skill" v-show="applicant.is_proposal">Proposal Received</div>
                            <div class="actions">
                                <a href="#" @click.prevent="shortlist(applicant)" :class="[ applicant.is_shortlisted ? 'active' : '' ]" > <span class="icon icon-shortlisted"></span> {{ applicant.is_shortlisted ? 'Shortlisted' : 'Shortlist'  }} </a>
                                <a href="#" @click.prevent="hide(applicant)" :class="[ applicant.is_hidden ? 'active' : '' ]"> <span class="icon icon-hidden"></span>
                               {{ applicant.is_hidden ? 'Hidden' : 'Hide'  }}</a>
                            </div>
                        </div>
                        <div class="applicant-info">
                            <ul class="list-inline">
                                <li class="rates">${{ applicant.user.rate }}/hr</li>
                                <li class="experience">{{ applicant.user.experience }}</li>
                                <!--li class="job-success">90% job success</li-->
                            </ul>
                        </div>
                        <div class="applicant-actions">
                            <ul class="list-inline">
                                <li><a href="/messages">Send Message</a></li>
                                <li v-show="applicant.is_proposal"><a :href="'/employee/'+ applicant.user.id +'/hire/' + applicant.job_id">Hire</a></li>
                                <li v-show="applicant.is_invitation"><a :href="'/employee/'+ applicant.user.id +'/hire/' + applicant.job_id">Hire</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <nav class="pull-right" v-show="totalPages > 1">
                <ul class="pagination" >
                    <li>
                        <a href="#" @click="previousPage" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="page in totalPages" :class="[pageNumber == page ? 'active' : '']" ><a @click="setCurrentPage(page)">{{ page + 1 }}</a></li>
                    <li>
                        <a href="#" @click="nextPage" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
    var PER_PAGE = 20;

    export default {
        props: ['currentList', 'listName', 'viewRecommended'],
        data() {
            return {
                pageNumber: 0,
            }
        },
        methods: {
            hide(applicant) {
                this.$dispatch('hide-applicant', { applicant: applicant });
            },
            shortlist(applicant) {
                this.$dispatch('shortlist-applicant', { applicant: applicant });
            },
            previousPage() {
                if (this.pageNumber === 0) { return; }
                this.pageNumber--;
            },
            nextPage() {
                if (this.pageNumber === Math.ceil((this.currentList.length - 1) / PER_PAGE)) { return; }
                this.pageNumber++;
            },
            setCurrentPage(page) {
                this.pageNumber = page;
            }
        },
        computed: {
            paginatedList() {
                var index = this.pageNumber * PER_PAGE;
                return this.currentList.slice(index, index + PER_PAGE);
            },
            totalPages() {
                return Math.ceil(this.currentList.length / PER_PAGE);
            }
        }
    }
</script>