<template>
    <form action="">
        <!--<input type="file" name="files[]" id="files" multiple @change="onFileChange" style="visibility:hidden;width:1px;height:1px;position:absolute;top:-9999;left:-9999;opacity:0;"/>-->
        <div class="Message__composer" v-show="show" transition="modal">
            <div class="Message__composer__content">
                <h3 class="Message__composer--heading">Compose Message</h3>
                <div class="Message__composer--body">
                    <div class="Message__composer__corespondents" v-if="to">
                        <h6>To</h6>
                        <img class="img_50" :src="to.photo_url" alt="" width="50" height="50"/>
                        <p>{{ to.name }}</p>
                        <p>{{ job }}</p>
                    </div>
                    <div class="Message__composer__form">
                        <div class="form-group">
                            <textarea v-model="message" name="content" class="form-control" id="content" cols="30" rows="5" placeholder="Message"></textarea>
                        </div>
                    </div>
                </div>
                <!--<div class="Message__composer--files">-->
                    <!--<a @click.prevent="attachFile()"><i class="fa fa-plus"></i> Attach a file</a>-->
                    <!--<ul>-->
                        <!--<li v-for="file in files">-->
                            <!--<span class="label label-primary"><a @click="removeFile(file)"><i class="fa fa-minus-square"></i></a> {{ file }}</span>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <div class="Message__composer__action">
                    <a class="Message__composer__action--send btn btn-themed btn-primary btn-main-action" @click.prevent="send()">Send</a>
                    <a class="Message__composer__action--cancel btn btn-themed btn-main-action btn-back" @click.prevent="close()">Close</a>
                </div>
            </div>
        </div>
    </form>
</template>

<script>

    export default {
        data: function () {
            return {
                to: null,
                job: null,
                message: '',
                //files: ['file1.txt', 'long filename with spaces.jpg'],
                formData: {
                    receiver_id: null,
                    job_id: null,
                    message: null
                },
                formErrors: [],
                show: false
            }
        },

        methods: {
            close: function () {
                this.reset();
            },
            send: function() {
                this.submitForm();
                this.reset();
            },
            /*attachFile: function() {
                $('#files').trigger('click');
            },
            onFileChange: function(e) {
                //TODO: empty e.target.files on close
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length) return;
                this.files = [];
                for(var i = 0; i < files.length; i++) {
                    this.files.push(files[i].name);
                }
            },
            removeFile: function(file) {
                //TODO: add the file uploading functionality after you find out where the files are stored
                //the FileReader is readonly, use the files array for the final upload list
                this.files.$remove(file);
            },*/
            submitForm: function() {
                this.formData.receiver_id = this.to.id;
                this.formData.job_id = this.job ? this.job.id : null;
                this.formData.message = this.message;

                this.$http.post('/api/v1/messages/conversation', this.formData).then( function(response) {
                }, function(response) {
                    this.formErrors = [];
                    for (var key in response.data) { this.formErrors[key] = response.data[key]; }
                    if (response.status === 500) { this.formErrors[500] = 'Please Refresh your browser and submit the form again'; }
                }).bind(this);
            },
            reset: function() {
                this.to = null;
                this.job = null;
                this.message = '';
                this.show = false;
            }

        },

        events: {
            'send-message': function($params) {
                this.to = Array.isArray($params) ? $params[0] : $params;
                this.job = Array.isArray($params) && $params.length > 1 ? $params[1] : null;
                this.show = true;
            }
        }

    }
</script>