<template xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="thread-header">
        <div class="thread-title" v-if="thread">
            <h5>{{ thread.other.name }}</h5>
            <p v-if="thread.job">{{ thread.job.title }}</p>
        </div>
        <div class="thread-title" v-else>
            <h6 class="text-center text-muted">{{{ getMessage('thread') }}}</h6>
        </div>
    </div>

    <div class="thread-content" id="thread-content">
        <div class="thread-content-wrapper" v-if="thread">
            <div class="thread-msg row" v-for="msg in thread.messages" :class="{'unread':(msg.is_read==0 && thread.me.id!=msg.from.id)}">
                <!--TODO: highlight only other person unread messages-->
                <div class="col-md-1 col-sm-2 col-xs-2 thread-msg-img"><img :src="msg.from.img" alt="{{ msg.from.name }}"/></div>
                <div class="col-md-11 col-sm-10 ool-xs-10 thread-msg-content">
                    <h6>{{ msg.from.name }}<span class="thread-msg-timestamp text-muted" data-toggle="tooltip" data-placement="top" title="{{ msg.date | dateFull }}">{{ msg.date | diffForHumans }}</span></h6>
                    <p>{{{ msg.message }}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="thread-send" v-if="thread">
        <div class="input-group">
            <!-- TODO: add keyup.up for editing the last message of this user -->
            <!-- TODO: add keyup.esc for clearing the form -->
            <input type="text" class="form-control" id="thread-message" v-model="formData.message" @keyup.enter="sendMessage" /><!--TODO: convert to textarea-->
            <span class="input-group-btn">
                <button class="btn btn-default btn-send" id="thread-send" type="button" @click="sendMessage">{{{ getMessage('button') }}}</button>
            </span>
        </div>
    </div>

</template>

<script>

    export default {
        data: function() {
            return {
                paths: {
                    thread: '/api/v1/messages/conversation'
                },
                messages: {
                    thread: {
                        loading: '<i class="fa fa-spinner fa-spin"></i> Loading conversation...',
                        empty: 'No conversation selected.',
                        selected: 'empty'
                    },
                    button: {
                        loading: '<i class="fa fa-spinner fa-spin"></i> Sending',
                        default: 'Send',
                        selected: 'default'
                    }
                },
                thread: null,
                formData: {
                    receiver_id: null,
                    job_id: null,
                    message: ''
                }
            }
        },

        methods: {
            loadThread: function($thread_id) {
                this.thread = null;
                this.messages.thread.selected = 'loading';
                this.$http.get(this.paths['thread'] + '/' + $thread_id)
                    .then(function(response) {
                        this.thread = response.data;
                        this.scrollChatWindow();
                        if(this.thread == null) this.messages.thread.selected = 'empty';
                    })
                    .catch(function(response) { console.log(['Error!', response]) })
                    .bind(this);
            },

            sendMessage: function(e) {
                if(this.formData.message == '') return false;
                if(e.ctrlKey) {
                    this.formData.message += "\n";
                    return false;
                }
                this.disableForm(true);
                if(this.thread) {
                    this.formData.receiver_id = this.thread.other.id;
                    this.formData.job_id = this.thread.job ? this.thread.job.id : null;
                    this.formData.last_timestamp = this.thread.messages.length > 1 ? this.thread.messages[this.thread.messages.length - 1].date : null;
                }
                var $that = this;
                var postUrl = this.paths.thread + '/' + this.thread.thread_id;
                this.$http.post(postUrl, this.formData)
                        .then(function(response) { $that.appendMessage(response.data.messages); })
                        .catch(function(response) { console.log(['Error sending message', response]) })
                        .finally(function(response) { $that.disableForm(false); })
                        .bind(this);
            },

            getMessage: function(msg) {
                var msgs = this.messages[msg];
                return msgs[this.messages[msg].selected];
            },

            scrollChatWindow: function() {
                this.$nextTick(function() {
                    var element = document.getElementById("thread-content");
                    element.scrollTop = element.scrollHeight;
                    document.getElementById("thread-message").focus();
                });
            },

            disableForm: function(disable) {
                document.getElementById('thread-message').disabled = disable;
                this.formData.message = disable ? this.formData.message : '';
                this.messages.button.selected = disable ? 'loading' : 'default';
            },

            appendMessage: function(msg) {
                console.log(msg);

                if(msg instanceof Array) {
                    msg.forEach(function(m) { this.thread.messages.push(m); }, this);
                } else {
                    this.thread.messages.push(msg);
                }
                this.scrollChatWindow();
            }
        },

        events: {
            'load-thread': function($thread_id) {
                this.loadThread($thread_id);
            }
        }
    }

</script>