<template>
    <!--TODO: switch from "thread*" class-->
    <div class="sidebar__threads row">
        <div class="thread user-list" v-if="users.length!=0" v-for="$user in users">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="thread-icon"><img :src="$user.photo_url" alt="{{ $user.name }}"/></div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="thread-data">
                    <p class="thread-name">{{ $user.name }}</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="thread-icon" @click="sendMessage($user)"><i class="fa fa-envelope-o fa-2x"></i></div>
            </div>
        </div>

        <h6 class="text-center" v-if="users.length==0">{{{ getMessage('users') }}}</h6>
    </div>
</template>

<script type="text/javascript">

    export default {
        data: function () {
            return {
                users: [],
//                selectedUser: '',
                messages: {
                    users: {
                        loading: '<i class="fa fa-spinner fa-spin"></i> Loading corespondents...',
                        empty: 'No corespondents.',
                        selected: 'loading'
                    }
                }
            }
        },

        activate: function (done) {
            this.loadData();
            done();
        },

        ready: function() {},

        methods: {
//            selectUser: function(user) {
//                this.selectedUser = user;
//            },

            setUsersData: function(data) {
                this.users = data;
            },

            loadData: function() {
                this.$http.get('/api/v1/messages/corespondents').then(function(response) {
                    this.setUsersData(response.data);
                    this.$dispatch('notification', {type: 'success', 'message': 'Corespondents Loaded', 'close': true});
                }, function(response) {
                    this.$dispatch('notification', {type: 'danger', 'message': 'You have found an unknown error while loading data, try reloading your browser', 'close': false});
                }).bind(this);
            },

            getMessage: function(msg) {
                var msgs = this.messages[msg];
                return msgs[this.messages[msg].selected];
            },

            sendMessage: function($user) {
                this.$dispatch('send-message', $user);
            }

        }

    }
</script>