<template>
    <div class="sidebar">

        <div class="sidebar__header row">
            <div class="sidebar__header__buttons text-center">
                <div class="btn-group btn-group-lg btn-left btn-group-outer" role="group">
                    <button type="button" class="btn btn-default"><i class="icon icon-settings"></i></button>
                </div>
                <div class="btn-group btn-group-lg btn-group-middle" role="group">
                <button type="button" class="btn btn-default" :class="{'selected': path=='inbox'}" @click='setPath("inbox")'><i class="icon icon-inbox"></i></button>
                <!--<button type="button" class="btn btn-default" :class="{'selected': path=='archive'}" @click='setPath("archive")'><i class="icon icon-archive"></i></button>-->
                <button type="button" class="btn btn-default" :class="{'selected': path=='corespondents'}" @click='setPath("corespondents")'><i class="icon icon-view-profile"></i></button>
            </div>
            <div class="btn-group btn-group-lg btn-right btn-group-outer" role="group">
                <button type="button" class="btn btn-default"><i class="icon fa fa-plus"></i></button>
            </div>
            <!--<corespondents></corespondents>-->
            </div>
        </div>

        <div class="sidebar__search row">
            <div class="inner-addon filter left-addon">
                <div class="icon icon-search"></div>
                <input type="text" placeholder="Search...">
            </div>
        </div>

        <div class="sidebar__threads row">
            <div class="thread" v-if="threads.length!=0" :class="{'selected': selected==$thread, 'unread': isRead($thread)}" v-on:click="setThread($thread)" v-for="$thread in threads">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <div class="thread-icon"><i class="icon icon-messaged" :class="{'active':isRead($thread)}"></i></div>
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <div class="thread-data">
                        <p class="thread-name">{{ $thread.other.name }}</span><span class="text-muted">{{ $thread.updated_at }}</p>
                        <p class="thread-job">{{ $thread.job ? $thread.job.title : "&mdash;" }}</p>
                        <p class="thread-msg text-muted" v-if="$thread.last_message"><span>{{ $thread.last_message.from.name }}</span>: {{ $thread.last_message.message }}</p>
                    </div>
                </div>
            </div>

            <h6 class="text-center" v-if="threads.length==0">{{{ getMessage('threads') }}}</h6>
        </div>

        <div class="sidebar__footer row">
            <div class="well well-sm text-center">
                <p class="text-muted"><strong>Looking for older messages?</strong></p>
                <a @click='setPath("archive")'>View archived messages</a>
            </div>
        </div>

    </div>
</template>

<script>
    import Corespondents from './Corespondents.vue';

    export default {

        data: function() {
            return {
                paths: {
                    inbox: '/api/v1/messages/inbox',
                    archive: '/api/v1/messages/archive',
                    thread: '/api/v1/messages/conversation'
                },
                path: 'inbox',
                threads: [],
                selected: null,
                messages: {
                    threads: {
                        loading: '<i class="fa fa-spinner fa-spin"></i> Loading conversations...',
                        empty: 'You have no conversations.',
                        selected: 'empty'
                    }
                }
            }
        },

        components: {
            Corespondents
        },

        ready: function() {
            this.loadThreads();
        },

        methods: {
            loadThreads: function() {
                this.threads = [];
                this.messages.threads.selected = 'loading';
                this.$http.get(this.paths[this.path]).then(function(response) {
                    this.threads = response.data;
                    if(this.threads.length == 0) this.messages.threads.selected = 'empty';
                }, function(response) { console.log(['Error!', response]) }).bind(this);
            },

            getMessage: function(msg) {
                var msgs = this.messages[msg];
                return msgs[this.messages[msg].selected];
            },

            setPath: function(path) {
                this.path = path;
                this.loadThreads();
            },

            setThread: function($thread) {
                this.selected = $thread;
                this.$dispatch('load-thread', $thread.thread_id);
            },

            isRead: function($thread) {
                return $thread.is_read==0;
            }
        }
    }

</script>