<template>
    <div class="sidebar__threads row">
        <div class="thread" v-if="threads.length!=0" :class="{'selected': selected==$thread, 'unread': isRead($thread)}" v-on:click="setThread($thread)" v-for="$thread in threads">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <div class="thread-icon"><i class="icon icon-messaged" :class="{'active':isRead($thread)}"></i></div>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <div class="thread-data">
                    <p class="thread-name">{{ $thread.other.name }}</span><span class="text-muted">{{ $thread.updated_at }}</p>
                    <p class="thread-job">{{ $thread.job ? $thread.job.title : "&mdash;" }} <span v-if="$thread.new_message_count!=0" class="text-muted new-messagecount"><label>{{ $thread.new_message_count }}</label></span></p>
                    <p class="thread-msg text-muted" v-if="$thread.last_message"><span>{{ $thread.last_message.from.name }}</span>: {{{ $thread.last_message.message }}}</p>
                </div>
            </div>
        </div>

        <h6 class="text-center" v-if="threads.length==0">{{{ getMessage('threads') }}}</h6>
    </div>
</template>

<script>

    export default {
        props: ['select_thread'],
        data: function() {
            return {
                paths: {
                    inbox: '/api/v1/messages/inbox',
                    archive: '/api/v1/messages/archive',
//                    thread: '/api/v1/messages/conversation'
                },
                path: 'inbox',
                threads: [],
                selected: null,
                messages: {
                    threads: {
                        loading: '<i class="fa fa-spinner fa-spin"></i> Loading conversations...',
                        empty: 'You have no conversations.',
                        selected: 'empty'
                    }
                }
            }
        },

        ready: function() {
            this.loadThreads();
        },

        methods: {
            loadThreads: function() {
                this.threads = [];
                this.messages.threads.selected = 'loading';
                this.path = this.$parent.viewOptions;
                this.$http.get(this.paths[this.path]).then(function(response) {
                    this.threads = response.data;

                    if (this.select_thread != undefined) {
                        console.log('*--*', this.select_thread);
                        console.log(response.data);
                        for (var i in response.data) {
                            if (response.data[i].thread_id == this.select_thread) {
                                this.setThread(response.data[i]);
                            }
                        }
                    }
                    if(this.threads.length == 0) this.messages.threads.selected = 'empty';
                }, function(response) { console.log(['Error!', response]) }).bind(this);
            },

            getMessage: function(msg) {
                var msgs = this.messages[msg];
                return msgs[this.messages[msg].selected];
            },

            setPath: function(path) {
                this.path = path;
                this.loadThreads();
            },

            setThread: function($thread) {
                this.selected = $thread;
                this.$dispatch('load-thread', $thread.thread_id);
            },

            isRead: function($thread) {
                console.log($thread);
                return $thread.last_message.is_read==0;
            }
        }
    }

</script>