<template>
        <!--<div class="hamburguer" @click.stop="toggleDropdownMenu">-->
            <!--<div :class="['hamburguer-icon',showDropdown ? 'cool-border': 'no-border']">-->
                <!--<i class="fa fa-bars"></i>-->
                <!--<span v-show="unread > 0" style="display: inline-block;position: relative;float:left;left: 16px;background: #ff3826;color: #fff;border-radius: 50%;min-width:22px;text-align:center;bottom:9px;" class="unread-settings-badge">-->
                            <!--{{unread}}-->
                <!--</span>-->
            <!--</div>-->
            <!--<div class="AuthProfileDropdown" v-on-clickaway="closeDropdownMenu" v-show="showDropdown">-->
                <!--<ul class="AuthProfileDropdown__list">-->
                    <!--<li class="AuthProfileDropdown__Item">-->
                        <!--<a :href="settings" class="AuthProfileDropdown__Link">-->
                            <!--<span class="icon icon-settings"></span> Settings-->
                        <!--</a>-->
                        <!--<span v-show="unread > 0" style="position: relative;-->
    <!--float: left;-->
    <!--left: -12px;-->
    <!--background: rgb(255, 56, 38);-->
    <!--color: rgb(255, 255, 255);-->
    <!--border-radius: 60%;-->
    <!--min-width: 15px;-->
    <!--text-align: center;-->
    <!--bottom: 0px;" class="unread-settings-badge">-->
                            <!--{{unread}}-->
                         <!--</span>-->
                    <!--</li>-->
                    <!--<li class="AuthProfileDropdown__Item">-->
                        <!--<a :href="logout" class="AuthProfileDropdown__Link">-->
                            <!--<span class="icon icon-logout"></span> Log Out-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <div class="profile-box">
        <a href="/">
            <div class="profile-image">
                <img class="img_50" :src="user.photo_url" width="50" height="50" alt="">
            </div>
            <span class="user-name">{{ user.first_name }} {{ user.last_name }}</span>
        </a>
    </div>
</template>

<script>
    import { directive as onClickaway } from 'vue-clickaway';

    export default {
        directives: {
            onClickaway,
        },
        props: ['settings', 'user', 'logout', 'profile', 'unread'],
        data() {
            return {
                showDropdown: false,
            }
        },
        methods: {
            toggleDropdownMenu() {
                this.showDropdown = !this.showDropdown;
            },
            closeDropdownMenu() {
                this.showDropdown = false;
            }
        },
        computed: {

        },
        ready() {
        }
    }
</script>